
<li class="combatant {{!--actor directory-item flexrow--}} {{ css }}"
    data-tooltip="WW.Combat.RightClickTip" data-combatant-id="{{ id }}" data-action="activateCombatant">

    {{!-- TODO: Targets --}}

    {{!-- Image --}}
    <img class="token-image" src="{{ img }}" alt="{{ name }}" loading="lazy">

    {{!-- Name & Controls --}}
    <div class="token-name">
        <strong class="name">{{ name }}</strong>
        
        <div class="combatant-controls">
            {{!-- Special Status Effects Toggles --}}
            {{#if @root.user.isGM}}
            <button type="button"
                class="inline-control combatant-control icon fa-solid fa-eye-slash {{#if hidden}}active{{/if}}"
                data-action="toggleHidden" data-tooltip aria-label="{{ localize "COMBAT.ToggleVis" }}"></button>
            <button type="button"
                class="inline-control combatant-control icon fa-solid fa-skull {{#if isDefeated}}active{{/if}}"
                data-action="toggleDefeated" data-tooltip aria-label="{{ localize "COMBAT.ToggleDead" }}"></button>
            {{/if}}

            {{!-- Token Ping and Pan --}}
            {{#if canPing}}
            <button type="button" class="inline-control combatant-control icon fa-solid fa-bullseye-arrow"
                data-action="pingCombatant" data-tooltip aria-label="{{ localize "COMBAT.PingCombatant" }}"></button>
            {{/if}}
            {{#unless @root.user.isGM}}
            <button type="button" class="inline-control combatant-control icon fa-solid fa-arrows-to-eye"
                data-action="panToCombatant" data-tooltip aria-label="{{ localize "COMBAT.PanToCombatant" }}"></button>
            {{/unless}}

            {{!-- TODO: Target Control --}}

            {{!-- Token Effects --}}
            <div class="token-effects" data-tooltip-html="{{ effects.tooltip }}">
                {{#each effects.icons}}
                <img class="token-effect" src="{{ img }}" alt="{{ name }}">
                {{/each}}
            </div>
        </div>
    </div>

    {{!-- Tracked Resource --}}
    {{#if resource includeZero=true}}
    <div class="token-resource">
        <span class="resource">{{ resource }}{{#if resourceMax}}/{{ resourceMax }}{{/if}}</span>
    </div>
    {{/if}}

    {{!-- Turn Control (In place of Initiative) --}}
    <div class="turn-control" data-tooltip="{{ this.controlTooltip }}" {{#unless standby}}disabled{{/unless}}></div>

</li>