<li class="combatant-group {{ css }}" data-action="toggleGroupExpand" data-group-id="{{ id }}">

  {{!-- Header --}}
  <header class="group-header">
    <img class="token-image" src="{{ img }}" alt="{{ name }}" loading="lazy">

    <div class="token-name">
      <strong class="name">{{ name }}</strong>

      <div class="combatant-controls">
        {{!-- Special Status Effects Toggles --}}
        {{#if @root.user.isGM}}
        <button type="button" class="inline-control combatant-control icon fa-solid fa-eye-slash {{#if hidden}}active{{/if}}"
          data-action="toggleHidden" data-tooltip aria-label="{{ localize "COMBAT.ToggleVis" }}"></button>
        
        <button class="inline-control">
          <i class="fa-solid fa-skull"></i>
          {{ numDefeated }}
        </button>
        {{/if}}

      </div>

    </div>

    {{!-- Group Icons --}}
    <div class="group-icons" data-tooltip="<div class='group-tooltip'>{{#each groupTurns}}<div class='member'><img src={{ this.img }}> {{ this.name }}</div>{{/each}}</div>">
      <div>
        <i class="fa-regular fa-square-check"></i>
        <div>{{ numActed }}</div>
      </div>

      <div>
        <i class="fa-solid fa-users"></i>
        <div>{{ numMembers }}</div>
      </div>
    </div>

  </header>
  
  {{!-- Combatants in Group --}}
  <ol class="group-turns">
    {{#each groupTurns}}
    {{> "systems/weirdwizard/templates/sidebar/combat/combatant.hbs" this=this standby=standby}}
    {{/each}}
  </ol>
</li>