<section class="combat-tracker plain {{#if onStandby}}standby{{/if}} {{!-- directory-list < not needed anymore? --}}">
{{#if combat}}

  {{!-- Phases --}}
  {{#each phases as |phase phaseKey|}}
  <ol class="combat-phase {{ phaseKey }}">
    {{!-- Phase Header --}}
    <li class="combat-phase-header {{#if (gte phase.actedCount phase.turns.length)}}grayed{{else if (lt phase.actedCount phase.turns.length)}}highlight{{/if}}">
  
      <div><img src="{{ phase.icon }}" /></div>
  
      <h4>{{localize phase.label}}</h4>
  
      <div class="count">{{ phase.actedCount }}/{{ phase.turns.length }}</div>
    </li>

    {{!-- Phase Turns Setup --}}
    {{#each phase.turns}}
  
    {{#if isGroup}}
      {{!-- Combatant Group --}}
      {{> "systems/weirdwizard/templates/sidebar/combat/combatant-group.hbs" this=this standby=standby}}
    {{else}}
      {{!-- Single Combatant --}}
      {{> "systems/weirdwizard/templates/sidebar/combat/combatant.hbs" this=this standby=standby}}
    {{/if}}
  
    {{/each}} {{!-- END Phase Turns Setup --}}
  </ol>
  {{/each}} {{!-- END Phases --}}
  
  {{!-- End of the Round Phase --}}
  <ol class="combat-phase end">
    <li class="combat-phase-header {{#if (gte acted.allies phases.allies.turns.length)}}highlight{{/if}}">
      <div><img src="systems/weirdwizard/assets/icons/duration.svg" /></div>
    
      <h4>{{localize "WW.Combat.Phase.End"}}</h4>
    
      <div class="count">{{ end.length }}</div>
    </li>
  </ol>
  
  
{{/if}} {{!-- END If Combat --}}
</section>