<ol class="combat-tracker plain {{#if standby}}standby{{/if}} {{!-- directory-list < not needed anymore? --}}">
    {{#if combat}}

    {{!-- Taking the Initiative Phase --}}
    {{#if init.length}}
    <li
        class="combat-phase init {{#if (gte acted.init init.length)}}grayed{{else if (lt acted.init init.length)}}highlight{{/if}}">
        <div><img src="systems/weirdwizard/assets/icons/reactions.svg" /></div>
    
        <h4>{{localize "WW.Combat.Phase.Initiative"}}</h4>
    
        <div class="count">{{ acted.init }}/{{ init.length }}</div>
    </li>
    
    {{#each init}}
    {{> "systems/weirdwizard/templates/sidebar/combat/combatant.hbs" this=this standby=standby}}
    {{/each}}
    
    {{/if}}
    
    {{!-- Enemies Phase --}}
    {{#if enemies.length}}
    <li
        class="combat-phase enemies {{#if (gte acted.enemies enemies.length)}}grayed{{else if (gte acted.init init.length)}}highlight{{/if}}">
        <div><img src="systems/weirdwizard/assets/icons/skull-shield.svg" /></div>
    
        <h4>{{localize "WW.Combat.Phase.Enemies"}}</h4>
    
        <div class="count">{{ acted.enemies }}/{{ enemies.length }}</div>
    </li>
    
    {{#each enemies}}
    {{> "systems/weirdwizard/templates/sidebar/combat/combatant.hbs" this=this standby=standby}}
    {{/each}}
    
    {{/if}}
    
    {{!-- Allies Phase --}}
    {{#if allies.length}}
    <li
        class="combat-phase allies {{#if (gte acted.allies allies.length)}}grayed{{else if (gte acted.enemies enemies.length)}}highlight{{/if}}">
        <div><img src="systems/weirdwizard/assets/icons/heart-shield.svg" /></div>
    
        <h4>{{localize "WW.Combat.Phase.Allies"}}</h4>
    
        <div class="count">{{ acted.allies }}/{{ allies.length }}</div>
    </li>
    
    {{#each allies}}
    {{> "systems/weirdwizard/templates/sidebar/combat/combatant.hbs" this=this standby=standby}}
    {{/each}}
    
    {{/if}}
    
    {{!-- End of the Round Phase --}}
    <li class="combat-phase end {{#if (gte acted.allies allies.length)}}highlight{{/if}}">
        <div><img src="systems/weirdwizard/assets/icons/duration.svg" /></div>
    
        <h4>{{localize "WW.Combat.Phase.End"}}</h4>
    
        <div class="count">{{ end.length }}</div>
    </li>

    {{/if}} {{!-- END If Combat --}}
</ol>
