<section class="view armor">

    {{!-- Header Row --}}
    <li class="item flexrow items-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "WW.Item.Name"}}</div>
    
        <div class="item-fixed">{{localize "WW.Armor.Type"}}</div>
        <div class="item-fixed">{{localize "WW.Defense.Label"}}</div>
        <div class="item-fixed">{{localize "WW.Equipment.Availability.Label"}}</div>
        <div class="item-fixed">{{localize "WW.Equipment.Price"}}</div>
        <div class="item-last">{{localize "WW.Item.Description"}}</div>
    </li>
    
    {{!-- Rows --}}
    <ol class="item-list armor-list">
        {{#each documents as |doc id|}}
        <li class="item flexrow flex-group-left" data-item-id="{{doc._id}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{doc.img}}" data-tooltip="{{doc.name}}" width="24" height="24" /></div>

            {{!-- Name --}}
            <a class="item-name" data-action="openSheet" data-item-uuid="{{doc.uuid}}" data-tooltip="{{{doc.tooltip}}}">{{doc.name}}</a>

            <div class="item-fixed">{{doc.armorTypeLabel}}</div>
            <div class="item-fixed">{{doc.defense}}</div>
            <div class="item-fixed">{{doc.availabilityLabel}}</div>
            <div class="item-fixed">{{{doc.priceLabel}}}</div>

            {{!-- Description --}}
            <div class="item-last">{{{doc.system.description}}}</div>
        </li>
        {{/each}}
    </ol>

</section>