<section class="view creatures">
    {{!-- Header Row --}}
    <li class="item flexrow items-header">
        <div class="item-image"></div>
    
        {{#each colHeaders as |header id|}}
            {{> "systems/weirdwizard/templates/apps/index/parts/col-header.hbs" data=header }}
        {{/each}}
    </li>

    {{!-- Rows --}}
    <ol class="item-list">
        {{#each documents as |doc id|}}
        <li class="item flexrow flex-group-left" data-doc-uuid="{{uuid}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{img}}" data-tooltip="{{name}}" width="24" height="24" /></div>

            {{!-- Name --}}
            <div class="item-name">
                <a data-action="openSheet" data-doc-uuid="{{uuid}}" data-tooltip="{{tooltip}}">{{name}}</a>
            </div>
            
            <div class="flex-width-60">{{folderLabel}}</div>
            <div class="flex-width-60">{{system.stats.difficulty}}</div>
            <div>
                <ol>
                {{#each doc.system.listEntries.descriptors as |entry id|}}
                    <li>{{entry.name}}</li>
                {{/each}}
                </ol>
            </div>

            <div class="flex-width-50">{{system.attributes.str.value}}</div>
            <div class="flex-width-50">{{system.attributes.agi.value}}</div>
            <div class="flex-width-50">{{system.attributes.int.value}}</div>
            <div class="flex-width-50">{{system.attributes.wil.value}}</div>
            
            <div class="flex-width-50">{{system.stats.defense.natural}}</div>
            <div class="flex-width-50">{{system.stats.health.normal}}</div>
            <div class="flex-width-50">{{system.stats.size}}</div>
            <div class="flex-width-50">{{system.stats.speed.normal}}</div>
        </li>
        {{/each}}
    </ol>

</section>