<section class="view creatures">

    {{!-- Header Row --}}
    <li class="item flexrow items-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "WW.Item.Name"}}</div>

        <div class="flex-width-60">{{localize "TYPES.Actor.group"}}</div>
        <div class="flex-width-50">{{localize "WW.Stats.Difficulty"}}</div>
        <div>{{localize "WW.ListEntry.Descriptor.Label"}}</div>

        <div class="flex-width-50">{{localize "WW.Attributes.Strength"}}</div>
        <div class="flex-width-50">{{localize "WW.Attributes.Agility"}}</div>
        <div class="flex-width-50">{{localize "WW.Attributes.Intellect"}}</div>
        <div class="flex-width-50">{{localize "WW.Attributes.Will"}}</div>
        
        <div class="flex-width-50">{{localize "WW.Defense.Label"}}</div>
        <div class="flex-width-50">{{localize "WW.Health.Label"}}</div>
        <div class="flex-width-50">{{localize "WW.Stats.Size"}}</div>
        <div class="flex-width-50">{{localize "WW.Stats.Speed"}}</div>
    </li>

    {{!-- Rows --}}
    <ol class="item-list">
        {{#each documents as |doc id|}}
        <li class="item flexrow flex-group-left" data-doc-uuid="{{uuid}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{doc.img}}" data-tooltip="{{doc.name}}" width="24" height="24" /></div>

            {{!-- Name --}}
            <div class="item-name">
                <a data-action="openSheet" data-doc-uuid="{{uuid}}" data-tooltip="{{doc.tooltip}}">{{doc.name}}</a>
            </div>
            
            <div class="flex-width-60">{{doc.folderLabel}}</div>
            <div class="flex-width-60">{{doc.system.stats.difficulty}}</div>
            <div>
                <ol>
                {{#each doc.system.listEntries.descriptors as |entry id|}}
                    <li>{{entry.name}}</li>
                {{/each}}
                </ol>
            </div>

            <div class="flex-width-50">{{doc.system.attributes.str.value}}</div>
            <div class="flex-width-50">{{doc.system.attributes.agi.value}}</div>
            <div class="flex-width-50">{{doc.system.attributes.int.value}}</div>
            <div class="flex-width-50">{{doc.system.attributes.wil.value}}</div>
            
            <div class="flex-width-50">{{doc.system.stats.defense.natural}}</div>
            <div class="flex-width-50">{{doc.system.stats.health.normal}}</div>
            <div class="flex-width-50">{{doc.system.stats.size}}</div>
            <div class="flex-width-50">{{doc.system.stats.speed.normal}}</div>
        </li>
        {{/each}}
    </ol>

</section>