
<section class="view generic">

    {{!-- Header Row --}}
    <li class="item flexrow items-header">
        <div class="item-image"></div>

        <div class="item-name" data-action="sort" data-field="name">
            {{localize "WW.Item.Name"}} <i class="{{ si.name }}"></i>
        </div>

        <div class="item-fixed" data-action="sort" data-field="genericTypeLabel">
            {{localize "WW.Item.Type"}} <i class="{{ si.genericTypeLabel }}"></i>
        </div>

        <div class="item-last" data-action="sort" data-field="system.descriptionEnriched">
            {{localize "WW.Item.Description"}} <i class="{{ si.system.descriptionEnriched }}"></i>
        </div>
    </li>

    {{!-- Header Row --}}
    <li class="item flexrow items-header">
        <div class="item-image"></div>

        <div class="item-name" data-action="sort" data-field="name">
            {{localize "WW.Item.Name"}} <i class="{{ si.name }}"></i>
        </div>

        <div class="item-fixed" data-action="sort" data-field="genericTypeLabel">
            {{localize "WW.Item.Type"}} <i class="{{ si.genericTypeLabel }}"></i>
        </div>

        <div class="item-last" data-action="sort" data-field="system.descriptionEnriched">
            {{localize "WW.Item.Description"}} <i class="{{ si.system.descriptionEnriched }}"></i>
        </div>
    </li>

    {{!-- Rows --}}
    <ol class="item-list">
        {{#each documents as |doc id|}}
        <li class="item flexrow flex-group-left" data-item-id="{{doc._id}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{doc.img}}" data-tooltip="{{doc.name}}" width="24" height="24" /></div>

            {{!-- Name --}}
            <div class="item-name">
                <a data-action="openSheet" data-item-uuid="{{doc.uuid}}" data-tooltip="{{doc.tooltip}}">{{doc.name}}</a>
            </div>
            
            {{!-- Type --}}
            <div class="item-fixed">{{doc.genericTypeLabel}}</div>

            {{!-- Description --}}
            <div class="item-last">{{{doc.system.descriptionEnriched}}}</div>
        </li>
        {{/each}}
    </ol>

</section>