<section class="view paths">

    {{!-- Header Row --}}
    <li class="item flexrow items-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "WW.Item.Name"}}</div>

        <div class="flex-width-60">{{localize "WW.Item.Tier"}}</div>

        <div class="flex-width-60">{{localize "WW.Defense.Natural"}}</div>
        <div class="flex-width-60">{{localize "WW.Defense.Armored"}}</div>
        <div class="flex-width-60">{{localize "WW.Health.Label"}}</div>
        <div class="flex-width-60">{{localize "WW.Damage.Bonus"}}</div>
        <div class="flex-width-60">{{localize "WW.Stats.Speed"}}</div>

        <div class="item-last">{{localize "WW.CharOptions.PathTalents"}}</div>
    </li>

    {{!-- Rows --}}
    <ol class="item-list">
        {{#each documents as |doc id|}}
        <li class="item flexrow flex-group-left" data-item-id="{{doc._id}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{doc.img}}" data-tooltip="{{doc.name}}" width="24" height="24" /></div>

            {{!-- Name --}}
            <div class="item-name">
                <a data-action="openSheet" data-item-uuid="{{doc.uuid}}" data-tooltip="{{doc.tooltip}}">{{doc.name}}</a>
            </div>

            <div class="flex-width-60">{{ doc.tierLabel }}</div>

            {{!-- Stats Summary --}}
            <div class="flex-width-60">{{{ doc.benefitsSummary.natural }}}</div>
            <div class="flex-width-60">{{{ doc.benefitsSummary.armored }}}</div>
            <div class="flex-width-60">{{{ doc.benefitsSummary.health }}}</div>
            <div class="flex-width-60">{{{ doc.benefitsSummary.bonusDamage }}}</div>
            <div class="flex-width-60">{{{ doc.benefitsSummary.speed }}}</div>
            <div class="item-last">{{{ doc.benefitsSummary.talents }}}</div>
        </li>
        {{/each}}
    </ol>

</section>