<section class="view professions">
    {{!-- Header Row --}}
    <li class="item flexrow items-header">
        <div class="item-image"></div>
    
        {{#each colHeaders as |header id|}}
            {{> "systems/weirdwizard/templates/apps/index/parts/col-header.hbs" data=header }}
        {{/each}}
    </li>

    {{!-- Rows --}}
    <ol class="item-list">
        {{#each documents as |doc id|}}
        <li class="item flexrow flex-group-left" data-item-id="{{_id}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{img}}" data-tooltip="{{name}}" width="24" height="24" /></div>

            {{!-- Name --}}
            <div class="item-name">
                <a data-action="openSheet" data-doc-uuid="{{uuid}}" data-tooltip="{{tooltip}}">{{name}}</a>
            </div>

            <div class="flex-width-60">{{ professionCategory }}</div>

            {{!-- Bonus Languages --}}
            <div>{{{ professionLanguages }}}</div>

            {{!-- Equipment --}}
            <div>{{{ professionEquipment }}}</div>

            {{!-- Description --}}
            <div class="item-last">{{{ system.descriptionEnriched }}}</div>
        </li>
        {{/each}}
    </ol>
</section>