<section class="view traditions">

    {{!-- Header Row --}}
    <li class="item flexrow items-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "WW.Item.Name"}}</div>

        <div>{{localize "WW.Tradition.Talents"}}</div>
        <div>{{localize "WW.Spells.Novice"}}</div>
        <div>{{localize "WW.Spells.Expert"}}</div>
        <div>{{localize "WW.Spells.Master"}}</div>
    </li>

    {{!-- Rows --}}
    <ol class="item-list">
        {{#each documents as |doc id|}}
        <li class="item flexrow flex-group-left" data-doc-uuid="{{uuid}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{img}}" data-tooltip="{{name}}" width="24" height="24" /></div>

            {{!-- Name --}}
            <div class="item-name">
                <a data-action="openSheet" data-doc-uuid="{{uuid}}" data-tooltip="{{tooltip}}">{{name}}</a>
            </div>

            {{!-- Talents --}}
            <div>
                <ol>
                {{#each talentLinks as |link|}}
                    <li>{{{ link }}}</li>
                {{/each}}
                </ol>
            </div>

            {{!-- Spells --}}
            {{#each spellLinks as |spells|}}
            <div>
                <ol>
                {{#each spells as |link|}}
                    <li>{{{ link }}}</li>
                {{/each}}
                </ol>
            </div>
            {{/each}}
            
        </li>
        {{/each}}
    </ol>

</section>