<section class="view weapons">

    {{!-- Header Row --}}
    <li class="item flexrow items-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "WW.Item.Name"}}</div>
    
        <div class="flex-width-60" data-tooltip-text="{{localize " WW.Equipment.Availability.Label"}}">{{localize
            "WW.Equipment.Availability.Short"}}</div>
        <div class="flex-width-60">{{localize "WW.Equipment.Price"}}</div>
        <div>{{localize "WW.Weapon.Requirement.Label"}}</div>
    
        <div class="flex-width-60">{{localize "WW.Weapon.Type"}}</div>
        <div class="flex-width-60">{{localize "WW.Weapon.Grip.Label"}}</div>
        <div class="item-stat">{{localize "WW.Damage.Label"}}</div>
        <div class="item-traits">{{localize "WW.Weapon.Traits.Label"}}</div>
    </li>

    {{!-- Rows --}}
    <ol class="item-list weapons-list">
        {{#each documents as |doc id|}}
        <li class="item flexrow flex-group-left" data-item-id="{{doc._id}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{doc.img}}" data-tooltip="{{doc.name}}" width="24" height="24" /></div>

            {{!-- Name --}}
            <div class="item-name">
                <a data-action="openSheet" data-item-uuid="{{doc.uuid}}" data-tooltip="{{doc.tooltip}}">{{doc.name}}</a>
            </div>

            <div class="flex-width-60">{{{doc.availabilityLabel}}}</div>
            <div class="flex-width-60">{{{doc.priceLabel}}}</div>
            <div>{{doc.system.requirementLabel}}</div>

            <div class="flex-width-60">{{#if doc.system.traits.range}}{{localize "WW.Weapon.Ranged"}}{{else}}{{localize "WW.Weapon.Melee"}}{{/if}}</div>
            <div class="flex-width-60">{{localize doc.system.gripLabel}}</div>
            <div class="item-stat">{{doc.system.damage}}</div>

            {{!-- Traits --}}
            <div class="item-traits weapon-traits">
                {{#each @root.weaponTraits as |trait id|}}
                    {{#if (lookup doc.system.traits id)}}
                    <span class="info" data-tooltip="{{trait.tip}}">{{localize trait.label}}{{#if (or (eq id "range") (eq id "thrown"))}} {{doc.system.range}}{{/if}}</span>
                    {{/if}}
                {{/each}}
            </div>
        </li>
        {{/each}}
    </ol>

</section>