{{!-- Compendium Index Tab --}}
<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="index">

    {{!-- Equipment --}}
    <h2>{{localize "WW.Sage.Index.Equipment"}}</h2>

    <div class="ci-list">
        {{{index.equipment}}}
    </div>

    {{!-- Character Options --}}
    <h2 class="mt-2">{{localize "WW.Sage.Index.CharOptions"}}</h2>

    <div class="ci-list">
        {{{index.charOptions}}}
    </div>

    {{!-- Secrets --}}
    {{!--<h2>{{localize "WW.Sage.Index.Secrets"}}</h2>

    <div class="ci-list">
        {{{index.secrets}}}
    </div>--}}

</section>