{{!-- Players Control Tab --}}
<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="players">
    {{#if users.length}}
    <ol>
        {{#each users as |user id|}}
        <li class="user-actors">
            {{!-- User Name --}}
            <h3>{{user.name}}</h3>

            {{!-- User Character --}}
            <div>
                <label>{{localize "WW.Sage.Players.Character"}}:</label>

                {{#if user.character}}<a class="button" data-action="openSheet"
                    data-uuid="{{user.character.uuid}}"><img src="{{user.character.img}}" />
                    {{user.character.name}}</a>{{else}}{{localize "WW.Sage.Players.NoneAssigned"}}{{/if}}
            </div>

            {{!-- User's Actors in Folder --}}
            {{#if user.folderActors}}
            <div>
                <label>{{localize "WW.Sage.Players.FolderActors"}}:</label>

                {{#each user.folderActors as |actor id|}}
                <a class="button" data-action="openSheet" data-uuid="{{actor.uuid}}"><img
                        src="{{actor.texture.src}}" /> {{actor.name}}</a>
                {{/each}}
            </div>
            {{/if}}

            {{!-- User's Actors in Scene --}}
            {{#if user.sceneActors}}
            <div>
                <label>{{localize "WW.Sage.Players.SceneActors"}}:</label>

                {{#each user.sceneActors as |actor id|}}
                <a class="button" data-action="openSheet" data-uuid="{{actor.uuid}}"><img
                        src="{{actor.texture.src}}" /> {{actor.name}}</a>
                {{/each}}
            </div>
            {{/if}}
        </li>
        {{/each}}
    </ol>
    {{else}}
    <div class="mt-1">{{localize "WW.Sage.Players.None"}}</div>
    {{/if}}
</section>