{{!-- Trackers Tab --}}
<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="trackers">
    <ol>

        {{!-- World Time --}}
        <li>
            <h2>{{localize "WW.Sage.Trackers.Time.World"}}</h2>

            <div>{{worldTime}}</div>

            <div class="nowrap">
                <a class="button" data-action="openCalendar">
                    <i class="fa-regular fa-calendar"></i>
                    {{localize "WW.Sage.Trackers.QuestCalendar"}}
                </a>

                <a class="button" data-action="advanceTime" data-tooltip="WW.Sage.Trackers.Time.AdvanceHint">
                    <i class="fa-solid fa-fast-forward"></i>
                    {{localize "WW.Sage.Trackers.Time.Advance"}}
                </a>
            </div>

        </li>

        {{!-- Combat --}}
        {{#if combat}}
        <li>
            <h2>{{localize "WW.Sage.Trackers.Combat.Label"}}</h2>

            <div>
                <a class="button" data-action="combatTab">
                    <i class="fa-solid fa-right-left"></i> {{localize "WW.Sage.Trackers.Combat.Tab"}}
                </a>

                <a class="button" data-action="combatPopout">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    {{localize "WW.Sage.Trackers.Combat.Popout"}}
                </a>
            </div>
        </li>
        {{/if}}

    </ol>
</section>