<section class="tab {{#if tab.active}}active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  {{!-- Changes Table --}}
  <ol class="item-list changes-list" data-changes>
    {{!-- Header Row --}}
    <li class="item effect-change items-header effects-header flexrow">
      <div class="key">{{ localize "WW.Effect.ToApply" }}</div>
      <div class="value">{{ localize "WW.Effect.Value" }}</div>
      <div class="controls effect-controls flexshrink">
        <button class="inline-control icon fa-regular fa-square-plus" data-action="addChange"></button>
      </div>
    </li>

    {{!-- Changes Rows --}}
    {{#each source.changes as |change i|}}
    <li class="item effect-change flexrow" data-index="{{i}}">
      <div class="key">
        <select name="changes.{{i}}.key">
          <option label="No Effect"></option>
          {{#each @root.effectChangeOptions as |category i|}}
          <optgroup label="{{localize category.header}}">
            {{selectOptions category.options selected=change.key labelAttr="label" localize=true}}
          </optgroup>
          {{/each}}
        </select>
      </div>

      <div class="value">
        {{!-- {{formInput changeFields.value name="changes.{{ i }}.value" value=change.value}} --}}
        {{#if (eq change.valueType "int")}}
        <input type="number" name="changes.{{i}}.value" value="{{change.value}}" min="0" />
        {{else if (eq change.valueType "str")}}
        <input type="text" name="changes.{{i}}.value" value="{{change.value}}" />
        {{else if (eq change.valueType "boo")}}
        <input type="checkbox" name="changes.{{i}}.value" {{checked change.value}}>
        {{else}}
        <input type="text" name="changes.{{i}}.value" value="{{change.value}}" />
        {{/if}}
      </div>

      {{!-- Hidden inputs for mode and priority, to avoid losing existing backend values --}}
      <input type="hidden" name="changes.{{i}}.mode" value="{{change.mode}}" />
      {{#if (ne change.priority undefined)}}
      <input type="hidden" name="changes.{{i}}.priority" value="{{change.priority}}" />
      {{/if}}

      <div class="controls effect-controls flexshrink">
        <button type="button" class="effect-control inline-control icon fa-solid fa-trash"
          data-action="deleteChange"></button>
      </div>
    </li>
    {{/each}}
  </ol>

</section>