<section class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  <div class="form-group">
    <label>{{ localize "WW.Effect.Duration.Label"}}</label>
    
    <div class="form-fields">

      {{!-- Selected Duration --}}
      <select name="system.duration.selected" class="duration-selection">
        <option label="{{localize "WW.Effect.Duration.None"}}" value="none"></option>
        {{#each durationOptions as |category i|}}
        <optgroup label="{{localize category.header}}">
          {{selectOptions category.options selected=@root.document.system.duration.selected localize=true}}
        </optgroup>
        {{/each}}
      </select>

    </div>

  </div>

  {{!-- Duration in Seconds (Out of Combat) --}}
  {{#if document.duration.seconds}}
  
    {{#if (eq document.system.duration.selected "minutes")}}
    <div class="form-group">
      <label>{{ localize "WW.Effect.Duration.InMinutes" }}</label>
      <div class="form-fields">
        <input type="number" name="system.duration.inMinutes" value="{{ document.system.duration.inMinutes }}" min="1" />
      </div>
    </div>
    {{/if}}

    {{#if (eq document.system.duration.selected "hours")}}
    <div class="form-group">
      <label>{{ localize "WW.Effect.Duration.InHours" }}</label>
      <div class="form-fields">
        <input type="number" name="system.duration.inHours" value="{{ document.system.duration.inHours }}" min="1" />
      </div>
    </div>
    {{/if}}

    {{#if (eq document.system.duration.selected "days")}}
    <div class="form-group">
      <label>{{ localize "WW.Effect.Duration.InDays" }}</label>
      <div class="form-fields">
        <input type="number" name="system.duration.inDays" value="{{ document.system.duration.inDays }}" min="1" />
      </div>
    </div>
    {{/if}}

    <div class="form-group">
      <label>{{ localize "EFFECT.FIELDS.duration.startTime.label" }}</label>
      <div class="form-fields">{{ formattedStartTime }}</div>
    </div>

  {{!-- Duration in Rounds (Combat) --}}
  {{else if document.duration.rounds}}

    <div class="form-group">
      <label>{{ localize "WW.Effect.Duration.InRounds" }}</label>

      <div class="form-fields">
        {{#if (eq document.system.duration.selected 'Xrounds')}}
        <input type="number" name="duration.rounds" value="{{ document.duration.rounds }}" />
        {{else}}
        {{ document.duration.rounds }}
        {{/if}}
      </div>

    </div>

    <div class="form-group">
      <label>{{ localize "WW.Effect.Duration.StartRound" }}</label>
      <div class="form-fields">{{ document.duration.startRound }}</div>
    </div>

    <div class="form-group">
      <label>{{ localize "EFFECT.FIELDS.duration.combat.label" }}</label>
      <div class="form-fields">
        <input type="text" name="duration.combat" value="{{ document.duration.combat }}" disabled />
      </div>
    </div>

  {{/if}}

  <div class="form-group">
    <label>{{ localize "WW.Effect.Duration.AutoRemove" }}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.duration.autoExpire" {{checked document.system.duration.autoExpire}}>
    </div>
  </div>

</section>