<form autocomplete="off">
    {{#if canConfigure}}
    {{!-- Tracked Resource --}}
    <div class="form-group">
        <label>{{localize 'COMBAT.Resource'}}</label>
        <select name="resource">
            {{selectOptions attributeChoices selected=settings.resource blank=(localize "None")}}
        </select>
        <p class="notes">{{localize 'COMBAT.ResourceHint'}}</p>
    </div>

    {{!-- Skip Defeated --}}
    <div class="form-group">
        <label>{{localize 'COMBAT.SkipDefeated'}}</label>
        <input type="checkbox" name="skipDefeated" {{checked settings.skipDefeated}} data-dtype="Boolean"/>
        <p class="notes">{{localize 'COMBAT.SkipDefeatedHint'}}</p>
    </div>

    {{!-- Skip Acted --}}
    <div class="form-group">
        <label>{{localize 'WW.Settings.Combat.SkipActed'}}</label>
        <input type="checkbox" name="skipActed" {{checked skipActed}} data-dtype="Boolean"/>
        <p class="notes">{{localize 'WW.Settings.Combat.SkipActedHint'}}</p>
    </div>
    {{/if}}

    <div class="form-group" data-setting-id="core.combatTheme">
        <label>{{ localize combatTheme.name }}</label>
        <div class="form-fields">
            {{formInput combatTheme.type value=selectedTheme localize=true}}
            <i data-tooltip="{{localize 'Preview'}}" class="fas fa-play audio-preview"></i>
        </div>
        <p class="notes">{{ localize combatTheme.hint }}</p>
    </div>

    <button type="submit">
        <i class="fas fa-save"></i> {{localize 'COMBAT.SettingsSave'}}
    </button>
</form>