<header class="sheet-banner">

    {{!-- Portrait/Attributes Circle --}}
    <div class="circle" style="--total: 8">
        {{> "systems/weirdwizard/templates/actors/portrait.hbs" img=actor.img token=true}}

        {{!-- Attribute Circles --}}
        {{#each attributes as |attribute|}}
        <div class="stat {{ key }}" style="--i:{{ index }}" {{#unless @root.editMode}}data-action="attributeRoll" data-key="{{ key }}" data-tooltip-text="{{ tooltip }}"{{/unless}}>
            <label>{{localize label }}</label>
            {{#if @root.editMode}}
            {{formInput field name=name value=sourceValue dataset=(object tooltip=inputTooltip)}}
            {{else}}
            {{#if finalValue}}
            <div class="numbers">
                <div class="score">{{ finalValue }}</div>

                <div class="mod">({{numberFormat finalMod decimals=0 sign=true }})</div>
            </div>
            {{else}}<div>—</div>{{/if}}
            {{/if}}
        </div>
        {{/each}}

        {{!-- Luck Circle --}}
        <div class="stat luck" style="--i:3">
            <label><a class="item-button" data-action="attributeRoll" data-key="luck" data-tooltip="WW.Roll.Luck">
                {{localize "WW.Attributes.Luck"}}
            </a></label>
        </div>

        {{!-- Rest Circle --}}
        <div class="stat rest" style="--i:7">
            <label><a data-action="startRest">{{localize "WW.Rest.Label"}}</a></label>
        </div>
    </div>
    
    {{!-- Damage / Health Block --}}
    <div class="health-block">
    
        {{!-- Damage / Health Header --}}
        <div class="health-header">
            <label>{{localize "WW.Damage.Label"}}</label>
    
            <span class="health-indicator {{#if (and incapacitated (not dead))}}chat-button" data-action="incapacitatedRoll"
                data-tooltip="{{localize "WW.Health.IncapacitatedHint"}}{{/if}}">
                {{~#if dead}}{{localize "WW.Health.Estimation.Dead"}}
                {{~else if incapacitated}}{{localize "WW.Health.Estimation.100"}}
                {{~else if injured}}{{localize "WW.Health.Estimation.50"}}
                {{/if}}
            </span>
    
            <label>{{localize "WW.Health.Label"}}</label>
        </div>
    
        {{!-- Damage / Health Widget --}}
        <div class="health-wrapper">
    
            {{!-- Numbers: Top Layer --}}
            <div class="health-numbers">
                {{!-- Damage --}}
                <div class="stat damage">
    
                    <input type="number" name="damage" value="{{system.stats.damage.value}}" min="0" max="{{system.stats.health.current}}"
                        data-dtype="Number" />
    
                </div>
    
                {{!-- Health --}}
                <div class="stat health" data-tooltip="{{{healthTooltip}}}">
    
                    <input type="number" name="system.stats.health.current" value="{{system.stats.health.current}}" min="0"
                        data-dtype="Number" {{~#if system.stats.health.temp}}disabled{{/if}}/>
    
                </div>
            </div>
    
            {{!-- Overlay: Mid Layer --}}
            <div class="health-overlay"></div>
    
            {{!-- Health Bar: Bottom Layer --}}
            <div class="health-bar {{#if dead}}dead{{/if}}"
                style="--health-pct: {{healthPct}}; --health-hue: {{healthHue}}; --health-temp: {{tempHealthPct}};"
                role="meter" aria-valuemin="0" aria-valuenow="{{system.stats.damage.value}}"
                aria-valuemax="{{system.stats.health.current}}">
    
                <div class="health-progress"></div>
                <div class="health-temporary" data-tooltip="WW.Health.TemporaryHint"></div>
            </div>
    
        </div>
    
    </div>
    
    {{!-- Character Stats --}}
    <div class="character-stats">
    
        {{!-- Size --}}
        <div class="stat">
            <label>{{localize "WW.Stats.Size"}}</label>
    
            <div class="align-center">
                <a data-tooltip="{{{ stats.size.autoTooltip }}}">{{ stats.size.displayedValue }}</a>
            </div>
    
        </div>
    
        <div class="stat-col">
    
            {{!-- Defense --}}
            <div class="stat defense">
    
                <div><a data-tooltip="{{ stats.defenseTotal.autoTooltip }}">{{ stats.defenseTotal.finalValue }}</a></div>
    
                <label>{{ stats.defenseTotal.label }}</label>
    
            </div>
    
            {{!-- Bonus Damage --}}
            <div class="stat bonus-damage">
    
                <label>{{localize "WW.Damage.Bonus"}}</label>
                
                <div class="flex nogap align-center {{#unless system.stats.bonusdamage}}filler{{/unless}}">
                    <a data-tooltip="{{{bonusDamageTooltip}}}">{{#if system.stats.bonusdamage}}{{system.stats.bonusdamage}}d6{{else}}◆{{/if}}</a>
                </div>
    
            </div>
    
        </div>
    
        {{!-- Speed --}}
        <div class="stat">
            <label>{{ stats.speedCurrent.label }}</label>
        
            <div class="badge stat-badge">
                <a data-tooltip="{{{ stats.speedCurrent.autoTooltip }}}">{{ stats.speedCurrent.finalValue }}</a>
            </div>
        </div>
    
    </div>

</header>