<section class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    
    <div class="auto-grid-2">
        {{!-- Left Column --}}
        <div class="flexcol">
            
            {{!-- Appearance --}}
            {{#if (or editMode system.details.appearance)}}
            <div>
                <h2>{{localize "WW.Character.Appearance"}}</h2>
                {{#if editMode}}
                <prose-mirror name="system.details.appearance" data-document-uuid="{{actor.uuid}}" value="{{actor.system.details.appearance}}"
                    toggled collaborate compact owner={{owner}} editable={{editable}}>
                    {{{enrichedDetails.appearance}}}
                </prose-mirror>
                {{else if system.details.appearance}}
                {{{enrichedDetails.appearance}}}
                {{else}}—{{/if}}
            </div>
            {{/if}}
            
            {{!-- Background --}}
            <div>
                <h2>{{localize "WW.Character.Background"}}</h2>
                {{#if editMode}}
                <prose-mirror name="system.details.background" data-document-uuid="{{actor.uuid}}" value="{{actor.system.details.background}}"
                    toggled collaborate compact owner={{owner}} editable={{editable}}>
                    {{{enrichedDetails.background}}}
                </prose-mirror>
                {{else if system.details.background}}
                {{{enrichedDetails.background}}}
                {{else}}—{{/if}}
            </div>
            
        </div>

        {{!-- Right Column --}}
        <div class="flexcol">

            {{!-- Identity --}}
            <div>
                <h2>{{localize "WW.Character.Identity"}}</h2>
                {{#if (or editMode system.details.personality system.details.beliefs)}}
                {{!-- Personality --}}
                <h3 class="detail-label">{{localize "WW.Character.Personality"}}</h3>
                {{#if editMode}}
                <prose-mirror name="system.details.personality" data-document-uuid="{{actor.uuid}}" value="{{actor.system.details.personality}}"
                    toggled collaborate compact owner={{owner}} editable={{editable}}>
                    {{{enrichedDetails.personality}}}
                </prose-mirror>
                {{else if system.details.personality}}
                {{{enrichedDetails.personality}}}
                {{else}}—{{/if}}

                {{!-- Beliefs --}}
                <h3 class="detail-label">{{localize "WW.Character.Beliefs"}}</h3>
                {{#if editMode}}
                <prose-mirror name="system.details.beliefs" data-document-uuid="{{actor.uuid}}" value="{{actor.system.details.beliefs}}"
                    toggled collaborate compact owner={{owner}} editable={{editable}}>
                    {{{enrichedDetails.beliefs}}}
                </prose-mirror>
                {{else if system.details.beliefs}}
                {{{enrichedDetails.beliefs}}}
                {{else}}—{{/if}}

                {{else}}
                —
                {{/if}}
            </div>
            
            {{!-- Notes --}}
            <div>
                <h2>{{localize "WW.Actor.Notes"}}</h2>
                {{#if editMode}}
                <prose-mirror name="system.details.notes" data-document-uuid="{{actor.uuid}}" value="{{actor.system.details.notes}}"
                    toggled collaborate compact owner={{owner}} editable={{editable}}>
                    {{{enrichedDetails.notes}}}
                </prose-mirror>
                {{else if system.details.notes}}
                {{{enrichedDetails.notes}}}
                {{else}}—{{/if}}
            </div>
            
        </div>
    </div>
    
</section>