<li class="change" data-index="{{index}}">
  {{!-- Header --}}
  <div class="header">
    <div class="preset">
      {{formInput fields.preset name=change.presetPath value=change.preset options=changePresetOptions blank=(localize "WW.Effect.Keys.None")}}
      
      {{#if change.preset}}
      {{log change}}
        {{formInput change.field name=change.valuePath value=change.typedValue}} {{!-- value=change.value --}}
      {{/if}}
    </div>

    <div class="controls">
      <button type="button" class="inline-control icon fa-solid fa-trash" data-action="deleteChange"></button>
    </div>
  </div>

  {{!-- Details --}}
  <div class="details">
    <div class="key">
      <strong>{{localize "EFFECT.FIELDS.changes.element.key.label"}}:</strong>
      {{formInput fields.key name=change.keyPath value=change.key}}
    </div>
    <div class="type">
      <strong>{{localize "EFFECT.FIELDS.changes.element.type.label"}}:</strong>
      {{formInput fields.type name=change.typePath value=change.type choices=changeTypes}}
    </div>

    <input type="hidden" name="{{change.phasePath}}" value="{{change.phase}}">

    <div class="priority">
      <strong>{{localize "EFFECT.FIELDS.changes.element.priority.label"}}:</strong>
      {{formInput fields.priority name=change.priorityPath value=change.priority placeholder=defaultPriority}}
    </div>
  </div>
</li>