<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <h3>{{localize "EFFECT.DURATION.Header"}}: {{ formattedDuration }}</h3>
  {{!-- Duration Preset --}}
  <div class="form-group">
    <label class="flexrow" for="{{rootId}}-system.durationPreset">
      <span>{{localize "WW.Effect.Duration.Label"}}</span>
    </label>
    <div class="form-fields">
      {{formInput systemFields.durationPreset value=source.system.durationPreset id=(concat rootId "-system.durationPreset")
      options=durationPresetOptions aria=(object label=(localize "WW.Effect.Duration.Label"))
      blank=(localize "WW.Effect.DurationPresets.None") localize=true}}
    </div>
  </div>

  {{!-- Duration Block --}}
  <div class="{{#unless source.system.durationPreset}}hidden{{/unless}}">
    <h4>{{localize "WW.Effect.Duration.Automation"}}</h4>
    
    <div class="form-group slim" data-duration>
      <label class="flexrow" for="{{rootId}}-duration.value">
        <span>{{localize "WW.Effect.Duration.ExpiryDuration"}}</span>
        <span class="warning" hidden><i class="fa-duotone fa-triangle-exclamation"></i></span>
      </label>
      <div class="form-fields">
        {{formInput fields.duration.fields.value value=source.duration.value id=(concat rootId "-duration.value")
        aria=(object label=(localize "EFFECT.FIELDS.duration.value.label"))
        disabled=(ne source.system.durationPreset 'custom')}}

        {{#unless durationIsTimeBased}}
        <i class="info flex-0 fa-solid fa-circle-question" data-tooltip="{{localize "WW.Effect.Duration.ExpiryDurationHint"}}"></i>
        {{/unless}}

        {{formInput fields.duration.fields.units value=source.duration.units id=(concat rootId "-duration.units")
        options=durationUnits aria=(object label=(localize "EFFECT.FIELDS.duration.units.label"))
        disabled=(ne source.system.durationPreset 'custom')}}
      </div>
    </div>

    {{formGroup fields.duration.fields.expiry choices=expiryEvents value=source.duration.expiry rootId=rootId
    disabled=(ne source.system.durationPreset 'custom')}}
  </div>

  {{!-- Start Block --}}
  {{#if start}}
  <div class="{{#unless source.system.durationPreset}}hidden{{/unless}}">
    <h4>{{localize "EFFECT.START.Header"}}</h4>

    <div class="form-group">
      <label>{{localize "EFFECT.FIELDS.start.time.label"}}</label>
      <div class="form-fields">{{#if startTime}}{{startTime}} ({{start.time}}){{else}}{{start.time}}{{/if}}</div>
    </div>

    {{#if start.combat}}
    <div class="form-group">
      <label>{{localize "DOCUMENT.Combat"}}</label>
      <div class="form-fields">
        {{localize "EFFECT.START.Combat" round=start.round turn=start.turn}}
      </div>
    </div>

      {{#if start.combatant}}
      <div class="form-group">
        <label>{{localize "DOCUMENT.Combatant"}}</label>
        <div class="form-fields">
          {{localize "EFFECT.START.Combatant" combatant=start.combatantName initiative=start.combatantInitiative}}
        </div>
      </div>
      {{/if}}

    {{/if}}
  </div>
  {{/if}}

  {{!-- Automatically Delete when Expired --}}
  {{!--<div class="form-group">
    <label>{{ localize "WW.Effect.Duration.AutoRemove" }}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.duration.autoExpire" {{checked document.system.duration.autoExpire}}>
    </div>
  </div>--}}
</section>