{{!-- Sheet Header --}}
<header class="sheet-header npc-header sheet-banner">
    
    {{!-- Disposition Toggle --}}
    <div class="change-disposition label {{#if (eq disposition 1)}}ally{{else if (eq disposition -1)}}enemy{{/if}}"
        data-action="dispositionToggle" data-tooltip="WW.Actor.Disposition.Tip">

        <img class="crest"src="{{#if (eq disposition 1)}}systems/weirdwizard/assets/icons/heart-shield.svg
            {{else if (eq disposition -1)}}systems/weirdwizard/assets/icons/skull-shield.svg
        {{/if}}">

        <div>
            {{#if (eq disposition 1)}}{{localize "WW.Actor.Disposition.Ally"}}
            {{else if (eq disposition -1)}}{{localize "WW.Actor.Disposition.Enemy"}}
            {{else if (eq disposition 0)}}{{localize "WW.Actor.Disposition.Neutral"}} (!)
            {{else if (eq disposition -2)}}{{localize "WW.Actor.Disposition.Secret"}} (!)
            {{else}}{{localize "WW.Actor.Disposition.Unknown"}} (!){{/if}}
        </div>
    
    </div>

    {{!-- Portrait --}}
    <div class="circle" style="--total: 8">
        {{> "systems/weirdwizard/templates/actors/header/portrait.hbs" img=actor.img token=true}}

        {{!--<div class="stat str" style="--i:1">
            <a class="attribute-mod item-button" data-action="attributeRoll" data-key="str" data-tooltip="WW.Roll.Agility">
                <div>{{system.attributes.str.value}}</div>
                
                {{#if system.attributes.str.value}}
                <div>
                {{numberFormat system.attributes.str.mod decimals=0 sign=true}}
                </div>
                {{else}}—{{/if}}
            </a>
        </div>

        <div class="stat agi" style="--i:2">
            <a class="attribute-mod item-button" data-action="attributeRoll" data-key="agi" data-tooltip="WW.Roll.Agility">
                <div>{{system.attributes.agi.value}}</div>

                {{#if system.attributes.agi.value}}
                <div>
                {{numberFormat system.attributes.agi.mod decimals=0 sign=true}}
                </div>
                {{else}}—{{/if}}
            </a>
        </div>

        <div class="stat int" style="--i:4">
            <a class="attribute-mod item-button" data-action="attributeRoll" data-key="int" data-tooltip="WW.Roll.Agility">
                <div>{{system.attributes.int.value}}</div>
                
                {{#if system.attributes.int.value}}
                <div>
                {{numberFormat system.attributes.int.mod decimals=0 sign=true}}
                </div>
                {{else}}—{{/if}}
            </a>
        </div>

        <div class="stat wil" style="--i:5">
            <a class="attribute-mod item-button" data-action="attributeRoll" data-key="wil" data-tooltip="WW.Roll.Agility">
                <div>{{system.attributes.wil.value}}</div>
                
                {{#if system.attributes.wil.value}}
                <div>
                {{numberFormat system.attributes.wil.mod decimals=0 sign=true}}
                </div>
                {{else}}—{{/if}}
            </a>
        </div>--}}

        {{!-- Luck --}}
        <div class="stat luck" style="--i:6">
            <a data-action="attributeRoll" data-key="luck" data-tooltip="WW.Roll.Luck"><i class="fa-solid fa-clover"></i></a>
        </div>

        {{!-- Reset Sheet --}}
        <div class="stat rest" style="--i:8">
            <a data-action="resetSheet" data-tooltip="WW.Actor.Reset"><i class="fa-solid fa-eraser"></i></a>
        </div>

        {{!--<div class="stat" style="--i:9">9</div>
        <div class="stat" style="--i:10">10</div>
        <div class="stat" style="--i:11">11</div>
        <div class="stat" style="--i:12">12</div>--}}
    </div>
    
    {{!-- Damage / Health Block --}}
    <div class="health-block">
    
        {{!-- Damage / Health Widget --}}
        <div class="health-wrapper">
    
            {{!-- Numbers: Top Layer --}}
            <div class="health-numbers">
    
                {{!-- Defense Badge --}}
                <div class="badge stat defense">
    
                    <div><a data-tooltip="<p><b>{{localize "WW.Defense.Label"}}</b></p>
                            <p>{{localize "WW.Defense.Armored"}}: {{system.stats.defense.armored}}</p>
                            <p>{{localize "WW.Defense.Natural"}}: {{system.stats.defense.natural}}</p>
                            ">{{system.stats.defense.total}}
                        </a>
                    </div>
    
                </div>
    
                {{!-- Damage / Health --}}
                <div class="stat health">
    
                    <input type="number" name="damage" value="{{system.stats.damage.value}}" min="0" max="{{system.stats.health.current}}"
                        data-dtype="Number" />
    
                    <span>/</span>
    
                    <input type="number" name="system.stats.health.current" value="{{system.stats.health.current}}" min="0"
                        data-dtype="Number" {{~#if system.stats.health.temp}}disabled{{/if}}
                        data-tooltip="{{{healthTooltip}}}" />
    
                </div>
            </div>
    
            {{!-- Overlay: Mid Layer --}}
            <div class="health-overlay"></div>
    
            {{!-- Health Bar: Bottom Layer --}}
            <div class="health-bar {{#if dead}}dead{{/if}}"
                style="--health-pct: {{healthPct}}; --health-hue: {{healthHue}}; --health-temp: {{tempHealthPct}};"
                role="meter" aria-valuemin="0" aria-valuenow="{{system.stats.damage.value}}"
                aria-valuemax="{{system.stats.health.current}}">
    
                <div class="health-progress"></div>
                <div class="health-temporary" data-tooltip="WW.Health.TemporaryHint"></div>
            </div>
    
        </div>
    
    </div>
    
    {{!-- Attribute Banners Area --}}
    <div class="attribute-banners">

        {{!-- Strength --}}
        <div class="stat str item-button" data-action="attributeRoll" data-key="str"
            data-tooltip="WW.Roll.Strength">
            <div class="score">{{system.attributes.str.value}}</div>
        
            <div class="modifier">
                {{#if system.attributes.str.value}}
                {{numberFormat system.attributes.str.mod decimals=0 sign=true}}
                {{else}}—{{/if}}
            </div>
        
            <img src="systems/weirdwizard/assets/icons/black/attribute-strength.svg" />
        </div>
        
        {{!-- Agility --}}
        <div class="stat agi item-button" data-action="attributeRoll" data-key="agi"
            data-tooltip="WW.Roll.Agility">
            <div class="score">{{system.attributes.agi.value}}</div>
        
            <div class="modifier">
                {{#if system.attributes.agi.value}}
                {{numberFormat system.attributes.agi.mod decimals=0 sign=true}}
                {{else}}—{{/if}}
            </div>
        
            <img src="systems/weirdwizard/assets/icons/black/attribute-agility.svg" />
        </div>
        
        {{!-- Intellect --}}
        <div class="stat int item-button" data-action="attributeRoll" data-key="int"
            data-tooltip="WW.Roll.Intellect">
            <div class="score">{{system.attributes.int.value}}</div>
        
            <div class="modifier">
                {{#if system.attributes.int.value}}
                {{numberFormat system.attributes.int.mod decimals=0 sign=true}}
                {{else}}—{{/if}}
            </div>
        
            <img src="systems/weirdwizard/assets/icons/black/attribute-intellect.svg" />
        </div>
        
        {{!-- Will --}}
        <div class="stat wil item-button" data-action="attributeRoll" data-key="wil"
            data-tooltip="WW.Roll.Will">
            <div class="score">{{system.attributes.wil.value}}</div>
        
            <div class="modifier">
                {{#if system.attributes.wil.value}}
                {{numberFormat system.attributes.wil.mod decimals=0 sign=true}}
                {{else}}—{{/if}}
            </div>
        
            <img src="systems/weirdwizard/assets/icons/black/attribute-will.svg" />
        </div>

    </div>
    {{!-- NPC Stats --}}
    <div class="npc-stats">
    
        {{!-- Size --}}
        <div class="stat">
    
            <div class="stat-header">
                <span>{{localize "WW.Stats.Size"}}</span>
    
                <div class="badge stat-badge">
                    <a data-tooltip="{{{sizeTooltip}}}">{{system.stats.size}}</a>
                </div>
            </div>
    
        </div>
    
        {{!-- Speed --}}
        <div class="stat">
    
            <div class="stat-header">
                <span>{{localize "WW.Stats.Speed"}}</span>
    
                <div class="badge stat-badge">
                    <a data-tooltip="{{{speedTooltip}}}">{{system.stats.speed.current}}</a>
                </div>
            </div>
    
            {{!-- Movement Traits --}}
            {{#if system.details.movementTraits.length}}
            <div class="stat-content">
                {{#each system.details.movementTraits as |detail id|}}
                <div data-tooltip="{{detail.desc}}">{{detail.name}}</div>
                {{/each}}
            </div>
            {{/if}}
    
        </div>
    
        {{!-- Senses --}}
        {{#if system.details.senses.length}}
        <div class="stat">
    
            <div class="stat-header">{{localize "WW.Detail.Sense.Label"}}</div>
    
            <div class="stat-content">
                {{#each system.details.senses as |detail id|}}
                <div data-tooltip="{{detail.desc}}">{{detail.name}}</div>
                {{/each}}
            </div>
    
        </div>
        {{/if}}
    
    </div>

</header>