<img class="profile-img" src="{{actor.img}}" data-action="editImage" data-edit="img" data-tooltip="{{{localize "WW.Actor.ProfileMenuTip"}}}"/>

{{#if (eq actor.type 'npc')}}
{{!-- Health Indicator --}}
<span class="health-indicator">
  {{~#if dead}}{{localize "WW.Health.Estimation.Dead"}}
  {{~else if incapacitated}}{{localize "WW.Health.Estimation.100"}}
  {{~else if injured}}{{localize "WW.Health.Estimation.50"}}
  {{/if}}
</span>
{{/if}}