<form>

  {{!-- New Key --}}
  {{#if showKey}}
  <div class="stat-inline">
    <label>{{localize "WW.Settings.Entry.Key"}}:</label>
    <input name="key" type="text" required value="{{key}}" />
  </div>
  {{/if}}
  
  {{!-- Name --}}
  <div class="stat-inline">
    <label>{{localize "WW.Settings.Entry.Name"}}:</label>
    <input name="name" type="text" value="{{entry.name}}" />
  </div>

  {{!-- Description --}}
  <div class="stat">
    <label>{{localize "WW.Settings.Entry.Description"}}:</label>

    <textarea name="desc">{{entry.desc}}</textarea>
  </div>

  {{!-- Granted By --}}
  {{#if grantedBy}}
  <div class="stat-inline">
    <label>{{localize "WW.CharOption.GrantedBy"}}</label>
    {{grantedBy}}
  </div>
  {{/if}}
  
</form>