<form class="{{cssClass}} flexcol weirdwizard charoption ancestry" autocomplete="off">

  {{> journalEntryPageHeader}}
  
  <div class="image-wrapper">
    <figure class="image-preview">
      <img src="{{document.src}}" title="{{title}}" alt="{{title}}" />
      <figcaption>{{document.image.caption}}</figcaption>
    </figure>
  
    <div>
      <div class="form-group picker">
        <label>{{localize "JOURNALENTRYPAGE.ImageSource"}}</label>
        <div class="form-fields">
          <file-picker name="src" type="image" value="{{document.src}}"></file-picker>
        </div>
      </div>
  
      <div class="form-group">
        <label>{{localize "JOURNALENTRYPAGE.ImageCaption"}}</label>
        <div class="form-fields">
          <input type="text" name="image.caption" value="{{document.image.caption}}">
        </div>
      </div>
    </div>
  
  </div>

  {{!-- Editor --}}
  {{editor editor.content target="text.content" class="journal-page-content" button=false editable=true
    engine=editor.engine collaborate=editor.collaborate}}
  
  {{!-- Benefits Section --}}
  <section class="benefits-section">

    {{!-- Benefit Block --}}

    <div class="benefit-block">
  
      {{!-- Header --}}
      <h3>{{document.name}} {{localize "WW.CharOption.Traits"}}</h3>
  
      {{!-- Descriptor(s) --}}
      <div class="stat-inline list-entries">
  
        <label>{{localize "WW.ListEntry.Descriptor.Label"}}:</label>
  
        {{#each benefits.benefit1.descriptors as |detail id|}}
        <span class="list-entry">
  
          <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
            <a class="array-button" data-action="edit" data-list-key="benefits.benefit1.descriptors" data-entry-key="{{id}}"
              data-tooltip="WW.ListEntry.Descriptor.Edit"><i class="fa-solid fa-edit"></i></a>
  
            <a class="array-button" data-action="remove" data-list-key="benefits.benefit1.descriptors" data-entry-key="{{id}}"
              data-tooltip="WW.ListEntry.Descriptor.Remove"><i class="fa-solid fa-trash"></i></a>
          </span>
        </span>
        {{/each}}{{#unless benefits.benefit1.descriptors.length}}<span>—</span>{{/unless}}
  
        <a class="array-button" data-action="add" data-list-key="benefits.benefit1.descriptors" data-loc="Descriptor"
          data-tooltip="WW.ListEntry.Descriptor.Create"><i class="fa-solid fa-circle-plus"></i></a>
  
      </div>
  
      {{!-- Senses --}}
      <div class="stat-inline list-entries">
        <label>{{localize "WW.ListEntry.Sense.Label"}}:</label>
  
        {{#each benefits.benefit1.senses as |detail id|}}
        <span class="list-entry">
  
          <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
            <a class="array-button" data-action="edit" data-list-key="benefits.benefit1.senses" data-entry-key="{{id}}"
              data-tooltip="WW.ListEntry.Sense.Edit"><i class="fa-solid fa-edit"></i></a>
  
            <a class="array-button" data-action="remove" data-list-key="benefits.benefit1.senses" data-entry-key="{{id}}"
              data-tooltip="WW.ListEntry.Sense.Remove"><i class="fa-solid fa-trash"></i></a>
          </span>
        </span>
        {{/each}}{{#unless benefits.benefit1.senses.length}}<span>—</span>{{/unless}}
  
        <a class="array-button" data-action="add" data-list-key="benefits.benefit1.senses" data-loc="Sense"
          data-tooltip="WW.ListEntry.Sense.Create"><i class="fa-solid fa-circle-plus"></i></a>
  
      </div>
  
      {{!-- Bonus Languages --}}
      <div class="stat-inline list-entries">
        <label>{{localize "WW.ListEntry.Language.Bonus"}}:</label>
  
        {{#each benefits.benefit1.languages as |detail id|}}
        <span class="list-entry">
  
          <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
            <a class="array-button" data-action="edit" data-list-key="benefits.benefit1.languages" data-entry-key="{{id}}"
              data-tooltip="WW.ListEntry.Language.Edit"><i class="fa-solid fa-edit"></i></a>
  
            <a class="array-button" data-action="remove" data-list-key="benefits.benefit1.languages" data-entry-key="{{id}}"
              data-tooltip="WW.ListEntry.Language.Remove"><i class="fa-solid fa-trash"></i></a>
          </span>
        </span>
        {{/each}}{{#unless benefits.benefit1.languages.length}}<span>—</span>{{/unless}}
  
        <a class="array-button" data-action="add" data-list-key="benefits.benefit1.languages" data-loc="Language"
          data-tooltip="WW.ListEntry.Language.Create"><i class="fa-solid fa-circle-plus"></i></a>
  
      </div>
  
      {{!-- Attributes --}}
      <div class="stat-inline">
        <label>{{localize "WW.Attributes.Label"}}:</label>
  
        <input name="system.benefits.benefit1.attributes" type="text" value="{{benefits.benefit1.attributes}}" />
      </div>
  
      {{!-- Natural Defense, Health --}}
      <div class="stat-inline flex-wrap flex-children">
  
        <div>
          <label>{{localize "WW.Defense.Natural"}}:</label>
  
          <span class="mr-n1">+</span>
          
          <div class="input-wrap">
            <input name="system.benefits.benefit1.stats.naturalIncrease" type="number"
              value="{{benefits.benefit1.stats.naturalIncrease}}" min="0" placeholder="0" />
  
            <div class="input-overlay">{{benefits.benefit1.stats.naturalIncrease}}</div>
          </div>
  
        </div>
  
        <div>
          <label>{{localize "WW.Health.Label"}}:</label>
  
          <span class="mr-n1">+</span>
  
          <div class="input-wrap">
            <input name="system.benefits.benefit1.stats.healthIncrease" type="number"
              value="{{benefits.benefit1.stats.healthIncrease}}" min="0" placeholder="0" />
  
            <div class="input-overlay">{{benefits.benefit1.stats.healthIncrease}}</div>
          </div>
  
        </div>
  
      </div>
  
      {{!-- Size, Speed --}}
      <div class="stat-inline list-entries flex-children">
  
        {{!-- Size --}}
        <label>{{localize "WW.Stats.Size"}}:</label>
  
        <div class="input-wrap">
          <input name="system.benefits.benefit1.stats.sizeNormal" type="number"
            value="{{benefits.benefit1.stats.sizeNormal}}" min="0" placeholder="1" />
  
          <div class="input-overlay">{{benefits.benefit1.stats.sizeNormal}}</div>
        </div>
  
        {{!-- Speed --}}
        <label>{{localize "WW.Stats.Speed"}}:</label>
  
        <div class="input-wrap">
          <input name="system.benefits.benefit1.stats.speedNormal" type="number"
            value="{{benefits.benefit1.stats.speedNormal}}" min="1" placeholder="1" />
  
          <div class="input-overlay">{{benefits.benefit1.stats.speedNormal}}</div>
        </div>
  
        {{!-- Movement Traits --}}
        {{#each benefits.benefit1.movementTraits as |detail id|}}<span class="list-entry">
          {{#if @first}}({{/if}}<a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
            <a class="array-button" data-action="edit" data-list-key="benefits.benefit1.movementTraits"
              data-entry-key="{{id}}" data-tooltip="WW.ListEntry.MovementTrait.Edit"><i class="fa-solid fa-edit"></i></a>
  
            <a class="array-button" data-action="remove" data-list-key="benefits.benefit1.movementTraits"
              data-entry-key="{{id}}" data-tooltip="WW.ListEntry.MovementTrait.Remove"><i class="fa-solid fa-trash"></i></a>
          </span>{{#if @last}}){{/if}}
        </span>
        {{/each}}
  
        <a class="array-button" data-action="add" data-list-key="benefits.benefit1.movementTraits" data-loc="MovementTrait"
          data-tooltip="WW.ListEntry.MovementTrait.Create"><i class="fa-solid fa-circle-plus"></i></a>
  
      </div>
  
      {{!-- Immune --}}
      <div class="stat-inline list-entries">
        <label>{{localize "WW.ListEntry.Immunity.Label"}}:</label>
  
        {{#each benefits.benefit1.immune as |detail id|}}
        <span class="list-entry">
  
          <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
            <a class="array-button" data-action="edit" data-list-key="benefits.benefit1.immune" data-entry-key="{{id}}"
              data-tooltip="WW.ListEntry.Immunity.Edit"><i class="fa-solid fa-edit"></i></a>
  
            <a class="array-button" data-action="remove" data-list-key="benefits.benefit1.immune" data-entry-key="{{id}}"
              data-tooltip="WW.ListEntry.Immunity.Remove"><i class="fa-solid fa-trash"></i></a>
          </span>
        </span>
        {{/each}}
  
        {{#unless benefits.benefit1.immune.length}}<span>—</span>{{/unless}}
  
        <a class="array-button" data-action="add" data-list-key="benefits.benefit1.immune" data-loc="Immunity"
          data-tooltip="WW.ListEntry.Immunity.Create"><i class="fa-solid fa-circle-plus"></i></a>
  
      </div>
  
      {{!-- Item List Area --}}
      <ol class="described-list items-area benefit1">
        {{#unless benefits.benefit1.itemsInfo}}{{{itemsAreaHint}}}{{/unless}}

        {{!-- Populate Items --}}
        {{#each benefits.benefit1.itemsInfo as |item id|}}
        <li class="item-reference item {{#if item.missing}}missing{{/if}}" data-item-uuid="{{item.uuid}}">
          
          <label><img src="{{item.img}}"> {{item.name}}</label>
  
          <span class="buttons">
            {{#unless item.missing}}<a class="ref-edit" data-tooltip="WW.CharOption.Reference.EditRef"><i
                class="fa-solid fa-edit"></i></a>{{/unless}}
            <a class="ref-remove" data-tooltip="WW.CharOption.Reference.RemoveRef"><i class="fa-solid fa-trash"></i></a>
          </span>

        </li>
        {{/each}}

      </ol>
  
    </div>

  </section>

  {{!-- Journal Page Footer --}}
  {{!--{{> journalEntryPageFooter}}--}}

</form>