<div class="journal-page-content edit-mode scrollable">
  
  <div class="image-wrapper">
    <figure class="image-preview">
      <img src="{{document.src}}" title="{{title}}" alt="{{title}}" />
      <figcaption>{{document.image.caption}}</figcaption>
    </figure>
  
    <div>
      <div class="form-group picker">
        <label>{{localize "JOURNALENTRYPAGE.ImageSource"}}</label>
        <div class="form-fields">
          <file-picker name="src" type="image" value="{{document.src}}"></file-picker>
        </div>
      </div>
  
      <div class="form-group">
        <label>{{localize "JOURNALENTRYPAGE.ImageCaption"}}</label>
        <div class="form-fields">
          <input type="text" name="image.caption" value="{{document.image.caption}}">
        </div>
      </div>
    </div>
  
  </div>

  {{!-- Editor --}}
  <prose-mirror name="text.content" class="journal-page-content" value="{{ text.content }}" data-document-uuid="{{ uuid }}" collaborate></prose-mirror>
  
  {{!-- Benefits Section --}}
  <section class="benefits-section weirdwizard">

    {{!-- Benefit Block --}}

    <div class="benefit-block" data-benefit-id="benefit1">
  
      {{!-- Header --}}
      <h3>{{document.name}} {{localize "WW.CharOption.Traits"}}</h3>
  
      {{!-- Descriptor(s) --}}
      <ol class="stat-inline list-entries">
  
        <label>{{localize "WW.ListEntry.Descriptor.Label"}}:</label>
  
        {{#each listEntries.benefit1.descriptors as |entry|}}
          {{> "systems/weirdwizard/templates/journal/list-entry.hbs" entry=entry entryKey=entry.key
            listKey="descriptors" listPath="benefits.benefit1.descriptors" loc="Descriptor"}}
        {{else}}<span>—</span>
        {{/each}}

        <a class="array-button" data-action="entryCreate" data-list-key="descriptors" data-list-path="benefits.benefit1.descriptors"
          data-loc="Descriptor" data-tooltip="WW.ListEntry.Descriptor.Create"><i class="fa-solid fa-circle-plus"></i></a>
        
        <a class="array-button" data-action="entrySettings" data-list-key="descriptors" data-list-path="benefits.benefit1.descriptors"
          data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>
  
      </ol>
  
      {{!-- Senses --}}
      <ol class="stat-inline list-entries">
        <label>{{localize "WW.ListEntry.Sense.Label"}}:</label>
  
        {{#each listEntries.benefit1.senses as |entry|}}
          {{> "systems/weirdwizard/templates/journal/list-entry.hbs" entry=entry entryKey=entry.key
            listKey="senses" listPath="benefits.benefit1.senses" loc="Sense"}}
        {{else}}<span>—</span>
        {{/each}}
  
        <a class="array-button" data-action="entryCreate" data-list-key="senses" data-list-path="benefits.benefit1.senses" data-loc="Sense"
          data-tooltip="WW.ListEntry.Sense.Create"><i class="fa-solid fa-circle-plus"></i></a>

        <a class="array-button" data-action="entrySettings" data-list-key="senses" data-list-path="benefits.benefit1.senses"
          data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>

      </ol>
  
      {{!-- Bonus Languages --}}
      <ol class="stat-inline list-entries">
        <label>{{localize "WW.ListEntry.Language.Bonus"}}:</label>
  
        {{#each listEntries.benefit1.languages as |entry|}}
          {{> "systems/weirdwizard/templates/journal/list-entry.hbs" entry=entry entryKey=entry.key
            listKey="languages" listPath="benefits.benefit1.languages" loc="Language"}}
        {{else}}<span>—</span>
        {{/each}}
  
        <a class="array-button" data-action="entryCreate" data-list-key="languages" data-list-path="benefits.benefit1.languages" data-loc="Language"
          data-tooltip="WW.ListEntry.Language.Create"><i class="fa-solid fa-circle-plus"></i></a>

        <a class="array-button" data-action="entrySettings" data-list-key="languages" data-list-path="benefits.benefit1.languages"
          data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>

      </ol>
  
      {{!-- Attributes --}}
      <div class="stat-inline">
        <label>{{localize "WW.Attributes.Label"}}:</label>
  
        <input name="system.benefits.benefit1.attributes" type="text" value="{{benefits.benefit1.attributes}}" />
      </div>
  
      {{!-- Natural Defense, Health --}}
      <div class="stat-inline flex-wrap flex-children">
  
        <div>
          <label>{{localize "WW.Defense.Natural"}}:</label>
  
          <span class="mr-n1">+</span>
          
          <div class="input-wrap">
            <input name="system.benefits.benefit1.stats.naturalIncrease" type="number"
              value="{{benefits.benefit1.stats.naturalIncrease}}" min="0" placeholder="0" />
  
            <div class="input-overlay">{{benefits.benefit1.stats.naturalIncrease}}</div>
          </div>
  
        </div>
  
        <div>
          <label>{{localize "WW.Health.Label"}}:</label>
  
          <span class="mr-n1">+</span>
  
          <div class="input-wrap">
            <input name="system.benefits.benefit1.stats.healthIncrease" type="number"
              value="{{benefits.benefit1.stats.healthIncrease}}" min="0" placeholder="0" />
  
            <div class="input-overlay">{{benefits.benefit1.stats.healthIncrease}}</div>
          </div>
  
        </div>
  
      </div>
  
      {{!-- Size, Speed --}}
      <ol class="stat-inline list-entries movement-traits">
  
        {{!-- Size --}}
        <label>{{localize "WW.Stats.Size"}}:</label>
  
        <div class="input-wrap">
          <input name="system.benefits.benefit1.stats.sizeNormal" type="number"
            value="{{benefits.benefit1.stats.sizeNormal}}" min="0" placeholder="1" />
  
          <div class="input-overlay">{{benefits.benefit1.stats.sizeNormal}}</div>
        </div>
  
        {{!-- Speed --}}
        <label>{{localize "WW.Stats.Speed"}}:</label>
  
        <div class="input-wrap">
          <input name="system.benefits.benefit1.stats.speedNormal" type="number"
            value="{{benefits.benefit1.stats.speedNormal}}" min="1" placeholder="1" />
  
          <div class="input-overlay">{{benefits.benefit1.stats.speedNormal}}</div>
        </div>
  
        {{!-- Movement Traits --}}
        {{#each listEntries.benefit1.movementTraits as |entry|}}
          {{> "systems/weirdwizard/templates/journal/list-entry.hbs" entry=entry entryKey=entry.key
            listKey="movementTraits" listPath="benefits.benefit1.movementTraits" loc="MovementTrait"}}
        {{/each}}
  
        <a class="array-button" data-action="entryCreate" data-list-key="movementTraits" data-list-path="benefits.benefit1.movementTraits" data-loc="MovementTrait"
          data-tooltip="WW.ListEntry.MovementTrait.Create"><i class="fa-solid fa-circle-plus"></i></a>

        <a class="array-button" data-action="entrySettings" data-list-key="movementTraits" data-list-path="benefits.benefit1.movementTraits"
          data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>

      </ol>
  
      {{!-- Immunities --}}
      <ol class="stat-inline list-entries">
        <label>{{localize "WW.ListEntry.Immunity.Label"}}:</label>
  
        {{#each listEntries.benefit1.immunities as |entry|}}
          {{> "systems/weirdwizard/templates/journal/list-entry.hbs" entry=entry entryKey=entry.key
            listKey="immunities" listPath="benefits.benefit1.immunities" loc="Immunity"}}
        {{else}}<span>—</span>
        {{/each}}
  
        <a class="array-button" data-action="entryCreate" data-list-key="immunities" data-list-path="benefits.benefit1.immunities" data-loc="Immunity"
          data-tooltip="WW.ListEntry.Immunity.Create"><i class="fa-solid fa-circle-plus"></i></a>

        <a class="array-button" data-action="entrySettings" data-list-key="immunities" data-list-path="benefits.benefit1.immunities"
          data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>
  
      </ol>
  
      {{!-- Item List Area --}}
      <ol class="described-list items-area benefit1">

        {{!-- Populate Items --}}
        {{#each benefits.benefit1.itemsInfo as |item id|}}
        <li class="item-reference item {{#if item.missing}}missing{{/if}}" data-item-uuid="{{item.uuid}}">
          
          <label><img src="{{item.img}}"> {{item.name}}</label>
  
          <span class="buttons">
            {{#unless item.missing}}<a class="ref-edit" data-tooltip="WW.CharOption.Reference.EditRef"><i
                class="fa-solid fa-edit"></i></a>{{/unless}}
            <a class="ref-remove" data-tooltip="WW.CharOption.Reference.RemoveRef"><i class="fa-solid fa-trash"></i></a>
          </span>

        </li>
        {{else}}{{{@root.itemsAreaHint}}}
        {{/each}}

      </ol>
  
    </div>

  </section>
  
</div>