<div class="journal-page-content edit-mode scrollable">
  
  {{!-- Image Wrapper --}}
  <div class="image-wrapper">
    <figure class="image-preview">
      <img src="{{ document.src }}" title="{{ title }}" alt="{{ title }}" />
      <figcaption>{{ document.image.caption }}</figcaption>
    </figure>
  
    <div>
      <div class="form-group picker">
        <label>{{ localize "JOURNALENTRYPAGE.ImageSource" }}</label>
        <div class="form-fields">
          <file-picker name="src" type="image" value="{{ document.src }}"></file-picker>
        </div>
      </div>
  
      <div class="form-group">
        <label>{{ localize "JOURNALENTRYPAGE.ImageCaption" }}</label>
        <div class="form-fields">
          <input type="text" name="image.caption" value="{{ document.image.caption }}">
        </div>
      </div>
    </div>
  
  </div>

  {{!-- Editor --}}
  <prose-mirror name="text.content" class="journal-page-content" value="{{ text.content }}" data-document-uuid="{{ uuid }}" collaborate></prose-mirror>
  
  {{!-- Benefits Section --}}
  <section class="benefits-section weirdwizard">

    {{!-- Category --}}
    <div class="stat-inline mb-1">
      <label>{{localize "WW.Profession.Category"}}:</label>
        
      <select name="system.category">
        {{selectOptions professionCategories selected=system.category localize=true}}
      </select>
      
    </div>

    {{!-- Benefit Block --}}
    <div class="benefit-block" data-benefit-id="benefit1">
  
      {{!-- Bonus Language --}}
      <ol class="stat-inline list-entries">
        <label>{{localize "WW.ListEntry.Language.Bonus"}}:</label>
  
        {{#each listEntries.benefit1.languages as |entry|}}
          {{> "systems/weirdwizard/templates/journal/parts/list-entry.hbs" entry=entry entryKey=entry.key
            listKey="languages" listPath="benefits.benefit1.languages" loc="Language"}}
        {{else}}<span>—</span>
        {{/each}}
  
        <a class="array-button" data-action="entryCreate" data-list-key="languages" data-list-path="benefits.benefit1.languages" data-loc="Language"
          data-tooltip="WW.ListEntry.Language.Create"><i class="fa-solid fa-circle-plus"></i></a>

        <a class="array-button" data-action="entrySettings" data-list-key="languages" data-list-path="benefits.benefit1.languages"
          data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>

      </ol>
  
      {{!-- Item List Area --}}
      <ol class="described-list items-area benefit1">

        {{!-- Populate Items --}}
        {{#each benefits.benefit1.itemsInfo as |item id|}}
        <li class="item-reference item {{#if item.missing}}missing{{/if}}" data-item-uuid="{{item.uuid}}">
          
          <label><img src="{{item.img}}"> {{item.name}}</label>
  
          <span class="buttons">
            {{#unless item.missing}}<a class="ref-edit" data-tooltip="WW.CharOption.Reference.EditRef"><i
                class="fa-solid fa-edit"></i></a>{{/unless}}
            <a class="ref-remove" data-tooltip="WW.CharOption.Reference.RemoveRef"><i class="fa-solid fa-trash"></i></a>
          </span>

        </li>
        {{else}}{{{@root.itemsAreaHint}}}
        {{/each}}

      </ol>
  
    </div>

  </section>

</div>