<div class="journal-page-content edit-mode scrollable">
  
  {{!-- Image Wrapper --}}
  <div class="image-wrapper">
    {{!-- Image Preview --}}
    <figure class="image-preview">
        {{#if src}}<img src="{{ src }}" alt="{{ name }}">{{/if}}
        {{#if caption}}<figcaption>{{ caption }}</figcaption>{{/if}}
    </figure>

    <div>
      {{!-- Image Source --}}
      {{formGroup fields.src value=source.src input=srcInput}}

      {{!-- Caption --}}
      {{formGroup fields.image.fields.caption value=source.image.caption}}
    </div>
  </div>

  {{!-- Editor --}}
  <prose-mirror name="text.content" class="journal-page-content" value="{{ text.content }}" data-document-uuid="{{ uuid }}" collaborate></prose-mirror>
  
  {{!-- Benefits Section --}}
  <section class="benefits-section weirdwizard">

    {{!-- Category --}}
    <div class="stat-inline mb-1">
      <label>{{localize "WW.Profession.Category"}}:</label>
        
      <select name="system.category">
        {{selectOptions professionCategories selected=system.category localize=true}}
      </select>
      
    </div>

    {{!-- Benefit Block --}}
    <div class="benefit-block" data-benefit-id="benefit1">
  
      {{!-- Bonus Language --}}
      <ol class="stat-inline list-entries">
        <label>{{localize "WW.ListEntry.Language.Bonus"}}:</label>
  
        {{#each listEntries.benefit1.languages as |entry|}}
          {{> "systems/weirdwizard/templates/journal/parts/list-entry.hbs" entry=entry entryKey=entry.key
            listKey="languages" listPath="benefits.benefit1.languages" loc="Language"}}
        {{else}}<span>—</span>
        {{/each}}
  
        <a class="array-button" data-action="entryCreate" data-list-key="languages" data-list-path="benefits.benefit1.languages" data-loc="Language"
          data-tooltip="WW.ListEntry.Language.Create"><i class="fa-solid fa-circle-plus"></i></a>

        <a class="array-button" data-action="entrySettings" data-list-key="languages" data-list-path="benefits.benefit1.languages"
          data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>

      </ol>
  
      {{!-- Item List Area --}}
      <ol class="described-list items-area benefit1">

        {{!-- Populate Items --}}
        {{#each benefits.benefit1.itemsInfo as |item id|}}
          {{> "systems/weirdwizard/templates/journal/parts/item-reference.hbs" item=item }}
        {{else}}{{{@root.itemsAreaHint}}}
        {{/each}}

      </ol>
  
    </div>

  </section>

</div>