<div class="journal-page-content edit-mode scrollable">

  {{!-- Image Wrapper --}}
  <div class="image-wrapper">
    <figure class="image-preview">
      <img src="{{ document.src }}" title="{{ title }}" alt="{{ title }}" />
      <figcaption>{{ document.image.caption }}</figcaption>
    </figure>
  
    <div>
      <div class="form-group picker">
        <label>{{ localize "JOURNALENTRYPAGE.ImageSource" }}</label>
        <div class="form-fields">
          <file-picker name="src" type="image" value="{{ document.src }}"></file-picker>
        </div>
      </div>
  
      <div class="form-group">
        <label>{{ localize "JOURNALENTRYPAGE.ImageCaption" }}</label>
        <div class="form-fields">
          <input type="text" name="image.caption" value="{{ document.image.caption }}">
        </div>
      </div>
    </div>
  
  </div>

  {{!-- Editor --}}
  <prose-mirror name="text.content" class="journal-page-content" value="{{ text.content }}" data-document-uuid="{{ uuid }}" collaborate></prose-mirror>
  
  {{!-- Benefits Section --}}
  <section class="benefits-section weirdwizard">

    <h2>{{localize "WW.Tradition.Talents"}}</h2>

    {{!-- Talents --}}
    <div class="benefit-block">
      
      <ol class="described-list items-area talents">
        
        {{!-- Populate Spells --}}
        {{#each talents as |item id|}}
        <li class="item-reference item {{#if item.missing}}missing{{/if}}" data-item-uuid="{{item.uuid}}">
          <label><img src="{{item.img}}"> {{item.name}}</label>
          
          <span class="buttons">
            {{#unless item.missing}}<a class="ref-edit" data-tooltip="WW.CharOption.Reference.EditRef"><i
                class="fa-solid fa-edit"></i></a>{{/unless}}
            <a class="ref-remove" data-tooltip="WW.CharOption.Reference.RemoveRef"><i class="fa-solid fa-trash"></i></a>
          </span>

        </li>
        {{else}}{{{@root.itemsAreaHint}}}
        {{/each}}

      </ol>

    </div>
  
    {{!-- Spells --}}
    {{#each spells as |tier tierKey|}}
    <h2>
      {{#if (eq tierKey 'master')}}{{localize "WW.Spells.Master"}}
      {{else if (eq tierKey 'expert')}}{{localize "WW.Spells.Expert"}}
      {{else}}{{localize "WW.Spells.Novice"}}
      {{/if}}
    </h2>

    <div class="benefit-block">
      
      <ol class="described-list items-area spells {{tierKey}}">
        
        {{!-- Populate Spells --}}
        {{#each tier as |item id|}}
        <li class="item-reference item {{#if item.missing}}missing{{/if}}" data-item-uuid="{{item.uuid}}">
          <label><img src="{{item.img}}"> {{item.name}}</label>

          <span class="buttons">
            {{#unless item.missing}}<a class="ref-edit" data-tooltip="WW.CharOption.Reference.EditRef"><i
                class="fa-solid fa-edit"></i></a>{{/unless}}
            <a class="ref-remove" data-tooltip="WW.CharOption.Reference.RemoveRef"><i class="fa-solid fa-trash"></i></a>
          </span>

        </li>
        {{else}}{{{../itemsAreaHint}}}
        {{/each}}

      </ol>

    </div>
    {{/each}}

  </section>

</div>