{{!-- Header Row --}}
<div class="stat-inline flex-wrap flex-children">

    <div>
        <label>{{localize "WW.Equipment.Quality.Label"}}:</label>
        <select name="system.quality">
            {{selectOptions qualities selected=system.quality localize=true}}
        </select>
    </div>

    <div>
        <label>{{localize "WW.Equipment.Uses"}}:</label>

        <div class="input-wrap">
            <input type="number" name="system.uses.max" value="{{system.uses.max}}" min="0" data-dtype="Number" />

            <div class="input-overlay">{{system.uses.max}}</div>
        </div>

        <input class="checkbox-uses" type="checkbox" name="system.uses.onRest" {{checked system.uses.onRest}} title="{{localize "WW.Item.Uses.OnRest"}}"/>
    </div>

    <div>
        <label>{{localize "WW.Equipment.Price"}}:</label>

        <div class="input-wrap">
            <input type="number" name="system.price.value" value="{{system.price.value}}" min="0" data-dtype="Number" />

            <div class="input-overlay">{{system.price.value}}</div>
        </div>
        
        <select name="system.price.coin">
            {{selectOptions coins selected=system.price.coin localize=true}}
        </select>
    </div>

    <div>
        <label>{{localize "WW.Equipment.Quantity"}}:</label>

        <div class="input-wrap">
            <input type="number" name="system.quantity" value="{{system.quantity}}" min="0" data-dtype="Number" />

            <div class="input-overlay">{{system.quantity}}</div>
        </div>
        
    </div>

    <div>
        <label>{{localize "WW.Equipment.WeightUnit"}}:</label>
        
        <div class="input-wrap">
            <input type="number" name="system.weightUnit" value="{{system.weightUnit}}" min="0" data-dtype="Number" />

            <div class="input-overlay">{{system.weightUnit}}</div>
        </div>
    </div>

</div>

{{!-- Weapon Details --}}
{{> "systems/weirdwizard/templates/items/parts/weapon-details.hbs"}}

<h2 class="mt-1">{{localize "WW.Item.Description"}}</h2>
{{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}

{{#if grantedBy}}
<div class="stat-inline mt-1">
    <label>{{localize "WW.CharOption.GrantedBy"}}:</label>
    {{grantedBy}}
</div>
{{/if}}