<h2>{{localize "WW.Settings"}}</h2>

<div class="flex-row stat-inline">
    {{localize "WW.Roll.Always"}}
    <select class="mx-1" name="system.attribute">
        {{selectOptions attributesObj selected=system.attribute localize=true}}
    </select>
    {{#if system.attribute}}
    {{localize "WW.Boons.With"}}
    <input class="mx-1" type="number" name="system.boons" value="{{system.boons}}" placeholder="0"
        data-dtype="Number" />
    {{localize "WW.Boons.Or"}}
    {{/if}}
</div>

{{#if system.attribute}}
<div class="flex-row stat-inline mt-1">
    {{localize "WW.Roll.Against"}}
    <select class="mx-1" name="system.against">
        {{selectOptions againstObj selected=system.against localize=true}}
    </select>
    
</div>
{{/if}}
<!--
<h3 class="mt-2">{{localize "WW.Roll.OnSuccess"}}</h3>

<div class="flex-row stat-inline mt-1">
    <label class="">{{localize "WW.Damage.Label"}}</label>
    {{#if (ne system.subtype 'weapon')}}
    <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d6"
        style="width: 75px; text-align: center;" data-dtype="String" />
    {{else}}
    {{system.damage}}
    {{/if}}

    <label class="ml-2">{{localize "WW.Healing"}}</label>
    <input type="text" name="system.healing" value="{{system.healing}}" placeholder="1d6"
        style="width: 75px; text-align: center;" data-dtype="String" />

</div>

<div class="flex-row stat-inline mt-1">
    <label>{{localize "WW.Roll.Affliction"}}</label>
    <select class="mx-1" name="system.affliction">
        {{selectOptions afflictionsObj selected=system.affliction localize=true}}
    </select>
</div>

{{#if (eq system.subtype 'weapon')}}
<h4>{{localize "WW.Roll.OnCritical"}}</h4>
{{/if}}

<h3>{{localize "WW.Roll.OnFailure"}}</h3>
-->
