<div class="grid-2">
    {{!-- Left Column --}}
    <div class="flex-group-left">
        <h2>{{localize "WW.Roll.Settings"}}</h2>

        <div class="flex-row stat-inline nowrap flex-wrap nogap">
            {{localize "WW.Roll.Always"}}
            
            <select class="ml-1 bold" name="system.attribute">
                {{selectOptions attributes selected=system.attribute localize=true}}
            </select>
            
            {{#if system.attribute}}
                {{localize "WW.Boons.With"}}

                <input class="mx-1 bold" type="number" name="system.boons" value="{{system.boons}}" placeholder="0"
                    data-dtype="Number" />
                
                {{#if (lt item.system.boons -1)}}{{localize "WW.Boons.Banes"}}
                    {{else if (lt item.system.boons 0)}}{{localize "WW.Boons.Bane"}}
                    {{else if (gt item.system.boons 1)}}{{localize "WW.Boons.Boons"}}
                    {{else}}{{localize "WW.Boons.Boon"}}
                {{/if}}

            {{/if}}
        </div>

        {{#if system.attribute}}
        <div class="flex-row stat-inline mt-1">
            {{localize "WW.Roll.Against"}}

            <select class="mx-1 bold" name="system.against">
                {{selectOptions against selected=system.against localize=true}}
            </select>
            
        </div>
        {{/if}}

    </div>

    {{!-- Right Column --}}
    <div class="flex-group-left">
        <h2>{{localize "WW.Targeting.Label"}}</h2>

        <div class="flex-row stat-inline mt-1">
            <label>{{localize "WW.Targeting.Method"}}</label>

            <select name="system.targeting">
                {{selectOptions targetingMethods selected=system.targeting localize=true}}
            </select>
        </div>

        {{#if (eq system.targeting 'template')}}
        <div class="flex-row stat-inline mt-1">
            <label>{{localize "WW.Targeting.Type"}}</label>
            
            <select name="system.template.type">
                {{selectOptions templateTypes selected=system.template.type localize=true}}
            </select>
        </div>

        <div class="flex-row stat-inline mt-1">
            <label>{{localize "WW.Targeting.Value"}}</label>

            <input class="mr-1" type="number" name="system.template.value" value="{{system.template.value}}" min="1" data-dtype="Number" />

            {{localize "WW.Targeting.MeasuredUnit"}}
        </div>
        {{/if}}

    </div>

</div>

