<h2 class="mt-2">{{localize "WW.Effects.Label"}}</h2>

{{!-- Instant Effects List --}}
<ol class="item-list effects-list">
    <li class="item items-header flexrow">
        <div class="item-image"></div>
        <div class="item-name">{{localize "WW.Effects.Instant"}}</div>
        <div class="instant-effect-trigger">Trigger</div>
        <div class="instant-effect-target">Target</div>
        <div class="instant-effect-value">Value</div>
        <div class="item-controls itemeffect-controls flexrow">
            <a class="instant-control" data-action="create" data-tooltip="WW.Effect.Create">
                <i class="fas fa-plus"></i> {{localize "WW.Item.Add.Label"}}
            </a>
        </div>
    </li>

    <ol class="item-list">
        
        {{#each instantEffects as |effect id|}}
        <li class="item effect flexrow" data-effect-id="{{id}}">
            <div class="item-image">
                <img src="{{effect.img}}" width="24" height="24" />
            </div>
            <div class="item-name"><label>{{localize effect.locLabel}}</label></div>
            
            <div class="instant-effect-trigger">
                {{localize effect.locTrigger}}
            </div>
            <div class="instant-effect-target">
                {{localize effect.locTarget}}
            </div>
            <div class="instant-effect-value">
                {{#if (eq effect.label "affliction")}}{{effect.affliction}}
                {{else}}{{effect.value}}
                {{/if}}
            </div>
            <div class="item-controls itemeffect-controls flexrow">
                <a class="instant-control" data-action="edit" data-tooltip="WW.Effect.Edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="instant-control" data-action="delete" data-tooltip="WW.Effect.Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
    
</ol>

{{!-- Dynamic Active Effects Lists --}}
<ol class="item-list effects-list">
    {{#each effects as |section sid|}}
    {{#if (ne section.type 'inactive')}}
    <li class="item items-header flexrow" data-effect-type="{{section.type}}">
        <div class="item-image"></div>
        <div class="item-name">{{localize section.name}}</div>
        <div class="effect-changes">Changes</div>
        {{#if section.showDuration}}<div class="effect-duration">Duration</div>{{/if}}
        <div class="item-controls itemeffect-controls flexrow">
            <a class="effect-control" data-action="create" data-tooltip="WW.Effect.Create">
                <i class="fas fa-plus"></i> {{localize "WW.Item.Add.Label"}}
            </a>
        </div>
    </li>

    <ol class="item-list">
        
        {{#each section.effects as |effect|}}
        <li class="item effect flexrow" data-effect-id="{{effect.id}}">
            <div class="item-image">
                <img src="{{#if @root.isV12}}{{effect.img}}{{else}}{{effect.icon}}{{/if}}" width="24" height="24" />
            </div>

            <div class="item-name">
                <label>{{effect.name}}</label>

                <span class="buttons">

                    <i class="fas fa-{{#if (eq effect.trigger "onCritical")}}check-double
                    {{else if (eq effect.trigger "onSuccess")}}check
                    {{else if (eq effect.trigger "onFailure")}}x
                    {{else if (eq effect.trigger "onUse")}}bolt
                    {{else}}gears
                    {{/if}}" data-tooltip="{{localize "WW.Effect.TriggerShort"}}: {{#if effect.locTrigger}}{{localize effect.locTrigger}}{{else}}{{localize "WW.Effect.Passive"}}{{/if}}"></i>

                    <i class="fas fa-{{#if (eq effect.target "tokens")}}users
                    {{else if (eq effect.target "area")}}users-rectangle
                    {{else if (eq effect.target "areaAlly")}}users-rectangle color-green
                    {{else if (eq effect.target "areaEnemy")}}users-rectangle color-red
                    {{else}}user
                    {{/if}}" data-tooltip="{{localize "WW.Effect.Target"}}: {{#if effect.locTarget}}{{localize effect.locTarget}}{{else}}{{localize "WW.Effect.Passive"}}{{/if}}"></i>

                </span>

            </div>
            
            <div class="effect-changes">
                {{#each effect.changes as |change|}}
                
                {{#if change.key}}
                <div class="nowrap">
                    {{localize (lookup ../../../effectChangeLabels change.key)}}
                    {{#if (ne change.value 'true')}}{{change.value}}{{/if}}
                </div>
                {{else}}<div>-</div>
                {{/if}}
                {{/each}}
            </div>

            {{#if section.showDuration}}<div class="effect-duration">{{effect.formattedDuration}}</div>{{/if}}

            <div class="item-controls itemeffect-controls flexrow">
                <a class="effect-control" data-action="edit" data-tooltip="WW.Effect.Edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="effect-control" data-action="delete" data-tooltip="WW.Effect.Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
    {{/if}}
    {{/each}}
</ol>