{{!-- Castings --}}
<div class="flex-row stat-inline">
    <label class="">{{localize "WW.Spell.Castings"}}:</label>

    <div class="input-wrap">
        <input type="number" name="system.uses.max" value="{{system.uses.max}}" min="1" data-dtype="Number" />

        <div class="input-overlay">{{system.uses.max}}</div>
    </div>
    
    <input class="ml-2" type="text" name="system.casting" value="{{system.casting}}" data-dtype="String" />
</div>

{{!-- Target --}}
<div class="flex-row stat-inline">
    <label class="resource-label">{{localize "WW.Spell.Target"}}:</label>
    
    <input type="text" name="system.target" value="{{system.target}}" data-dtype="String" />
</div>

{{!-- Duration --}}
<div class="flex-row stat-inline">
    <label class="resource-label">{{localize "WW.Spell.Duration"}}:</label>

    <input type="text" name="system.duration" value="{{system.duration}}" data-dtype="String" />
</div>

{{!-- Description --}}
<h2 class="mt-1">{{localize "WW.Item.Description"}}</h2>
{{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}

{{#if grantedBy}}
<div class="stat-inline mt-1">
    <label>{{localize "WW.CharOption.GrantedBy"}}:</label>
    {{grantedBy}}
</div>
{{/if}}