{{!-- Main Row --}}
<div class="stat-inline flex-wrap flex-children">

    {{!-- Source --}}
    <div>
        <label>{{localize "WW.Talent.Source.Label"}}:</label>

        <select name="system.source">
            {{selectOptions sources selected=system.source localize=true}}
        </select>
    </div>
    
    {{!-- Uses/Tokens --}}
    <div>
        <label>{{localize "WW.Talent.Uses"}}:</label>

        <div class="input-wrap">
            <input type="number" name="system.uses.max" value="{{system.uses.max}}" min="0" data-dtype="Number" />

            <div class="input-overlay">{{system.uses.max}}</div>
        </div>
        
        <input class="checkbox-uses" type="checkbox" name="system.uses.onRest" {{checked system.uses.onRest}} data-tooltip="WW.Item.Uses.OnRest"/>
    </div>

</div>

{{!-- Description --}}
<h2 class="mt-1">{{localize "WW.Item.Description"}}</h2>

{{!-- Aura Range --}}
{{#if (eq system.subtype 'aura')}}
<div class="stat-inline">
    <label>{{localize "WW.Talent.AuraRange"}}:</label>
    <input type="number" name="system.range" value="{{system.range}}" min="0" placeholder="#" data-dtype="Number" />
</div>
{{/if}}

{{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}

{{#if grantedBy}}
<div class="stat-inline mt-1">
    <label>{{localize "WW.CharOption.GrantedBy"}}:</label>
    {{grantedBy}}
</div>
{{/if}}