{{!-- Main Row --}}
<div class="flex-row stat flex-wrap">

    {{!-- Type --}}
    <div>
        <label class="resource-label">{{localize "WW.Type"}}</label>
        <select name="system.subtype">
            {{selectOptions subtypesObj selected=system.subtype localize=true}}
        </select>
    </div>

    {{!-- Source --}}
    <div>
        <label>{{localize "WW.Source"}}</label>
        <select name="system.source">
            {{selectOptions sourcesObj selected=system.source localize=true}}
        </select>
    </div>
    
    {{!-- Uses/Tokens --}}
    <div>
        <label>{{localize "WW.UsesTalent"}}</label>
        <input type="number" name="system.uses.max" value="{{system.uses.max}}" min="0" data-dtype="Number" />
        <input class="checkbox-uses" type="checkbox" name="system.uses.onRest" {{checked system.uses.onRest}} title="{{localize "WW.Item.Uses.OnRest"}}"/>
    </div>

</div>

{{!-- Description --}}
<h2 class="mt-1">{{localize "WW.Description"}}</h2>

{{!-- Aura Range --}}
{{#if (eq system.subtype 'aura')}}
<div class="flex-row stat-inline">
    <label>{{localize "WW.AuraRange"}}</label>
    <input type="number" name="system.range" value="{{system.range}}" min="0" placeholder="#" data-dtype="Number" />
</div>
{{/if}}

{{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}