{{#if (eq system.subtype 'weapon')}}
<div>
    <h2 class="mt-1">{{localize "WW.Weapon.Details"}}</h2>

    {{!-- Requirements --}}
    <div class="stat-inline flex-group-left">
        <label>{{localize "WW.Weapon.Requirements.Label"}}</label>

        <select name="system.requirements">
            {{selectOptions requirements selected=system.requirements localize=true}}
        </select>
    </div>

    <div class="mt-2 stat-inline flex-wrap">

        {{!-- Damage --}}
        <div>
            <label>{{localize "WW.Damage.Label"}}</label>

            <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d6"
                style="width: 50px; text-align: center;" data-dtype="String" />
        </div>

        {{!-- Grip --}}
        <div>
            <label>{{localize "WW.Weapon.Grip"}}</label>

            <select name="system.grip">
                {{selectOptions grips selected=system.grip localize=true}}
            </select>
        </div>
        
        {{#if (or system.traits.range system.traits.thrown)}}<div>
            <label>{{localize "WW.Weapon.Traits.Range.Label"}} / {{localize "WW.Weapon.Traits.Thrown.Label"}}</label>

            <input type="number" name="system.range" value="{{system.range}}" min="0" placeholder="#"
                data-dtype="Number" />
        </div>{{/if}}

    </div>

    {{!-- Weapon Traits --}}
    <div class="weapon-traits">
        <label>{{localize "WW.Weapon.Traits.Label"}}</label>
        {{#each traits as |trait id|}}
        <div class="selectable {{#if (lookup @root.system.traits id)}}selected{{/if}}"
            style="width: 100%" title="{{localize trait.tip}}">

            <input type="checkbox" name="system.traits.{{id}}" {{checked (lookup @root.system.traits id)}} />

            {{localize trait.label}}
        </div>
        {{/each}}
    </div>

    <div class="mt-2 stat">
        <label>{{localize "WW.Attack.Rider"}}</label>

        {{editor system.attackRider.enriched target="system.attackRider.value" button=true owner=owner editable=editable}}

    </div>

</div>
{{/if}}