{{#if (eq system.subtype 'weapon')}}
<div class="weapon-fields">
    <div class="stat-inline flex-wrap flex-children">

        {{!-- Damage --}}
        <div>
            <label>{{localize "WW.Damage.Label"}}:</label>

            <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d6"
                style="width: 50px; text-align: left;" data-dtype="String" />
        </div>
        
        {{!-- Range --}}
        {{#if (or system.traits.range system.traits.thrown)}}
        <div>
            <label>{{localize "WW.Weapon.Traits.Range.Label"}} / {{localize "WW.Weapon.Traits.Thrown.Label"}}:</label>
            
            <div class="input-wrap">
                <input type="number" name="system.range" value="{{system.range}}" min="0" placeholder="0"
                    data-dtype="Number" />

                <div class="input-overlay">{{system.range}}</div>
            </div>
            
        </div>
        {{/if}}

        {{!-- Requirement --}}
        <div>
            <label>{{localize "WW.Weapon.Requirement.Label"}}:</label>

            <select name="system.requirements">
                {{selectOptions requirements selected=system.requirements localize=true}}
            </select>
        </div>

    </div>

    {{!-- Weapon Traits --}}
    <div class="weapon-traits">
        <label>{{localize "WW.Weapon.Traits.Label"}}:</label>
        {{#each traits as |trait id|}}
        <div class="selectable {{#if (lookup @root.system.traits id)}}selected{{/if}}"
            style="width: 100%" data-tooltip="{{trait.tip}}">

            <input type="checkbox" name="system.traits.{{id}}" {{checked (lookup @root.system.traits id)}} />

            {{localize trait.label}}
        </div>
        {{/each}}
    </div>

    {{!-- Attack Rider --}}
    <div class="attack-rider">
        <label>{{localize "WW.Attack.Rider"}}</label>
        
        {{editor system.attackRider.enriched target="system.attackRider.value" button=true owner=owner editable=editable}}

    </div>

</div>
{{/if}}