<section class="sidebar">
  <div class="sidebar-content">
    <div class="sidebar-header">
      {{!-- View Selection --}}
      <div class="flexrow">
        <label>{{localize "WW.Index.ViewAs"}}</label>
      
        <select data-action="changeView">
          {{selectOptions views selected=view localize=true}}
        </select>
      </div>

      {{!-- Search --}}
      <input type="text" class="search" placeholder="{{localize "WW.Index.Search"}}">

      <hr class="spear">
    </div>
    
    {{!-- Filters --}}
    <div class="filters">
      {{#each filters as |filter key|}}
      <div class="filter">
        <div class="title">{{ filter.title }}</div>
        {{formInput @root.fields.set type="checkboxes" options=filter.options name=filter.name value=filter.value}}
      </div>
      {{/each}}
    </div>
  </div>
  
</section>