<section class="sidebar">
  <div class="sidebar-content">
    <div class="sidebar-header">
      {{!-- View Selection --}}
      <div class="flexrow">
        <label>{{localize "WW.System.Index.ViewAs"}}</label>
      
        <select data-action="changeView">
          {{selectOptions views selected=view localize=true}}
        </select>
      </div>

      {{!-- Search --}}
      <input type="text" class="search" placeholder="{{localize "WW.System.Index.Search"}}">

      <hr class="spear">
    </div>
    
    {{!-- Filters --}}
    <div class="filters">

      {{!-- Source Compendia --}}
      {{#with filters.source}}
      <div class="filter">
        <div class="title">{{ title }}</div>
        {{formInput field type="checkboxes" options=options name=name value=value}}
      </div>
      
      <details class="filter">
        <summary class="title">{{title}}</summary>
        
        {{formInput field type="checkboxes" options=options name=name value=value}}
        
      </details>
      {{/with}}


    </div>
  </div>
  
</section>