<li class="weirdwizard chat-message message flexcol {{cssClass}}" data-message-id="{{message._id}}" {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}}>

    {{!-- Header --}}
    <header class="message-header flexcolumn">
        {{#if isWhisper}}
        <span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
        {{/if}}

        {{!-- Flavor (Icon, Name, Categories, etc) --}}
        {{#if message.flavor}}
        <div class="flavor-container">

            {{#if item}}<img src="{{item.img}}">{{/if}}
            <div class="flavor-title">
                <span class="flavor-text">{{{message.flavor}}}</span>
                {{#if item}}<span class="flavor-type">{{item.type}}{{#if item.source}} • {{item.source}}{{/if}}{{#if item.tier}} • {{item.tier}}{{/if}}</span>{{/if}}
            </div>

            {{!-- Expand Icon --}}
            {{#if message.content}}
            <div><a class="chat-message-collapse"><i class="fas fa-square-minus"></i></a></div>
            {{/if}}
            
        </div>
        {{/if}}

        {{!-- Weapon Traits --}}
        {{#if item.isWeapon}}
        <div class="properties-container">
            {{#each item.traits as |trait id|}}
            <span class="header-button" title="{{trait.tip}}">{{trait.label}}</span>
            {{/each}}

            {{#each item.advantages as |advantage id|}}
            <span class="adv-button" title="{{advantage.tip}}">{{advantage.label}}</span>
            {{/each}}

            {{#each item.disadvantages as |disadvantage id|}}
            <span class="disadv-button" title="{{disadvantage.tip}}">{{disadvantage.label}}</span>
            {{/each}}
        </div>
        {{/if}}
    </header>
    
    <div class="message-wrapper">

        {{!-- Content (Body) --}}
        {{#unless emptyContent}}
        <div class="message-content">
            {{{message.content}}}
        </div>
        {{/unless}}
        
        {{!-- Footer (Buttons) --}}
        <footer class="message-footer">
            {{#if rollHtml}}
            <div class="footer-roll">
            {{{rollHtml}}}
            </div>
            {{/if}}
            
            <div class="footer-sender flexrow">
                <h4 class="message-sender">{{#if avatar}}<img src="{{avatar}}">{{/if}}{{alias}}</h4>
                <span class="message-metadata">
                    <time class="message-timestamp">{{timeSince message.timestamp}}</time>
                    {{#if canDelete}}
                    <a aria-label="{{localize 'Delete'}}" class="message-delete"><i class="fas fa-trash"></i></a>
                    {{/if}}
                </span>
            </div>
        </footer>
        
    </div>
    
</li>