<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}

    <div class="dice-result">
        <div class="dice-comparison">
            <div class="dice-number" data-tooltip='{{> "systems/weirdwizard/templates/chat/dice-tooltip.hbs" formula=formula terms=terms}}'>{{total}}</div>

            {{#if targetNo}}
            <div class="dice-vs">vs</div>

            <div>{{targetNo}}</div>
            {{/if}}
            
        </div>
        {{#if targetNo}}
        <div class="dice-outcome">
            
            {{#if (eq outcome "critical")}}
            <div class="chat-success">{{localize "WW.Roll.CriticalSuccess"}}</div>
            {{else if (eq outcome "success")}}
            <div class="chat-success">{{localize "WW.Roll.Success"}}</div>
            {{else}}
            <div class="chat-failure">{{localize "WW.Roll.Failure"}}</div>
            {{/if}}
        </div>
        {{/if}}
        
    </div>

    
    
</div>