<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}

    <div class="dice-result">
        <div class="dice-comparison">
            <img class="attribute-icon{{#unless (eq outcome "failure")}} highlight{{/unless}}" src="{{attributeImg}}" data-tooltip="{{attributeLabel}}"></img>

            <div class="dice-number rolled-number{{#unless (eq outcome "failure")}} highlight{{/unless}}"
                data-tooltip='{{> "systems/weirdwizard/templates/chat/dice-tooltip.hbs" formula=formula terms=terms}}'><span>{{total}}</span></div>

            {{#if targetNo}}
            <div class="dice-vs">vs</div>

            <div class="target-number{{#if (eq outcome "failure")}} highlight{{/if}}"><span>{{targetNo}}</span></div>

            <img class="attribute-icon{{#if (eq outcome "failure")}} highlight{{/if}}" src="{{againstImg}}" data-tooltip="{{againstLabel}}"></img>
            {{/if}}
            
        </div>

        {{#if targetNo}}
        <div class="dice-outcome {{#if (eq outcome "failure")}}chat-failure{{else}}chat-success{{/if}}">
            
            <label>
                {{#if (eq outcome "critical")}}
                    {{localize "WW.Roll.CriticalSuccess"}}
                {{else if (eq outcome "success")}}
                    {{localize "WW.Roll.Success"}}
                {{else}}
                    {{localize "WW.Roll.Failure"}}
                {{/if}}
            </label>
            
        </div>
        {{/if}}
        
    </div>

    
    
</div>