<div class="roll-wrapper">

    {{#if target}}
    {{!-- Target Container: Header --}}
    <div class="chat-target">Target: {{#if isPrivate}}???{{else}}{{target.name}}{{/if}}</div>

    {{!-- Target Container: Content --}}
    <div class="chat-target-content">
    {{/if}}

        {{!-- Dice Roll --}}
        <div class="dice-roll">
            {{#if flavor}}
            <div class="dice-flavor">{{flavor}}</div>
            {{/if}}
            
            {{!-- Private Roll --}}
            {{#if isPrivate}}
            <div class="dice-result">
                <div class="dice-comparison">
                    <div class="dice-number rolled-number"><span>?</span></div>
                </div>
            </div>

            {{!-- Public Roll --}}
            {{else}}
            <div class="dice-result">

                {{!-- Dice Comparison Row --}}
                <div class="dice-comparison">
                    
                    {{!-- Attribute Icon --}}
                    <img class="attribute-icon {{#if (or (eq outcome "success") (eq outcome "critical"))}}highlight{{/if}}" src="{{attributeImg}}" data-tooltip="{{attributeLabel}}"></img>

                    {{!-- Attribute Dice No --}}
                    <div class="dice-number rolled-number {{#if (or (eq outcome "success") (eq outcome "critical"))}}highlight{{/if}}"
                        data-tooltip='{{> "systems/weirdwizard/templates/chat/dice-tooltip.hbs" formula=formula terms=terms}}'><span>{{total}}</span></div>

                    {{#if targetNo}}
                    <div class="dice-vs">vs</div>

                    {{!-- Against Target No --}}
                    <div class="target-number {{#if (eq outcome "failure")}}highlight{{/if}}"><span>{{targetNo}}</span></div>
                    
                    {{!-- Against Attribute Icon --}}
                    <img class="attribute-icon {{#if (eq outcome "failure")}}highlight{{/if}}" src="{{againstImg}}" data-tooltip="{{againstLabel}}"></img>
                    {{/if}}
                    
                </div>

                {{#if targetNo}}
                <div class="dice-outcome {{#if (eq outcome "failure")}}chat-failure{{else}}chat-success{{/if}}">
                    
                    <label>
                        {{#if (eq outcome "critical")}}
                            {{localize "WW.Roll.CriticalSuccess"}}
                        {{else if (eq outcome "success")}}
                            {{localize "WW.Roll.Success"}}
                        {{else}}
                            {{localize "WW.Roll.Failure"}}
                        {{/if}}
                    </label>
                    
                </div>
                {{/if}}
                
            </div>
            {{/if}}
            
        </div>

        {{!-- Chat Application Buttons --}}
        <div class="chat-buttons">
            
            {{!-- Instant Effect Buttons --}}
            {{#if instEffs}}

            {{!-- On Critical --}}
            {{#if (eq outcome "critical")}}
            {{#each (lookup instEffs "onCritical") as |effect id|}}
            <div class="chat-button" data-action="{{action}}" data-value="{{#if (eq label 'affliction')}}{{affliction}}{{else}}{{value}}{{/if}}"
                data-origin-uuid="{{@root.originUuid}}" data-target-ids="{{targetIds}}">
                <i class="fas fa-{{icon}}"></i>{{localize loc}}: {{#if (eq label 'affliction')}}{{affliction}}{{else}}{{value}}{{/if}}
            </div>
            {{/each}}

            {{!-- On Success --}}
            {{else if (eq outcome "success")}}
            {{#each (lookup instEffs "onSuccess") as |effect id|}}
            <div class="chat-button" data-action="{{action}}" data-value="{{#if (eq label 'affliction')}}{{affliction}}{{else}}{{value}}{{/if}}"
                data-origin-uuid="{{@root.originUuid}}" data-target-ids="{{targetIds}}">
                <i class="fas fa-{{icon}}"></i>{{localize loc}}: {{#if (eq label 'affliction')}}{{affliction}}{{else}}{{value}}{{/if}}
            </div>
            {{/each}}

            {{!-- On Failure --}}
            {{else if (eq outcome "failure")}}
            {{#each (lookup instEffs "onFailure") as |effect id|}}
            <div class="chat-button" data-action="{{action}}" data-value="{{#if (eq label 'affliction')}}{{affliction}}{{else}}{{value}}{{/if}}"
                data-origin-uuid="{{@root.originUuid}}" data-target-ids="{{targetIds}}">
                <i class="fas fa-{{icon}}"></i>{{localize loc}}: {{#if (eq label 'affliction')}}{{affliction}}{{else}}{{value}}{{/if}}
            </div>
            {{/each}}

            {{!-- On Use --}}
            {{else}}
            {{#each (lookup instEffs "onUse") as |effect id|}}
            <div class="chat-button" data-action="{{action}}" data-value="{{#if (eq label 'affliction')}}{{affliction}}{{else}}{{value}}{{/if}}"
                data-origin-uuid="{{@root.originUuid}}" data-target-ids="{{targetIds}}">
                <i class="fas fa-{{icon}}"></i>{{localize loc}}: {{#if (eq label 'affliction')}}{{affliction}}{{else}}{{value}}{{/if}}
            </div>
            {{/each}}

            {{/if}}
            
            {{/if}}

            {{!-- Active Effect Buttons --}}
            {{#if actEffs}}

            {{!-- On Critical --}}
            {{#if (eq outcome "critical")}}
            {{#each (lookup actEffs "onCritical") as |effect id|}}
            <div class="chat-button" data-action="{{action}}" data-effect-uuid="{{uuid}}" data-origin-uuid="{{@root.originUuid}}" data-target-ids="{{targetIds}}">
                {{#if img}}<img src="{{img}}" />{{/if}}{{name}}
            </div>
            {{/each}}

            {{!-- On Success --}}
            {{else if (eq outcome "success")}}
            {{#each (lookup actEffs "onSuccess") as |effect id|}}
            <div class="chat-button" data-action="{{action}}" data-effect-uuid="{{uuid}}" data-origin-uuid="{{@root.originUuid}}" data-target-ids="{{targetIds}}">
                {{#if img}}<img src="{{img}}" />{{/if}}{{name}}
            </div>
            {{/each}}

            {{!-- On Failure --}}
            {{else if (eq outcome "failure")}}
            {{#each (lookup actEffs "onFailure") as |effect id|}}
            <div class="chat-button" data-action="{{action}}" data-effect-uuid="{{uuid}}" data-origin-uuid="{{@root.originUuid}}" data-target-ids="{{targetIds}}">
                {{#if img}}<img src="{{img}}" />{{/if}}{{name}}
            </div>
            {{/each}}
            
            {{!-- On Use --}}
            {{else}}
            {{#each (lookup actEffs "onUse") as |effect id|}}
            <div class="chat-button" data-action="{{action}}" data-effect-uuid="{{uuid}}" data-origin-uuid="{{@root.originUuid}}" data-target-ids="{{targetIds}}">
                {{#if img}}<img src="{{img}}" />{{/if}}{{name}}
            </div>
            {{/each}}
            {{/if}}
            
            {{/if}}

        </div>
        
        {{!-- Apply Buttons --}}        
        {{#if applyButtons}}
        <div class="chat-button-container">
            {{#each applyButtons as |button id|}}
            <div class="chat-button flexcol" data-action="{{action}}" data-value="{{value}}" data-effect-uuid="{{effectUuid}}" data-origin-uuid="{{originUuid}}" data-target-ids="{{targetIds}}">
                <img src="{{img}}"/>
                <div>{{localize loc}}</div>
            </div>
            {{/each}}
        </div>
        {{/if}}

    {{#if target}}
    </div>
    {{/if}}
</div>