
{{!-- Details Area --}}
<div class="header-fields stat-inline flex-wrap flex-children baseline">

  {{!-- Castings --}}
  <div>
    <label class="">{{localize "WW.Spell.Castings"}}:</label>

    <div class="input-wrap">
      <input type="number" name="system.uses.max" value="{{system.uses.max}}" min="1" data-dtype="Number" />

      <div class="input-overlay">{{system.uses.max}}</div>
    </div>

    {{#if system.casting}}<div class="ml-n1">, </div>{{/if}}

    <div class="textarea-resizeable">
      <textarea name="system.casting" rows="1">{{system.casting}}</textarea>

      <div class="textarea-overlay">{{system.casting}}</div>
    </div>

  </div>

  {{!-- Target --}}
  <div>
    <label class="resource-label">{{localize "WW.Spell.Target"}}:</label>

    <div class="textarea-resizeable">
      <textarea name="system.target" rows="1">{{system.target}}</textarea>

      <div class="textarea-overlay">{{system.target}}</div>
    </div>
  </div>

  {{!-- Duration --}}
  <div>
    <label class="resource-label">{{localize "WW.Spell.Duration"}}:</label>

    <div class="textarea-resizeable">
      <textarea name="system.duration" rows="1">{{system.duration}}</textarea>

      <div class="textarea-overlay">{{system.duration}}</div>
    </div>
  </div>

</div>