{{!-- Details Area --}}
<div class="fields stat-inline flex-col flex-children">
  
  <div class="common-fields flex-children">
    {{!-- Item Type --}}
    <div class="item-type">
        <select name="system.subtype">
            {{selectOptions subtypes selected=system.subtype localize=true}}
        </select>
    </div>

    {{!-- Magical --}}
    <div>
      <label>{{localize "WW.Talent.Magical"}}:</label>
    
      <input type="checkbox" class="checkbox-uses" name="system.magical" data-tooltip="WW.Talent.MagicalHint" {{checked system.magical}} />
    </div>

    {{!-- Source --}}
    <div>
      <label>{{localize "WW.Talent.Source.Label"}}:</label>
    
      <select name="system.source">
        {{selectOptions sources selected=system.source localize=true}}
      </select>
    </div>
  </div>

  <hr>

  {{!-- Uses/Tokens --}}
  <div class="common-fields flex-children">
    {{!-- Uses --}}
    <div>
      <label>{{localize "WW.Talent.Uses"}}:</label>
      
      {{#if (eq system.uses.levelRelative 'manual')}}
      <div class="input-wrap">
        <input type="number" name="system.uses.max" value="{{system.uses.max}}" min="0" data-dtype="Number" />
    
        <div class="input-overlay">{{system.uses.max}}</div>
      </div>
      {{else}}
      <span>{{system.uses.max}}</span>
      {{/if}}
    </div>
    
    {{!-- Relative to Level --}}
    {{#unless belongsToNPC}}
    <div>
      <label>{{localize "WW.Item.Uses.Scaling"}}:</label>

      <select name="system.uses.levelRelative" data-tooltip="WW.Item.Uses.LevelRelative">
        {{selectOptions usesLevelRelative selected=system.uses.levelRelative localize=true}}
      </select>
    </div>
    {{/unless}}

    {{!-- Recover on Rest --}}
    <div>
      <label>{{localize "WW.Item.Uses.OnRest"}}:</label>

      <input class="checkbox-uses" type="checkbox" name="system.uses.onRest" {{checked system.uses.onRest}} />
    </div>
  
  </div>

</div>