<form class="{{cssClass}} flexcol" autocomplete="off">

    <header class="sheet-header">{{!-- Sheet Header --}}
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields npc">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "WW.ActorName"}}"/></h1>

            <nav class="mt-2 sheet-tabs tabs npc-tabs" data-group="primary">{{!-- Sheet Tab Navigation --}}
                <a class="item" data-tab="description">{{localize "WW.Description"}}</a>
                <a class="item" data-tab="summary">{{localize "WW.Summary"}}</a>
                <a class="item" data-tab="stats">{{localize "WW.Stats"}}</a>
                <a class="item" data-tab="effects">{{localize "WW.Effects"}}</a>
            </nav>
        </div>
    </header>

    

    <section class="sheet-body"> {{!-- Sheet Body --}}

        <div class="tab description" data-group="primary" data-tab="description">{{!-- Description Tab --}}
            {{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}
        </div>

        <div class="tab summary" data-group="primary" data-tab="summary">{{!-- Summary Tab --}}
            <div class="resources grid grid-2col">

                <div class="statbox">{{!-- Left Column --}}
                    <h3>{{localize "WW.Stats"}}</h3>
                    <div class="hl2">{{!-- Level, Type --}}
                        <label for="level" class="resource-label">{{localize "WW.Level"}}</label>
                        {{system.stats.level.value}}

                        <label class="ml-2" for="type" class="resource-label">{{localize "WW.Type"}}</label>
                        {{system.details.type.value}}
                    </div>

                    <div class="hl">
                        <div class="stat">{{!-- Defense, Health, Damage --}}
                            <label for="defense" class="resource-label">{{localize "WW.Defense"}}</label>
                            {{system.stats.defense.total}}{{#if system.stats.defense.details}} ({{system.stats.defense.details}}){{/if}}

                            <label class="ml-1" for="health" class="resource-label">{{localize "WW.Health.Title"}}</label>
                            {{system.stats.health.total}}

                            <label class="ml-1" for="damage" class="resource-label">{{localize "WW.Damage"}}</label>
                            {{system.stats.damage.value}}
                        </div>

                        <div class="stat mt-1">{{!-- Attributes 1 --}}
                            <label for="str" class="resource-label">{{localize "WW.Strength"}}</label>
                            <a class="attribute-mod rollable" data-label="Strength" title="Roll Strength">{{system.attributes.str.value}} ({{numberFormat system.attributes.str.mod decimals=0 sign=true}})</a>

                            <label class="ml-1" for="agi" class="resource-label">{{localize "WW.Agility"}}</label>
                            <a class="attribute-mod rollable" data-label="Agility" title="Roll Agility">{{system.attributes.agi.value}} ({{numberFormat system.attributes.agi.mod decimals=0 sign=true}})</a>
                        </div>
                        <div class="stat">{{!-- Attributes 2 --}}
                            <label for="int" class="resource-label">{{localize "WW.Intellect"}}</label>
                            <a class="attribute-mod rollable" data-label="Intellect" title="Roll Intellect">{{system.attributes.int.value}} ({{numberFormat system.attributes.int.mod decimals=0 sign=true}})</a>

                            <label class="ml-1" for="wil" class="resource-label">{{localize "WW.Will"}}</label>
                            <a class="attribute-mod rollable" data-label="Will" title="Roll Will">{{system.attributes.wil.value}} ({{numberFormat system.attributes.wil.mod decimals=0 sign=true}})</a>

                        </div>
                    </div>

                    <h4>{{localize "WW.Talents"}}</h4>
                    <div class="mt-1">{{!-- Auras --}}
                        <ol class="described-list">
                        {{#each auras as |item id|}}
                            <li class="item" data-item-id="{{item._id}}">
                                <a class="rollable item-roll" title="Roll Aura">{{item.name}}</a> 
                                <a class="item-edit" title="Edit Aura">({{localize "WW.Aura"}} {{item.system.range}}) {{item.system.description.value}}</a>
                            </li>
                        {{/each}}
                        </ol>
                    </div>

                    <div class="stat">{{!-- Senses --}}
                        {{#if system.details.senses.value}}<label for="senses" class="resource-label">{{localize "WW.Senses"}}</label>
                        {{system.details.senses.value}}{{/if}}
                    </div>
                    <div class="stat mt-1">{{!-- Languages --}}
                        {{#if system.details.languages.value}}<label class="" for="languages" class="resource-label">{{localize "WW.Languages"}}</label>
                        {{system.details.languages.value}}{{/if}}
                    </div>

                    {{#if system.details.immune.value}}<div class="stat mt-1">{{!-- Immune --}}
                        <label class="mb-1" for="immune" class="resource-label">{{localize "WW.Immune"}}</label>
                        {{system.details.immune.value}}
                    </div>{{/if}}

                    <div class="stat mb-1 mt-1">{{!-- Size, Speed --}}
                        <label for="size" class="resource-label">{{localize "WW.Size"}}</label>
                        {{system.stats.size.value}}

                        <label class="ml-1" for="speed" class="resource-label">{{localize "WW.Speed"}}</label>
                        {{system.stats.speed.value}}
                        {{#if system.stats.speed.special}} ({{system.stats.speed.special}}){{/if}}
                    </div>

                    <ol class="described-list">{{!-- Talents --}}
                    {{#each talents as |item id|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <a class="rollable item-roll" title="Roll Talent">{{item.name}}</a> <a class="item-edit" title="Edit Talent">{{item.system.description.value}}</a>
                        </li>
                    {{/each}}
                    </ol>
                    
                </div>

                <div class="statbox">{{!-- Right Column --}}
                    {{#if weapons}}
                    <h4>{{localize "WW.Attacks"}}</h4>
                    <div class="mt-1">
                        <ol class="described-list">
                        {{#each weapons as |item id|}}
                            <li class="item" data-item-id="{{item._id}}">
                                <a class="rollable item-roll" title="Roll Attack">{{item.name}}</a> <a class="item-edit" title="Edit Weapon">{{#if item.system.properties}}({{item.system.properties}}) {{/if}}{{item.system.attribute}}
                                {{#if item.system.boons}} {{localize "WW.Boons.With"}} {{item.system.boons}} {{#if (lt item.system.boons 0)}}{{localize "WW.Boons.Banes"}}{{else}}{{localize "WW.Boons.Boons"}}{{/if}}{{/if}}
                                ({{item.system.damage}})</a>
                            </li>
                        {{/each}}
                        </ol>
                    </div>
                    {{/if}}

                    {{#if actions}}
                    <h4 class="mt-2">{{localize "WW.Actions"}}</h4>
                    <ol class="described-list">
                    {{#each actions as |item id|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <a class="rollable item-roll" title="Roll Action">{{item.name}}</a> <a class="item-edit" title="Edit Action">{{item.system.description.value}}</a>
                        </li>
                    {{/each}}
                    </ol>
                    {{/if}}

                    {{#if reactions}}
                    <h4 class="mt-2">{{localize "WW.Reactions"}}</h4>
                    <ol class="described-list">
                    {{#each reactions as |item id|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <a class="rollable item-roll" title="Roll Reaction">{{item.name}}</a> <a class="item-edit" title="Edit Reaction">{{item.system.description.value}}</a>
                        </li>
                    {{/each}}
                    </ol>
                    {{/if}}

                    {{#if end}}
                    <h4 class="mt-2">{{localize "WW.EndOfTheRound"}}</h4>
                    <ol class="described-list">
                    {{#each end as |item id|}}
                        <li class="item" data-item-id="{{item._id}}">
                            <a class="rollable item-roll" title="Roll End of Round Effect">{{item.name}}</a> <a class="item-edit" title="Edit End of Round Effect">{{item.system.description.value}}</a>
                        </li>
                    {{/each}}
                    </ol>
                    {{/if}}
                    
                </div>
            </div>
        </div>

        <div class="tab stats" data-group="primary" data-tab="stats">{{!-- Stats Tab --}}
            <div class="stats grid grid-2col">

                <div class="details-col flex-group-center">{{!-- Left Column --}}
                    <h2>{{localize "WW.Stats"}}</h2>
                    <div class="flex-row stat-inline">{{!-- Level, Type --}}
                        <label for="system.stats.level.value" class="resource-label">{{localize "WW.Level"}}</label>
                        <input type="number" name="system.stats.level.value" value="{{system.stats.level.value}}" min="1" data-dtype="Number"/>

                        <label for="system.details.type.value" class="resource-label ml-2">{{localize "WW.Type"}}</label>
                        <input type="text" name="system.details.type.value" value="{{system.details.type.value}}" data-dtype="String"/>
                    </div>

                    <div class="mb-2">
                        <div class="mt-2 flex-row stat-inline flex-group-left">{{!-- Defense --}}
                            <label for="system.stats.defense.total" class="resource-label">{{localize "WW.Defense"}}</label>
                            <input class="mr-1" type="number" name="system.stats.defense.total" value="{{system.stats.defense.total}}" min="0" data-dtype="Number"/>
                            <input type="text" name="system.stats.defense.details" value="{{system.stats.defense.details}}" data-dtype="String" placeholder="{{localize "WW.DefenseDetails"}}"/>
                        </div>
                        <div class="flex-row stat-inline flex-group-left">{{!-- Damage / Health --}}
                            <label for="system.stats.health.total" class="resource-label">{{localize "WW.Damage"}} / {{localize "WW.Health.Title"}}</label>
                            <div class="flex-row flex-group-center">
                                <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}" min="0" data-dtype="Number"/>
                                <span class="mx-1">/</span>
                                <input type="number" name="system.stats.health.total" value="{{system.stats.health.total}}" min="0" data-dtype="Number"/>
                            </div>
                        </div>

                        <div class="mt-1 flex-row stat-inline flex-group-left">{{!-- Attributes 1 --}}
                            <label for="str" class="resource-label">{{localize "WW.Strength"}}</label>
                            <input class="mr-1" type="number" name="system.attributes.str.value" value="{{system.attributes.str.value}}" min="0" data-dtype="Number"/> <a class="attribute-mod rollable" data-label="Strength" title="Roll Strength">{{numberFormat system.attributes.str.mod decimals=0 sign=true}}</a>

                            <label class="ml-1" for="agi" class="resource-label">{{localize "WW.Agility"}}</label>
                            <input class="mr-1" type="number" name="system.attributes.agi.value" value="{{system.attributes.agi.value}}" min="0" data-dtype="Number"/> <a class="attribute-mod rollable" data-label="Agility" title="Roll Agility">{{numberFormat system.attributes.agi.mod decimals=0 sign=true}}</a>

                        </div>
                        <div class="mt-1 flex-row stat-inline flex-group-left">{{!-- Attributes 2 --}}
                            <label for="int" class="resource-label">{{localize "WW.Intellect"}}</label>
                            <input class="mr-1" type="number" name="system.attributes.int.value" value="{{system.attributes.int.value}}" min="0" data-dtype="Number"/> <a class="attribute-mod rollable" data-label="Intellect" title="Roll Intellect">{{numberFormat system.attributes.int.mod decimals=0 sign=true}}</a>

                            <label class="ml-1" for="wil" class="resource-label">{{localize "WW.Will"}}</label>
                            <input class="mr-1" type="number" name="system.attributes.wil.value" value="{{system.attributes.wil.value}}" min="0" data-dtype="Number"/> <a class="attribute-mod rollable" data-label="Will" title="Roll Will">{{numberFormat system.attributes.wil.mod decimals=0 sign=true}}</a>
                        </div>
                    </div>

                    <h2>{{localize "WW.Talents"}}</h2>

                    <ol class="items-list">{{!-- Auras --}}
                        <li class="item flexrow item-header">
                            <div class="item-image"></div>
                            <div class="item-name">{{localize "WW.Name"}}</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="Aura (NPC)"><i class="fas fa-plus"></i> Add aura</a>
                            </div>
                        </li>
                        {{#each auras as |item id|}}
                        <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <label class="item-name">{{item.name}}</label>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

                    <div class="mt-2 flex-row stat-inline flex-group-left">{{!-- Senses --}}
                        <label for="system.details.senses.value" class="resource-label">{{localize "WW.Senses"}}</label>
                        <input type="text" name="system.details.senses.value" value="{{system.details.senses.value}}" data-dtype="String"/>
                    </div>
                    <div class="flex-row stat-inline flex-group-left">{{!-- Languages --}}
                        <label for="system.details.languages.value" class="resource-label">{{localize "WW.Languages"}}</label>
                        <input type="text" name="system.details.languages.value" value="{{system.details.languages.value}}" data-dtype="String" placeholder="{{localize "WW.LanguagesPH"}}"/>
                    </div>
                    <div class="flex-row stat-inline flex-group-left">{{!-- Immune --}}
                        <label for="system.details.immune.value" class="resource-label">{{localize "WW.Immune"}}</label>
                        <input type="text" name="system.details.immune.value" value="{{system.details.immune.value}}" data-dtype="String" placeholder="{{localize "WW.ImmunePH"}}"/>
                    </div>
                    
                    <div class="mt-1 flex-row stat-inline flex-group-left">{{!-- Size, Speed --}}
                        <label for="system.stats.size.value" class="resource-label">{{localize "WW.Size"}}</label>
                        <input type="number" name="system.stats.size.value" value="{{system.stats.size.value}}" data-dtype="Number" placeholder="#"/>

                        <label for="system.stats.speed.value" class="resource-label ml-2">{{localize "WW.Speed"}}</label>
                        <input class="mr-1" type="number" name="system.stats.speed.value" value="{{system.stats.speed.value}}" data-dtype="Number" min="0"/ placeholder="#">
                        <input type="text" name="system.stats.speed.special" value="{{system.stats.speed.special}}" data-dtype="String" placeholder="{{localize "WW.SpeedPH"}}" title="{{localize "WW.SpeedTip"}}"/>
                    </div>

                </div>

                <div class="details-col flex-group-center">{{!-- Right Column --}}

                    <ol class="items-list">{{!-- Talents --}}
                        <li class="item flexrow item-header">
                            <div class="item-image"></div>
                            <div class="item-name">{{localize "WW.Name"}}</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="Talent (NPC)"><i class="fas fa-plus"></i> Add talent</a>
                            </div>
                        </li>
                        {{#each talents as |item id|}}
                        <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <label class="item-name">{{item.name}}</label> 
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

                    <ol class="items-list">{{!-- Weapons --}}
                        <li class="item flexrow item-header">
                            <div class="item-image"></div>
                            <div class="item-name">{{localize "WW.Name"}}</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="Weapon (NPC)"><i class="fas fa-plus"></i> Add weapon</a>
                            </div>
                        </li>
                        {{#each weapons as |item id|}}
                        <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <label class="item-name">{{item.name}}</label> 
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

                    <ol class="items-list">{{!-- Actions --}}
                        <li class="item flexrow item-header">
                            <div class="item-image"></div>
                            <div class="item-name">{{localize "WW.Name"}}</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="Action (NPC)"><i class="fas fa-plus"></i> Add action</a>
                            </div>
                        </li>
                        {{#each actions as |item id|}}
                        <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <label class="item-name">{{item.name}}</label> 
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

                    <ol class="items-list">{{!-- Reactions --}}
                        <li class="item flexrow item-header">
                            <div class="item-image"></div>
                            <div class="item-name">{{localize "WW.Name"}}</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="Reaction (NPC)"><i class="fas fa-plus"></i> Add reaction</a>
                            </div>
                        </li>
                        {{#each reactions as |item id|}}
                        <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <label class="item-name">{{item.name}}</label> 
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

                    <ol class="items-list">{{!-- End of Round Effects --}}
                        <li class="item flexrow item-header">
                            <div class="item-image"></div>
                            <div class="item-name">{{localize "WW.Name"}}</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="End of Round Effect (NPC)"><i class="fas fa-plus"></i> Add end of round effect</a>
                            </div>
                        </li>
                        {{#each end as |item id|}}
                        <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <label class="item-name">{{item.name}}</label> 
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/weirdwizard/templates/actors/parts/Character-effects.hbs"}}
        </div>

    </section>
</form>