<form class="{{cssClass}} flexcol" autocomplete="off">

    <header class="sheet-header">{{!-- Sheet Header --}}
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields npc">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "WW.ActorName"}}"/></h1>

            <nav class="mt-2 sheet-tabs tabs npc-tabs" data-group="primary">{{!-- Sheet Tab Navigation --}}
                <a class="item" data-tab="description">{{localize "WW.Description"}}</a>
                <a class="item" data-tab="summary">{{localize "WW.Summary"}}</a>
                <a class="item" data-tab="stats">{{localize "WW.Stats"}}</a>
                <a class="item" data-tab="effects">{{localize "WW.Effects"}}</a>
            </nav>
        </div>
    </header>

    

    <section class="sheet-body"> {{!-- Sheet Body --}}
        
        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}
        </div>

        {{!-- Summary Tab --}}
        <div class="tab summary" data-group="primary" data-tab="summary">
            {{> "systems/weirdwizard/templates/actors/parts/NPC-summary.hbs"}}
        </div>

        {{!-- Stats Tab --}}
        <div class="tab stats" data-group="primary" data-tab="stats">
            {{> "systems/weirdwizard/templates/actors/parts/NPC-stats.hbs"}}
        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/weirdwizard/templates/actors/parts/Character-effects.hbs"}}
        </div>

    </section>
</form>