<form class="{{cssClass}} flexcol" autocomplete="off">

    <header class="sheet-header character-header">{{!-- Sheet Header --}}
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "WW.ActorName"}}"/></h1>
            
            {{!-- Attributes Row --}}
            <div class="attributes grid grid-4">
                {{#each system.attributes as |attribute key|}}
                {{#if (eq key 'luck')}}{{else}}
                <div class="attribute stat flex-group-center">
                    <label for="system.attributes.{{key}}.value" class="attribute-label">{{attribute.label}}</label>
                    <div class="stat flex-group-center">
                        <input type="number" name="system.attributes.{{key}}.value" value="{{attribute.value}}" min="0" data-dtype="Number"/>
                        <a class="attribute-mod rollable" data-roll="d20+@attributes.{{key}}.mod[modifier]@boons[boons]" data-label="{{attribute.label}}" title="Roll {{attribute.label}}">{{numberFormat attribute.mod decimals=0 sign=true}}</a>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>

            {{!-- Defense Row --}}
            <div class="resources grid grid-4 mt-2">

                {{!-- Defense --}}
                <div class="stat flex-group-center">
                    <label>{{localize "WW.Defense.Title"}}</label>
                    <div><a title="{{localize "WW.Defense.Natural"}}: {{system.stats.defense.natural}}">{{system.stats.defense.total}}</a></div>
                </div>

                {{!-- Damage / Health --}}
                <div class="stat flex-group-center">
                    <label>{{localize "WW.Damage.Title"}} / {{localize "WW.Health.Title"}}</label>
                    <div class="flex-row flex-group-center">
                        <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}" min="0" data-dtype="Number"/>

                        <span class"ml-1">/ <a title="{{localize "WW.Health.Normal"}}: {{system.stats.health.normal}}">{{system.stats.health.current}}</a> 

                        <a class="health-edit" title="Edit Health"><i class="fas fa-edit"></i></a></span>
                    </div>
                </div>

                {{!-- Bonus Damage --}}
                <div class="stat flex-group-center">
                    <label>{{localize "WW.Damage.Bonus"}}</label>
                    <div><input type="number" name="system.stats.bonusdamage" value="{{system.stats.bonusdamage}}" data-dtype="Number" min="0" placeholder="#" />d6</div>
                    {{system.stats.bonusdamage.value}}
                </div>

                <div class="stat flex-row flex-group-center">
                    {{!-- Luck Roll --}}
                    <div class="mr-2">
                        <label>{{localize "WW.Luck"}}</label>
                        <div><a class="rollable resource-label" title="Roll {{localize "WW.Luck"}}"><i class="large fas fa-dice-d20" data-label="Luck"></i></a></div>
                    </div>

                    {{!-- Rest --}}
                    <div>
                        <label>{{localize "WW.Rest.Title"}}</label>
                        <div><a class="rest-btn"><i class="large fas fa-bed"></i></a></div>
                    </div>
                </div>

                {{!-- Rest Button --}}
                <div class="stat flex-group-center">
                    
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">{{!-- Sheet Tab Navigation --}}
        <a class="item" data-tab="summary">{{localize "WW.Summary"}}</a>
        <a class="item" data-tab="stats">{{localize "WW.Stats"}}</a>
        <a class="item" data-tab="details">{{localize "WW.Details"}}</a>
        <a class="item" data-tab="equipment">{{localize "WW.Equipment"}}</a>
        <a class="item" data-tab="talents">{{localize "WW.Talents"}}</a>
        <a class="item" data-tab="spells">{{localize "WW.Spells"}}</a>
        <a class="item" data-tab="effects">{{localize "WW.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Summary Tab --}}
        <div class="tab summary" data-group="primary" data-tab="summary">
            {{> "systems/weirdwizard/templates/actors/parts/Character-summary.hbs"}}
        </div>

        {{!-- Stats Tab --}}
        <div class="tab stats" data-group="primary" data-tab="stats">
            {{> "systems/weirdwizard/templates/actors/parts/Character-stats.hbs"}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{> "systems/weirdwizard/templates/actors/parts/Character-details.hbs"}}
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
            {{> "systems/weirdwizard/templates/actors/parts/Character-equipment.hbs"}}
        </div>

        {{!-- Traits & Talents Tab --}}
        <div class="tab talents" data-group="primary" data-tab="talents">
            {{> "systems/weirdwizard/templates/actors/parts/Character-talents.hbs"}}
        </div>

        {{!-- Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            {{> "systems/weirdwizard/templates/actors/parts/Character-spells.hbs"}}
        </div>

        {{!-- Afflictions and Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/weirdwizard/templates/actors/parts/Character-effects.hbs"}}
        </div>
    </section>
</form>