<form class="{{cssClass}} sheet character-sheet" autocomplete="off" spellcheck="false">

    {{!-- Sheet Header --}}
    <header class="sheet-header character-header">
        
        <div class="header-fields">
            <div class="character-header-plate">

                <h1 class="charname textarea-resizeable">                    
                    <textarea name="name" rows="1">{{actor.name}}</textarea>
                    
                    <div class="textarea-overlay">{{actor.name}}</div>
                </h1>
                
                <div class="character-subtitle">{{localize "WW.Stats.Level"}} {{level}} {{charOptions.ancestry.name}}{{#if charOptions.novice}} {{charOptions.novice.name}}{{/if}}</div>
            </div>

            <div class="circle" style="--total: 8">
                {{> "systems/weirdwizard/templates/actors/parts/portrait.hbs" img=actor.img token=true}}
                
                <div class="stat str" style="--i:2">
                    <label><a class="item-button" data-action="attribute-roll" data-key="str" data-tooltip="WW.Roll.Strength">{{localize "WW.Attributes.StrengthShort"}}</a></label>

                    <div>
                        <input type="number" name="system.attributes.str.value" value="{{system.attributes.str.value}}" min="0" data-dtype="Number"/>
                        <a class="attribute-mod item-button" data-action="attribute-roll" data-key="str" data-tooltip="WW.Roll.Strength">
                            {{#if system.attributes.str.value}}
                            {{numberFormat system.attributes.str.mod decimals=0 sign=true}}
                            {{else}}—{{/if}}
                        </a>
                    </div>
                </div>

                <div class="stat agi" style="--i:4">
                    <label><a class="item-button" data-action="attribute-roll" data-key="agi" data-tooltip="WW.Roll.Agility">{{localize "WW.Attributes.AgilityShort"}}</a></label>

                    <div>
                        <input type="number" name="system.attributes.agi.value" value="{{system.attributes.agi.value}}" min="0" data-dtype="Number"/>
                        <a class="attribute-mod item-button" data-action="attribute-roll" data-key="agi" data-tooltip="WW.Roll.Agility">
                            {{#if system.attributes.agi.value}}
                            {{numberFormat system.attributes.agi.mod decimals=0 sign=true}}
                            {{else}}—{{/if}}
                        </a>
                    </div>

                </div>

                <div class="stat wil" style="--i:6">
                    <label><a class="item-button" data-action="attribute-roll" data-key="wil" data-tooltip="WW.Roll.Will">{{localize "WW.Attributes.WillShort"}}</a></label>
                    
                    <div>
                        <input type="number" name="system.attributes.wil.value" value="{{system.attributes.wil.value}}" min="0" data-dtype="Number"/>
                        <a class="attribute-mod item-button" data-action="attribute-roll" data-key="wil" data-tooltip="WW.Roll.Will">
                            {{#if system.attributes.wil.value}}
                            {{numberFormat system.attributes.wil.mod decimals=0 sign=true}}
                            {{else}}—{{/if}}
                        </a>
                    </div>
                </div>

                <div class="stat luck" style="--i:7">
                    <label><a class="item-button" data-action="attribute-roll" data-key="luck" data-tooltip="WW.Roll.Luck">{{localize "WW.Attributes.Luck"}}</a></label>
                </div>

                <div class="stat int" style="--i:8">
                    <label><a class="item-button" data-action="attribute-roll" data-key="int" data-tooltip="WW.Roll.Intellect">{{localize "WW.Attributes.IntellectShort"}}</a></label>

                    <div>
                        <input type="number" name="system.attributes.int.value" value="{{system.attributes.int.value}}" min="0" data-dtype="Number"/>
                        <a class="attribute-mod item-button" data-action="attribute-roll" data-key="int" data-tooltip="WW.Roll.Intellect">
                            {{#if system.attributes.int.value}}
                            {{numberFormat system.attributes.int.mod decimals=0 sign=true}}
                            {{else}}—{{/if}}
                        </a>
                    </div>
                </div>
                
                <!--
                <div class="stat" style="--i:5">5</div>
                <div class="stat" style="--i:6">6</div>
                <div class="stat" style="--i:7">7</div>
                <div class="stat" style="--i:8">8</div>
                <div class="stat" style="--i:9">9</div>
                <div class="stat" style="--i:10">10</div>
                <div class="stat" style="--i:11">11</div>
                <div class="stat" style="--i:12">12</div>-->
            </div>

            {{!-- Damage / Health Block --}}
            <div class="health-block">

                {{!-- Damage / Health Header --}}
                <div class="health-header">
                    <label>{{localize "WW.Damage.Label"}}</label>

                    <span class="health-indicator">{{#if incapacitated}}{{localize "WW.Health.Estimation.100"}}{{else if injured}}{{localize "WW.Health.Estimation.50"}}{{/if}}</span>

                    <label>{{localize "WW.Health.Label"}}</label>
                </div>

                {{!-- Damage / Health Widget --}}
                <div class="health-wrapper">
                    
                    {{!-- Numbers: Top Layer --}}
                    <div class="health-numbers">
                        {{!-- Damage --}}
                        <div class="stat">
                                
                            <div class="flex align-center">
                                <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}" min="0" data-dtype="Number"/>
                            </div>
                        </div>

                        {{!-- Health --}}
                        <div class="stat">
                                
                            <div><a data-tooltip="<p>{{localize "WW.Health.Normal"}}: {{system.stats.health.normal}}</p>
                                <p>{{localize "WW.Health.Bonus"}}: {{system.stats.health.bonus}}</p>
                                <p>{{localize "WW.Health.Lost"}}: {{system.stats.health.lost}}</p>">{{system.stats.health.current}}</a>
                            </div>

                            {{!--<span class="stat-edit">
                                <label>{{localize "WW.Stats.Lost"}}:</label>
                                
                                <div class="input-wrap">
                                    <input type="number" name="system.stats.health.lost" value="{{system.stats.health.lost}}" min="0" />

                                    <div class="input-overlay">{{system.stats.health.lost}}</div>
                                </div>

                            </span>--}}

                        </div>
                    </div>

                    {{!-- Overlay: Mid Layer --}}
                    <div class="health-overlay"></div>
                    
                    {{!-- Health Bar: Bottom Layer --}}
                    <div class="health-bar" style="--health-pct: {{damagePct}}; --health-hue: {{damageHue}};" 
                        role="meter" aria-valuemin="0" aria-valuenow="{{system.stats.damage.value}}" aria-valuemax="{{system.stats.health.current}}">
                        
                        <div class="health-progress"></div>
                    </div>

                </div>

            </div>

            {{!-- Character Stats --}}
            <div class="character-stats">
                
                {{!-- Defense --}}
                <div class="stat">
                    <label>{{localize "WW.Defense.Label"}}</label>

                    <div><a data-tooltip="<p>{{localize "WW.Defense.Armored"}}: {{system.stats.defense.armored}}</p>
                        <p>{{localize "WW.Defense.Natural"}}: {{system.stats.defense.natural}}</p>">{{system.stats.defense.total}}</a></div>
                </div>
                    
                {{!-- Bonus Damage --}}
                <div class="stat">
                    <label>{{localize "WW.Damage.Bonus"}}</label>

                    <div class="flex nogap align-center">
                        <div class="input-wrap">
                            <input type="number" name="system.stats.bonusdamage" value="{{system.stats.bonusdamage}}" data-dtype="Number" min="0" placeholder="#" />

                            <div class="input-overlay">{{system.stats.bonusdamage}}</div>
                        </div>
                            
                        <div>d6</div>
                    </div>
                        
                </div>
            
                {{!-- Size --}}
                <div class="stat">
                    <label>{{localize "WW.Stats.Size"}}</label>

                    <div class="align-center">
                        <a>{{system.stats.size}}</a>
                    </div>
                        
                </div>

                {{!-- Speed --}}
                <div class="stat">
                    <label>{{localize "WW.Stats.Speed"}}</label>

                    <div class="align-center">
                        <a data-tooltip="{{localize "WW.Stats.NormalSpeed"}}: {{system.stats.speed.normal}}">{{system.stats.speed.current}}</a>
                    </div>
                        
                </div>

            </div>

        </div>
    </header>

    <div>
        
        <div class="sheet-tabs-wrapper">

            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <div>
                    <a class="item" data-tab="summary">{{localize "WW.Actor.Summary"}}</a>
                    <a class="item" data-tab="details">{{localize "WW.Actor.Details"}}</a>
                    <a class="item" data-tab="equipment">{{localize "WW.Equipment.Label"}}</a>
                </div>
                
                <div>
                    <a class="item" data-tab="talents">{{localize "WW.Talents.Label"}}</a>
                    <a class="item" data-tab="spells">{{localize "WW.Spells.Label"}}</a>
                    <a class="item" data-tab="effects">{{localize "WW.Effects.Label"}}</a>
                </div>
                
            </nav>
            
            {{!-- Sheet Menu --}}
            <a class="sheet-menu" data-tooltip="COMING SOON!"><i class="fas fa-bars"></i></a>
        </div>
        

        {{!-- Sheet Body --}}
        <section class="sheet-body">

            {{!-- Summary Tab --}}
            <div class="tab summary" data-group="primary" data-tab="summary">
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary.hbs"}}
            </div>

            {{!-- Details Tab --}}
            <div class="tab details" data-group="primary" data-tab="details">
                {{> "systems/weirdwizard/templates/actors/parts/Character-details.hbs"}}
            </div>

            {{!-- Equipment Tab --}}
            <div class="tab equipment" data-group="primary" data-tab="equipment">
                {{> "systems/weirdwizard/templates/actors/parts/Character-equipment.hbs"}}
            </div>

            {{!-- Traits & Talents Tab --}}
            <div class="tab talents" data-group="primary" data-tab="talents">
                {{> "systems/weirdwizard/templates/actors/parts/Character-talents.hbs"}}
            </div>

            {{!-- Spells Tab --}}
            <div class="tab spells" data-group="primary" data-tab="spells">
                {{> "systems/weirdwizard/templates/actors/parts/Character-spells.hbs"}}
            </div>

            {{!-- Afflictions and Effects Tab --}}
            <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                {{> "systems/weirdwizard/templates/actors/parts/Character-effects.hbs"}}
            </div>

        </section>
    </div>
</form>