{{!-- Name Stripe --}}
<div class="name-stripe">

    {{!-- Character Name --}}
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "WW.Actor.Name"}}" {{#unless editMode}}disabled{{/unless}}/></h1>

    {{!-- Level / Difficulty --}}
    <div>
        {{#if levels}}
        {{localize "WW.Stats.Level"}}
        {{else}}
        {{localize "WW.Stats.Difficulty"}}
        {{/if}}

        <div class="level-badge" {{#unless editMode}}disabled{{/unless}}>
            {{#if levels}}
            <select name="system.stats.level" {{#unless editMode}}disabled{{/unless}}>
                {{selectOptions levels selected=system.stats.level}}
            </select>
            {{else if difficulties}}
            <select name="system.stats.difficulty" {{#unless editMode}}disabled{{/unless}}>
                {{selectOptions difficulties selected=system.stats.difficulty}}
            </select>
            {{/if}}
        </div>

    </div>

</div>