<form class="{{cssClass}} sheet npc-sheet flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">

        <div class="profile-img-wrapper">
            {{> "systems/weirdwizard/templates/actors/parts/portrait.hbs" img=actor.img token=true}}
        </div>

        <div class="header-fields">

            <div>
                {{!-- Character Name --}}
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "WW.Actor.Name"}}"/></h1>

                {{!-- Disposition Toggle --}}
                <a class="change-disposition{{#if (eq disposition 1)}} ally{{else if (eq disposition -1)}} enemy{{/if}}"
                    data-tooltip="WW.Actor.Disposition.Tip">
                    {{#if (eq disposition 1)}}{{localize "WW.Actor.Disposition.Ally"}}
                    {{else if (eq disposition -1)}}{{localize "WW.Actor.Disposition.Enemy"}}
                    {{else if (eq disposition 0)}}{{localize "WW.Actor.Disposition.Neutral"}} (!)
                    {{else if (eq disposition -2)}}{{localize "WW.Actor.Disposition.Secret"}} (!)
                    {{else}}{{localize "WW.Actor.Disposition.Unknown"}} (!){{/if}}
                </a>
                
            </div>

            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs npc-tabs" data-group="primary">
                <a class="item" data-tab="summary">{{localize "WW.Stats.Label"}}</a>
                <a class="item" data-tab="description">{{localize "WW.Item.Description"}}</a>
                <a class="item" data-tab="effects">{{localize "WW.Effects.Label"}}</a>
            </nav>  

        </div>

    </header>

    <section class="sheet-body"> {{!-- Sheet Body --}}

        {{!-- Summary Tab --}}
        <div class="tab summary" data-group="primary" data-tab="summary">
            {{> "systems/weirdwizard/templates/actors/parts/NPC-summary.hbs"}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">

            {{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}

        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/weirdwizard/templates/actors/parts/Character-effects.hbs"}}
        </div>

    </section>
</form>