<form class="{{cssClass}} sheet npc-sheet flexcol {{#if dead}}dead{{else if incapacitated}}incapacitated{{else if injured}}injured{{/if}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">

        <div class="profile-img-wrapper">
            {{> "systems/weirdwizard/templates/actors/parts/portrait.hbs" img=actor.img token=true}}
        </div>

        <div class="sheet-banner">

            {{!-- Character Name --}}
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "WW.Actor.Name"}}"/></h1>

            {{!-- Disposition Toggle --}}
            <div class="disposition-wrapper">
                <a class="change-disposition{{#if (eq disposition 1)}} ally{{else if (eq disposition -1)}} enemy{{/if}}"
                    data-tooltip="WW.Actor.Disposition.Tip">
                    {{#if (eq disposition 1)}}{{localize "WW.Actor.Disposition.Ally"}}
                    {{else if (eq disposition -1)}}{{localize "WW.Actor.Disposition.Enemy"}}
                    {{else if (eq disposition 0)}}{{localize "WW.Actor.Disposition.Neutral"}} (!)
                    {{else if (eq disposition -2)}}{{localize "WW.Actor.Disposition.Secret"}} (!)
                    {{else}}{{localize "WW.Actor.Disposition.Unknown"}} (!){{/if}}
                </a>
            </div>
            
        </div>

    </header>

    {{!-- Sheet Menu --}}
    <a class="item sheet-menu" data-tooltip="WW.System.Sheet.Menu"><i class="fas fa-bars"></i></a>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="summary" data-tooltip="WW.Actor.Summary"><span class="tab-icon"></span></a>
        <a class="item" data-tab="description" data-tooltip="WW.Item.Description"><span class="tab-icon"></span></a>
        <a class="item" data-tab="effects" data-tooltip="WW.Effects.Label"><span class="tab-icon"></span></a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Summary Tab --}}
        <div class="tab summary" data-group="primary" data-tab="summary">
            {{> "systems/weirdwizard/templates/actors/parts/NPC-summary.hbs"}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">

            {{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}

        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/weirdwizard/templates/actors/parts/Character-effects.hbs"}}
        </div>

    </section>
</form>