<section class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">   
    {{!-- Members --}}
    <div class="members">
        <h2>{{ localize "WW.Group.Members" }}</h2>

        {{!-- Level and Tier --}}
        <div class="level-row stat-inline mb-2">
            <label>{{ localize "WW.Stats.Level" }}:</label>
        
            <div class="mr-2">
                {{ system.maxLevel }}
        
                {{#if system.wrongLevels.length}}
                ({{localize "WW.Group.LevelExcept"}}:
        
                {{#each system.wrongLevels as |member id|}}<span>{{{ member }}}{{#unless @last}}, {{/unless}}</span>{{/each}})
                {{/if}}
            </div>
        
            <label>{{ localize "WW.Item.Tier" }}:</label>
        
            {{ tier }}
        
        </div>
        
        {{!-- Active Members --}}
        <ol class="members-area active">
            <label><i class="fa-solid fa-hand-fist"></i> {{ localize "WW.Group.Active" }}:</label>
            {{#each members.active as |member id|}}
            <li>{{{ member.outerHTML }}}</li>
            {{else}}
            {{localize "–"}}
            {{/each}}
        </ol>
    
        {{!-- Inactive Members --}}
        <ol class="members-area inactive">
            <label><i class="fa-solid fa-house-chimney"></i> {{ localize "WW.Group.Inactive" }}:</label>
            {{#each members.inactive as |member id|}}
            <li>{{{ member.outerHTML }}}</li>
            {{else}}
            {{localize "–"}}
            {{/each}}
        </ol>
    
        {{!-- Retired Members --}}
        <ol class="members-area retired">
            <label><i class="fa-solid fa-champagne-glasses"></i> {{ localize "WW.Group.Retired" }}:</label>
            {{#each members.retired as |member id|}}
            <li>{{{ member.outerHTML }}}</li>
            {{else}}
            {{localize "–"}}
            {{/each}}
        </ol>
    
        {{!-- Dead Members --}}
        <ol class="members-area dead">
            <label><i class="fa-solid fa-skull-crossbones"></i> {{ localize "WW.Group.Dead" }}:</label>
            {{#each members.dead as |member id|}}
            <li>{{{ member.outerHTML }}}</li>
            {{else}}
            {{localize "–"}}
            {{/each}}
        </ol>
    
    </div>
    
    {{!-- General Group Info --}}
    <div class="general-info">
        <h3>{{ localize "WW.Group.Origin" }}</h3>
        <prose-mirror name="system.details.origin" value="{{ system.details.origin }}" data-document-uuid="{{ actor.uuid }}"
            toggled compact collaborate>
            {{{ enrichedDetails.origin }}}
        </prose-mirror>
    
        <h3>{{ localize "WW.Group.Achievements" }}</h3>
        <prose-mirror name="system.details.achievements" value="{{ system.details.achievements }}" data-document-uuid="{{ actor.uuid }}"
            toggled compact collaborate>
            {{{ enrichedDetails.achievements }}}
        </prose-mirror>
    
        <h3>{{ localize "WW.Actor.Notes" }}</h3>
        <prose-mirror name="system.details.notes" value="{{ system.details.notes }}" data-document-uuid="{{ actor.uuid }}"
            toggled compact collaborate>
            {{{ enrichedDetails.notes }}}
        </prose-mirror>
    </div>

</section>