{{!-- Right Ribbon --}}
<div class="sheet-ribbon">

    {{!-- Item Type --}}
    <div class="item-type">
        <select class="align-center" name="system.subtype">
            {{selectOptions subtypes selected=system.subtype localize=true}}
        </select>
    </div>

    {{!-- Profile Image --}}
    {{> "systems/weirdwizard/templates/items/common/portrait.hbs"}}

    {{!-- Additional Info --}}
    <div>

        {{!-- Armor Type --}}
        {{#if (eq system.subtype 'armor')}}
        <select name="system.armorType">
            {{selectOptions armorTypes selected=system.armorType localize=true}}
        </select>
        {{/if}}

        {{!-- Weapon Info --}}
        {{#if (eq system.subtype 'weapon')}}

        {{!-- Grip --}}
        <div>
            <select name="system.grip" data-tooltip="WW.Weapon.Grip.Label">
                {{selectOptions grips selected=system.grip localize=true}}
            </select>
        </div>
        
        {{!-- Melee / Ranged --}}
        {{#unless (eq system.grip 'Natural')}}
        <div>
            {{#if system.traits.range}}{{localize "WW.Weapon.Ranged"}}{{else}}{{localize "WW.Weapon.Melee"}}{{/if}}
        </div>
        {{/unless}}

        {{/if}}

        {{!-- Container Capacity --}}
        {{#if (eq system.subtype 'container')}}
        <div class="capacity">
            <label>{{localize "WW.Container.Capacity"}}:</label>

            <div class="input-wrap">
                <input type="number" name="system.capacity" value="{{system.capacity}}" min="1" data-dtype="Number"
                    data-tooltip="WW.Container.CapacityHint" />

                <div class="input-overlay">{{system.capacity}}</div>
            </div>

        </div>
        {{/if}}

    </div>

</div>