{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" aria-role="{{localize 'SHEETS.FormNavLabel'}}">
    {{#each tabs as |tab|}}
    <a class="item {{tab.cssClass}} {{#if tab.active}}active{{/if}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}" data-tooltip="{{tab.label}}">
        <img src="{{tab.icon}}">
    </a>
    {{/each}}
</nav>