<form class="weirdwizard">
    <h2 class="stat stat-inline flex-group-left">
        <label class="resource-label">{{localize "WEIRDWIZARD.DefenseTotal"}}</label>
        {{system.stats.defense.total}}
    </h2>
    
    <div class="stat stat-inline flex-group-left">
        <label class="resource-label">{{localize "WEIRDWIZARD.DefenseUnarmored"}}</label>
        <input name="unarmored" class="icon-text" type="number" min="0" value="{{system.stats.defense.unarmored}}"/>
        <label class="resource-label ml-2">{{localize "WEIRDWIZARD.Armor.Title"}}</label>
        <select name="armor">
            {{selectOptions armorObj selected=system.stats.defense.armor localize=true}}
        </select>
    </div>

    <div class="stat stat-inline flex-group-left mt-2">
        
    </div>

    <ul class="def-list my-2">
        <li class="stat flexrow">
            <label class="def-name">{{localize "WEIRDWIZARD.ModName"}}</label>
            <label class="def-bonus">{{localize "WEIRDWIZARD.Value"}}</label>
            <label class="def-remove"></label>
        </li>
        {{#each system.stats.defense.bonuses}}
        <li class="action flexrow">
            {{{this.rendered}}}
            <input name="bonuses.{{@index}}.name" class="def-name" type="text" value="{{this.name}}"/>
            <input name="bonuses.{{@index}}.bonus" class="def-bonus" type="number" value="{{this.bonus}}"/>
            <a class="def-remove"><i class="fa-solid fa-trash" data-tooltip="Delete"></i></a>
        </li>
        {{/each}}
        <li class="add-row mt-1 mb-2"><a><i class="fa-solid fa-add" style="display:contents;"></i> {{localize "WEIRDWIZARD.New"}}</a></li>
    </ul>
    
    <div class="form-group">
        <button type="submit">
            <i class="fas fa-save"></i> {{localize "WEIRDWIZARD.Save"}}
        </button>
        <button type="button" id="def-reset">
            <i class="fas fa-sync"></i> {{localize "WEIRDWIZARD.Reset"}}
        </button>
        <button type="button" id="def-cancel">
            <i class="fas fa-xmark"></i> {{localize "WEIRDWIZARD.Cancel"}}
        </button>
    </div>
</form>
