<form autocomplete="off" class="weirdwizard list-entry">
  
  <!-- Content -->
  <div class="stat-inline">
    <label>{{localize "WW.Name"}}</label>
    <input name="name" type="text" value="{{name}}" />
  </div>

  <div class="stat">
    <label>{{localize "WW.Description"}}</label>

    <textarea name="desc">{{desc}}</textarea>
  </div>

  <footer class="sheet-footer">
    <button type="submit"><i class="fas fa-save"></i> {{localize 'EFFECT.Submit'}}</button>
  </footer>
</form>