<div class="{{purpose}}">

    {{!-- Bug --}}
    <div class="bug"></div>

    {{!-- Sections --}}
    <div class="mc-sections">
        
        {{#each sections as |section|}}
        <div class="mc-section {{#if collapsed}}collapsed{{/if}}">
            
            {{!-- Section Title --}}
            {{#if title}}
            <h3>
                {{#if img}}<i class="fa-solid fa-{{{img}}}"></i> {{/if}}
                {{localize title}}
                {{#unless noCollapse}}
                <i class="fas {{#if collapsed}}fa-circle-chevron-up{{else}}fa-circle-chevron-down{{/if}}" data-action="collapseSection"></i>
                {{/unless}}
            </h3>
            {{/if}}
            
            {{!-- Attack Rider --}}
            {{#if (eq type "attackRider")}}
            {{!-- Attack Rider Title --}}
            <span class="stat-inline mb-1">

            <label>{{localize "WW.Item.Name"}}:</label>

            <input type="text" name="system.attackRider.name" value="{{@root.document.system.attackRider.name}}">

            </span>

            {{!-- Attack Rider Text Editor --}}
            <prose-mirror name="system.attackRider.value" data-document-u-u-i-d="{{@root.document.uuid}}" value="{{@root.document.system.attackRider.value}}"
                toggled=true collaborate=true compact=true owner={{owner}} editable={{editable}}>
                {{{attackRider.enriched}}}
            </prose-mirror>
            
            {{else}}

            {{!-- Choices Grid --}}
            <div class="choices-grid" style="--cols: {{cols}};">

                {{#each choices as |choice|}}
                <label data-tooltip="{{tip}}">
                    <input type="checkbox" name="{{#if uuid}}{{uuid}}{{else if id}}{{id}}{{else}}{{path}}{{/if}}" {{checked value}}>
                    {{#if img}}<img src={{img}}> {{/if}}{{localize label}}
                </label>
                {{/each}}

            </div>
            
            {{/if}}

        </div>
        {{/each}}

    </div>{{!-- END Sections --}}
    
    {{!-- Clear Afflictions Button --}}
    {{#if clearAfflictionsLabel}}
    <div class="mc-buttons">
        <button data-action="clearAfflictions">{{clearAfflictionsLabel}}</button>
    </div>
    {{/if}}

    {{!-- Spear Divider --}}
    <div class="spear-divider"></div>

    {{!-- Form Buttons ---}}
    <div class="mc-buttons">
        <button>{{submitLabel}}</button>

        <button value="cancel">{{localize "WW.System.Dialog.Cancel"}}</button>
    </div>

</div>
