<form class="weirdwizard quest-calendar">
    {{!-- Left Panel --}}
    <div id="qc-left-panel">
        <div id="qc-clock-container">
            <div id="qc-clock-display">{{time.hoursZero}}:{{time.minsZero}}</div>
            <div id="qc-clock-hour" style="transform: rotate({{rotation.hours}}deg)"></div>
            <div id="qc-clock-minute" style="transform: rotate({{rotation.mins}}deg)"></div>
            <div id="qc-clock-second" style="transform: rotate({{rotation.secs}}deg)"></div>
        </div>

        <div id="qc-hours-container">
            <div id="qc-hour-prev" data-tooltip="QC.Menu.PrevHour"><i class="fa-solid fa-{{backward}}"></i></div>
            <div id="qc-hour-round" data-tooltip="QC.Menu.RoundHour"><i class="fa-solid fa-arrows-rotate"></i></div>
            <div id="qc-hour-next" data-tooltip="QC.Menu.NextHour"><i class="fa-solid fa-{{forward}}"></i></div>
            <div id="qc-rest" data-tooltip="QC.Menu.Rest"><i class="fa-solid fa-bed"></i></div>
            <div class="qc-space"></div>
            <div id="qc-sunrise" data-tooltip="QC.Menu.Sunrise"><i class="fa-solid fa-sunrise"></i></div>
            <div id="qc-midday" data-tooltip="QC.Menu.Midday"><i class="fa-solid fa-sun"></i></div>
            <div id="qc-sunset" data-tooltip="QC.Menu.Sunset"><i class="fa-solid fa-sunset"></i></div>
            <div id="qc-midnight" data-tooltip="QC.Menu.Midnight"><i class="fa-solid fa-moon"></i></div>
        </div>
    </div>

    {{!-- Right Panel --}}
    <div id="qc-right-panel">
        {{#if time.months}}
        <div id="qc-calendar-months">
            <div class="qc-calendar-number">
                {{time.months}}
            </div>

            <div class="qc-sign-container">
                <div class="qc-calendar-label">
                    {{#if (eq time.months 1)}}{{localize "QC.Calendar.Month"}}{{else}}{{localize "QC.Calendar.Months"}}{{/if}}
                </div>

                <div class="qc-buttons">
                    <div id="qc-month-prev" data-tooltip="QC.Calendar.MonthPrev"><i class="fa-solid fa-{{backward}}"></i></div>
                    <div id="qc-month-next" data-tooltip="QC.Calendar.MonthNext"><i class="fa-solid fa-{{forward}}"></i></div>
                </div>
            </div>
            
        </div>
        {{/if}}
    
        {{#if (or time.weeks time.months)}}
        <div id="qc-calendar-weeks">
            <div class="qc-calendar-number">
                {{time.weeks}}
            </div>
            
            <div class="qc-sign-container">
                <div class="qc-calendar-label">
                    {{#if (eq time.weeks 1)}}{{localize "QC.Calendar.Week"}}{{else}}{{localize "QC.Calendar.Weeks"}}{{/if}}
                </div>

                <div class="qc-buttons">
                    <div id="qc-week-prev" data-tooltip="QC.Calendar.WeekPrev"><i class="fa-solid fa-{{backward}}"></i></div>
                    <div id="qc-week-next" data-tooltip="QC.Calendar.WeekNext"><i class="fa-solid fa-{{forward}}"></i></div>
                </div>
            </div>
            
        </div>
        {{/if}}
    
        <div id="qc-calendar-days">
            <div class="qc-calendar-number">
                {{time.days}}
            </div>

            <div class="qc-sign-container">
                <div class="qc-calendar-label">
                    {{#if (eq time.days 1)}}{{localize "QC.Calendar.Day"}}{{else}}{{localize "QC.Calendar.Days"}}{{/if}}
                </div>
                <div class="qc-buttons">
                    <div id="qc-day-prev" data-tooltip="QC.Calendar.DayPrev"><i class="fa-solid fa-{{backward}}"></i></div>
                    <div id="qc-day-next" data-tooltip="QC.Calendar.DayNext"><i class="fa-solid fa-{{forward}}"></i></div>
                </div>
            </div>
            
        </div>

    </div>

</form>
