<form class="weirdwizard roll-details">

    <div class="roll-main">

        {{!-- Total Boones/Banes --}}
        <h3 class="boons-header">
            <span name="total">{{localize "WW.Boons.Total"}}</span>

            <span class="boons-display total ml-auto"></span>
        </h3>

        {{!-- Boons Count Box --}}
        <div class="h3-box">

            {{!-- Affliction Banes --}}
            <div class="stat-stretch flex-group-left">
                <label>{{localize "WW.Boons.Afflictions"}}</label>
                <span class="boons-display afflictions">{{numberFormat effectBoons decimals=0 sign=true}}</span>
            </div>

            {{!-- Attack Boons --}}
            {{#if attackBoons}}
            <div class="stat-stretch flex-group-left">
                <label>{{localize "WW.Boons.Attack"}}</label>
                <input name="attack" class="damage-checkbox attack" type="checkbox" data-tooltip="WW.Boons.Apply" {{#if isWeapon}}checked{{/if}}>
                <span class="boons-display attack">{{numberFormat attackBoons decimals=0 sign=true}}</span>
            </div>
            {{/if}}

            {{!-- Fixed Boons --}}
            {{#if fixedBoons}}
            <div class="stat-stretch flex-group-left">
                <label>{{localize "WW.Boons.Fixed"}}</label>
                <span class="boons-display fixed">{{numberFormat fixedBoons decimals=0 sign=true}}</span>
            </div>
            {{/if}}

            {{!-- Situational Boons Widget --}}
            <div class="adjustment-widget">
                <a data-action="down" data-tooltip="WW.Boons.AddBanes"></a>
                <input class="boons-input situational mx-1" name="situational" type="number" value="0" data-tooltip="WW.Boons.Situational"/>
                <a data-action="up" data-tooltip="WW.Boons.AddBoons"></a>
            </div>
            
        </div>

    </div>

    {{!-- Right Column --}}
    <div class="roll-options">

        {{!-- Targets Box --}}
        {{#if targeted}}
        <h3>{{localize "WW.Targeting.Targets"}}</h3>
        <div class="h3-box boons-targets"></div>
        {{/if}}

        {{!-- Custom Target Number --}}
        <div class="override stat-inline align-center">
            <label>{{localize "WW.Roll.Flat"}}:</label>
            <input name="flat" type="number" placeholder="—" data-tooltip="WW.Roll.FlatHint"/>
        </div>

        {{!-- Custom Target Number --}}
        <div class="override stat-inline align-center">
            <label>{{localize "WW.Roll.TargetNumber"}}:</label>
            <input name="targetno" type="number" placeholder="—" data-tooltip="WW.Roll.TargetNumberHint"/>
        </div>
        
    </div>

    {{!-- Terms Expression --}}
    <div class="boons-expression mb-2 mt-2 flex-group-center"></div>

    {{!-- Form Buttons --}}
    <div class="form-group">
        <button type="submit" id="boons-submit">
            <i class="fas fa-dice"></i> {{localize "WW.Roll.Label"}}
        </button>

        <button type="button" id="boons-cancel">
            <i class="fas fa-x"></i> {{localize "WW.System.Dialog.Cancel"}}
        </button>
    </div>
    
</form>
