<form class="weirdwizard damage-details">
   
    <div class="">
        <h2>{{label}}</h2>

        <div class="stat-stretch flex-group-left mt-1">
            <label class="resource-label">{{localize "WW.Damage.Base"}}</label>
            <span class="damage-display afflictions">{{baseDamage}}</span>
        </div>

        {{#if shattering}}
        <div class="stat-stretch flex-group-left mt-1">
            <label class="resource-label">{{localize "WW.Damage.Shattering"}}</label>
            <input name="shattering" class="damage-checkbox shattering" type="checkbox" title="Apply the extra damage die">
            +1d6
        </div>
        {{/if}}

        {{#if versatile}}
        <div class="stat-stretch flex-group-left mt-1">
            <label class="resource-label">{{localize "WW.Damage.BothHands"}}</label>
            <input name="bothHands" class="damage-checkbox bothHands" type="checkbox" title="Apply the extra damage die">
            +1d6
        </div>
        {{/if}}

        <h3 class="mt-2">{{localize "WW.Damage.Extra"}}</h3>

        {{#if bonusDamage}}
        <div class="stat-stretch flex-group-left mt-1">
            <label class="resource-label">{{localize "WW.Damage.Bonus"}}</label>
            <input name="applyBonus" class="damage-checkbox applyBonus" type="checkbox" title="Apply all Bonus Damage dice">
            +{{bonusDamage}}d6
        </div>
        {{/if}}

        {{#if attackDice}}
        <div class="stat-stretch flex-group-left mt-1">
            <label class="resource-label">{{localize "WW.Damage.AttackDice"}}</label>
            <input name="attackDice" class="damage-checkbox attackDice" type="checkbox" title="Apply the extra damage dice">
            +{{attackDice}}d6
        </div>
        {{/if}}
        
        {{#if attackMod}}
        <div class="stat-stretch flex-group-left mt-1">
            <label class="resource-label">{{localize "WW.Damage.AttackMod"}}</label>
            <input name="attackMod" class="damage-checkbox attackMod" type="checkbox" title="Apply the extra damage modifier">
            +{{attackMod}}
        </div>
        {{/if}}

        <div class="stat-stretch flex-group-left mt-1">
            <label class="resource-label">{{localize "WW.Damage.OtherDice"}}</label>
            <input name="otherdice" class="damage-input otherdice" type="number" value="0" min="0"/>
            d6
        </div>

        <div class="stat-stretch flex-group-left mt-1">
            <label class="resource-label">{{localize "WW.Damage.OtherMod"}}</label>
            <input name="othermod" class="damage-input othermod" type="number" value="0" min="0"/>
        </div>
    </div>

    <div class="damage-expression mb-2 mt-2 flex-group-center">{{expression}}</div>

    <div class="form-group">
        <button type="submit" id="damage-submit">
            <i class="fas fa-dice"></i> {{localize "WW.Roll.Label"}}
        </button>
        <button type="button" id="damage-cancel">
            <i class="fas fa-xmark"></i> {{localize "WW.Cancel"}}
        </button>
    </div>
</form>

