<form class="">
   
    <div class="">

        {{!-- Weapon/Attack Header --}}
        <h3>{{label}}</h3>

        <div class="h3-box">
            <div class="stat-stretch flex-group-left">
                <label class="resource-label">{{localize "WW.Damage.Base"}}</label>
                <input name="applyBase" class="damage-checkbox applyBase" type="checkbox" data-tooltip="WW.Roll.ApplyBaseDamage" checked="true">
                +{{baseDamage}}
            </div>

            {{#if versatile}}
            <div class="stat-stretch flex-group-left">
                <label class="resource-label">{{localize "WW.Damage.BothHands"}}</label>
                <input name="bothHands" class="damage-checkbox bothHands" type="checkbox" data-tooltip="WW.Roll.ApplyExtraDamage">
                +1d6
            </div>
            {{/if}}

        </div>

        {{!-- Extra Damage Container --}}
        <h3>{{localize "WW.Damage.Extra"}}</h3>

        <div class="h3-box">

            {{!-- Bonus Damage --}}
            {{#if bonusDamage}}
            <div class="stat-stretch flex-group-left">
                <label class="resource-label">{{localize "WW.Damage.Bonus"}}</label>
                <input name="applyBonus" class="damage-checkbox applyBonus" type="checkbox" data-tooltip="WW.Roll.ApplyBonusDamage" checked="true">
                +{{bonusDamage}}d6
            </div>
            {{/if}}

            {{!-- Attack Dice --}}
            {{#if attackDice}}
            <div class="stat-stretch flex-group-left">
                <label class="resource-label">{{localize "WW.Damage.AttackDice"}}</label>
                <input name="attackDice" class="damage-checkbox attackDice" type="checkbox" data-tooltip="WW.Roll.ApplyExtraDamageDice" checked="true">
                +{{attackDice}}d6
            </div>
            {{/if}}
            
            {{!-- Attack Modifier --}}
            {{#if attackMod}}
            <div class="stat-stretch flex-group-left">
                <label class="resource-label">{{localize "WW.Damage.AttackMod"}}</label>
                <input name="attackMod" class="damage-checkbox attackMod" type="checkbox" data-tooltip="WW.Roll.ApplyExtraDamageMod" checked="true">
                +{{attackMod}}
            </div>
            {{/if}}

            {{!-- Other Dice --}}
            <div class="stat-stretch flex-group-left" data-tooltip="WW.Damage.OtherDiceHint">
                <label class="resource-label">{{localize "WW.Damage.OtherDice"}}</label>
                +
                <input name="otherdice" class="damage-input otherdice" type="number" value="0" min="0"/>
                d6
            </div>

            {{!-- Other Modifier --}}
            <div class="stat-stretch flex-group-left" data-tooltip="WW.Damage.OtherModHint">
                <label class="resource-label">{{localize "WW.Damage.OtherMod"}}</label>
                +
                <input name="othermod" class="damage-input othermod" type="number" value="0" min="0"/>
            </div>

        </div>
        
    </div>

    {{!-- Damage Expression --}}
    <div class="damage-expression mb-2 mt-2 flex-group-center">{{expression}}</div>

    {{#if brutal}}
    <div class="brutal-hint">{{{localize "WW.Damage.BrutalHint"}}}</div>
    {{/if}}
    {{!-- Form Buttons --}}
    <div class="form-group">
        <button type="submit" id="damage-submit">
            <i class="fas fa-dice"></i> {{localize "WW.Roll.Label"}}
        </button>
        <button type="button" id="damage-cancel">
            <i class="fas fa-x"></i> {{localize "WW.System.Dialog.Cancel"}}
        </button>
    </div>
</form>

