<form class="weirdwizard sage-tools">

    {{!-- Sheet Body --}}
    <div>
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <div>
                <a class="item" data-tab="trackers">{{localize "WW.Sage.Trackers.Label"}}</a>
                <a class="item" data-tab="users">{{localize "WW.Sage.Users.Label"}}</a>
            </div>
        </nav>

        <section class="sheet-body">

            {{!-- Trackers Tab --}}
            <div class="tab trackers" data-group="primary" data-tab="trackers">
                <ol>

                    {{!-- World Time --}}
                    <li>
                        <h2>{{localize "WW.Sage.Trackers.Time.World"}}</h2>

                        <div>{{worldTime}}</div>

                        <div>
                            <a class="button" data-action="advance-time" data-tooltip="WW.Sage.Trackers.Time.AdvanceHint">{{localize "WW.Sage.Trackers.Time.Advance"}}</a>
                        </div>
                        
                    </li>

                    {{!-- Combat --}}
                    {{#if combat}}
                    <li>
                        <h2>{{localize "WW.Sage.Trackers.Combat.Label"}}</h2>
                        
                        <div>
                            <a class="button" data-action="combat-tab">{{localize "WW.Sage.Trackers.Combat.Tab"}}</a>

                            <a class="button" data-action="combat-popout">{{localize "WW.Sage.Trackers.Combat.Popout"}}</a>
                        </div>
                    </li>
                    {{/if}}

                </ol>
            </div>

            {{!-- Users Control Tab --}}
            <div class="tab users" data-group="primary" data-tab="users">
                <ol>
                    {{#each users as |user id|}}
                    <li>
                        <h2>{{user.name}}</h2>

                        <div>
                            <label>{{localize "WW.Sage.Users.Character"}}:</label>

                            <a class="button" data-action="open-sheet" data-uuid="{{user.character.uuid}}">{{user.character.name}}</a>
                        </div>

                        {{#if user.folderActors}}
                        <div>
                            <label>{{localize "WW.Sage.Users.FolderActors"}}:</label>

                            {{#each user.folderActors as |actor id|}}
                            <a class="button" data-action="open-sheet" data-uuid="{{actor.uuid}}">{{actor.name}}</a>
                            {{/each}}
                        </div>
                        {{/if}}

                        {{#if user.sceneActors}}
                        <div>
                            <label>{{localize "WW.Sage.Users.SceneActors"}}:</label>

                            {{#each user.sceneActors as |actor id|}}
                            <a class="button" data-action="open-sheet" data-uuid="{{actor.uuid}}">{{actor.name}}</a>
                            {{/each}}
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ol>
            </div>

        </section>
    </div>

</form>
