<div class="{{cssClass}} weirdwizard targeting-hud">
    <div>{{localize "WW.Targeting.Dialog.SelectTargets"}}</div>

    <div class="buttons">

        <button type="button" id="targeting-confirm" {{disabled hasTargets}}>
            <i class="fa-solid fa-dice"></i> {{localize "WW.Targeting.Dialog.Confirm"}}
        </button>

        {{#if isTemplate}}
        <button type="button" id="targeting-replace">
            <i class="fa-solid fa-rotate-left"></i> {{localize "WW.Targeting.Dialog.Replace"}}
        </button>
        {{/if}}

        <button type="button" id="targeting-cancel">
            <i class="fa-solid fa-x"></i> {{localize "WW.System.Dialog.Cancel"}}
        </button>
    </div>
</div>