{{!-- Right Banner --}}
<div class="sheet-banner">

    {{!-- Item Type --}}
    <div class="item-type">
        {{#if (eq item.type "spell")}}
        {{localize "WW.Spell.Label"}}
        {{else}}
        <select class="align-center" name="system.subtype">
            {{selectOptions subtypes selected=system.subtype localize=true}}
        </select>
        {{/if}}
    </div>

    {{!-- Spell Info --}}
    {{#if (eq item.type 'spell')}}
    <div>

        {{!-- Tradition --}}
        <div>
            <input type="text" name="system.tradition" value="{{system.tradition}}"
                placeholder="{{localize "WW.Spell.Tradition"}}" data-dtype="String" />
        </div>

        {{!-- Tier --}}
        <select name="system.tier">
            {{selectOptions tiers selected=system.tier localize=true}}
        </select>

    </div>
    {{/if}}

</div>