<form class="{{cssClass}} sheet equipment-sheet" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="WW.System.Image.Edit"/>

    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "WW.Item.Name"}}"/></h1>

      <div class="item-type-container stat">

        <div class="item-type">
          <select class="align-center" name="system.subtype">
            {{selectOptions subtypes selected=system.subtype localize=true}}
          </select>
        </div>

        {{!-- Armor Type --}}
        {{#if (eq system.subtype 'armor')}}
        <label>{{localize "WW.Equipment.Armor.Type"}}</label>

        <select name="system.armorType">
          {{selectOptions armorTypes selected=system.armorType localize=true}}
        </select>
        {{/if}}

      </div>

      {{!-- Header Tab Navigation --}}
      <nav class="mt-2 sheet-tabs tabs equipment-tabs" data-group="primary">
        <a class="item" data-tab="details">{{localize "WW.Actor.Details"}}</a>
        <a class="item" data-tab="automation">{{localize "WW.Effects.TabLabel"}}</a>
      </nav>
      
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
  
    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/weirdwizard/templates/items/parts/Equipment-details.hbs"}}
    </div>
  
    {{!-- Automation Tab --}}
    <div class="tab automation" data-group="primary" data-tab="automation">
      {{> "systems/weirdwizard/templates/items/parts/item-settings.hbs"}}
      {{> "systems/weirdwizard/templates/items/parts/item-effects.hbs"}}
    </div>
  
  </section>
  
</form>