<form class="{{cssClass}}" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "WW.ItemName"}}" /></h1>

      {{!-- Header Row --}}
      <div class="flex-row stat-inline">

        <label>{{localize "WW.Tier"}}</label>
        <select name="system.tier">
          {{selectOptions tiersObj selected=system.tier localize=true}}
        </select>
        {{system.tier.value}}

        <label class="ml-2">{{localize "WW.Tradition"}}</label>
        <input type="text" name="system.tradition" value="{{system.tradition}}" data-dtype="String" />
        {{system.tradition.value}}
        
      </div>

    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Requirement --}}
    <div class="flex-row stat-inline">
      <label class="">{{localize "WW.Requirement"}}</label>
      <input type="text" name="system.requirement" value="{{system.requirement}}" data-dtype="String" />
      {{system.requirement.value}}
    </div>

    {{!-- Casting --}}
    <div class="flex-row stat-inline">
      <label class="">{{localize "WW.Casting"}}</label>
      <input type="number" name="system.uses.max" value="{{system.uses.max}}" min="1" data-dtype="Number" />
      <input class="ml-2" type="text" name="system.casting" value="{{system.casting}}" data-dtype="String" />
      {{system.casting.value}}
    </div>

    {{!-- Target --}}
    <div class="flex-row stat-inline">
      <label class="resource-label">{{localize "WW.Target"}}</label>
      <input type="text" name="system.target" value="{{system.target}}" data-dtype="String" />
      {{system.target.value}}
    </div>

    {{!-- Duration --}}
    <div class="flex-row stat-inline">
      <label class="resource-label">{{localize "WW.Duration"}}</label>
      <input type="text" name="system.duration" value="{{system.duration}}" data-dtype="String" />
      {{system.duration.value}}
    </div>
    
    <h2>{{localize "WW.Description"}}</h2>
    {{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}

    <h2>{{localize "WW.Settings"}}</h2>
    <div class="flex-row stat-inline">
      {{localize "WW.Boons.AlwaysRoll"}}
      <select class="mx-1" name="system.attribute">
        {{selectOptions attributesObj selected=system.attribute localize=true}}
      </select>
      {{localize "WW.Boons.With"}}
      <input class="mx-1" type="number" name="system.boons" value="{{system.boons}}" placeholder="0"
        data-dtype="Number" />
      {{localize "WW.Boons.Or"}}
    </div>
    <div class="flex-row stat-inline">
      <label class="">{{localize "WW.Damage"}}</label>
      <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d6" style="width: 75px; text-align: center;" data-dtype="String" />

      <label class="ml-2">{{localize "WW.Healing"}}</label>
      <input type="text" name="system.healing" value="{{system.healing}}" placeholder="1d6" style="width: 75px; text-align: center;" data-dtype="String" />
    </div>

  </section>
</form>