<form class="{{cssClass}}" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

      {{!-- Header Row --}}
      <div class="flex-row stat-inline flex-wrap">

        <div>
          <label>{{localize "WW.Type"}}</label>
          <select name="system.subtype">
            {{selectOptions subtypesObj selected=system.subtype localize=true}}
          </select>
        </div>
        
        <div>
          <label>{{localize "WW.Quality"}}</label>
          <select name="system.quality">
            {{selectOptions qualitiesObj selected=system.quality localize=true}}
          </select>
        </div>
  
      </div>
      
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
  
    <div class="flex-row stat-inline flex-wrap">
  
      <div>
        <label>{{localize "WW.Price"}}</label>
        <input type="number" name="system.price.value" value="{{system.price.value}}" min="0" data-dtype="Number" />
        <select class="ml-1" name="system.price.coin">
          {{selectOptions coinsObj selected=system.price.coin localize=true}}
        </select>
      </div>
  
      <div>
        <label>{{localize "WW.Quantity"}}</label>
        <input type="number" name="system.quantity" value="{{system.quantity}}" min="0" data-dtype="Number" />
      </div>
  
      <div>
        <label>{{localize "WW.WeightUnit"}}</label>
        <input type="number" name="system.weightUnit" value="{{system.weightUnit}}" min="0" data-dtype="Number" />
      </div>
  
      <div>
        <label>{{localize "WW.UsesEquipment"}}</label>
        <input type="number" name="system.uses.max" value="{{system.uses.max}}" min="0" data-dtype="Number" />
      </div>

      {{!-- Armor Type --}}
      {{#if (eq system.subtype 'armor')}} 
      <div>
        <label>{{localize "WW.Armor.Type"}}</label>
        <select name="system.armorType">
          {{selectOptions armorObj selected=system.armorType localize=true}}
        </select>
      </div>
      {{/if}}
  
    </div>

    {{!-- Weapon Params --}}
    {{#if (eq system.subtype 'weapon')}}
    <div>
      <h2>{{localize "WW.WeaponDetails"}}</h2>

      <div class="mt-2 flex-row stat-inline flex-group-left">
        <label class="">{{localize "WW.Damage.Title"}}</label>
        <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d6" style="width: 75px; text-align: center;" data-dtype="String" />

        {{!-- Grip --}}
        <div class="stat-inline flex-group-left">
          <label class="ml-2">{{localize "WW.Grip"}}</label>
          
          <select name="system.grip">
            {{selectOptions gripObj selected=system.grip localize=true}}
          </select>
        </div>

      </div>
      
      {{!-- Weapon Properties --}}
      <div class="flexrow flex-wrap justify-between mt-2" style="gap: 5px">
        {{#each properties as |property id|}}
          <div class="nowrap flex-row align-center stat selectable {{#if (lookup @root.system.properties id)}}selected{{/if}}" style="width: 100%" title="{{localize property.tip}}">
            
            <input type="checkbox" name="system.properties.{{id}}" {{checked (lookup @root.system.properties id)}}/>

            {{localize property.label}}

            {{#if (or (eq id "range") (eq id "thrown"))}}
              <input type="number" name="system.range" value="{{system.range}}" min="0" placeholder="#" data-dtype="Number"/>
            {{/if}}
          </div>
        {{/each}}
      </div>

    </div>
    {{/if}}

    <h2>{{localize "WW.Description"}}</h2>
    {{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}

    {{> "systems/weirdwizard/templates/items/parts/item-settings.hbs"}}
    {{> "systems/weirdwizard/templates/items/parts/item-effects.hbs"}}

  </section>
</form>