<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header"> {{!-- Header --}}
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "WEIRDWIZARD.ItemName"}}" /></h1>

      <div class="flex-row stat-inline">
        <label>{{localize "WEIRDWIZARD.Uses"}}</label>
        <input type="number" name="system.uses.max" value="{{system.uses.max}}" min="0" data-dtype="Number" />
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    <h2>{{localize "WEIRDWIZARD.Description"}}</h2>
    <input type="text" name="system.description.value" value="{{system.damage}}" data-dtype="String" />

    <h2>{{localize "WEIRDWIZARD.Settings"}}</h2>
    <div class="flex-row stat-inline">
      {{localize "WEIRDWIZARD.Boons.AlwaysRoll"}}
      <select class="mx-1" name="system.attribute">
        {{selectOptions attributesObj selected=system.attribute localize=true}}
      </select>
      {{localize "WEIRDWIZARD.Boons.With"}}
      <input class="mx-1" type="number" name="system.boons" value="{{system.boons}}" placeholder="0"
        data-dtype="Number" />
      {{localize "WEIRDWIZARD.Boons.Or"}}
    </div>
    <div class="flex-row stat-inline">
      <label class="">{{localize "WEIRDWIZARD.Damage"}}</label>
      <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d6" style="width: 75px; text-align: center;" data-dtype="String" />

      <label class="ml-2">{{localize "WEIRDWIZARD.Healing"}}</label>
      <input type="text" name="system.healing" value="{{system.healing}}" placeholder="1d6" style="width: 75px; text-align: center;" data-dtype="String" />
    </div>

  </section>
</form>