<form class="{{cssClass}}" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "WW.ItemName"}}" /></h1>
      
      {{!-- Main Row --}}
      <div class="flex-row stat-inline">
        <label class="resource-label">{{localize "WW.Type"}}</label>
        <select name="system.subtype">
          {{selectOptions subtypesObj selected=system.subtype localize=true}}
        </select>

        <label class="ml-2">{{localize "WW.UsesTalent"}}</label>
        <input type="number" name="system.uses.max" value="{{system.uses.max}}" min="0" data-dtype="Number" />
      </div>

      {{!-- Subtype Row --}}
      <div class="flex-row stat-inline">
        {{#if (eq system.subtype 'trait')}} {{!-- Trait Params --}}
        <label>{{localize "WW.Source"}}</label>
        <select name="system.source">
          {{selectOptions sourcesObj selected=system.source localize=true}}
        </select>
        {{/if}}
      </div>
    </div>

    {{!-- Subtype Row --}}
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <h2>{{localize "WW.Description"}}</h2>
    {{#if (eq system.subtype 'aura')}} {{!-- Aura Params --}}
    <div class="flex-row stat-inline">
      <label>{{localize "WW.AuraRange"}}</label>
      <input type="number" name="system.range" value="{{system.range}}" min="0" placeholder="#" data-dtype="Number" />
    </div>
    {{/if}}
    {{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}

    {{> "systems/weirdwizard/templates/items/parts/item-settings.hbs"}}
    {{> "systems/weirdwizard/templates/items/parts/item-effects.hbs"}}

  </section>
</form>