<form class="{{cssClass}} sheet path-sheet" autocomplete="off">

  {{!-- Header / Left Column --}}
  <header class="sheet-header">
  
    {{!-- Banner --}}
    <div class="sheet-banner">
      
      {{!-- Profile Image --}}
      <div class="profile-img-wrapper">
        <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="WW.System.Image.Edit" />
      </div>

      {{!-- Header Plate --}}
      <div class="header-plate">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "WW.Item.Name"}}" /></h1>
  
        {{#if hasActor}}
        <div class="item-type">{{tierLoc}}</div>
        {{else}}
        <div>
          <select class="item-type" name="system.tier">
            {{selectOptions tiers selected=system.tier localize=true}}
          </select>
        </div>
        {{/if}}
  
      </div>
  
      {{!-- Description --}}
      {{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}
  
    </div>
  </header>
  
  {{!-- Right Column --}}
  <div class="right-col">
    {{#each benefits as |benefit id|}}
    {{#if (ne benefit.levelReq 99)}}
    <div class="benefit-block{{#if (ne id 'benefit1')}} mt-2{{/if}}">
  
      {{!-- Header --}}
      <h5>{{localize "WW.Stats.Level"}} {{benefit.levelReq}} {{@root.item.name}}</h5>
  
      {{!-- Languages --}}
      <div class="stat-inline list-entries">
        <label>{{localize "WW.Detail.Language.Label"}}:</label>
  
        {{#each benefit.languages as |detail detailId|}}
        <span class="list-entry">
  
          <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
            <a class="array-button" data-action="edit" data-array="benefits.{{id}}.languages" data-entry-id="{{detailId}}"
              data-tooltip="WW.Detail.Language.Edit"><i class="fas fa-edit"></i></a>
  
            <a class="array-button" data-action="remove" data-array="benefits.{{id}}.languages"
              data-entry-id="{{detailId}}" data-tooltip="WW.Detail.Language.Remove"><i class="fas fa-trash"></i></a>
          </span>{{#unless @last}},{{/unless}}
        </span>
        {{/each}}{{#unless benefit.languages.length}}<span>—</span>{{/unless}}
  
        <a class="array-button" data-action="add" data-array="benefits.{{id}}.languages" data-loc="Language"
          data-tooltip="WW.Detail.Language.Add"><i class="fas fa-circle-plus"></i></a>
  
      </div>
  
      {{!-- Stats --}}
      <div class="stat-inline flex-wrap flex-children">
  
        {{!-- Armored Defense --}}
        <span>
          <label>{{localize "WW.Defense.Armored"}}:</label>
  
          <span class="mr-n1">+</span>
  
          <div class="input-wrap">
            <input name="system.benefits.{{id}}.stats.armoredIncrease" type="number"
              value="{{benefit.stats.armoredIncrease}}" min="0" placeholder="0" />
  
            <div class="input-overlay">{{benefit.stats.armoredIncrease}}</div>
          </div>
  
        </span>
  
        {{!-- Natural Defense --}}
        <span>
          <label>{{localize "WW.Defense.Natural"}}:</label>
  
          <span class="mr-n1">+</span>
  
          <div class="input-wrap">
            <input name="system.benefits.{{id}}.stats.naturalIncrease" type="number"
              value="{{benefit.stats.naturalIncrease}}" min="0" placeholder="0" />
  
            <div class="input-overlay">{{benefit.stats.naturalIncrease}}</div>
          </div>
  
          <span>=</span>
  
          <div class="input-wrap">
            <input name="system.benefits.{{id}}.stats.naturalSet" type="number" value="{{benefit.stats.naturalSet}}"
              min="0" placeholder="0" />
  
            <div class="input-overlay">{{benefit.stats.naturalSet}}</div>
          </div>
  
        </span>
  
        {{!-- Health --}}
        {{#if (and (eq @root.system.tier 'novice') (eq benefit.levelReq 1))}}
        <span>
          <label>{{localize "WW.Health.Starting"}}:</label>
  
          <div class="input-wrap">
            <input name="system.benefits.{{id}}.stats.healthStarting" type="number"
              value="{{benefit.stats.healthStarting}}" min="1" placeholder="1" />
  
            <div class="input-overlay">{{benefit.stats.healthStarting}}</div>
          </div>
  
        </span>
        {{else}}
        <span>
          <label>{{localize "WW.Health.Label"}}:</label>
  
          <span class="mr-n1">+</span>
  
          <div class="input-wrap">
            <input name="system.benefits.{{id}}.stats.healthIncrease" type="number"
              value="{{benefit.stats.healthIncrease}}" min="0" placeholder="0" />
  
            <div class="input-overlay">{{benefit.stats.healthIncrease}}</div>
          </div>
  
        </span>
        {{/if}}
  
        {{!-- Bonus Damage --}}
        <span>
          <label>{{localize "WW.Damage.Bonus"}}:</label>
  
          <span class="mr-n1">+</span>
  
          <div class="input-wrap">
            <input style="text-align: center;" name="system.benefits.{{id}}.stats.bonusDamage" type="number"
              value="{{benefit.stats.bonusDamage}}" min="0" placeholder="0" />
  
            <div class="input-overlay">{{benefit.stats.bonusDamage}}</div>
          </div>
  
          <span class="ml-n1">d6</span>
  
        </span>
  
        {{!-- Speed --}}
        <span>
          <label>{{localize "WW.Stats.Speed"}}:</label>
  
          <span class="mr-n1">+</span>
  
          <div class="input-wrap">
            <input name="system.benefits.{{id}}.stats.speedIncrease" type="number" value="{{benefit.stats.speedIncrease}}"
              min="0" placeholder="0" />
  
            <div class="input-overlay">{{benefit.stats.speedIncrease}}</div>
          </div>
  
        </span>
  
      </div>
  
      {{!-- Magic --}}
      <div class="stat-inline flex-wrap">
  
        {{!-- Traditions --}}
        <div class="list-entries">
          <label>{{localize "WW.Detail.Tradition.Label"}}:</label>
  
          {{#each benefit.traditions as |detail detailId|}}
          <span class="list-entry">
  
            <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
              <a class="array-button" data-action="edit" data-array="benefits.{{id}}.traditions"
                data-entry-id="{{detailId}}" data-tooltip="WW.Detail.Tradition.Edit"><i class="fas fa-edit"></i></a>
  
              <a class="array-button" data-action="remove" data-array="benefits.{{id}}.traditions"
                data-entry-id="{{detailId}}" data-tooltip="WW.Detail.Tradition.Remove"><i class="fas fa-trash"></i></a>
            </span>{{#unless @last}},{{/unless}}
          </span>
          {{/each}}{{#unless benefit.traditions.length}}<span>—</span>{{/unless}}
  
          <a class="array-button" data-action="add" data-array="benefits.{{id}}.traditions" data-loc="Tradition"
            data-tooltip="WW.Detail.Tradition.Add"><i class="fas fa-circle-plus"></i></a>
  
          {{!-- Spells --}}
          <label>{{localize "WW.Spells.Label"}}:</label>
  
          <select name="system.benefits.{{id}}.spells">
            {{selectOptions @root.spellsLearned selected=benefit.spells localize=true}}
          </select>
  
        </div>
  
  
        <div>
  
        </div>
  
      </div>
  
      <ol class="described-list items-area {{id}}">
        {{#unless benefit.itemsInfo}}{{{../itemsAreaHint}}}{{/unless}}
  
        {{#each benefit.itemsInfo as |item id|}}
        <li class="path-item item{{#if item.missing}} missing{{/if}}" data-item-uuid="{{item.uuid}}">
          <label>{{item.name}}:</label>
  
          <span class="buttons">
            {{#unless item.missing}}<a class="ref-edit" data-tooltip="WW.CharOption.EditRef"><i
                class="fas fa-edit"></i></a>{{/unless}}
            <a class="ref-remove" data-tooltip="WW.CharOption.RemoveRef"><i class="fas fa-trash"></i></a>
          </span>
  
          <span>{{{item.description}}}</span>
        </li>
        {{/each}}
      </ol>
  
    </div>
    {{/if}}
    {{/each}}
  </div>
  
</form>