<form class="{{cssClass}} sheet path-sheet" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "
          WW.ItemName"}}" /></h1>
  
      <div class="tier">
        {{localize "WW.Professions.Profession"}}
      </div>
  
    </div>
  </header>
  
  {{!-- Description --}}
  {{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}

  <div class="statbox">
    
    {{!-- Category --}}
    <div class="stat-inline">
      <label>{{localize "WW.Professions.Category"}}</label>
      
      <select name="category">
        {{selectOptions professionCategories selected=system.category localize=true}}
      </select>
    
    </div>

    {{!-- Bonus Languages --}}
    <div class="stat-inline list-entries">
      <label>{{localize "WW.Languages.Bonus"}}</label>
  
      
      
      {{#each benefits.benefit1.languages as |detail id|}}
      <span class="list-entry">
      
        <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
          <a class="array-button" data-action="edit" data-array="benefits.benefit1.languages" data-entry-id="{{id}}"
            title="{{localize "WW.Languages.Edit"}}"><i class="fas fa-edit"></i></a>
      
          <a class="array-button" data-action="remove" data-array="benefits.benefit1.languages" data-entry-id="{{id}}"
            title="{{localize "WW.Languages.Remove"}}"><i class="fas fa-trash"></i></a>
        </span>{{#unless @last}},{{/unless}}
      </span>
      {{/each}}{{#unless benefits.benefit1.languages.length}}—{{/unless}}
      
      <a class="array-button" data-action="add" data-array="benefits.benefit1.languages" data-loc="Languages"
        title="{{localize "WW.Languages.Add"}}"><i class="fas fa-circle-plus"></i></a>
  
    </div>
  
    {{!-- Items Area --}}
    <ol class="described-list items-area benefit1">
      {{#unless benefits.benefit1.itemsInfo}}{{localize "WW.CharOption.DropHere"}}{{/unless}}
  
      {{#each benefits.benefit1.itemsInfo as |item id|}}
      <li class="path-item item{{#if item.missing}} missing{{/if}}" data-item-uuid="{{item.uuid}}">
        <label>{{item.name}}</label>
  
        <span class="buttons">
          {{#unless item.missing}}<a class="ref-edit" title="{{localize " WW.CharOption.EditRef"}}"><i
              class="fas fa-edit"></i></a>{{/unless}}
          <a class="ref-remove" title="{{localize " WW.CharOption.RemoveRef"}}"><i class="fas fa-trash"></i></a>
        </span>
  
        <span>{{{item.description}}}</span>
      </li>
      {{/each}}
    </ol>
  
  </div>
  
</form>