<form class="{{cssClass}} sheet spell-sheet" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="WW.System.EditImage" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "WW.Item.Name"}}" /></h1>

      <div class="item-type-container">
        <div class="item-type">

          <select name="system.tier">
            {{selectOptions tiers selected=system.tier localize=true}}
          </select>

          {{localize "WW.Spell.Label"}}

        </div>

        {{!-- Tradition --}}
        <div class="stat-inline">
          <label class="ml-1">{{localize "WW.Spell.Tradition"}}:</label>

          <input type="text" name="system.tradition" value="{{system.tradition}}" data-dtype="String" />
        </div>

      </div>

      {{!-- Header Tab Navigation --}}
      <nav class="mt-2 sheet-tabs tabs spell-tabs" data-group="primary">
        <a class="item" data-tab="details">{{localize "WW.Actor.Details"}}</a>
        <a class="item" data-tab="automation">{{localize "WW.Effects.TabLabel"}}</a>
      </nav>

    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/weirdwizard/templates/items/parts/Spell-details.hbs"}}
    </div>
  
    {{!-- Automation Tab --}}
    <div class="tab automation" data-group="primary" data-tab="automation">
      {{> "systems/weirdwizard/templates/items/parts/item-settings.hbs"}}
      {{> "systems/weirdwizard/templates/items/parts/item-effects.hbs"}}
    </div>

  </section>
</form>