<form class="{{cssClass}} sheet talent-sheet" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "WW.ItemName"}}" /></h1>
      
      {{!-- Header Tab Navigation --}}
      <nav class="mt-2 sheet-tabs tabs talent-tabs" data-group="primary">
        <a class="item" data-tab="details">{{localize "WW.Details"}}</a>
        <a class="item" data-tab="automation">{{localize "WW.Automation"}}</a>
      </nav>

    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/weirdwizard/templates/items/parts/Talent-details.hbs"}}
    </div>
  
    {{!-- Automation Tab --}}
    <div class="tab automation" data-group="primary" data-tab="automation">
      {{> "systems/weirdwizard/templates/items/parts/item-settings.hbs"}}
      {{> "systems/weirdwizard/templates/items/parts/item-effects.hbs"}}
    </div>

  </section>
</form>