<form class="{{cssClass}} sheet talent-sheet" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="WW.System.Image.Edit" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "WW.Item.Name"}}" /></h1>

      {{!-- Type --}}
      <div class="item-type">
        <select class="align-center" name="system.subtype">
          {{selectOptions subtypes selected=system.subtype localize=true}}
        </select>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details" data-tooltip="WW.Actor.Details"><span class="tab-icon"></span></a>
    <a class="item" data-tab="automation" data-tooltip="WW.Effects.TabLabel"><span class="tab-icon"></span></a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/weirdwizard/templates/items/parts/Talent-details.hbs"}}
    </div>
  
    {{!-- Automation Tab --}}
    <div class="tab automation" data-group="primary" data-tab="automation">
      {{> "systems/weirdwizard/templates/items/parts/item-settings.hbs"}}
      {{> "systems/weirdwizard/templates/items/parts/item-effects.hbs"}}
    </div>

  </section>
</form>