<li class="weirdwizard chat-message message flexcol {{cssClass}}" data-message-id="{{message._id}}"
    {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}}>
    
    {{!-- Message Wrapper --}}
    <div class="message-wrapper">

        {{!-- Message Content (Body) --}}
        <div class="message-content">
            {{{message.content}}}
        </div>
        
    </div>

    {{!-- Delete Button --}}
    <a class="message-delete message-info {{#if canDelete}}can-delete{{/if}}"
        {{#if canDelete}}aria-label="Delete" data-action="deleteMessage"{{/if}} data-tooltip='
            <div class="status-tooltip">
                {{!-- Sender --}}
                <p>{{#if avatar}}<img src="{{avatar}}">{{/if}} {{alias}}</p>

                <p>
                    {{!-- Timestamp --}}
                    <time class="message-timestamp">{{timeSince message.timestamp}}</time>

                    {{!-- Visibility Icons --}}
                    {{#if isBlind}}<img class="private-icon blind" src="icons/svg/blind.svg" data-tooltip="CHAT.RollBlind"/>{{/if}}
                    {{#if isWhisper}}<img class="private-icon whisper" src="systems/weirdwizard/assets/icons/hood.svg" />{{/if}}
                </p>
                
                {{!-- Whisper To --}}
                {{#if isWhisper}}
                <p class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</p>
                {{/if}}
            </div>'>

        <i class="fa-solid fa-eye" inert=""></i>
    </a>

    

</li>