<div class="item-settings">
  {{!-- Attribute Roll --}}
  <h3>{{localize "WW.Roll.Settings"}}</h3>

  <div class="flex-row stat-inline nowrap flex-wrap nogap">
    {{localize "WW.Roll.Always"}}

    <select class="ml-1 bold" name="system.attribute">
      {{selectOptions attributes selected=system.attribute localize=true}}
    </select>

    {{#if system.attribute}}
    {{localize "WW.Boons.With"}}

    <div class="mx-1 input-wrap bold">
      <input type="number" name="system.boons" value="{{system.boons}}" placeholder="0"/>

      <div class="input-overlay">{{system.boons}}</div>
    </div>

    {{#if (lt item.system.boons -1)}}{{localize "WW.Boons.Banes"}}
    {{else if (lt item.system.boons 0)}}{{localize "WW.Boons.Bane"}}
    {{else if (gt item.system.boons 1)}}{{localize "WW.Boons.Boons"}}
    {{else}}{{localize "WW.Boons.Boon"}}
    {{/if}}

    {{/if}}
  </div>

  {{#if system.attribute}}
  {{!-- Boons Alt --}}
  <div class="mt-1">
    <input type="text" name="system.boonsAlt" value="{{ system.boonsAlt }}" placeholder="{{localize "WW.Item.Alt"}}"
      data-tooltip-text="{{localize "WW.Item.AltTip"}}" data-dtype="String" />
  </div>

  <div class="flex-row stat-inline mt-1">
    {{localize "WW.Roll.Against"}}
    <select class="mx-1 bold" name="system.against">
      {{selectOptions against selected=system.against localize=true}}
    </select>
  </div>
  {{/if}}

  {{!-- Targeting --}}
  <h3>{{localize "WW.Targeting.Label"}}</h3>

  <div class="flex-row flex-wrap gap-5 stat-inline mt-1">
    {{!-- Targeting Operation --}}
    <div class="stat-inline">
      <label>{{localize "WW.Targeting.Operation"}}:</label>
      
      <select name="system.targetingOperation">
        {{selectOptions targetingOperations selected=system.targetingOperation localize=true}}
      </select>
    </div>
    
    {{!-- Scene Radius / Size --}}
    {{#if (ne system.targetingOperation 'manual')}}
    <div class="stat-inline">
      <label>{{localize "WW.Item.Template.Radius"}}:</label>
      <div class="input-wrap mr-1">
        <input type="number" name="system.template.radius" value="{{system.template.radius}}" min="1" />
        <div class="input-overlay">{{system.template.radius}}</div>
      </div>
      {{localize "WW.Item.Template.RadiusUnit"}}
    </div>
    {{/if}}
  </div>

  {{#if (ne system.targetingOperation 'manual')}}
  {{!-- Template Fields --}}
  <div class="flex-row flex-wrap gap-5 stat-inline mt-1">

    {{!-- Attached --}}
    <div class="stat-inline">
      <label>{{localize "WW.Item.Template.AttachToToken"}}:</label>
      <input type="checkbox" name="system.template.attached" {{checked system.template.attached}} />
    </div>

    {{!-- Color --}}
    <div class="stat-inline">
      <label>{{localize "REGION.FIELDS.color.label"}}:</label>
      <color-picker name="system.template.color" value="{{system.template.color}}" placeholder="{{localize "WW.Item.Template.DefaultColor"}}">
      </color-picker>
      <i class="info fa-solid fa-circle-question ml-1" title="{{localize "REGION.FIELDS.color.hint"}}"></i>
    </div>
  </div>

  {{!-- Restriction --}}
  <fieldset class="mt-2">
    <legend>{{localize "REGION.SECTIONS.restriction"}}</legend>

    <div class="stat-inline">
      {{!-- Restriction Enabled --}}
      <label>{{localize "REGION.FIELDS.restriction.enabled.label"}}:</label>
      <input type="checkbox" name="system.template.restriction.enabled" {{checked system.template.restriction.enabled}} />
      <i class="info fa-solid fa-circle-question" title="{{localize "REGION.FIELDS.restriction.enabled.hint"}}"></i>

      {{!-- Restriction Priority --}}
      <label class="ml-2">{{localize "REGION.FIELDS.restriction.priority.label"}}:</label>
      <div class="input-wrap mr-1">
        <input type="number" name="system.template.restriction.priority" value="{{system.template.restriction.priority}}" min="0"/>
        <div class="input-overlay">{{system.template.restriction.priority}}</div>
      </div>
    </div>

    {{!-- Restriction Type --}}
    <div class="stat-inline mt-1">
      <label>{{localize "REGION.FIELDS.restriction.type.label"}}:</label>
      <select name="system.template.restriction.type">
        {{selectOptions templateRestrictions selected=system.template.restriction.type localize=true}}
      </select>
      {{!--formInput field options=templateRestrictions name= value=system.template.restriction localize=true sort=true --}}
    </div>
  </fieldset>
  {{/if}}

</div>