{{#*inline "WWAffliction"}}
  <div class="WW-new-project-2 selectable {{#if value}}selected{{/if}}"
       style="width: auto; margin: 2px"
       {{#if tooltip}}data-tippy-affliction="{{localize tooltip}}"{{/if}}>
    <input type="checkbox" id="data.afflictions.{{name}}" data-name="{{name}}" {{checked value}}/>
    <i class="WW-icon-{{name}}"></i>
    <span class="sep"></span>
    <span style="margin-left: 4px">{{localize label}}</span>
  </div>
{{/inline}}

{{!-- 
<div class="WW-text-header-upper WW-underline-red WW-item-row-header">
  <div class="col-12">{{localize "WW.Actions"}}</div>
</div>

<div class="grid-5">
  {{> WWAffliction name="concentrate" value=flags.weirdwizard.concentrate label="WW.concentrate" tooltip="WW.AfflictionsConcentrate"}}
  {{> WWAffliction name="defend"      value=flags.weirdwizard.defend      label="WW.defend"      tooltip="WW.AfflictionsDefend"}}
  {{> WWAffliction name="help"        value=flags.weirdwizard.help        label="WW.help"        tooltip="WW.AfflictionsHelp"}}
  {{> WWAffliction name="prepare"     value=flags.weirdwizard.prepare     label="WW.prepare"     tooltip="WW.AfflictionsPrepare"}}
  {{> WWAffliction name="reload"      value=flags.weirdwizard.reload      label="WW.reload"      tooltip="WW.AfflictionsReload"}}
  {{> WWAffliction name="retreat"     value=flags.weirdwizard.retreat     label="WW.retreat"     tooltip="WW.AfflictionsRetreat"}}
  {{> WWAffliction name="rush"        value=flags.weirdwizard.rush        label="WW.rush"        tooltip="WW.AfflictionsRush"}}
  {{> WWAffliction name="stabilize"   value=flags.weirdwizard.stabilize   label="WW.stabilize"   tooltip="WW.AfflictionsStabilize"}}
</div> --}}

<div class="WW-text-header-upper WW-underline-red WW-item-row-header" style="margin-top: 8px">
  <div class="col-12">{{localize "WW.ModsAfflictions"}}</div>
</div>

<div class="grid-5">
  {{> WWAffliction name="blinded"      value=flags.weirdwizard.blinded      label="WW.Blinded"     tooltip="WW.Afflictions.Blinded"     }}
  {{> WWAffliction name="confused"     value=flags.weirdwizard.confused     label="WW.Confused"    tooltip="WW.Afflictions.Confused"    }}
  {{> WWAffliction name="controlled"   value=flags.weirdwizard.controlled   label="WW.Controlled"  tooltip="WW.Afflictions.Controlled"  }}
  {{> WWAffliction name="cursed"       value=flags.weirdwizard.cursed       label="WW.Cursed"      tooltip="WW.Afflictions.Cursed"      }}
  {{> WWAffliction name="deafened"     value=flags.weirdwizard.deafened     label="WW.Deafened"    tooltip="WW.Afflictions.Deafened"    }}
  {{> WWAffliction name="frightened"   value=flags.weirdwizard.frightened   label="WW.Frightened"  tooltip="WW.Afflictions.Frightened"  }}
  {{> WWAffliction name="held"         value=flags.weirdwizard.held         label="WW.Held"        tooltip="WW.Afflictions.Held"        }}
  {{> WWAffliction name="impaired_str" value=flags.weirdwizard.impaired_str label="WW.ImpairedStr" tooltip="WW.Afflictions.ImpairedStr" }}
  {{> WWAffliction name="impaired_agi" value=flags.weirdwizard.impaired_agi label="WW.ImpairedAgi" tooltip="WW.Afflictions.ImpairedAgi" }}
  {{> WWAffliction name="impaired_int" value=flags.weirdwizard.impaired_int label="WW.ImpairedInt" tooltip="WW.Afflictions.ImpairedInt" }}
  {{> WWAffliction name="impaired_wil" value=flags.weirdwizard.impaired_wil label="WW.ImpairedWil" tooltip="WW.Afflictions.ImpairedWil" }}
  {{> WWAffliction name="onfire"       value=flags.weirdwizard.onfire       label="WW.OnFire"      tooltip="WW.Afflictions.OnFire"      }}
  {{> WWAffliction name="poisoned"     value=flags.weirdwizard.poisoned     label="WW.Poisoned"    tooltip="WW.Afflictions.Poisoned"    }}
  {{> WWAffliction name="prone"        value=flags.weirdwizard.prone        label="WW.Prone"       tooltip="WW.Afflictions.Prone"       }}
  {{> WWAffliction name="stunned"      value=flags.weirdwizard.stunned      label="WW.Stunned"     tooltip="WW.Afflictions.Stunned"     }}
  {{> WWAffliction name="unconscious"  value=flags.weirdwizard.unconscious  label="WW.Unconscious" tooltip="WW.Afflictions.Unconscious" }}
  {{> WWAffliction name="asleep"       value=flags.weirdwizard.asleep       label="WW.Asleep"      tooltip="WW.Afflictions.Asleep"      }}
  {{> WWAffliction name="weakened"     value=flags.weirdwizard.weakened     label="WW.Weakened"    tooltip="WW.Afflictions.Weakened"    }}
</div>
{{!--
<div class="WW-text-header-upper WW-underline-red WW-item-row-header" style="margin-top: 8px">
  <div class="col-12">{{localize "WW.ModsDamage"}}</div>
</div>
<div class="grid-5">
  {{> WWAffliction name="injured"       value=flags.weirdwizard.injured       label="WW.injured"       tooltip="WW.injuredText"}}
  {{> WWAffliction name="incapacitated" value=flags.weirdwizard.incapacitated label="WW.incapacitated" tooltip="WW.incapacitatedText"}}
  {{> WWAffliction name="disabled"      value=flags.weirdwizard.disabled      label="WW.disabled"      tooltip="WW.disabledText"     }}
  {{> WWAffliction name="dying"         value=flags.weirdwizard.dying         label="WW.dying"         tooltip="WW.dyingText"        }}
</div>

<div class="WW-text-header-upper WW-underline-red WW-item-row-header" style="margin-top: 8px">
  <div class="col-12">{{localize "Token"}}</div>
</div>
<div class="grid-5">
  {{> WWAffliction name="invisible"   value=flags.weirdwizard.invisible   label="EFFECT.StatusInvisible" tooltip="WW.invisibleText"}}
</div>
--}}
<div class="grid-3" style="margin-top: 32px">
  <div></div>
  <div class="WW-new-project-2 disableafflictions" style="width: auto">
    <span style="margin-left: 4px; text-align: center; width: 100%">{{localize "WW.ModsDisableAfflictions"}}</span>
  </div>
</div>
