
{{!-- Weapons --}}
<h2>{{localize "WW.Equipment.Weapons"}}</h2>
<div>
    <ol class="item-list weapons-list">
        <li class="item flexrow items-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize "WW.Item.Name"}}</div>
            <div class="item-fixed">{{localize "WW.Damage.Label"}}</div>
            <div class="item-fixed">{{localize "WW.Weapon.Grip.Label"}}</div>
            <div class="item-traits">{{localize "WW.Weapon.Traits.Label"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" data-tooltip="WW.Item.Add.Weapon" data-type="Equipment" data-subtype="weapon"><i
                    class="fas fa-plus"></i> {{localize "WW.Item.Add.Label"}}</a>
            </div>
        </li>

        {{#each weapons as |item id|}}
        <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24" /></div>

            <div class="item-name">
                {{!-- Title --}}
                <label class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                    data-tooltip="{{{item.tooltip}}}">{{item.name}}</label>

                <span class="buttons">
                    
                    {{!-- Toggle Reloaded --}}
                    {{#if item.system.disadvantages.reload}}
                    <a class="item-button" data-action="item-toggle-reloaded" data-item-id="{{item._id}}"
                        data-tooltip="{{#if item.system.reloaded}}{{localize "WW.Weapon.Fire"}}{{else}}{{localize "WW.Weapon.Reload"}}{{/if}}">
                    <i class="fas {{#if item.system.reloaded}}fa-hexagon-check{{else}}fa-arrows-rotate{{/if}}"></i></a>
                    {{/if}}
                    
                </span>

            </div>
            
            <div class="item-fixed"><a>{{item.system.damage}}</a></div>
            <div class="item-fixed">{{localize (concat 'WW.Weapon.Grip.' item.system.grip 'Short')}}</div>
            <div class="item-traits">{{item.system.traitsList}}</div>

            <div class="item-controls">
                {{!-- Scroll Button --}}
                {{#if item.system.description.value}}
                    <a class="item-button" data-action="item-scroll" data-item-id="{{item._id}}"
                        data-tooltip="{{localize "WW.Item.Scroll"}}">
                    <i class="far fa-scroll"></i></a>
                {{/if}}

                {{!-- Edit Button --}}
                <a class="item-button" data-action="item-edit" data-item-id="{{item._id}}"
                    data-tooltip="WW.Item.Edit.Weapon">
                <i class="fas fa-edit"></i></a>

                {{!-- Delete Button --}}
                <a class="item-button" data-action="item-delete" data-item-id="{{item._id}}" data-tooltip="WW.Item.Delete.Weapon"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>

</div>

{{!-- Equipment Header --}}
<h2 class="equipment-header">{{localize "WW.Equipment.Label"}}
    
    {{!-- Coins --}}
    <div class="coins">
        <label for="system.currency">{{localize "WW.Equipment.Coins"}}:</label>

        <ol class="coins-list hl flex-children">

            <li>
                <div class="input-wrap">
                    <input type="number" name="system.currency.gp" value="{{system.currency.gp}}" min="0"
                    data-dtype="Number" />

                    <div class="input-overlay">{{system.currency.gp}}</div>
                </div>

                <i class="fas fa-coins gold" data-tooltip="{{localize "WW.Equipment.GP"}}"></i>
            </li>

            <li>
                <div class="input-wrap">
                    <input type="number" name="system.currency.sp" value="{{system.currency.sp}}" min="0"
                        data-dtype="Number" />

                    <div class="input-overlay">{{system.currency.sp}}</div>
                </div>

                <i class="fas fa-coins silver" data-tooltip="{{localize "WW.Equipment.SP"}}"></i>
            </li>

            <li>
                <div class="input-wrap">
                    <input type="number" name="system.currency.cp" value="{{system.currency.cp}}" min="0"
                        data-dtype="Number" />

                    <div class="input-overlay">{{system.currency.cp}}</div>
                </div>
                    
                <i class="fas fa-coins copper" data-tooltip="{{localize "WW.Equipment.CP"}}"></i>
            </li>

        </ol>
    </div>

    {{!-- Carrying Limit --}}
    <div class="carrying-limit nowrap">
        <label>{{localize "WW.Equipment.CarryingLimit"}}:</label>
        <span class="hl" {{#if (gt totalWeight system.attributes.str.value)}}style="color: red; font-weight:bold"
            {{/if}}>{{totalWeight}} / {{system.attributes.str.value}}</span>
    </div>

</h2>

{{!-- Equipment Table --}}
<div>
    <ol class="item-list equipment-list">
        <li class="item flexrow items-header">
            <div class="item-image"></div>
            <div class="item-quantity">#</div>
            <div class="item-name">{{localize "WW.Item.Name"}}</div>
            <div class="item-uses">{{localize "WW.Equipment.Uses"}}</div>
            <div class="item-weight">{{localize "WW.Equipment.Weight"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" data-tooltip="WW.Item.Add.Equipment" data-type="Equipment" data-subtype="generic"><i class="fas fa-plus"></i> {{localize "WW.Item.Add.Label"}}</a>
            </div>
        </li>

        {{#each equipment as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24" /></div>

            {{!-- Quantity --}}
            <div class="item-quantity">{{item.system.quantity}}</div>

            <div class="item-name">
                {{!-- Title --}}
                <label class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                    data-tooltip="{{{item.tooltip}}}">{{item.name}}</label>

                <span class="buttons">

                    {{!-- Toggle Effects --}}
                    {{#if item.hasPassiveEffects}}
                        <a class="item-button" data-action="item-toggle-effects" data-item-id="{{item._id}}"
                            data-tooltip="{{#if item.system.active}}{{localize "WW.Item.DisableEffects"}}{{else}}{{localize "WW.Item.EnableEffects"}}{{/if}}">
                            <i class="fas {{#if item.system.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
                    {{/if}}

                </span>
            </div>

            {{!-- Uses Pips --}}
            <div>
                {{#if item.uses}}
                <span class="pip-box">
                    {{#each item.uses as |pip id|}}
                    <a class="item-pip" data-item-id="{{item._id}}"
                        data-tooltip="{{#if (eq pip "far fa-circle")}}{{localize "WW.Item.Uses.EquipmentSpend"}}{{else}}{{localize "WW.Item.Uses.EquipmentRecover"}}{{/if}}">
                    <i class="{{pip}}"></i></a>
                    {{/each}}
                </span>
                {{/if}}
            </div>

            {{!-- Weight --}}
            <div class="item-weight">{{item.system.weight}}</div>

            <div class="item-controls">

                {{!-- Scroll Button --}}
                {{#if item.system.description.value}}
                    <a class="item-button" data-action="item-scroll" data-item-id="{{item._id}}"
                        data-tooltip="{{localize "WW.Item.Scroll"}}">
                    <i class="far fa-scroll"></i></a>
                {{/if}}

                {{!-- Edit Button --}}
                <a class="item-button" data-action="item-edit" data-item-id="{{item._id}}"
                    data-tooltip="WW.Item.Edit.Equipment">
                <i class="fas fa-edit"></i></a>

                {{!-- Delete Button --}}
                <a class="item-button" data-action="item-delete" data-item-id="{{item._id}}" data-tooltip="WW.Item.Delete.Equipment"><i class="fas fa-trash"></i></a>
                
            </div>
        </li>
        {{/each}}
    </ol>
</div>