
{{!-- Header Row --}}
<div class="flex-row stat-inline mb-2 auto-grid-2">

    {{!-- Coins --}}
    <div class="flex-row stat-inline nowrap coins mr-auto">
        <label for="system.currency" class="resource-label">{{localize "WW.Equipment.Coins"}}</label>

        <ol class="coins-list hl flex-children">

            <li>
                <div class="input-wrap">
                    <input type="number" name="system.currency.gp" value="{{system.currency.gp}}" min="0"
                    data-dtype="Number" />

                    <div class="input-overlay">{{system.currency.gp}}</div>
                </div>

                {{localize "WW.Equipment.GP"}}
            </li>

            <li>
                <div class="input-wrap">
                    <input type="number" name="system.currency.sp" value="{{system.currency.sp}}" min="0"
                        data-dtype="Number" />

                    <div class="input-overlay">{{system.currency.sp}}</div>
                </div>

                {{localize "WW.Equipment.SP"}}
            </li>

            <li>
                <div class="input-wrap">
                    <input type="number" name="system.currency.cp" value="{{system.currency.cp}}" min="0"
                        data-dtype="Number" />

                    <div class="input-overlay">{{system.currency.cp}}</div>
                </div>
                    
                {{localize "WW.Equipment.CP"}}
            </li>

        </ol>
    </div>

    {{!-- Weight Total --}}
    <div class="total-weight nowrap">
        <label>{{localize "WW.Equipment.TotalWeight"}}</label>
        <span class="hl" {{#if (gt totalWeight system.attributes.str.value)}}style="color: red; font-weight:bold"
            {{/if}}>{{totalWeight}} / {{system.attributes.str.value}}</span>
    </div>
</div>

{{!-- Weapons --}}
<h2>{{localize "WW.Equipment.Weapons"}}</h2>
<div>
    <ol class="item-list weapons-list">
        <li class="item flexrow items-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize "WW.Item.Name"}}</div>
            <div class="item-fixed">{{localize "WW.Damage.Label"}}</div>
            <div class="item-fixed">{{localize "WW.Weapon.Grip.Label"}}</div>
            <div class="item-traits">{{localize "WW.Weapon.Traits.Label"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" data-tooltip="WW.Item.Add.Weapon" data-type="Equipment" data-subtype="weapon"><i
                    class="fas fa-plus"></i> {{localize "WW.Item.Add.Label"}}</a>
            </div>
        </li>

        {{#each weapons as |item id|}}
        <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{item.img}}" data-tooltip="WW.System.EditImage" width="24" height="24" /></div>

            <div class="item-name">
                {{!-- Title --}}
                {{#if item.needTargets}}<label class="item-button" data-action="targeted-use" data-item-id="{{item._id}}" 
                    data-tooltip="WW.Targeting.AttackTargeted">{{item.name}}</label>
                {{else if item.isActivity}}<label class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                    data-tooltip="WW.Targeting.AttackUntargeted">{{item.name}}</label>
                {{else}}<label>{{item.name}}</label>{{/if}}

                <span class="buttons">
                    {{!-- Use Buttons --}}
                    {{#if item.isActivity}}

                        {{#if item.needTargets}}
                        <a class="item-button" data-action="targeted-use" data-item-id="{{item._id}}"
                            data-tooltip="WW.Targeting.AttackTargeted">
                        <i class="fas fa-bullseye"></i></a>
                        {{/if}}

                        <a class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                            data-tooltip="WW.Targeting.AttackUntargeted">
                        <i class="fas fa-bolt"></i></a>

                    {{/if}}
                    
                    {{!-- Toggle Reloaded --}}
                    {{#if item.system.disadvantages.reload}}
                    <a class="item-button" data-action="item-toggle-reloaded" data-item-id="{{item._id}}"
                        data-tooltip="{{#if item.system.reloaded}}{{localize "WW.Weapon.Fire"}}{{else}}{{localize "WW.Weapon.Reload"}}{{/if}}">
                    <i class="fas {{#if item.system.reloaded}}fa-hexagon-check{{else}}fa-arrows-rotate{{/if}}"></i></a>
                    {{/if}}
                    
                    {{!-- Scroll Button --}}
                    {{#if item.system.description.value}}
                    <a class="item-button" data-action="item-scroll" data-item-id="{{item._id}}"
                        data-tooltip="{{item.system.description.value}}">
                    <i class="far fa-scroll"></i></a>
                    {{/if}}
                </span>
            </div>
            
            <div class="item-fixed"><a>{{item.system.damage}}</a></div>
            <div class="item-fixed">{{item.system.grip}}</div>
            <div class="item-traits">{{item.system.traitsList}}</div>

            <div class="item-controls">              
                {{!-- Edit Button --}}
                <a class="item-button" data-action="item-edit" data-item-id="{{item._id}}"
                    data-tooltip="WW.Item.Edit.Weapon">
                <i class="fas fa-edit"></i></a>

                {{!-- Delete Button --}}
                <a class="item-button" data-action="item-delete" data-item-id="{{item._id}}" data-tooltip="WW.Item.Delete.Weapon"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>

</div>

<h2>{{localize "WW.Equipment.Label"}}</h2>
<div>
    <ol class="item-list equipment-list">
        <li class="item flexrow items-header">
            <div class="item-image"></div>
            <div class="item-quantity">#</div>
            <div class="item-name">{{localize "WW.Item.Name"}}</div>
            <div class="item-uses">{{localize "WW.Equipment.Uses"}}</div>
            <div class="item-weight">{{localize "WW.Equipment.Weight"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" data-tooltip="WW.Item.Add.Equipment" data-type="Equipment" data-subtype="generic"><i class="fas fa-plus"></i> {{localize "WW.Item.Add.Label"}}</a>
            </div>
        </li>

        {{#each equipment as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            {{!-- Icon --}}
            <div class="item-image"><img src="{{item.img}}" data-tooltip="WW.System.EditImage" width="24" height="24" /></div>

            {{!-- Quantity --}}
            <div class="item-quantity">{{item.system.quantity}}</div>

            <div class="item-name">
                {{!-- Title --}}
                {{#if item.needTargets}}<label class="item-button" data-action="targeted-use" data-item-id="{{item._id}}" 
                    data-tooltip="WW.Targeting.EquipmentTargeted">{{item.name}}</label>
                {{else if item.isActivity}}<label class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                    data-tooltip="WW.Targeting.EquipmentUntargeted">{{item.name}}</label>
                {{else}}<label>{{item.name}}</label>{{/if}}

                <span class="buttons">
                    {{!-- Use Buttons --}}
                    {{#if item.isActivity}}

                        {{#if item.needTargets}}
                        <a class="item-button" data-action="targeted-use" data-item-id="{{item._id}}"
                            data-tooltip="WW.Targeting.EquipmentTargeted">
                        <i class="fas fa-bullseye"></i></a>
                        {{/if}}

                        <a class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                            data-tooltip="WW.Targeting.EquipmentUntargeted">
                        <i class="fas fa-bolt"></i></a>

                    {{/if}}

                    {{!-- Toggle Effects --}}
                    {{#if item.hasPassiveEffects}}
                        <a class="item-button" data-action="item-toggle-effects" data-item-id="{{item._id}}"
                            data-tooltip="{{#if item.system.active}}{{localize "WW.Item.DisableEffects"}}{{else}}{{localize "WW.Item.EnableEffects"}}{{/if}}">
                            <i class="fas {{#if item.system.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
                    {{/if}}

                    {{!-- Scroll Button --}}
                    {{#if item.system.description.value}}
                    <a class="item-button" data-action="item-scroll" data-item-id="{{item._id}}"
                        data-tooltip="{{item.system.description.value}}">
                    <i class="far fa-scroll"></i></a>
                    {{/if}}
                </span>
            </div>

            {{!-- Uses Pips --}}
            <div>
                {{#if item.uses}}
                <span class="pip-box">
                    {{#each item.uses as |pip id|}}
                    <a class="item-pip" data-item-id="{{item._id}}"
                        data-tooltip="{{#if (eq pip "far fa-circle")}}{{localize "WW.Item.Uses.EquipmentSpend"}}{{else}}{{localize "WW.Item.Uses.EquipmentRecover"}}{{/if}}">
                    <i class="{{pip}}"></i></a>
                    {{/each}}
                </span>
                {{/if}}
            </div>

            {{!-- Weight --}}
            <div class="item-weight">{{item.system.weight}}</div>

            <div class="item-controls">              
                {{!-- Edit Button --}}
                <a class="item-button" data-action="item-edit" data-item-id="{{item._id}}"
                    data-tooltip="WW.Item.Edit.Equipment">
                <i class="fas fa-edit"></i></a>

                {{!-- Delete Button --}}
                <a class="item-button" data-action="item-delete" data-item-id="{{item._id}}" data-tooltip="WW.Item.Delete.Equipment"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>