<ol class="item-list effects-list">
  {{#each effects as |section sid|}}
    <li class="item items-header flexrow" data-effect-type="{{section.type}}">
      <div class="item-image"></div>
      <div class="item-name">{{localize section.name}}</div>
      <div class="effect-source">Source</div>
      <div class="effect-source">Duration</div>
      <div class="item-controls effect-controls flexrow">
        <a class="effect-control" data-action="create" title="{{localize 'WW.EffectCreate'}}">
          <i class="fas fa-plus"></i> {{localize "WW.Add"}}
        </a>
      </div>
    </li>

    <ol class="item-list">
    {{#each section.effects as |effect|}}
      <li class="item effect flexrow" data-effect-id="{{effect.id}}">
        <img class="item-image" src="{{effect.icon}}" width="24" height="24"/>
        <div class="item-name">{{effect.name}}</div>
        <div class="effect-source">{{effect.sourceName}}</div>
        <div class="effect-duration">{{effect.duration.name}}</div>
        <div class="item-controls effect-controls flexrow">
          <a class="effect-control" data-action="toggle" title="{{localize 'WW.EffectToggle'}}">
            <i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
          </a>
          <a class="effect-control" data-action="edit" title="{{localize 'WW.EffectEdit'}}">
            <i class="fas fa-edit"></i>
          </a>
          <a class="effect-control" data-action="delete" title="{{localize 'WW.EffectDelete'}}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
    </ol>
  {{/each}}
</ol>
