<div class="details grid grid-2col">

    {{!-- Left Column --}}
    <div class="details-col flex-group-left">
        <h1>{{localize "WW.Identity"}}</h1>

        {{editor system.description.enriched target="system.description.value" button=true owner=owner editable=editable}}

        <ol class="details-list">
            <li class="detail">
                <h2 class="detail-label">{{localize "WW.Features"}}</h2>
                {{editor system.details.features.enriched target="system.details.features.value" button=true
                owner=owner editable=editable}}
            </li>

            <li class="detail">
                <h2 class="detail-label">{{localize "WW.Personality"}}</h2>
                {{editor system.details.personality.enriched target="system.details.personality.value" button=true
                owner=owner editable=editable}}
            </li>

            <li class="detail">
                <h2 class="detail-label">{{localize "WW.Belief"}}</h2>
                {{editor system.details.belief.enriched target="system.details.belief.value" button=true
                owner=owner editable=editable}}
            </li>
        </ol>
    </div>

    {{!-- Right Column --}}
    <div class="details-col flex-group-left">
        <h1>{{localize "WW.Background"}}</h1>
        <ol class="details-list">
            <li class="detail">
                <h2 class="detail-label">{{localize "WW.Ancestry"}}</h2>
                {{editor system.details.bg_ancestry.enriched target="system.details.bg_ancestry.value" button=true
                owner=owner editable=editable}}
            </li>
            <li class="detail">
                <h2 class="detail-label">{{localize "WW.Deeds"}}</h2>

                <div class="flex-row stat-inline flex-group-center">
                    <label>{{localize
                        "WW.Reputation"}}</label>
                    <input type="number" name="system.details.reputation.value"
                        value="{{system.details.reputation.value}}" min="0" data-dtype="Number" />
                </div>

                {{editor system.details.deeds.enriched target="system.details.deeds.value" button=true owner=owner
                editable=editable}}
            </li>
            <li class="detail">
                <h2 class="detail-label">{{localize "WW.Information"}}</h2>
                {{editor system.details.information.enriched target="system.details.information.value" button=true
                owner=owner editable=editable}}
            </li>
        </ol>
    </div>
</div>