<div class="details auto-grid-2">

    {{!-- Left Column --}}
    <div>

        <div>
            <h1>{{localize "WW.Actor.Appearance"}}</h1>
            
            {{editor system.details.appearance.enriched target="system.details.appearance.value" button=true
                owner=owner editable=editable}}
            
        </div>
        
        <div>
            <h1 class="mt-2">{{localize "WW.Actor.Background"}}</h1>

            {{editor system.details.background.enriched target="system.details.background.value" button=true
                owner=owner editable=editable}}
            
        </div>
        
    </div>

    {{!-- Right Column --}}
    <div>

        <div>
            <h1>{{localize "WW.Actor.Identity"}}</h1>

            <h2 class="detail-label">{{localize "WW.Actor.Personality"}}</h2>
            {{editor system.details.personality.enriched target="system.details.personality.value" button=true
                owner=owner editable=editable}}

            <h2 class="detail-label">{{localize "WW.Actor.Beliefs"}}</h2>
            {{editor system.details.beliefs.enriched target="system.details.beliefs.value" button=true
                owner=owner editable=editable}}
            
        </div>

        <div class="mt-2">
            <h1>{{localize "WW.Actor.Notes"}}</h1>

            {{editor system.details.notes.enriched target="system.details.notes.value" button=true owner=owner
                editable=editable}}
        </div>
        
    </div>
    
</div>