<div class="details auto-grid-2">

    {{!-- Left Column --}}
    <div class="flexcol">
        
        {{!-- Appearance --}}
        {{#if (or editMode system.details.appearance.value)}}
        <div>
            <h2>{{localize "WW.Actor.Appearance"}}</h2>
            {{#if editMode}}
            {{editor system.details.appearance.enriched target="system.details.appearance.value" button=true owner=owner editable=editable}}
            {{else if system.details.appearance.value}}
            {{system.details.appearance.enriched}}
            {{else}}—{{/if}}
        </div>
        {{/if}}
        
        {{!-- Background --}}
        <div>
            <h2>{{localize "WW.Actor.Background"}}</h2>
            {{#if editMode}}
            {{editor system.details.background.enriched target="system.details.background.value" button=true owner=owner editable=editable}}
            {{else if system.details.background.value}}
            {{system.details.background.enriched}}
            {{else}}—{{/if}}
        </div>
        
    </div>

    {{!-- Right Column --}}
    <div class="flexcol">

        {{!-- Identity --}}
        <div>
            <h2>{{localize "WW.Actor.Identity"}}</h2>
            {{#if (or editMode system.details.personality.value system.details.beliefs.value)}}
            {{!-- Personality --}}
            <h3 class="detail-label">{{localize "WW.Actor.Personality"}}</h3>
            {{#if editMode}}
            {{editor system.details.personality.enriched target="system.details.personality.value" button=true owner=owner editable=editable}}
            {{else if system.details.personality.value}}
            {{system.details.personality.enriched}}
            {{else}}—{{/if}}

            {{!-- Beliefs --}}
            <h3 class="detail-label">{{localize "WW.Actor.Beliefs"}}</h3>
            {{#if editMode}}
            {{editor system.details.beliefs.enriched target="system.details.beliefs.value" button=true owner=owner editable=editable}}
            {{else if system.details.beliefs.value}}
            {{system.details.beliefs.enriched}}
            {{else}}—{{/if}}

            {{else}}
            —
            {{/if}}
        </div>
        
        {{!-- Notes --}}
        <div>
            <h2>{{localize "WW.Actor.Notes"}}</h2>
            {{#if editMode}}
            {{editor system.details.notes.enriched target="system.details.notes.value" button=true owner=owner editable=editable}}
            {{else if system.details.notes.value}}
            {{system.details.notes.enriched}}
            {{else}}—{{/if}}
        </div>
        
    </div>
    
    
</div>