<li class="item">

    <div class="item-header">
        
        {{!-- Left Part --}}
        <span class="compact-left">
            {{!-- Title --}}
            {{#if item.needTargets}}<label class="item-button" data-action="targeted-use" data-item-id="{{item._id}}"
                title="{{#if (eq item.type "Trait or Talent")}}{{localize "WW.Targeting.TalentTargeted"}}
                    {{else if (eq item.type "Equipment")}}{{localize "WW.Targeting.EquipmentTargeted"}}
                    {{else if (eq item.type "Spell")}}{{localize "WW.Targeting.SpellTargeted"}}{{/if}}">{{item.name}}</label>
            {{else if item.isActivity}}<label class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                title="{{#if (eq item.type "Trait or Talent")}}{{localize "WW.Targeting.TalentUntargeted"}}
                    {{else if (eq item.type "Equipment")}}{{localize "WW.Targeting.EquipmentUntargeted"}}
                    {{else if (eq item.type "Spell")}}{{localize "WW.Targeting.SpellUntargeted"}}{{/if}}">{{item.name}}</label>
            {{else}}<label>{{item.name}}</label>{{/if}}

            <span class="buttons">
                {{!-- Use Buttons --}}
                {{#if item.isActivity}}

                    {{#if item.needTargets}}
                    <a class="item-button" data-action="targeted-use" data-item-id="{{item._id}}"
                        title="{{#if (eq item.type "Trait or Talent")}}{{localize "WW.Targeting.TalentTargeted"}}
                            {{else if (eq item.type "Equipment")}}{{localize "WW.Targeting.EquipmentTargeted"}}
                            {{else if (eq item.type "Spell")}}{{localize "WW.Targeting.SpellTargeted"}}{{/if}}">
                    <i class="fas fa-bullseye"></i></a>
                    {{/if}}

                    <a class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                        title="{{#if (eq item.type "Trait or Talent")}}{{localize "WW.Targeting.TalentUntargeted"}}
                            {{else if (eq item.type "Equipment")}}{{localize "WW.Targeting.EquipmentUntargeted"}}
                            {{else if (eq item.type "Spell")}}{{localize "WW.Targeting.SpellUntargeted"}}{{/if}}">
                    <i class="fas fa-bolt"></i></a>

                {{/if}}

                {{!-- Toggle Effects --}}
                {{#if item.hasPassiveEffects}}
                    <a class="item-button" data-action="item-toggle-effects" data-item-id="{{item._id}}"
                        title="{{#if item.system.active}}{{localize "WW.Item.DisableEffects"}}{{else}}{{localize "WW.Item.EnableEffects"}}{{/if}}">
                        <i class="fas {{#if item.system.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
                {{/if}}

                {{!-- Uses Pips --}}
                {{#if item.uses}}
                <span class="pip-box">
                    {{#each item.uses as |pip id|}}
                    <a class="item-pip" data-item-id="{{../item._id}}"
                        title="{{#if (eq pip "far fa-circle")}}
                            {{#if (eq ../item.type "Equipment")}}{{localize "WW.Item.Uses.EquipmentSpend"}}
                            {{else if (eq ../item.type "Spell")}}{{localize "WW.Item.Uses.SpellSpend"}}
                            {{else}}{{localize "WW.Item.Uses.TalentSpend"}}{{/if}}
                        {{else}}
                            {{#if (eq ../item.type "Equipment")}}{{localize "WW.Item.Uses.EquipmentRecover"}}
                            {{else if (eq ../item.type "Spell")}}{{localize "WW.Item.Uses.SpellRecover"}}
                            {{else}}{{localize "WW.Item.Uses.TalentRecover"}}{{/if}}
                        {{/if}}">
                        <i class="{{pip}}"></i></a>
                    {{/each}}
                </span>
                {{/if}}
            </span>
        </span>
        
        {{!-- Right Part --}}
        <span class="buttons">
            {{#if item.system.description.value}}
            {{!-- Send to Chat Scroll --}}
            <a class="item-button" data-action="item-scroll" data-item-id="{{item._id}}" title="{{localize "WW.Item.Send"}}"><i
                class="far fa-scroll"></i></a>
            {{/if}}

            {{!-- Edit Button --}}
            <a class="item-button" data-action="item-edit" data-item-id="{{item._id}}" title="{{localize (concat "WW.Item.Edit." item.type)}}"><i class="fas fa-edit"></i></a>

            {{!-- Show/Hide Description (Collapse) --}}
            {{#if item.system.description.value}}
            <a class="item-button" data-action="item-collapse" data-item-id="{{item._id}}" title="{{localize "WW.Item.ShowDesc"}}">
                <i class="fas fa-square-chevron-down"></i></a>
            {{/if}}
        </span>
    </div>

    {{#if item.system.description.value}}<div class="item-desc hidden">{{{item.system.description.enriched}}}</div>{{/if}}
</li>