<div class="summary auto-grid-2">

    {{!-- Left Column --}}
    <div class="statbox">
        <h3>{{localize "WW.Stats"}}</h3>
        
        {{!-- Level, Ancestry --}}
        <div class="stat-inline">
            <label>{{localize "WW.Level"}}</label>
            <select name="system.stats.level">
                {{selectOptions numbersArr selected=system.stats.level nameAttr="key" labelAttr="label"}}
            </select>

            <input class="auto-resize" type="text" name="system.details.ancestry" value="{{system.details.ancestry}}"
                title="{{localize "WW.Ancestry"}}" data-dtype="String" />

            {{!-- Type --}}
            {{#if system.details.type}}<label class="ml-1">{{localize "WW.Type"}}</label>{{/if}}
            <input type="text" name="system.details.type" value="{{system.details.type}}"
                title="{{localize "WW.Type"}}" data-dtype="String" />
        
        </div>

        {{!-- Professions --}}
        <div class="stat-inline">
            <label>{{localize "WW.Professions"}}</label>
            <input name="system.details.professions" type="text" value="{{system.details.professions}}"
                placeholder="{{localize "WW.ProfessionsPH"}}" />
            {{system.details.professions.value}}
        </div>

        {{!-- Paths --}}
        <div class="stat">
            {{#if system.details.novice}}
            <label for="paths" class="resource-label">{{localize "WW.Paths"}}</label>
            
                <input class="auto-resize" type="text" name="system.details.novice" value="{{system.details.novice}}"
                    title="{{localize "WW.NovicePath"}}" data-dtype="String" />
                {{system.details.novice.value}}

                {{#if (gte system.stats.level 3)}}/ {{/if}}
                <input class="auto-resize" type="text" name="system.details.expert" value="{{system.details.expert}}"
                    title="{{localize "WW.ExpertPath"}}" data-dtype="String" />
                
                {{#if (gte system.stats.level 7)}}/ {{/if}}
                <input class="auto-resize" type="text" name="system.details.master" value="{{system.details.master}}"
                    title="{{localize "WW.MasterPath"}}" data-dtype="String" />
            {{/if}}
        </div>

        {{!-- Senses --}}
        <div class="stat-inline">
            <label>{{localize "WW.Senses"}}</label>
            <input type="text" name="system.details.senses" value="{{system.details.senses}}"
                data-dtype="String" />
            {{system.details.senses.value}}
        </div>

        {{!-- Languages --}}
        <div class="stat-inline">
            <label>{{localize "WW.Languages"}}</label>
            <input type="text" name="system.details.languages" value="{{system.details.languages}}"
                data-dtype="String" placeholder="{{localize "WW.LanguagesPH"}}" />
            {{system.details.languages.value}}
        </div>

        {{!-- Immune --}}
        <div class="stat-inline">
            <label>{{localize "WW.Immune"}}</label>
            <input type="text" name="system.details.immune" value="{{system.details.immune}}"
                data-dtype="String" placeholder="{{localize "WW.ImmunePH"}}" />
            {{system.details.immune.value}}
        </div>

        {{!-- Size, Speed --}}
        <div class="stat-inline">
            <label>{{localize "WW.Size"}}</label>
            {{system.stats.size}}

            <label class="ml-1">{{localize "WW.Speed.Label"}}</label>
            <a class="mr-1" title="{{localize "WW.Speed.Normal"}}: {{system.stats.speed.normal}}">{{system.stats.speed.current}}</a>
            
            {{#if system.stats.speed.special}}({{/if}}<input class="auto-resize" type="text" name="system.stats.speed.special"
                value="{{system.stats.speed.special}}" data-dtype="String" 
                title="{{localize "WW.Speed.Tip"}}" />{{#if system.stats.speed.special}}){{/if}}
        </div>

        <h3 class="mt-2">{{localize "WW.Attack.Plural"}}</h3>
        
        <span class="attacks">

            {{!-- Bonus Damage --}}
            {{#if system.stats.bonusdamage}}
            <div class="stat">
                <label class="" for="bonusdamage" class="resource-label">{{localize "WW.Damage.Bonus"}}</label>
                +{{system.stats.bonusdamage}}d6
            </div>
            {{/if}}

            {{!-- Weapons List --}}
            <div class="mt-1">
                <ol class="described-list">
                    {{#each weapons as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/parts/Character-summary-weapon.hbs" item=item id=id}}
                    {{/each}}
                </ol>
            </div>
        </span>
    </div>

    {{!-- Right Column --}}
    <div class="statbox">

        {{!-- Talents --}}
        <h3>{{localize "WW.Talents"}}</h3>
        <ol class="compact-list stat">
            {{#each talents as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>

        {{!-- Actions --}}
        {{#if actions}}
        <h4 class="mt-2">{{localize "WW.Actions"}}</h4>
        <ol class="compact-list stat">
            {{#each actions as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>
        {{/if}}

        {{!-- Reactions --}}
        {{#if reactions}}
        <h4 class="mt-2">{{localize "WW.Reactions"}}</h4>
        <ol class="compact-list stat">
            {{#each reactions as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>
        {{/if}}

        {{!-- Spells Section --}}
        {{#if (or system.details.traditions spells.length)}}
        <h3>{{localize "WW.Spells"}}</h3>

        {{!-- Traditions --}}
        <span class="spells">
        {{#if system.details.traditions}}
        <div class="stat mb-2">
            <label class="" for="traditions" class="resource-label">{{localize "WW.Traditions"}}</label>
            {{system.details.traditions}}
        </div>
        {{/if}}

        {{!-- Spells List --}}
        <ol class="compact-list stat">
            {{#each spells as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>
        {{/if}}
        </span>
    </div>
</div>