<h2>{{localize "WW.Affliction.Label"}}</h2>

<div class="afflictions">
  {{#*inline "WWAffliction"}}
    <div class="affliction selectable {{#if value}}selected{{/if}}"
        style="width: auto; margin: 2px"
        {{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}}>
      <input type="checkbox" id="data.{{name}}" data-name="{{name}}" {{checked value}}/>
      <i class="icon-{{name}}"></i>
      <span class="sep"></span>
      <span style="margin-left: 4px">{{localize label}}</span>
    </div>
  {{/inline}}

  {{!-- 
  <div class="dl-text-header-upper dl-underline-red dl-item-row-header">
    <div class="col-12">{{localize "WW.Actions"}}</div>
  </div>

  <div class="grid-5">
    {{> WWAffliction name="concentrate" value=flags.weirdwizard.concentrate label="WW.concentrate" tooltip="WW.AfflictionsConcentrate"}}
    {{> WWAffliction name="defend"      value=flags.weirdwizard.defend      label="WW.defend"      tooltip="WW.AfflictionsDefend"}}
    {{> WWAffliction name="help"        value=flags.weirdwizard.help        label="WW.help"        tooltip="WW.AfflictionsHelp"}}
    {{> WWAffliction name="prepare"     value=flags.weirdwizard.prepare     label="WW.prepare"     tooltip="WW.AfflictionsPrepare"}}
    {{> WWAffliction name="reload"      value=flags.weirdwizard.reload      label="WW.reload"      tooltip="WW.AfflictionsReload"}}
    {{> WWAffliction name="retreat"     value=flags.weirdwizard.retreat     label="WW.retreat"     tooltip="WW.AfflictionsRetreat"}}
    {{> WWAffliction name="rush"        value=flags.weirdwizard.rush        label="WW.rush"        tooltip="WW.AfflictionsRush"}}
    {{> WWAffliction name="stabilize"   value=flags.weirdwizard.stabilize   label="WW.stabilize"   tooltip="WW.AfflictionsStabilize"}}
  </div> --}}

  <div class="auto-grid-3">
    {{> WWAffliction name="Blinded"      value=hasEffect.Blinded      label="WW.Affliction.Blinded"     tooltip="WW.Affliction.BlindedDesc"     }}
    {{> WWAffliction name="Confused"     value=hasEffect.Confused     label="WW.Affliction.Confused"    tooltip="WW.Affliction.ConfusedDesc"    }}
    {{> WWAffliction name="Controlled"   value=hasEffect.Controlled   label="WW.Affliction.Controlled"  tooltip="WW.Affliction.ControlledDesc"  }}
    {{> WWAffliction name="Cursed"       value=hasEffect.Cursed       label="WW.Affliction.Cursed"      tooltip="WW.Affliction.CursedDesc"      }}
    {{> WWAffliction name="Deafened"     value=hasEffect.Deafened     label="WW.Affliction.Deafened"    tooltip="WW.Affliction.DeafenedDesc"    }}
    {{> WWAffliction name="Frightened"   value=hasEffect.Frightened   label="WW.Affliction.Frightened"  tooltip="WW.Affliction.FrightenedDesc"  }}
    {{> WWAffliction name="Held"         value=hasEffect.Held         label="WW.Affliction.Held"        tooltip="WW.Affliction.HeldDesc"        }}
    {{> WWAffliction name="ImpairedStr"  value=hasEffect.ImpairedStr  label="WW.Affliction.ImpairedStr" tooltip="WW.Affliction.ImpairedDesc"    }}
    {{> WWAffliction name="ImpairedAgi"  value=hasEffect.ImpairedAgi  label="WW.Affliction.ImpairedAgi" tooltip="WW.Affliction.ImpairedDesc"    }}
    {{> WWAffliction name="ImpairedInt"  value=hasEffect.ImpairedInt  label="WW.Affliction.ImpairedInt" tooltip="WW.Affliction.ImpairedDesc"    }}
    {{> WWAffliction name="ImpairedWil"  value=hasEffect.ImpairedWil  label="WW.Affliction.ImpairedWil" tooltip="WW.Affliction.ImpairedDesc"    }}
    {{> WWAffliction name="OnFire"       value=hasEffect.OnFire       label="WW.Affliction.OnFire"      tooltip="WW.Affliction.OnFireDesc"      }}
    {{> WWAffliction name="Poisoned"     value=hasEffect.Poisoned     label="WW.Affliction.Poisoned"    tooltip="WW.Affliction.PoisonedDesc"    }}
    {{> WWAffliction name="Prone"        value=hasEffect.Prone        label="WW.Affliction.Prone"       tooltip="WW.Affliction.ProneDesc"       }}
    {{> WWAffliction name="Slowed"       value=hasEffect.Slowed       label="WW.Affliction.Slowed"      tooltip="WW.Affliction.SlowedDesc"      }}
    {{> WWAffliction name="Stunned"      value=hasEffect.Stunned      label="WW.Affliction.Stunned"     tooltip="WW.Affliction.StunnedDesc"     }}
    {{> WWAffliction name="Unconscious"  value=hasEffect.Unconscious  label="WW.Affliction.Unconscious" tooltip="WW.Affliction.UnconsciousDesc" }}
    {{> WWAffliction name="Asleep"       value=hasEffect.Asleep       label="WW.Affliction.Asleep"      tooltip="WW.Affliction.AsleepDesc"      }}
    {{> WWAffliction name="Vulnerable"   value=hasEffect.Vulnerable   label="WW.Affliction.Vulnerable"  tooltip="WW.Affliction.VulnerableDesc"  }}
    {{> WWAffliction name="Weakened"     value=hasEffect.Weakened     label="WW.Affliction.Weakened"    tooltip="WW.Affliction.WeakenedDesc"    }}
  </div>
  {{!--
  <div class="dl-text-header-upper dl-underline-red dl-item-row-header" style="margin-top: 8px">
    <div class="col-12">{{localize "WW.ModsDamage"}}</div>
  </div>
  <div class="grid-5">
    {{> WWAffliction name="injured"       value=flags.weirdwizard.injured       label="WW.injured"       tooltip="WW.injuredText"}}
    {{> WWAffliction name="incapacitated" value=flags.weirdwizard.incapacitated label="WW.incapacitated" tooltip="WW.incapacitatedText"}}
    {{> WWAffliction name="disabled"      value=flags.weirdwizard.disabled      label="WW.disabled"      tooltip="WW.disabledText"     }}
    {{> WWAffliction name="dying"         value=flags.weirdwizard.dying         label="WW.dying"         tooltip="WW.dyingText"        }}
  </div>

  <div class="dl-text-header-upper dl-underline-red dl-item-row-header" style="margin-top: 8px">
    <div class="col-12">{{localize "Token"}}</div>
  </div>
  <div class="grid-5">
    {{> WWAffliction name="invisible"   value=flags.weirdwizard.invisible   label="EFFECT.StatusInvisible" tooltip="WW.invisibleText"}}
  </div>
  --}}
  <div class="selectable remove-afflictions">
    <span>{{localize "WW.Affliction.Remove"}}</span>
  </div>
</div>

<div class="effects-wrapper">
  <h2>{{localize "WW.Effects.All"}}</h2>

  {{!-- Dynamic Active Effects --}}
  {{#each effects as |section sid|}}
  {{#if (ne section.type 'inactive')}}
  <ol class="item-list effects-list {{section.type}}-effects">
    <li class="item items-header flexrow" data-effect-type="{{section.type}}">
      <div class="item-image"></div>
      <div class="item-name">{{localize section.name}}</div>
      <div class="effect-changes">Changes</div>
      {{#if section.showDuration}}<div class="effect-duration">Duration</div>{{/if}}
      {{#if section.showSource}}<div class="effect-source">Source</div>{{/if}}
      
      <div class="item-controls effect-controls flexrow">
        {{#if section.showCreate}}
        <a class="effect-control" data-action="create" data-tooltip="WW.Effect.Create">
          <i class="fas fa-plus"></i> {{localize "WW.Item.Add.Label"}}
        </a>
        {{/if}}
      </div>
    </li>

    {{#each section.effects as |effect|}}
      
      <li class="item effect flexrow" data-effect-id="{{effect.id}}">
        <div class="item-image">
          <img src="{{effect.img}}" width="24" height="24"/>
        </div>
        <div class="item-name"><label>{{effect.name}}</label></div>

        <div class="effect-changes">
          {{#each effect.changes as |change|}}
            
            {{#if change.key}}
            <div class="nowrap">
              {{localize (lookup ../../../effectChangeLabels change.key)}}
              {{#if (ne change.value 'true')}}{{change.value}}{{/if}}
            </div>
            {{else}}<div>-</div>
            {{/if}}
          {{/each}}
        </div>
        
        {{#if section.showDuration}}<div class="effect-duration">{{effect.formattedDuration}}</div>{{/if}}
        {{#if section.showSource}}<div class="effect-source">{{effect.sourceName}}</div>{{/if}}

        <div class="item-controls effect-controls flexrow">
          {{#if (or (eq effect.parent.type 'Character') (eq effect.parent.type 'NPC'))}}
          {{#if (ne section.type 'temporary')}}
          <a class="effect-control" data-action="toggle" data-tooltip="WW.Effect.Toggle">
            <i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
          </a>
          {{/if}}

          <a class="effect-control" data-action="edit" data-tooltip="WW.Effect.Edit">
            <i class="fas fa-edit"></i>
          </a>
          <a class="effect-control" data-action="delete" data-tooltip="WW.Effect.Delete">
            <i class="fas fa-trash"></i>
          </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>
  {{/if}}
  {{/each}}

  {{!-- Inactive Effects --}}
  <ol class="item-list effects-list inactive-effects">
    
    <li class="item items-header flexrow" data-effect-type="{{actorEffects.inactive.type}}">
      <div class="item-image"></div>
      <div class="item-name">{{localize actorEffects.inactive.name}}</div>
      <div class="effect-changes">Changes</div>
      {{#if actorEffects.inactive.showDuration}}<div class="effect-duration">Duration</div>{{/if}}
      {{#if actorEffects.inactive.showSource}}<div class="effect-source">Source</div>{{/if}}

      <div class="item-controls effect-controls flexrow">
        {{#if actorEffects.inactive.showCreate}}
        <a class="effect-control" data-action="create" data-tooltip="WW.Effect.Create">
          <i class="fas fa-plus"></i> {{localize "WW.Item.Add.Label"}}
        </a>
        {{/if}}
      </div>
    </li>

    {{#each actorEffects.inactive.effects as |effect|}}
      <li class="item effect flexrow" data-effect-id="{{effect.id}}">
        <div class="item-image">
          <img src="{{effect.img}}" width="24" height="24"/>
        </div>
        <div class="item-name">{{effect.name}}</div>

        <div class="effect-changes">
          {{#each effect.changes as |change|}}
            
            {{#if change.key}}
            <div class="nowrap">
              {{localize (lookup ../../effectChangeLabels change.key)}}
              {{#if (ne change.value 'true')}}{{change.value}}{{/if}}
            </div>
            {{else}}<div>-</div>
            {{/if}}
          {{/each}}
        </div>
        
        {{#if ../actorEffects.inactive.showDuration}}<div class="effect-duration">{{effect.duration.name}}</div>{{/if}}
        {{#if ../actorEffects.inactive.showSource}}<div class="effect-source">{{effect.sourceName}}</div>{{/if}}
        
        <div class="item-controls effect-controls flexrow">
          {{#if ../actorEffects.inactive.showControls}}

          <a class="effect-control" data-action="toggle" data-tooltip="WW.EffectToggle">
            <i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
          </a>
          
          <a class="effect-control" data-action="edit" data-tooltip="WW.EffectEdit">
            <i class="fas fa-edit"></i>
          </a>
          <a class="effect-control" data-action="delete" data-tooltip="WW.EffectDelete">
            <i class="fas fa-trash"></i>
          </a>
          {{/if}}
        </div>
        
      </li>
    {{/each}}
  </ol>
</div>