<div class="stats grid-2">

    {{!-- Left Column --}}
    <div class="details-col flex-group-center">
        <h2 class="detail-label">{{localize "WW.Traits"}}</h2>
        <div class="flex-row stat-inline flex-group-left">{{!-- Level, Ancestry --}}
            <label>{{localize "WW.Level"}}</label>
            <select name="system.stats.level">
                {{selectOptions numbersObj selected=system.stats.level localize=true}}
            </select>
            {{system.stats.level.value}}

            <label class="ml-2">{{localize "WW.Ancestry"}}</label>
            <input type="text" name="system.details.ancestry" value="{{system.details.ancestry}}"
                data-dtype="String" />
            {{system.details.ancestry.value}}
        </div>
        <div class="flex-row stat-inline flex-group-left">{{!-- Type --}}
            <label>{{localize "WW.Type"}}</label>
            <input type="text" name="system.details.type" value="{{system.details.type}}"
                data-dtype="String" />
            {{system.details.type.value}}
        </div>
        <div class="flex-row stat-inline flex-group-left">{{!-- Senses --}}
            <label>{{localize "WW.Senses"}}</label>
            <input type="text" name="system.details.senses" value="{{system.details.senses}}"
                data-dtype="String" />
            {{system.details.senses.value}}
        </div>
        <div class="flex-row stat-inline flex-group-left">{{!-- Immune --}}
            <label>{{localize "WW.Immune"}}</label>
            <input type="text" name="system.details.immune" value="{{system.details.immune}}"
                data-dtype="String" placeholder="{{localize "WW.ImmunePH"}}" />
            {{system.details.immune.value}}
        </div>

        {{!-- Size, Speed --}}
        <div class="flex-row stat-inline flex-group-left">
            <label>{{localize "WW.Size"}}</label>
            <select name="system.stats.size">
                {{selectOptions numbersObj selected=system.stats.size localize=true}}
            </select>
            {{system.stats.size.value}}

            <label class="ml-2">{{localize "WW.Speed.Label"}}</label>
            <input class="mr-1" type="number" name="system.stats.speed.raw" value="{{system.stats.speed.raw}}"
                data-dtype="Number" min="0" / placeholder="#">
            <input type="text" name="system.stats.speed.special" value="{{system.stats.speed.special}}"
                data-dtype="String" placeholder="{{localize "WW.Speed.PH"}}" title="{{localize "WW.Speed.Tip"}}" />
        </div>

    </div>

    {{!-- Right Column --}}
    <div class="details-col flex-group-center">
        <h2>{{localize "WW.Knowledge"}}</h2>
        
        
        <div class="flex-row stat-inline flex-group-left">{{!-- Languages --}}
            <label>{{localize "WW.Languages"}}</label>
            <input type="text" name="system.details.languages" value="{{system.details.languages}}"
                data-dtype="String" placeholder="{{localize "WW.LanguagesPH"}}" />
            {{system.details.languages.value}}
        </div>


        <div class="flex-row stat-inline flex-group-left">{{!-- Professions --}}
            <label>{{localize "WW.Professions"}}</label>
            <input name="system.details.professions" type="text" value="{{system.details.professions}}"
                placeholder="{{localize "WW.ProfessionsPH"}}" />
            {{system.details.professions.value}}
        </div>


        <div class="flex-row stat-inline flex-group-left">{{!-- Novice Path --}}
            <label>{{localize "WW.NovicePath"}}</label>
            <input type="text" name="system.details.novice" value="{{system.details.novice}}"
                data-dtype="String" />
            {{system.details.novice.value}}
        </div>


        <div class="flex-row stat-inline flex-group-left">{{!-- Expert Path --}}
            <label>{{localize "WW.ExpertPath"}}</label>
            <input type="text" name="system.details.expert" value="{{system.details.expert}}"
                data-dtype="String" />
            {{system.details.expert.value}}
        </div>
        
        
        <div class="flex-row stat-inline flex-group-left">{{!-- Master Path --}}
            <label>{{localize "WW.MasterPath"}}</label>
            <input type="text" name="system.details.master" value="{{system.details.master}}"
                data-dtype="String" />
            {{system.details.master.value}}
        </div>
    </div>
</div>