<div class="resources grid-2">

    {{!-- Left Column --}}
    <div class="statbox">
        <h3>{{localize "WW.Stats"}}</h3>

        {{!-- Level, Ancestry --}}
        <div class="stat">
            <label for="level" class="resource-label">{{localize "WW.Level"}}</label>
            {{system.stats.level}}

            <label class="ml-1" for="ancestry" class="resource-label">{{localize "WW.Ancestry"}}</label>
            {{system.details.ancestry}}
        </div>

        {{!-- Type, Senses --}}
        <div class="stat">
            {{#if system.details.type}}<label for="type" class="resource-label">{{localize
                "WW.Type"}}</label>
            {{system.details.type}}{{/if}}
        </div>

        {{!-- Professions --}}
        {{#if system.details.professions}}
        <div class="stat">
            <label class="" for="professions" class="resource-label">{{localize "WW.Professions"}}</label>
            {{system.details.professions}}
        </div>
        {{/if}}

        {{!-- Paths --}}
        <div class="stat mt-1">
            {{#if system.details.novice}}
            <label for="paths" class="resource-label">{{localize "WW.Paths"}}</label>
            <ol class="summary-list">
                <li title="{{localize "WW.NovicePath"}}">{{system.details.novice}}</li>
                {{#if system.details.expert}}<li title="{{localize "WW.ExpertPath"}}">
                    {{system.details.expert}}</li>{{/if}}
                {{#if system.details.expert}}<li title="{{localize "WW.MasterPath"}}">
                    {{system.details.master}}</li>{{/if}}
            </ol>
            {{/if}}
        </div>

        <div class="hl">
            {{!-- Defense, Health, Damage --}}
            <div class="stat mt-1">
                <label for="defense" class="resource-label">{{localize "WW.Defense.Label"}}</label>
                <a title="{{localize "WW.Defense.Natural"}}: {{system.stats.defense.natural}}">{{system.stats.defense.total}}</a>
                <label class="ml-1" for="health" class="resource-label">{{localize "WW.Health.Label"}}</label>

                <a class="health-edit" title="Click to edit Health. {{localize "WW.Health.Normal"}}: {{system.stats.health.normal}}">{{system.stats.health.current}}</a>

                <label class="ml-1" for="damage" class="resource-label">{{localize "WW.Damage.Label"}}</label>

                {{system.stats.damage.value}}

                <i class="health-indicator fas {{#if incapacitated}}fa-octagon-xmark{{else if injured}}fa-droplet{{/if}}" title="
                    {{#if incapacitated}}{{localize "WW.Health.Incapacitated"}}
                    {{else}}{{localize "WW.Health.Injured"}}{{/if}}">
                </i>
            </div>

            {{!-- Attributes 1 --}}
            <div class="stat mt-1">
                <label for="str" class="resource-label">{{localize "WW.Strength"}}</label>
                {{system.attributes.str.value}} ({{numberFormat system.attributes.str.mod decimals=0 sign=true}})

                <label class="ml-1" for="agi" class="resource-label">{{localize "WW.Agility"}}</label>
                {{system.attributes.agi.value}} ({{numberFormat system.attributes.agi.mod decimals=0 sign=true}})
            </div>

            {{!-- Attributes 2 --}}
            <div class="stat">
                <label for="int" class="resource-label">{{localize "WW.Intellect"}}</label>
                {{system.attributes.int.value}} ({{numberFormat system.attributes.int.mod decimals=0 sign=true}})

                <label class="ml-1" for="wil" class="resource-label">{{localize "WW.Will"}}</label>
                {{system.attributes.wil.value}} ({{numberFormat system.attributes.wil.mod decimals=0 sign=true}})
            </div>
        </div>

        {{!-- Senses --}}
        <div class="stat">
            {{#if system.details.senses}}<label for="senses" class="resource-label">{{localize
                "WW.Senses"}}</label>
            {{system.details.senses}}{{/if}}
        </div>

        {{!-- Languages --}}
        <div class="stat">
            <label class="" for="languages" class="resource-label">{{localize "WW.Languages"}}</label>
            {{system.details.languages}}
        </div>

        {{!-- Immune --}}
        {{#if system.details.immune}}<div class="stat mt-1">
            <label class="" for="immune" class="resource-label">{{localize "WW.Immune"}}</label>
            {{system.details.immune}}
        </div>{{/if}}

        {{!-- Size, Speed --}}
        <div class="stat mt-1">
            <label for="size" class="resource-label">{{localize "WW.Size"}}</label>
            {{system.stats.size}}

            <label class="ml-1" for="speed" class="resource-label">{{localize "WW.Speed.Label"}}</label>

            <a title="{{localize "WW.Speed.Raw"}}: {{system.stats.speed.raw}}">{{system.stats.speed.value}}</a>
            
            {{#if system.stats.speed.special}} ({{system.stats.speed.special}}){{/if}}
        </div>

        <h3 class="mt-2">{{localize "WW.Attack.Plural"}}</h3>
        
        <span class="attacks">

            {{!-- Bonus Damage --}}
            {{#if system.stats.bonusdamage}}
            <div class="stat">
                <label class="" for="bonusdamage" class="resource-label">{{localize "WW.Damage.Bonus"}}</label>
                +{{system.stats.bonusdamage}}d6
            </div>
            {{/if}}

            {{!-- Weapons List --}}
            <div class="mt-1">
                <ol class="described-list">
                    {{#each weapons as |item id|}}
                    <li class="item" data-item-id="{{item._id}}">
                        <a class="rollable item-roll" title="Roll Attack">{{item.name}}</a>

                        <a class="item-edit" title="Edit Weapon"><i class="fas fa-edit"></i></a>

                        {{#if item.system.description.value}}<a class="item-scroll" data-tooltip="{{item.system.description.value}}"><i class="far fa-scroll"></i></a>{{/if}}

                        {{!-- Toggle Reloaded --}}
                        {{#if item.system.properties.reload}}
                            <a class="item-toggle-reloaded" data-item-id="{{item._id}}" 
                                title="{{#if item.system.reloaded}}{{localize "WW.Weapon.Fire"}}{{else}}{{localize "WW.Weapon.Reload"}}{{/if}}">
                                <i class="fas {{#if item.system.reloaded}}fa-hexagon-check{{else}}fa-arrows-rotate{{/if}}"></i></a>
                        {{/if}}

                        <a class="damage-roll" title="Roll Damage Dice"><i class="fas fa-burst"></i></a>
                        
                        <span class="properties-line">({{item.system.grip}}{{#if item.system.propertiesList}};
                        {{item.system.propertiesList}}{{/if}})</span> 

                        <span class="modifier-line">{{item.system.attributeLabel}}
                        
                        {{#if item.system.boons}} {{localize "WW.Boons.With"}} {{item.system.boons}} 
                            {{#if (lt item.system.boons -1)}}{{localize "WW.Boons.Banes"}}
                                {{else if (lt item.system.boons 0)}}{{localize "WW.Boons.Bane"}}
                                {{else if (gt item.system.boons 1)}}{{localize "WW.Boons.Boons"}}
                                {{else}}{{localize "WW.Boons.Boon"}}
                            {{/if}}
                        {{/if}}
                        </span>

                        <span class="damage-line">({{#if item.system.damage}}{{item.system.damage}}{{else}}0{{/if}})</span>
                        
                        {{#if item.system.attackRider.value}}{{{item.system.attackRider.enriched}}}{{/if}}
                    </li>
                    {{/each}}
                </ol>
            </div>
        </span>
    </div>

    {{!-- Right Column --}}
    <div class="statbox">

        {{!-- Talents --}}
        <h3>{{localize "WW.Talents"}}</h3>
        <ol class="compact-list stat">
            {{#each talents as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}

            {{/each}}
        </ol>

        {{!-- Actions --}}
        {{#if actions}}
        <h4 class="mt-2">{{localize "WW.Actions"}}</h4>
        <ol class="compact-list stat">
            {{#each actions as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}

            {{/each}}
        </ol>
        {{/if}}

        {{!-- Reactions --}}
        {{#if reactions}}
        <h4 class="mt-2">{{localize "WW.Reactions"}}</h4>
        <ol class="compact-list stat">
            {{#each reactions as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}

            {{/each}}
        </ol>
        {{/if}}

        {{!-- Spells Section --}}
        {{#if (or system.details.traditions spells.length)}}
        <h3>{{localize "WW.Spells"}}</h3>

        {{!-- Traditions --}}
        <span class="spells">
        {{#if system.details.traditions}}
        <div class="stat mb-2">
            <label class="" for="traditions" class="resource-label">{{localize "WW.Traditions"}}</label>
            {{system.details.traditions}}
        </div>
        {{/if}}

        {{!-- Spells List --}}
        <ol class="compact-list stat">
            {{#each spells as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            
            {{/each}}
        </ol>
        {{/if}}
        </span>
    </div>
</div>