<div class="summary auto-grid-2">

    {{!-- Left Column --}}
    <div class="statbox">
        <h3>{{localize "WW.Stats.Label"}}</h3>
        
        {{!-- Level, Ancestry --}}
        <div class="stat-inline flex-wrap">

            {{!-- Level --}}
            <div>
                <label>{{localize "WW.Stats.Level"}}</label>

                <select name="system.stats.level">
                    {{selectOptions numbersArr selected=system.stats.level nameAttr="key" labelAttr="label"}}
                </select>
            </div>
            
            {{!-- Ancestry --}}
            <div class="list-entries">
                <label class="hover-only">{{localize "WW.CharOptions.Ancestry"}}</label>
                
                <div class="list-entry">
                    <a data-tooltip="{{charOptions.ancestry.system.description.enriched}}">{{charOptions.ancestry.name}}</a>{{#if charOptions.ancestry}}<span class="buttons">
                    
                    <a class="item-button" data-action="item-edit" data-item-id="{{charOptions.ancestry._id}}"
                        title="{{localize "WW.Item.Edit.Ancestry"}}"><i class="fas fa-edit"></i></a>
                    
                    <a class="item-button" data-action="item-delete" data-item-id="{{charOptions.ancestry._id}}"
                        title="{{localize "WW.Item.Delete.Ancestry"}}"><i class="fas fa-trash"></i></a>
                    
                    </span>{{/if}}{{#unless charOptions.ancestry}}—
                    
                    {{!-- Create Button --}}
                    <a class="item-control item-create" title="{{localize "WW.Item.Add.Ancestry"}}" data-type="Ancestry"><i
                        class="fas fa-circle-plus"></i></a>
                    {{/unless}}

                </div>
                
            </div>

            {{!-- Type(s) --}}
            <div class="list-entries">
                <label class="hover-only">{{localize "WW.Detail.Type.Label"}}</label>

                {{#each system.details.types as |detail id|}}
                <span class="list-entry">
                
                    <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        <a class="array-button" data-action="edit" data-array="details.types" data-entry-id="{{id}}"
                            title="{{localize "WW.Detail.Type.Edit"}}"><i class="fas fa-edit"></i></a>
                
                        <a class="array-button" data-action="remove" data-array="details.types" data-entry-id="{{id}}"
                            title="{{localize "WW.Detail.Type.Remove"}}"><i class="fas fa-trash"></i></a>
                    </span>{{#unless @last}},{{/unless}}

                </span>
                {{/each}}
                
                {{#unless system.details.types.length}}—{{/unless}}
                
                <a class="array-button" data-action="add" data-array="details.types" data-loc="Type"
                    title="{{localize "WW.Detail.Type.Add"}}"><i class="fas fa-circle-plus"></i></a>

            </div>
        
        </div>

        {{!-- Professions --}}
        <div class="stat-inline list-entries">
            <label>{{localize "WW.CharOptions.Professions"}}</label>    

            {{#each charOptions.professions as |item id|}}
            <span class="list-entry">
                
                <a data-tooltip="<p>{{localize "WW.Profession.Category"}}: {{localize item.system.categoryLoc}}</p><br/><p>{{item.system.description.enriched}}</p>">{{item.name}}</a><span class="buttons">
                    {{#if item.system.description.value}}
                    {{!-- Send to Chat Scroll --}}
                    <a class="item-button" data-action="item-scroll" data-item-id="{{item._id}}" title="{{localize "WW.Item.Send"}}"><i
                        class="far fa-scroll"></i></a>
                    {{/if}}

                    {{!-- Edit Button --}}
                    <a class="item-button" data-action="item-edit" data-item-id="{{item._id}}" title="{{localize (concat "WW.Item.Edit." item.type)}}"><i class="fas fa-edit"></i></a>

                    {{!-- Delete Button --}}
                    <a class="item-button" data-action="item-delete" data-item-id="{{item._id}}" title="{{localize (concat "WW.Item.Delete." item.type)}}"><i class="fas fa-trash"></i></a>
                    
                </span>{{#unless @last}},{{/unless}}
                
            </span>
            {{/each}}

            {{#unless charOptions.professions.length}}—{{/unless}}
                
            {{!-- Create Button --}}
            <a class="item-control item-create" title="{{localize "WW.Item.Add.Profession"}}" data-type="Profession"><i
                class="fas fa-circle-plus"></i></a>
            
        </div>

        {{!-- Paths --}}
        <div class="stat-inline list-entries">
            <label for="paths" class="resource-label">{{localize "WW.CharOptions.Paths"}}</label>

            {{!-- Novice Path --}}
            <div class="list-entry">

                <a data-tooltip="{{charOptions.novice.system.description.enriched}}">{{charOptions.novice.name}}</a>{{#if charOptions.novice}}<span class="buttons">
                    
                    <a class="item-button" data-action="item-edit" data-item-id="{{charOptions.novice._id}}"
                        title="{{localize "WW.Item.Edit.NovicePath"}}"><i class="fas fa-edit"></i></a>
                    
                    <a class="item-button" data-action="item-delete" data-item-id="{{charOptions.novice._id}}"
                        title="{{localize "WW.Item.Delete.NovicePath"}}"><i class="fas fa-trash"></i></a>
                    
                </span>{{/if}}{{#unless charOptions.novice}}—
                
                {{!-- Create Button --}}
                <a class="item-control item-create" title="{{localize "WW.Item.Add.NovicePath"}}" data-type="Path" data-tier="novice"><i
                    class="fas fa-circle-plus"></i></a>
                {{/unless}}{{#if (gte system.stats.level 3)}},{{/if}}
            </div>

            {{!-- Expert Path --}}
            {{#if (gte system.stats.level 3)}}
            <div class="list-entry">

                <a data-tooltip="{{charOptions.expert.system.description.enriched}}">{{charOptions.expert.name}}</a>{{#if charOptions.expert}}<span class="buttons">
                    
                    <a class="item-button" data-action="item-edit" data-item-id="{{charOptions.expert._id}}"
                        title="{{localize "WW.Item.Edit.ExpertPath"}}"><i class="fas fa-edit"></i></a>
                    
                    <a class="item-button" data-action="item-delete" data-item-id="{{charOptions.expert._id}}"
                        title="{{localize "WW.Item.Delete.ExpertPath"}}"><i class="fas fa-trash"></i></a>
                    
                </span>{{/if}}{{#unless charOptions.expert}}—
                
                {{!-- Create Button --}}
                <a class="item-control item-create" title="{{localize "WW.Item.Add.ExpertPath"}}" data-type="Path" data-tier="expert"><i
                    class="fas fa-circle-plus"></i></a>
                {{/unless}}{{#if (gte system.stats.level 7)}},{{/if}}
            </div>
            {{/if}}
            
            {{!-- Master Path --}}
            {{#if (gte system.stats.level 7)}}
            <div class="list-entry">

                <a data-tooltip="{{charOptions.master.system.description.enriched}}">{{charOptions.master.name}}</a>{{#if charOptions.master}}<span class="buttons">
                    
                    <a class="item-button" data-action="item-edit" data-item-id="{{charOptions.master._id}}"
                        title="{{localize "WW.Item.Edit.MasterPath"}}"><i class="fas fa-edit"></i></a>
                    
                    <a class="item-button" data-action="item-delete" data-item-id="{{charOptions.master._id}}"
                        title="{{localize "WW.Item.Delete.MasterPath"}}"><i class="fas fa-trash"></i></a>
                    
                </span>{{/if}}

                {{#unless charOptions.master}}—
                
                {{!-- Create Button --}}
                <a class="item-control item-create" title="{{localize "WW.Item.Add.MasterPath"}}" data-type="Path" data-tier="master"><i
                    class="fas fa-circle-plus"></i></a>
                {{/unless}}
                
            </div>
            {{/if}}
            
        </div>

        {{!-- Senses --}}
        <div class="stat-inline list-entries">
            <label>{{localize "WW.Detail.Sense.Label"}}</label>

            {{#each system.details.senses as |detail id|}}
            <span class="list-entry">
            
                <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                    <a class="array-button" data-action="edit" data-array="details.senses" data-entry-id="{{id}}"
                        title="{{localize "WW.Detail.Sense.Edit"}}"><i class="fas fa-edit"></i></a>
            
                    <a class="array-button" data-action="remove" data-array="details.senses" data-entry-id="{{id}}"
                        title="{{localize "WW.Detail.Sense.Remove"}}"><i class="fas fa-trash"></i></a>
                </span>{{#unless @last}},{{/unless}}

            </span>
            {{/each}}
            
            {{#unless system.details.senses.length}}—{{/unless}}
            
            <a class="array-button" data-action="add" data-array="details.senses" data-loc="Sense"
                title="{{localize "WW.Detail.Sense.Add"}}"><i class="fas fa-circle-plus"></i></a>

        </div>

        {{!-- Languages --}}
        <div class="stat-inline list-entries">
            
            <label>{{localize "WW.Detail.Language.Label"}}</label>
            
            {{#each system.details.languages as |detail id|}}
            <span class="list-entry">
            
                <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                    <a class="array-button" data-action="edit" data-array="details.languages" data-entry-id="{{id}}"
                        title="{{localize "WW.Detail.Language.Edit"}}"><i class="fas fa-edit"></i></a>
            
                    <a class="array-button" data-action="remove" data-array="details.languages" data-entry-id="{{id}}"
                        title="{{localize "WW.Detail.Language.Remove"}}"><i class="fas fa-trash"></i></a>
                </span>{{#unless @last}},{{/unless}}
            </span>
            {{/each}}
            
            {{#unless system.details.languages.length}}—{{/unless}}
            
            <a class="array-button" data-action="add" data-array="details.languages" data-loc="Language"
                title="{{localize "WW.Detail.Language.Add"}}"><i class="fas fa-circle-plus"></i></a>

        </div>

        {{!-- Immune --}}
        <div class="stat-inline list-entries">

            <label>{{localize "WW.Detail.Immune.Label"}}</label>

            {{#each system.details.immune as |detail id|}}
            <span class="list-entry">
                
                <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                    <a class="array-button" data-action="edit" data-array="details.immune" data-entry-id="{{id}}"
                        title="{{localize "WW.Detail.Immune.Edit"}}"><i class="fas fa-edit"></i></a>
                        
                    <a class="array-button" data-action="remove" data-array="details.immune" data-entry-id="{{id}}"
                        title="{{localize "WW.Detail.Immune.Remove"}}"><i class="fas fa-trash"></i></a>
                </span>{{#unless @last}},{{/unless}}

            </span>
            {{/each}}

            {{#unless system.details.immune.length}}—{{/unless}}

            <a class="array-button" data-action="add" data-array="details.immune" data-loc="Immune"
                title="{{localize "WW.Detail.Immune.Add"}}"><i class="fas fa-circle-plus"></i></a>        

        </div>

        {{!-- Size, Speed --}}
        <div class="stat-inline list-entries">
            {{!-- Size --}}
            <label>{{localize "WW.Stats.Size"}}</label>
            {{system.stats.size}}
            
            {{!-- Speed --}}
            <label class="ml-1">{{localize "WW.Stats.Speed"}}</label>

            <a class="mr-1" title="{{localize "WW.Stats.NormalSpeed"}}: {{system.stats.speed.normal}}">{{system.stats.speed.current}}</a>
            
            {{!-- Movement Traits --}}
            {{#each system.details.movementTraits as |detail id|}}<span class="list-entry">
                {{#if @first}}({{/if}}<a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                    <a class="array-button" data-action="edit" data-array="details.movementTraits" data-entry-id="{{id}}"
                        title="{{localize "WW.Detail.Movement.Edit"}}"><i class="fas fa-edit"></i></a>
                    
                    <a class="array-button" data-action="remove" data-array="details.movementTraits" data-entry-id="{{id}}"
                        title="{{localize "WW.Detail.Movement.Remove"}}"><i class="fas fa-trash"></i></a>
                </span>{{#unless @last}},{{/unless}}{{#if @last}}){{/if}}
            </span>
            {{/each}}

            <a class="array-button" data-action="add" data-array="details.movementTraits" data-loc="Movement"
                title="{{localize "WW.Detail.Movement.Add"}}"><i class="fas fa-circle-plus"></i></a>

        </div>

        <h3 class="mt-2">{{localize "WW.Attack.Plural"}}</h3>
        
        <span class="attacks">

            {{!-- Bonus Damage --}}
            {{#if system.stats.bonusdamage}}
            <div class="stat">
                <label class="" for="bonusdamage" class="resource-label">{{localize "WW.Damage.Bonus"}}</label>
                +{{system.stats.bonusdamage}}d6
            </div>
            {{/if}}

            {{!-- Weapons List --}}
            <div class="mt-1">
                <ol class="described-list">
                    {{#each weapons as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/parts/Character-summary-weapon.hbs" item=item id=id}}
                    {{/each}}
                </ol>
            </div>
        </span>
    </div>

    {{!-- Right Column --}}
    <div class="statbox">

        {{!-- Talents --}}
        <h3>{{localize "WW.Talents.Label"}}</h3>
        <ol class="compact-list stat">
            {{#each talents as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>

        {{!-- Actions --}}
        {{#if actions}}
        <h4 class="mt-2">{{localize "WW.Talents.Actions"}}</h4>
        <ol class="compact-list stat">
            {{#each actions as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>
        {{/if}}

        {{!-- Reactions --}}
        {{#if reactions}}
        <h4 class="mt-2">{{localize "WW.Talents.Reactions"}}</h4>
        <ol class="compact-list stat">
            {{#each reactions as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>
        {{/if}}

        {{!-- Spells Section --}}
        {{#if (or system.details.traditions spells.length)}}
        <h3>{{localize "WW.Spells.Label"}}</h3>

        {{!-- Traditions --}}
        <div class="stat-inline mb-2 list-entries">

            <label>{{localize "WW.Detail.Tradition.Label"}}</label>

            {{#each system.details.traditions as |detail id|}}
            <span class="list-entry">
                
            <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                <a class="array-button" data-action="edit" data-array="details.traditions" data-entry-id="{{id}}"
                    title="{{localize "WW.Detail.Tradition.Edit"}}"><i class="fas fa-edit"></i></a>
                
                <a class="array-button" data-action="remove" data-array="details.traditions" data-entry-id="{{id}}"
                    title="{{localize "WW.Detail.Tradition.Remove"}}"><i class="fas fa-trash"></i></a>

                </span>{{#unless @last}},{{/unless}}
            </span>
            {{/each}}
                
            {{#unless system.details.traditions.length}}—{{/unless}}
            <a class="array-button" data-action="add" data-array="details.traditions" data-loc="Tradition"
                title="{{localize "WW.Detail.Tradition.Add"}}"><i class="fas fa-circle-plus"></i></a>            
            
        </div>

        {{!-- Spells List --}}
        <ol class="compact-list stat">
            {{#each spells as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>
        {{/if}}
        
    </div>
</div>