<div class="summary auto-grid-2">

    {{!-- Left Column --}}
    <div class="statbox">
        <h3>{{localize "WW.Stats"}}</h3>
        
        {{!-- Level, Ancestry --}}
        <div class="stat-inline">
            <label>{{localize "WW.Level"}}</label>
            <select name="system.stats.level">
                {{selectOptions numbersObj selected=system.stats.level localize=true}}
            </select>

            <input class="auto-resize" type="text" name="system.details.ancestry" value="{{system.details.ancestry}}"
                title="{{localize "WW.Ancestry"}}" data-dtype="String" />

            {{!-- Type --}}
            {{#if system.details.type}}<label class="ml-1">{{localize "WW.Type"}}</label>{{/if}}
            <input type="text" name="system.details.type" value="{{system.details.type}}"
                title="{{localize "WW.Type"}}" data-dtype="String" />
        
        </div>
        {{!--<div class="stat">
            <label for="level" class="resource-label">{{localize "WW.Level"}}</label>
            {{system.stats.level}}

            <label class="ml-1" for="ancestry" class="resource-label">{{localize "WW.Ancestry"}}</label>
            {{system.details.ancestry}}
        </div>--}}

        
        {{!--<div class="stat">
            {{#if system.details.type}}<label for="type" class="resource-label">{{localize
                "WW.Type"}}</label>
            {{system.details.type}}{{/if}}
        </div>--}}

        {{!-- Professions --}}
        <div class="stat-inline">
            <label>{{localize "WW.Professions"}}</label>
            <input name="system.details.professions" type="text" value="{{system.details.professions}}"
                placeholder="{{localize "WW.ProfessionsPH"}}" />
            {{system.details.professions.value}}
        </div>
        {{!--{{#if system.details.professions}}
        <div class="stat">
            <label class="" for="professions" class="resource-label">{{localize "WW.Professions"}}</label>
            {{system.details.professions}}
        </div>
        {{/if}}--}}

        {{!-- Paths --}}
        <div class="stat">
            {{#if system.details.novice}}
            <label for="paths" class="resource-label">{{localize "WW.Paths"}}</label>
            
                <input class="auto-resize" type="text" name="system.details.novice" value="{{system.details.novice}}"
                    title="{{localize "WW.NovicePath"}}" data-dtype="String" />
                {{system.details.novice.value}}

                {{#if (gte system.stats.level 3)}}/ {{/if}}
                <input class="auto-resize" type="text" name="system.details.expert" value="{{system.details.expert}}"
                    title="{{localize "WW.ExpertPath"}}" data-dtype="String" />
                
                {{#if (gte system.stats.level 7)}}/ {{/if}}
                <input class="auto-resize" type="text" name="system.details.master" value="{{system.details.master}}"
                    title="{{localize "WW.MasterPath"}}" data-dtype="String" />
            {{!--<ol class="summary-list">
                <li title="{{localize "WW.NovicePath"}}">{{system.details.novice}}</li>
                {{#if system.details.expert}}<li title="{{localize "WW.ExpertPath"}}">
                    {{system.details.expert}}</li>{{/if}}
                {{#if system.details.expert}}<li title="{{localize "WW.MasterPath"}}">
                    {{system.details.master}}</li>{{/if}}
            </ol>--}}
            {{/if}}
        </div>

        {{!-- Senses --}}
        <div class="stat-inline">
            <label>{{localize "WW.Senses"}}</label>
            <input type="text" name="system.details.senses" value="{{system.details.senses}}"
                data-dtype="String" />
            {{system.details.senses.value}}
        </div>
        {{!--<div class="stat">
            {{#if system.details.senses}}<label for="senses" class="resource-label">{{localize
                "WW.Senses"}}</label>
            {{system.details.senses}}{{/if}}
        </div>--}}

        {{!-- Languages --}}
        <div class="stat-inline">
            <label>{{localize "WW.Languages"}}</label>
            <input type="text" name="system.details.languages" value="{{system.details.languages}}"
                data-dtype="String" placeholder="{{localize "WW.LanguagesPH"}}" />
            {{system.details.languages.value}}
        </div>
        {{!--<div class="stat">
            <label class="" for="languages" class="resource-label">{{localize "WW.Languages"}}</label>
            {{system.details.languages}}
        </div>--}}

        {{!-- Immune --}}
        <div class="stat-inline">
            <label>{{localize "WW.Immune"}}</label>
            <input type="text" name="system.details.immune" value="{{system.details.immune}}"
                data-dtype="String" placeholder="{{localize "WW.ImmunePH"}}" />
            {{system.details.immune.value}}
        </div>
        {{!--{{#if system.details.immune}}<div class="stat mt-1">
            <label class="" for="immune" class="resource-label">{{localize "WW.Immune"}}</label>
            {{system.details.immune}}
        </div>{{/if}}--}}

        {{!-- Size, Speed --}}
        <div class="stat-inline">
            <label>{{localize "WW.Size"}}</label>
            <select name="system.stats.size">
                {{selectOptions numbersObj selected=system.stats.size localize=true}}
            </select>
            {{system.stats.size.value}}

            <label>{{localize "WW.Speed.Label"}}</label>
            {{!--<input type="number" name="system.stats.speed.raw" value="{{system.stats.speed.raw}}"
                data-dtype="Number" min="0" / placeholder="#">--}}
            <a class="mr-1" title="{{localize "WW.Speed.Raw"}}: {{system.stats.speed.raw}}">{{system.stats.speed.value}}</a>
            {{#if system.stats.speed.special}}({{/if}}<input class="auto-resize" type="text" name="system.stats.speed.special"
                value="{{system.stats.speed.special}}" data-dtype="String" 
                title="{{localize "WW.Speed.Tip"}}" />{{#if system.stats.speed.special}}){{/if}}
        </div>
        {{!--<div class="stat mt-1">
            <label for="size" class="resource-label">{{localize "WW.Size"}}</label>
            {{system.stats.size}}

            <label class="ml-1" for="speed" class="resource-label">{{localize "WW.Speed.Label"}}</label>

            <a title="{{localize "WW.Speed.Raw"}}: {{system.stats.speed.raw}}">{{system.stats.speed.value}}</a>
            
            {{#if system.stats.speed.special}} ({{system.stats.speed.special}}){{/if}}
        </div>--}}

        <h3 class="mt-2">{{localize "WW.Attack.Plural"}}</h3>
        
        <span class="attacks">

            {{!-- Bonus Damage --}}
            {{#if system.stats.bonusdamage}}
            <div class="stat">
                <label class="" for="bonusdamage" class="resource-label">{{localize "WW.Damage.Bonus"}}</label>
                +{{system.stats.bonusdamage}}d6
            </div>
            {{/if}}

            {{!-- Weapons List --}}
            <div class="mt-1">
                <ol class="described-list">
                    {{#each weapons as |item id|}}
                    <li class="item" data-item-id="{{item._id}}">
                        <a class="rollable item-roll" title="Attack with {{item.name}}">{{item.name}}</a>

                        <a class="item-edit" title="Edit Weapon"><i class="fas fa-edit"></i></a>

                        {{#if item.system.description.value}}<a class="item-scroll" data-tooltip="{{item.system.description.value}}"><i class="far fa-scroll"></i></a>{{/if}}

                        {{!-- Toggle Reloaded --}}
                        {{#if item.system.properties.reload}}
                            <a class="item-toggle-reloaded" data-item-id="{{item._id}}" 
                                title="{{#if item.system.reloaded}}{{localize "WW.Weapon.Fire"}}{{else}}{{localize "WW.Weapon.Reload"}}{{/if}}">
                                <i class="fas {{#if item.system.reloaded}}fa-hexagon-check{{else}}fa-arrows-rotate{{/if}}"></i></a>
                        {{/if}}

                        {{!--<a class="damage-roll" title="Roll Damage Dice"><i class="fas fa-burst"></i></a>--}}
                        
                        <span class="properties-line">({{item.system.grip}}{{#if item.system.propertiesList}};
                        {{item.system.propertiesList}}{{/if}})</span> 

                        <span class="modifier-line">{{localize item.system.attributeLabel}}
                        
                        {{#if item.system.boons}} {{localize "WW.Boons.With"}} {{item.system.boons}} 
                            {{#if (lt item.system.boons -1)}}{{localize "WW.Boons.Banes"}}
                                {{else if (lt item.system.boons 0)}}{{localize "WW.Boons.Bane"}}
                                {{else if (gt item.system.boons 1)}}{{localize "WW.Boons.Boons"}}
                                {{else}}{{localize "WW.Boons.Boon"}}
                            {{/if}}
                        {{/if}}
                        </span>

                        <span class="damage-line">({{#if item.system.damage}}{{item.system.damage}}{{else}}0{{/if}})</span>
                        
                        {{#if item.system.attackRider.value}}{{{item.system.attackRider.enriched}}}{{/if}}
                    </li>
                    {{/each}}
                </ol>
            </div>
        </span>
    </div>

    {{!-- Right Column --}}
    <div class="statbox">

        {{!-- Talents --}}
        <h3>{{localize "WW.Talents"}}</h3>
        <ol class="compact-list stat">
            {{#each talents as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}

            {{/each}}
        </ol>

        {{!-- Actions --}}
        {{#if actions}}
        <h4 class="mt-2">{{localize "WW.Actions"}}</h4>
        <ol class="compact-list stat">
            {{#each actions as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}

            {{/each}}
        </ol>
        {{/if}}

        {{!-- Reactions --}}
        {{#if reactions}}
        <h4 class="mt-2">{{localize "WW.Reactions"}}</h4>
        <ol class="compact-list stat">
            {{#each reactions as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}

            {{/each}}
        </ol>
        {{/if}}

        {{!-- Spells Section --}}
        {{#if (or system.details.traditions spells.length)}}
        <h3>{{localize "WW.Spells"}}</h3>

        {{!-- Traditions --}}
        <span class="spells">
        {{#if system.details.traditions}}
        <div class="stat mb-2">
            <label class="" for="traditions" class="resource-label">{{localize "WW.Traditions"}}</label>
            {{system.details.traditions}}
        </div>
        {{/if}}

        {{!-- Spells List --}}
        <ol class="compact-list stat">
            {{#each spells as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            
            {{/each}}
        </ol>
        {{/if}}
        </span>
    </div>
</div>