<div>
    {{!-- Header Row --}}
    <div class="flex-row stat-inline">

        {{!-- Coins --}}
        <div class="flex-row">
            <label for="system.currency" class="resource-label">{{localize "WW.Coins.Title"}}</label>
            <ol class="coins-list">
                <li><input type="number" name="system.currency.gp" value="{{system.currency.gp}}" min="0"
                        data-dtype="Number" /> {{localize "WW.Coins.GP"}}
                </li>
                <li><input type="number" name="system.currency.sp" value="{{system.currency.sp}}" min="0"
                        data-dtype="Number" /> {{localize "WW.Coins.SP"}}
                </li>
                <li>
                    <input type="number" name="system.currency.cp" value="{{system.currency.cp}}" min="0"
                        data-dtype="Number" /> {{localize "WW.Coins.CP"}}
                </li>
            </ol>
        </div>

        {{!-- Weight Total --}}
        <div class="ml-auto">
            <label>{{localize "WW.WeightTotal"}}:</label>
            <span {{#if (gt totalWeight system.attributes.str.value)}}style="color: red; font-weight:bold"{{/if}}>{{totalWeight}} / {{system.attributes.str.value}}</span>
        </div>
    </div>

    {{!-- Weapons --}}
    <h2>{{localize "WW.Weapons"}}</h2>
    <ol class="item-list">
        <li class="item flexrow items-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize "WW.Name"}}</div>
            <div class="item-fixed">{{localize "WW.Damage.Title"}}</div>
            <div class="item-fixed">{{localize "WW.Grip"}}</div>
            <div class="item-properties">{{localize "WW.Properties.Title"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="Equipment" data-subtype="weapon"><i
                    class="fas fa-plus"></i> {{localize "WW.Add"}}</a>
            </div>
        </li>
        {{#each weapons as |item id|}}
        <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <label class="item-name">{{item.name}} 
                {{#if item.system.description.value}}<a class="item-scroll" data-tooltip="{{item.system.description.value}}"><i class="far fa-scroll"></i></a>{{/if}}
                <a class="rollable item-roll" title="Roll Attack">
                    <i class="fas fa-dice-d20"></i></a>
                <a class="damage-roll" title="Roll Damage Dice"><i class="fas fa-burst"></i></a>
            </label>
            <div class="item-fixed damage-roll"><a>{{item.system.damage}}</a></div>
            <div class="item-fixed">{{item.system.grip}}</div>
            <div class="item-properties">{{item.system.properties}}</div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>

</div>

<div>
    <h2>{{localize "WW.Equipment"}}</h2>
    <ol class="item-list">
        <li class="item flexrow items-header">
            <div class="item-image"></div>
            <div class="item-quantity">#</div>
            <div class="item-name">{{localize "WW.Name"}}</div>
            <div class="item-uses">{{localize "WW.UsesEquipment"}}</div>
            <div class="item-weight">{{localize "WW.Weight"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="Equipment" data-subtype="generic"><i class="fas fa-plus"></i> {{localize "WW.Add"}}</a>
            </div>
        </li>
        {{#each equipment as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <div class="item-quantity">{{item.system.quantity}}</div>
            <label class="item-name">{{item.name}}
                {{#if item.system.description.value}}<a class="item-scroll" data-tooltip="{{item.system.description.value}}"><i class="far fa-scroll"></i></a>{{/if}}
            </label>
            <div>
                {{#each item.uses as |pip id|}}
                <a class="item-pip" title="{{#if (eq pip "far")}}Spend use/charge{{else}}Recover use/charge{{/if}}"><i
                        class="{{pip}} fa-circle"></i></a>
                {{/each}}
            </div>
            <div class="item-weight">{{item.system.weight}}</div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>