<ol class="item-list">

    {{!-- Header --}}
    <li class="item flexrow items-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "WW.Item.Name"}}</div>
        <div>{{localize "WW.Talent.Uses"}}</div>
        <div>{{localize "WW.Talent.Source.Label"}}</div>
        <div class="item-controls">
            <a class="item-control item-create" data-tooltip="WW.Item.Add.Trait" data-type="Trait or Talent" data-subtype="trait" data-source="Ancestry"><i class="fas fa-plus"></i> {{localize "WW.Item.Add.Label"}}</a>
        </div>
    </li>

    {{#each allTalents as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">

        {{!-- Icon --}}
        <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24" /></div>
        
        <div class="item-name">
            {{!-- Title --}}
            {{#if item.needTargets}}<label class="item-button" data-action="targeted-use" data-item-id="{{item._id}}"
                data-tooltip="WW.Targeting.TalentTargeted">{{item.name}}</label>
            {{else if item.isActivity}}<label class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                data-tooltip="WW.Targeting.TalentUntargeted">{{item.name}}</label>
            {{else}}<label>{{item.name}}</label>{{/if}}

            <span class="buttons">
                {{!-- Use Buttons --}}
                {{#if item.isActivity}}

                    {{#if item.needTargets}}
                    <a class="item-button" data-action="targeted-use" data-item-id="{{item._id}}"
                        data-tooltip="WW.Targeting.TalentTargeted">
                    <i class="fas fa-bullseye"></i></a>
                    {{/if}}
                    
                    <a class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                        data-tooltip="WW.Targeting.TalentUntargeted">
                    <i class="fas fa-bolt"></i></a>

                {{/if}}

                {{!-- Toggle Effects --}}
                {{#if item.hasPassiveEffects}}
                    <a class="item-button" data-action="item-toggle-effects" data-item-id="{{item._id}}"
                        data-tooltip="{{#if item.system.active}}{{localize "WW.Item.DisableEffects"}}{{else}}{{localize "WW.Item.EnableEffects"}}{{/if}}">
                        <i class="fas {{#if item.system.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
                {{/if}}

                {{!-- Scroll Button --}}
                {{#if item.system.description.value}}
                <a class="item-button" data-action="item-scroll" data-item-id="{{item._id}}"
                    data-tooltip="{{item.system.description.value}}">
                <i class="far fa-scroll"></i></a>
                {{/if}}

            </span>

        </div>

        {{!-- Uses Pips --}}
        <div>
            {{#if item.uses}}
            <span class="pip-box">
                {{#each item.uses as |pip id|}}
                <a class="item-pip" data-item-id="{{item._id}}"
                    data-tooltip="{{#if (eq pip "far fa-circle")}}{{localize "WW.Item.Uses.TalentSpend"}}{{else}}{{localize "WW.Item.Uses.TalentRecover"}}{{/if}}">
                <i class="{{pip}}"></i></a>
                {{/each}}
            </span>
            {{/if}}
        </div>

        {{!-- Source --}}
        <div>{{item.system.source}}</div>
        
        <div class="item-controls">
            {{!-- Edit Button --}}
            <a class="item-button" data-action="item-edit" data-item-id="{{item._id}}"
                data-tooltip="WW.Item.Edit.Talent">
            <i class="fas fa-edit"></i></a>

            {{!-- Delete Button --}}
            <a class="item-button" data-action="item-delete" data-item-id="{{item._id}}" data-tooltip="WW.Item.Delete.Trait"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</ol>