<div class="flex-row stat-inline">{{!-- Traditions --}}
    <label for="system.details.traditions.value">{{localize "WW.Traditions"}}</label>
    <input type="text" name="system.details.traditions.value" value="{{system.details.traditions.value}}"
        placeholder="{{localize "WW.TraditionsPH"}}" data-dtype="String" />
</div>

<ol class="items-list">
    <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "WW.Name"}}</div>
        <div>{{localize "WW.Tier"}}</div>
        <div>{{localize "WW.Tradition"}}</div>
        <div>{{localize "WW.Castings"}}</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="Spell"><i class="fas fa-plus"></i> Add
                spell</a>
        </div>
    </li>
    {{#each spells as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
        <label class="item-name">{{item.name}} <a class="rollable item-roll ml-1" title="Roll Spell"><i
                    class="fas fa-dice-d20"></i></a></label>
        <div>{{item.system.tier.value}}</div>
        <div>{{item.system.tradition.value}}</div>
        <div>
            {{#each item.uses as |pip id|}}
            <a class="item-pip" title="{{#if (eq pip " far")}}Spend casting{{else}}Recover casting{{/if}}"><i
                    class="{{pip}} fa-circle"></i></a>
            {{/each}}
        </div>
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</ol>