<div class="summary auto-grid-2">

    {{!-- Left Column --}}
    <div class="statbox">
        <h3>{{localize "WW.Stats"}}</h3>
        
        {{!-- Level, Ancestry --}}
        <div class="stat-inline">
            <label>{{localize "WW.Level"}}</label>
            <select name="system.stats.level">
                {{selectOptions numbersArr selected=system.stats.level nameAttr="key" labelAttr="label"}}
            </select>

            <input class="auto-resize" type="text" name="system.details.ancestry" value="{{system.details.ancestry}}"
                title="{{localize "WW.Ancestry"}}" data-dtype="String" />

            {{!-- Type --}}
            {{#if system.details.type}}<label class="ml-1">{{localize "WW.Type"}}</label>{{/if}}
            <input type="text" name="system.details.type" value="{{system.details.type}}"
                title="{{localize "WW.Type"}}" data-dtype="String" />
        
        </div>

        {{!-- Professions --}}
        <div class="stat-inline input-list">
            <label>{{localize "WW.Professions.Label"}}</label>
            
            <div>

                {{#each system.details.professions as |detail id|}}
                <span>
                <input class="array-input auto-resize" name="" data-array="details.professions" data-id="{{id}}" type="text"
                    value="{{detail}}" />
                
                <a class="array-button" data-action="remove" data-array="details.professions" data-id="{{id}}"
                    title="{{localize "WW.Professions.Remove"}}"><i class="fas fa-trash"></i></a>
                
                {{#unless @last}},{{/unless}}
                </span>
                {{/each}}

                <a class="array-button" data-action="add" data-array="details.professions" data-loc="Professions"
                    title="{{localize "WW.Professions.Add"}}"><i class="fas fa-circle-plus"></i></a>
                
            </div>
        </div>

        {{!-- Paths --}}
        <div class="stat">
            {{#if system.details.novice}}
            <label for="paths" class="resource-label">{{localize "WW.Paths"}}</label>
            
            <span>
                <input class="auto-resize" type="text" name="system.details.novice" value="{{system.details.novice}}"
                    title="{{localize "WW.NovicePath"}}" data-dtype="String" />
                {{system.details.novice.value}}
                
                {{#if charOptions.novice}}
                <span class="buttons">
                    <a class="item-button" data-action="item-edit" data-item-id="{{charOptions.novice._id}}" title="{{localize (concat "WW.Item.Edit." charOptions.novice.type)}}"><i class="fas fa-edit"></i></a>
                    <a class="item-button" data-action="item-delete" data-item-id="{{charOptions.novice._id}}" title="{{localize (concat "WW.Item.Delete." charOptions.novice.type)}}"><i class="fas fa-trash"></i></a>
                </span>
                {{/if}}
            </span>

            <span>
                {{#if (gte system.stats.level 3)}}/ {{/if}}
                <input class="auto-resize" type="text" name="system.details.expert" value="{{system.details.expert}}"
                    title="{{localize "WW.ExpertPath"}}" data-dtype="String" />

                {{#if charOptions.expert}}
                <span class="buttons">
                    <a class="item-button" data-action="item-edit" data-item-id="{{charOptions.expert._id}}" title="{{localize (concat "WW.Item.Edit." charOptions.expert.type)}}"><i class="fas fa-edit"></i></a>
                    <a class="item-button" data-action="item-delete" data-item-id="{{charOptions.expert._id}}" title="{{localize (concat "WW.Item.Delete." charOptions.expert.type)}}"><i class="fas fa-trash"></i></a>
                </span>
                {{/if}}
            </span>

            <span>
                {{#if (gte system.stats.level 7)}}/ {{/if}}
                <input class="auto-resize" type="text" name="system.details.master" value="{{system.details.master}}"
                    title="{{localize "WW.MasterPath"}}" data-dtype="String" />

                {{#if charOptions.master}}
                <span class="buttons">
                    <a class="item-button" data-action="item-edit" data-item-id="{{charOptions.master._id}}" title="{{localize (concat "WW.Item.Edit." charOptions.master.type)}}"><i class="fas fa-edit"></i></a>
                    <a class="item-button" data-action="item-delete" data-item-id="{{charOptions.master._id}}" title="{{localize (concat "WW.Item.Delete." charOptions.master.type)}}"><i class="fas fa-trash"></i></a>
                </span>
                {{/if}}
            </span>
            {{/if}}
        </div>

        {{!-- Senses --}}
        <div class="stat-inline input-list">
            <label>{{localize "WW.Senses.Label"}}</label>

            <div>

                {{#each system.details.senses as |detail id|}}
                <span>
                <input class="array-input auto-resize" name="" data-array="details.senses" data-id="{{id}}" type="text"
                    value="{{detail}}" />
                
                <a class="array-button" data-action="remove" data-array="details.senses" data-id="{{id}}"
                    title="{{localize "WW.Senses.Remove"}}"><i class="fas fa-trash"></i></a>
                
                {{#unless @last}},{{/unless}}
                </span>
                {{/each}}

                <a class="array-button" data-action="add" data-array="details.senses" data-loc="Senses"
                    title="{{localize "WW.Senses.Add"}}"><i class="fas fa-circle-plus"></i></a>
                
            </div>

        </div>

        {{!-- Languages --}}
        <div class="stat-inline input-list">
            <label>{{localize "WW.Languages.Label"}}</label>

            <div>

                {{#each system.details.languages as |detail id|}}
                <span>
                <input class="array-input auto-resize" name="" data-array="details.languages" data-id="{{id}}" type="text"
                    value="{{detail}}" />
                
                <a class="array-button" data-action="remove" data-array="details.languages" data-id="{{id}}"
                    title="{{localize "WW.Languages.Remove"}}"><i class="fas fa-trash"></i></a>
                
                {{#unless @last}},{{/unless}}
                </span>
                {{/each}}

                <a class="array-button" data-action="add" data-array="details.languages" data-loc="Languages"
                    title="{{localize "WW.Languages.Add"}}"><i class="fas fa-circle-plus"></i></a>
                
            </div>

        </div>

        {{!-- Immune --}}
        <div class="stat-inline input-list">
            <label>{{localize "WW.Immune.Label"}}</label>
            
            <div>

                {{#each system.details.immune as |detail id|}}
                <span>
                <input class="array-input auto-resize" name="" data-array="details.immune" data-id="{{id}}" type="text"
                    value="{{detail}}" />
                
                <a class="array-button" data-action="remove" data-array="details.immune" data-id="{{id}}"
                    title="{{localize "WW.Immune.Remove"}}"><i class="fas fa-trash"></i></a>
                
                {{#unless @last}},{{/unless}}
                </span>
                {{/each}}

                <a class="array-button" data-action="add" data-array="details.immune" data-loc="Immune"
                    title="{{localize "WW.Immune.Add"}}"><i class="fas fa-circle-plus"></i></a>
                
            </div>

        </div>

        {{!-- Size, Speed --}}
        <div class="stat-inline">
            <label>{{localize "WW.Size"}}</label>
            {{system.stats.size}}

            <label class="ml-1">{{localize "WW.Speed.Label"}}</label>
            <a class="mr-1" title="{{localize "WW.Speed.Normal"}}: {{system.stats.speed.normal}}">{{system.stats.speed.current}}</a>
            
            {{#if system.stats.speed.special}}({{/if}}<input class="auto-resize" type="text" name="system.stats.speed.special"
                value="{{system.stats.speed.special}}" data-dtype="String" 
                title="{{localize "WW.Speed.Tip"}}" />{{#if system.stats.speed.special}}){{/if}}
        </div>

        <h3 class="mt-2">{{localize "WW.Attack.Plural"}}</h3>
        
        <span class="attacks">

            {{!-- Bonus Damage --}}
            {{#if system.stats.bonusdamage}}
            <div class="stat">
                <label class="" for="bonusdamage" class="resource-label">{{localize "WW.Damage.Bonus"}}</label>
                +{{system.stats.bonusdamage}}d6
            </div>
            {{/if}}

            {{!-- Weapons List --}}
            <div class="mt-1">
                <ol class="described-list">
                    {{#each weapons as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/parts/Character-summary-weapon.hbs" item=item id=id}}
                    {{/each}}
                </ol>
            </div>
        </span>
    </div>

    {{!-- Right Column --}}
    <div class="statbox">

        {{!-- Talents --}}
        <h3>{{localize "WW.Talents"}}</h3>
        <ol class="compact-list stat">
            {{#each talents as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>

        {{!-- Actions --}}
        {{#if actions}}
        <h4 class="mt-2">{{localize "WW.Actions"}}</h4>
        <ol class="compact-list stat">
            {{#each actions as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>
        {{/if}}

        {{!-- Reactions --}}
        {{#if reactions}}
        <h4 class="mt-2">{{localize "WW.Reactions"}}</h4>
        <ol class="compact-list stat">
            {{#each reactions as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>
        {{/if}}

        {{!-- Spells Section --}}
        {{#if (or system.details.traditions spells.length)}}
        <h3>{{localize "WW.Spells"}}</h3>

        {{!-- Traditions --}}
        <span class="spells">
        {{#if system.details.traditions}}
        <div class="stat-inline mb-2 input-list">
            <label>{{localize "WW.Traditions.Label"}}</label>
            
            <div>

                {{#each system.details.traditions as |detail id|}}
                <span>
                <input class="array-input auto-resize" name="" data-array="details.traditions" data-id="{{id}}" type="text"
                    value="{{detail}}" />
                
                <a class="array-button" data-action="remove" data-array="details.traditions" data-id="{{id}}"
                    title="{{localize "WW.Traditions.Remove"}}"><i class="fas fa-trash"></i></a>
                
                {{#unless @last}},{{/unless}}
                </span>
                {{/each}}

                <a class="array-button" data-action="add" data-array="details.traditions" data-loc="Traditions"
                    title="{{localize "WW.Traditions.Add"}}"><i class="fas fa-circle-plus"></i></a>
                
            </div>
        </div>
        {{/if}}

        {{!-- Spells List --}}
        <ol class="compact-list stat">
            {{#each spells as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/Character-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>
        {{/if}}
        </span>
    </div>
</div>