<div class="resources grid-2">

    <div class="statbox">{{!-- Left Column --}}
        <span class="statbox-superheader">
            <h3 class="statbox-header flex-group-left"><span>{{localize "WW.Stats"}}</span>
                <span class="statbox-level">{{localize "WW.Level"}} {{system.stats.level}} {{#if system.stats.solitary}}({{localize "WW.Solitary"}}){{/if}}</span>
            </h3>

            <div class="flex-row stat-inline flex-group-left">{{!-- Level, Solitary --}}
                <label>{{localize "WW.Level"}}</label>
                <select name="system.stats.level">
                    {{selectOptions numbersArr selected=system.stats.level nameAttr="key" labelAttr="label"}}
                </select>

                <label class="ml-2">{{localize "WW.Solitary"}}</label>
                <input type="checkbox" name="system.stats.solitary" {{checked system.stats.solitary}} />
            </div>

            {{!-- Type --}}
            <h4 class="mb-0">
                <label>{{localize "WW.Type"}}</label>
                <input type="text" name="system.details.type" value="{{system.details.type}}" data-dtype="String" />
            </h4>
        </span>

        <div class="hl">
            {{!-- Defense --}}
            <div class="stat nowrap">
                <label>{{localize "WW.Defense.Label"}}</label>
            
                <input type="number" name="system.stats.defense.total" value="{{system.stats.defense.total}}" min="0"
                    data-dtype="Number" />
            
                {{#if system.stats.defense.details}}({{/if}}<input class="auto-resize" type="text"
                    name="system.stats.defense.details" value="{{system.stats.defense.details}}" data-dtype="String"
                    title="{{localize " WW.Defense.Details"}}" />{{#if system.stats.defense.details}}){{/if}}
            </div>

            {{!-- Health, Damage --}}
            <div class="stat flex-row flex-wrap">

                {{!-- Health --}}
                <div class="nowrap">
                    <label>{{localize "WW.Health.Label"}}</label>

                    <input type="number" name="system.stats.health.current" value="{{system.stats.health.current}}" min="0"
                    data-dtype="Number" title="{{localize "WW.Health.Bonus"}}: {{system.stats.health.bonus}}. {{localize "WW.Health.Lost"}}: {{system.stats.health.lost}}"/>
                    (Normal:
                    <input type="number" name="system.stats.health.normal" value="{{system.stats.health.normal}}" min="0"
                    data-dtype="Number" />)
                </div>

                {{!-- Damage --}}
                <div class="nowrap">
                    <label>{{localize "WW.Damage.Label"}}</label>
                    
                    <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}" min="0"
                        data-dtype="Number" />

                    <i class="health-indicator fas {{#if incapacitated}}fa-octagon-xmark{{else if injured}}fa-droplet{{/if}}" title="
                        {{#if incapacitated}}{{localize "WW.Health.Incapacitated"}}
                        {{else}}{{localize "WW.Health.Injured"}}{{/if}}">
                    </i>
                </div>
            </div>

            <div class="mt-1 stat-inline">{{!-- Attributes 1 --}}
                <label>{{localize "WW.Strength"}}</label>
                <input type="number" name="system.attributes.str.value"
                    value="{{system.attributes.str.value}}" min="0" placeholder="—" data-dtype="Number" /> 
                    
                {{#if system.attributes.str.value}}
                <a class="attribute-mod rollable" data-key="str" title="Roll Strength">
                    ({{numberFormat system.attributes.str.mod decimals=0 sign=true}})
                </a>
                {{/if}}

                <label class="ml-1">{{localize "WW.Agility"}}</label>
                <input type="number" name="system.attributes.agi.value"
                    value="{{system.attributes.agi.value}}" min="0" placeholder="—" data-dtype="Number" /> 
                
                {{#if system.attributes.agi.value}}
                <a class="attribute-mod rollable" data-key="agi" title="Roll Agility">
                    ({{numberFormat system.attributes.agi.mod decimals=0 sign=true}})
                </a>
                {{/if}}

            </div>
            <div class="mt-1 stat-inline">{{!-- Attributes 2 --}}
                <label>{{localize "WW.Intellect"}}</label>
                <input type="number" name="system.attributes.int.value"
                    value="{{system.attributes.int.value}}" min="0" placeholder="—" data-dtype="Number" /> 
                
                {{#if system.attributes.int.value}}
                <a class="attribute-mod rollable" data-key="int" title="Roll Intellect">
                    ({{numberFormat system.attributes.int.mod decimals=0 sign=true}})
                </a>
                {{/if}}

                <label class="ml-1">{{localize "WW.Will"}}</label>
                <input type="number" name="system.attributes.wil.value"
                    value="{{system.attributes.wil.value}}" min="0" placeholder="—" data-dtype="Number" /> 
                
                {{#if system.attributes.wil.value}}
                <a class="attribute-mod rollable" data-key="wil" title="Roll Will">
                    ({{numberFormat system.attributes.wil.mod decimals=0 sign=true}})
                </a>
                {{/if}}
            </div>
            
        </div>

        <span class="talents-section">
            <h4>{{localize "WW.Talents"}}</h4>

            {{!-- Auras --}}
            <ol class="item-list described-list">
                <a class="item-create" title="Create item" data-type="Trait or Talent" data-subtype="aura"><i
                    class="fas fa-plus"></i> {{localize "WW.Add"}} {{localize "WW.TalentSubtypes.Aura"}}</a>

                {{#each auras as |item id|}}
                    {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
                {{/each}}
            </ol>

            {{!-- Senses --}}
            <div class="stat-inline list-entries">
                <label>{{localize "WW.Senses.Label"}}</label>

                <div>

                    {{#each system.details.senses as |detail id|}}
                    <span>
                    
                    <a data-tooltip="{{detail.desc}}">{{detail.name}}</a>
                    
                    <a class="array-button" data-action="edit" data-array="details.senses" data-entry-id="{{id}}"
                        title="{{localize "WW.Senses.Edit"}}"><i class="fas fa-edit"></i></a>
                    
                    <a class="array-button" data-action="remove" data-array="details.senses" data-entry-id="{{id}}"
                        title="{{localize "WW.Senses.Remove"}}"><i class="fas fa-trash"></i></a>
                    
                    {{#unless @last}},{{/unless}}
                    </span>
                    {{/each}}

                    {{#unless system.details.senses.length}}—{{/unless}}

                    <a class="array-button" data-action="add" data-array="details.senses" data-loc="Senses"
                        title="{{localize "WW.Senses.Add"}}"><i class="fas fa-circle-plus"></i></a>
                    
                </div>

            </div>

            {{!-- Languages --}}
            <div class="stat-inline list-entries">
                <label>{{localize "WW.Languages.Label"}}</label>

                <div>

                    {{#each system.details.languages as |detail id|}}
                    <span>
                    
                    <a data-tooltip="{{detail.desc}}">{{detail.name}}</a>
                    
                    <a class="array-button" data-action="edit" data-array="details.languages" data-entry-id="{{id}}"
                        title="{{localize "WW.Languages.Edit"}}"><i class="fas fa-edit"></i></a>
                    
                    <a class="array-button" data-action="remove" data-array="details.languages" data-entry-id="{{id}}"
                        title="{{localize "WW.Languages.Remove"}}"><i class="fas fa-trash"></i></a>
                    
                    {{#unless @last}},{{/unless}}
                    </span>
                    {{/each}}

                    {{#unless system.details.languages.length}}—{{/unless}}

                    <a class="array-button" data-action="add" data-array="details.languages" data-loc="Languages"
                        title="{{localize "WW.Languages.Add"}}"><i class="fas fa-circle-plus"></i></a>
                    
                </div>

            </div>

            {{!-- Immune --}}
            <div class="stat-inline list-entries">
                <label>{{localize "WW.Immune.Label"}}</label>

                <div>

                    {{#each system.details.immune as |detail id|}}
                    <span>
                    
                    <a data-tooltip="{{detail.desc}}">{{detail.name}}</a>
                    
                    <a class="array-button" data-action="edit" data-array="details.immune" data-entry-id="{{id}}"
                        title="{{localize "WW.Immune.Edit"}}"><i class="fas fa-edit"></i></a>
                    
                    <a class="array-button" data-action="remove" data-array="details.immune" data-entry-id="{{id}}"
                        title="{{localize "WW.Immune.Remove"}}"><i class="fas fa-trash"></i></a>
                    
                    {{#unless @last}},{{/unless}}
                    </span>
                    {{/each}}

                    {{#unless system.details.immune.length}}—{{/unless}}

                    <a class="array-button" data-action="add" data-array="details.immune" data-loc="Immune"
                        title="{{localize "WW.Immune.Add"}}"><i class="fas fa-circle-plus"></i></a>
                    
                </div>

            </div>

            {{!-- Size, Speed --}}
            <div class="stat-inline">
                <label>{{localize "WW.Size"}}</label>
                <select name="system.stats.size">
                    {{selectOptions numbersArr selected=system.stats.size nameAttr="key" labelAttr="label"}}
                </select>

                <label>{{localize "WW.Speed.Label"}}</label>
                {{!--<input type="number" name="system.stats.speed.raw" value="{{system.stats.speed.raw}}"
                    data-dtype="Number" min="0" / placeholder="#">--}}
                <a class="mr-1" title="{{localize "WW.Speed.Normal"}}: {{system.stats.speed.normal}}">{{system.stats.speed.current}}</a>
                {{#if system.stats.speed.special}}({{/if}}<input class="auto-resize" type="text" name="system.stats.speed.special"
                    value="{{system.stats.speed.special}}" data-dtype="String" 
                    title="{{localize "WW.Speed.Tip"}}" />{{#if system.stats.speed.special}}){{/if}}
            </div>

            <ol class="item-list described-list">{{!-- Talents --}}
                <a class="item-create" title="Create item" data-type="Trait or Talent" data-subtype="trait"><i
                        class="fas fa-plus"></i> {{localize "WW.Add"}} {{localize "WW.TalentSubtypes.Trait"}}</a>
                {{#each talents as |item id|}}
                    {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
                {{/each}}
            </ol>
        </span>

    </div>

    <div class="statbox">{{!-- Right Column --}}
        <h4>{{localize "WW.Attack.Plural"}}<a class="item-create ml-auto" title="Create item" data-type="Equipment" data-subtype="weapon"><i
                        class="fas fa-plus"></i></a></h4>
        <div class="attacks-list">
            <ol class="item-list described-list">
                
                {{#each weapons as |item id|}}
                    {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-weapon.hbs" item=item id=id}}
                {{/each}}
            </ol>
        </div>

        <h4 class="mt-2">{{localize "WW.Actions"}}<a class="item-create ml-auto" title="Create item" data-type="Trait or Talent" data-subtype="action"><i
                        class="fas fa-plus"></i></a></h4>
        <ol class="item-list described-list actions-list">
            {{#each actions as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>

        <h4 class="mt-2">{{localize "WW.Reactions"}}<a class="item-create ml-auto" title="Create item" data-type="Trait or Talent" data-subtype="reaction"><i
                        class="fas fa-plus"></i></a></h4>
        <ol class="item-list described-list">
            {{#each reactions as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>

        <h4 class="mt-2">{{localize "WW.Ends"}}<a class="item-create ml-auto" title="Create item" data-type="Trait or Talent" data-subtype="end"><i
                        class="fas fa-plus"></i></a></h4>
        <ol class="item-list described-list">
            {{#each end as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>

        <a class="item-create" title="Create item" data-type="Trait or Talent" data-subtype="fury"><i
                    class="fas fa-plus"></i> {{localize "WW.Add"}} {{localize "WW.TalentSubtypes.Fury"}}</a>
        <ol class="item-list described-list fury-list">
            {{#each fury as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-fury.hbs" item=item id=id}}
            {{/each}}
        </ol>

    </div>
</div>