<div class="resources grid-2">

    <div class="statbox">{{!-- Left Column --}}
        <span class="statbox-superheader">
            <h3 class="statbox-header flex-group-left"><span>{{localize "WW.Stats.Label"}}</span>
                <span class="statbox-level">{{localize "WW.Stats.Level"}} {{system.stats.level}} {{#if system.stats.solitary}}({{localize "WW.Stats.Solitary"}}){{/if}}</span>
            </h3>

            <div class="flex-row stat-inline flex-group-left">{{!-- Level, Solitary --}}
                <label>{{localize "WW.Stats.Level"}}</label>
                <select name="system.stats.level">
                    {{selectOptions numbersArr selected=system.stats.level nameAttr="key" labelAttr="label"}}
                </select>

                <label class="ml-2">{{localize "WW.Stats.Solitary"}}</label>
                <input type="checkbox" name="system.stats.solitary" {{checked system.stats.solitary}} />
            </div>

            {{!-- Type(s) --}}
            <h4 class="list-entries mb-0">
                <label>{{localize "WW.Detail.Type.Label"}}</label>

                {{#each system.details.types as |detail id|}}
                <span class="list-entry">
                
                    <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        <a class="array-button" data-action="edit" data-array="details.types" data-entry-id="{{id}}"
                            title="{{localize "WW.Detail.Type.Edit"}}"><i class="fas fa-edit"></i></a>
                
                        <a class="array-button" data-action="remove" data-array="details.types" data-entry-id="{{id}}"
                            title="{{localize "WW.Detail.Type.Remove"}}"><i class="fas fa-trash"></i></a>
                    </span>

                </span>
                {{/each}}
                
                {{#unless system.details.types.length}}—{{/unless}}
                
                <a class="array-button" data-action="add" data-array="details.types" data-loc="Type"
                    title="{{localize "WW.Detail.Type.Add"}}"><i class="fas fa-circle-plus"></i></a>

            </h4>

        </span>

        <div class="hl">
            {{!-- Defense --}}
            <div class="stat nowrap">
                <label>{{localize "WW.Defense.Label"}}</label>
            
                <input type="number" name="system.stats.defense.total" value="{{system.stats.defense.total}}" min="0"
                    data-dtype="Number" />
            
                {{#if system.stats.defense.details}}({{/if}}<input class="auto-resize" type="text"
                    name="system.stats.defense.details" value="{{system.stats.defense.details}}" data-dtype="String"
                    title="{{localize "WW.Defense.Details"}}" />{{#if system.stats.defense.details}}){{/if}}
            </div>

            {{!-- Health, Damage --}}
            <div class="stat-inline flex-wrap">

                {{!-- Health --}}
                <div class="nowrap">
                    <label>{{localize "WW.Health.Label"}}</label>

                    <input type="number" name="system.stats.health.current" value="{{system.stats.health.current}}" min="0"
                    data-dtype="Number" title="{{localize "WW.Health.Bonus"}}: {{system.stats.health.bonus}}. {{localize "WW.Health.Lost"}}: {{system.stats.health.lost}}"/>

                    <span class="stat-edit">{{localize "WW.Stats.Normal"}}: <input type="number" name="system.stats.health.normal" value="{{system.stats.health.normal}}" min="0" /></span>
                    
                </div>

                {{!-- Damage --}}
                <div class="nowrap">
                    <label>{{localize "WW.Damage.Label"}}</label>
                    
                    <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}" min="0"
                        data-dtype="Number" />

                    <i class="health-indicator fas {{#if incapacitated}}fa-octagon-xmark{{else if injured}}fa-droplet{{/if}}" title="
                        {{#if incapacitated}}{{localize "WW.Health.Incapacitated"}}
                        {{else}}{{localize "WW.Health.Injured"}}{{/if}}">
                    </i>
                </div>
            </div>

            <div class="mt-1 stat-inline">{{!-- Attributes 1 --}}
                <label>{{localize "WW.Attributes.Strength"}}</label>
                <input type="number" name="system.attributes.str.value"
                    value="{{system.attributes.str.value}}" min="0" placeholder="—" data-dtype="Number" /> 
                    
                {{#if system.attributes.str.value}}
                <a class="attribute-mod rollable" data-key="str" title="Roll Strength">
                    ({{numberFormat system.attributes.str.mod decimals=0 sign=true}})
                </a>
                {{/if}}

                <label class="ml-1">{{localize "WW.Attributes.Agility"}}</label>
                <input type="number" name="system.attributes.agi.value"
                    value="{{system.attributes.agi.value}}" min="0" placeholder="—" data-dtype="Number" /> 
                
                {{#if system.attributes.agi.value}}
                <a class="attribute-mod rollable" data-key="agi" title="Roll Agility">
                    ({{numberFormat system.attributes.agi.mod decimals=0 sign=true}})
                </a>
                {{/if}}

            </div>
            <div class="mt-1 stat-inline">{{!-- Attributes 2 --}}
                <label>{{localize "WW.Attributes.Intellect"}}</label>
                <input type="number" name="system.attributes.int.value"
                    value="{{system.attributes.int.value}}" min="0" placeholder="—" data-dtype="Number" /> 
                
                {{#if system.attributes.int.value}}
                <a class="attribute-mod rollable" data-key="int" title="Roll Intellect">
                    ({{numberFormat system.attributes.int.mod decimals=0 sign=true}})
                </a>
                {{/if}}

                <label class="ml-1">{{localize "WW.Attributes.Will"}}</label>
                <input type="number" name="system.attributes.wil.value"
                    value="{{system.attributes.wil.value}}" min="0" placeholder="—" data-dtype="Number" /> 
                
                {{#if system.attributes.wil.value}}
                <a class="attribute-mod rollable" data-key="wil" title="Roll Will">
                    ({{numberFormat system.attributes.wil.mod decimals=0 sign=true}})
                </a>
                {{/if}}
            </div>
            
        </div>

        <span class="talents-section">
            <h4>{{localize "WW.Talents.Label"}}</h4>

            {{!-- Auras --}}
            <ol class="item-list described-list">
                <a class="item-create add-button" title="Create item" data-type="Trait or Talent" data-subtype="aura"><i
                    class="fas fa-plus"></i> {{localize "WW.Item.Add.Aura"}}</a>

                {{#each auras as |item id|}}
                    {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
                {{/each}}
            </ol>

            {{!-- Senses --}}
            <div class="stat-inline list-entries">
                <label>{{localize "WW.Detail.Sense.Label"}}</label>

                {{#each system.details.senses as |detail id|}}
                <span class="list-entry">
                
                    <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        <a class="array-button" data-action="edit" data-array="details.senses" data-entry-id="{{id}}"
                            title="{{localize "WW.Detail.Sense.Edit"}}"><i class="fas fa-edit"></i></a>
                
                        <a class="array-button" data-action="remove" data-array="details.senses" data-entry-id="{{id}}"
                            title="{{localize "WW.Detail.Sense.Remove"}}"><i class="fas fa-trash"></i></a>
                    </span>{{#unless @last}},{{/unless}}

                </span>
                {{/each}}
                
                {{#unless system.details.senses.length}}—{{/unless}}
                
                <a class="array-button" data-action="add" data-array="details.senses" data-loc="Sense"
                    title="{{localize "WW.Detail.Sense.Add"}}"><i class="fas fa-circle-plus"></i></a>

            </div>

            {{!-- Languages --}}
            <div class="stat-inline list-entries">
                
                <label>{{localize "WW.Detail.Language.Label"}}</label>
                
                {{#each system.details.languages as |detail id|}}
                <span class="list-entry">
                
                    <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        <a class="array-button" data-action="edit" data-array="details.languages" data-entry-id="{{id}}"
                            title="{{localize "WW.Detail.Language.Edit"}}"><i class="fas fa-edit"></i></a>
                
                        <a class="array-button" data-action="remove" data-array="details.languages" data-entry-id="{{id}}"
                            title="{{localize "WW.Detail.Language.Remove"}}"><i class="fas fa-trash"></i></a>
                    </span>{{#unless @last}},{{/unless}}
                </span>
                {{/each}}
                
                {{#unless system.details.languages.length}}—{{/unless}}
                
                <a class="array-button" data-action="add" data-array="details.languages" data-loc="Language"
                    title="{{localize "WW.Detail.Language.Add"}}"><i class="fas fa-circle-plus"></i></a>

            </div>

            {{!-- Immune --}}
            <div class="stat-inline list-entries">

                <label>{{localize "WW.Detail.Immune.Label"}}</label>

                {{#each system.details.immune as |detail id|}}
                <span class="list-entry">
                    
                    <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        <a class="array-button" data-action="edit" data-array="details.immune" data-entry-id="{{id}}"
                            title="{{localize "WW.Detail.Immune.Edit"}}"><i class="fas fa-edit"></i></a>
                            
                        <a class="array-button" data-action="remove" data-array="details.immune" data-entry-id="{{id}}"
                            title="{{localize "WW.Detail.Immune.Remove"}}"><i class="fas fa-trash"></i></a>
                    </span>{{#unless @last}},{{/unless}}

                </span>
                {{/each}}

                {{#unless system.details.immune.length}}—{{/unless}}

                <a class="array-button" data-action="add" data-array="details.immune" data-loc="Immune"
                    title="{{localize "WW.Detail.Immune.Add"}}"><i class="fas fa-circle-plus"></i></a>        

            </div>

            {{!-- Size, Speed --}}
            <div class="stat-inline list-entries">

                {{!-- Size --}}
                <label>{{localize "WW.Stats.Size"}}</label>
                <select name="system.stats.size">
                    {{selectOptions numbersArr selected=system.stats.size nameAttr="key" labelAttr="label"}}
                </select>
                
                {{!-- Speed --}}
                <label class="ml-1">{{localize "WW.Stats.Speed"}}</label>

                {{system.stats.speed.current}}
                <span class="stat-edit">{{localize "WW.Stats.Normal"}}: <input type="number" name="system.stats.speed.normal" value="{{system.stats.speed.normal}}" min="0" /></span>
                
                {{!-- Movement Traits --}}
                {{#each system.details.movementTraits as |detail id|}}<span class="list-entry">
                    {{#if @first}}({{/if}}<a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        <a class="array-button" data-action="edit" data-array="details.movementTraits" data-entry-id="{{id}}"
                            title="{{localize "WW.Movement.Edit"}}"><i class="fas fa-edit"></i></a>
                        
                        <a class="array-button" data-action="remove" data-array="details.movementTraits" data-entry-id="{{id}}"
                            title="{{localize "WW.Movement.Remove"}}"><i class="fas fa-trash"></i></a>
                    </span>{{#unless @last}},{{/unless}}{{#if @last}}){{/if}}
                </span>
                {{/each}}

                <a class="array-button" data-action="add" data-array="details.movementTraits" data-loc="Movement"
                    title="{{localize "WW.Movement.Add"}}"><i class="fas fa-circle-plus"></i></a>

            </div>

            {{!-- Traits or Talents --}}
            <ol class="item-list described-list">
                <a class="item-create add-button" title="Create item" data-type="Trait or Talent" data-subtype="trait"><i
                        class="fas fa-plus"></i> {{localize "WW.Item.Add.Trait"}}</a>
                {{#each talents as |item id|}}
                    {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
                {{/each}}
            </ol>
        </span>

    </div>

    <div class="statbox">{{!-- Right Column --}}
        <h4>{{localize "WW.Attack.Plural"}}<a class="item-create ml-auto" title="Create item" data-type="Equipment" data-subtype="weapon"><i
                        class="fas fa-plus"></i></a></h4>
        <div class="attacks-list">
            <ol class="item-list described-list">
                
                {{#each weapons as |item id|}}
                    {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-weapon.hbs" item=item id=id}}
                {{/each}}
            </ol>
        </div>

        <h4 class="mt-2">{{localize "WW.Talents.Actions"}}<a class="item-create ml-auto" title="Create item" data-type="Trait or Talent" data-subtype="action"><i
                        class="fas fa-plus"></i></a></h4>
        <ol class="item-list described-list actions-list">
            {{#each actions as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>

        <h4 class="mt-2">{{localize "WW.Talents.Reactions"}}<a class="item-create ml-auto" title="Create item" data-type="Trait or Talent" data-subtype="reaction"><i
                        class="fas fa-plus"></i></a></h4>
        <ol class="item-list described-list">
            {{#each reactions as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>

        <h4 class="mt-2">{{localize "WW.Talents.Ends"}}<a class="item-create ml-auto" title="Create item" data-type="Trait or Talent" data-subtype="end"><i
                        class="fas fa-plus"></i></a></h4>
        <ol class="item-list described-list">
            {{#each end as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
            {{/each}}
        </ol>

        <ol class="item-list described-list fury-list">
            <a class="item-create add-button" title="Create item" data-type="Trait or Talent" data-subtype="fury"><i
                class="fas fa-plus"></i> {{localize "WW.Item.Add.Fury"}}</a>
            
            {{#each fury as |item id|}}
                {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-fury.hbs" item=item id=id}}
            {{/each}}
        </ol>

    </div>
</div>