<li class="item" data-item-id="{{item._id}}">
    
    {{!-- Title --}}
    <label class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
        data-tooltip="{{{item.tooltip}}}">{{item.name}}</label>

    {{#if (or item.system.traits.reload item.system.traits.firearm)}}
    <span class="buttons">

        {{!-- Toggle Reloaded --}}
        <a class="item-button" data-action="item-toggle-reloaded" data-item-id="{{item._id}}"
            data-tooltip="{{#if item.system.reloaded}}{{localize "WW.Weapon.Fire"}}{{else}}{{localize "WW.Weapon.Reload"}}{{/if}}">
        <i class="fas {{#if item.system.reloaded}}fa-hexagon-check{{else}}fa-arrows-rotate{{/if}}"></i></a>
        
    </span>
    {{/if}}

    {{!-- Modifier --}}
    <span class="modifier-line">
        {{item.system.attributeLabel}}

        {{!-- Boons --}}
        {{#if item.system.boons}} {{localize "WW.Boons.With"}} {{item.system.boons}}
            {{#if (lt item.system.boons -1)}}{{localize "WW.Boons.Banes"}}
                {{else if (lt item.system.boons 0)}}{{localize "WW.Boons.Bane"}}
                {{else if (gt item.system.boons 1)}}{{localize "WW.Boons.Boons"}}
                {{else}}{{localize "WW.Boons.Boon"}}
            {{/if}}
        {{/if}}
    </span>
    
    {{!-- Damage --}}
    <span class="damage-line">({{#if item.system.damage}}{{item.system.damage}}{{else}}0{{/if}})</span>

    {{!-- Attack Rider --}}
    {{#if item.system.attackRider.value}}{{{item.system.attackRider.enriched}}}{{/if}}
</li>