<div class="resources grid-2">

    <div class="statbox">{{!-- Left Column --}}
        <h3 class="statbox-header flex-group-left"><span style="padding-top: 1px;">{{localize "WW.Stats"}}</span>
            <span class="small bold float-right" style="padding-top: 3px;">{{localize "WW.Level"}} {{system.stats.level}} {{#if system.stats.solitary}}({{localize "WW.Solitary"}}){{/if}}</span>
        </h3>

        {{!-- Type --}}
        <h4 class="mb-0">
            <label>{{localize "WW.Type"}}</label>
            <span>{{system.details.type}}</span>
        </h4>

        <div class="hl">
            <div class="stat flex-row flex-wrap">{{!-- Defense, Health, Damage --}}
                <div class="nowrap">
                    <label>{{localize "WW.Defense.Title"}}</label>
                    {{system.stats.defense.total}}{{#if system.stats.defense.details}}
                    ({{system.stats.defense.details}}){{/if}}
                </div>

                <div class="nowrap">
                    <label>{{localize "WW.Health.Title"}}</label>
                    {{system.stats.health.total}}
                </div>

                <div class="nowrap">
                    <label>{{localize "WW.Damage.Title"}}</label>
                    <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}" min="0"
                        data-dtype="Number" />
                </div>
            </div>

            <div class="stat mt-1">{{!-- Attributes 1 --}}

                <label class="resource-label">{{localize "WW.Strength"}}</label>
                <a class="attribute-mod rollable" data-label="Strength" title="Roll Strength">
                    {{system.attributes.str.value}} 
                    {{#if system.attributes.str.value}}
                     ({{numberFormat system.attributes.str.mod decimals=0 sign=true}})
                    {{else}}—{{/if}}
                </a>

                <label class="ml-1" class="resource-label">{{localize "WW.Agility"}}</label>
                <a class="attribute-mod rollable" data-label="Agility" title="Roll Agility">
                    {{system.attributes.agi.value}}
                    {{#if system.attributes.agi.value}}
                     ({{numberFormat system.attributes.agi.mod decimals=0 sign=true}})
                    {{else}}—{{/if}}
                </a>

            </div>
            <div class="stat">{{!-- Attributes 2 --}}

                <label class="resource-label">{{localize "WW.Intellect"}}</label>
                <a class="attribute-mod rollable" data-label="Intellect" title="Roll Intellect">
                    {{system.attributes.int.value}}
                    {{#if system.attributes.int.value}}
                     ({{numberFormat system.attributes.int.mod decimals=0 sign=true}})
                    {{else}}—{{/if}}
                </a>

                <label class="ml-1" class="resource-label">{{localize "WW.Will"}}</label>
                <a class="attribute-mod rollable" data-label="Will" title="Roll Will">
                    {{system.attributes.wil.value}}
                    {{#if system.attributes.wil.value}}
                     ({{numberFormat system.attributes.wil.mod decimals=0 sign=true}})
                    {{else}}—{{/if}}
                </a>

            </div>
        </div>

        <h4>{{localize "WW.Talents"}}</h4>
        <div class="mt-1">{{!-- Auras --}}
            <ol class="described-list">
                {{#each auras as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    {{#if item.system.attribute}}<a class="rollable item-roll" title="Roll Aura">{{item.name}}</a>
                        {{else}}<label>{{item.name}}</label>{{/if}}
                    <a class="item-edit" title="Edit Aura"><i class="fas fa-edit"></i></a>
                    {{#if item.system.description.value}}<a class="item-scroll" title="Send to Chat"><i class="far fa-scroll"></i></a>{{/if}}
                    {{#if item.system.damage}}<a class="damage-roll" title="Roll Damage Dice"><i class="fas fa-burst"></i></a>{{/if}}
                    {{#if item.system.healing}}<a class="healing-roll" title="Roll Healing Dice"><i class="fas fa-sparkles"></i></a>{{/if}}
                    ({{localize "WW.Aura"}} {{item.system.range}}) 
                    <span>{{{item.system.description.enriched}}}</span>
                    
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Senses --}}
        {{#if system.details.senses}}<div class="stat">
            <label class="resource-label">{{localize
                "WW.Senses"}}</label>
            {{system.details.senses}}
        </div>{{/if}}

        {{!-- Languages --}}
        {{#if system.details.languages}}<div class="stat">
            <label class="" class="resource-label">{{localize
                "WW.Languages"}}</label>
            {{system.details.languages}}
        </div>{{/if}}

        {{!-- Immune --}}
        {{#if system.details.immune}}<div class="stat">
            <label class="mb-1" class="resource-label">{{localize "WW.Immune"}}</label>
            {{system.details.immune}}
        </div>{{/if}}

        <div class="stat mb-1 mt-1">{{!-- Size, Speed --}}
            <label class="resource-label">{{localize "WW.Size"}}</label>
            {{system.stats.size}}

            <label class="ml-1" class="resource-label">{{localize "WW.Speed"}}</label>
            {{system.stats.speed.value}}
            {{#if system.stats.speed.special}} ({{system.stats.speed.special}}){{/if}}
        </div>

        <ol class="described-list">{{!-- Talents --}}
            {{#each talents as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                {{#if item.system.attribute}}<a class="rollable item-roll" title="Roll Trait or Talent">{{item.name}}</a>
                    {{else}}<label>{{item.name}}</label>{{/if}}
                <a class="item-edit" title="Edit Trait or Talent"><i class="fas fa-edit"></i></a>
                {{#if item.system.description.value}}<a class="item-scroll" title="Send to Chat"><i class="far fa-scroll"></i></a>{{/if}}
                {{#if item.system.damage}}<a class="damage-roll" title="Roll Damage Dice"><i class="fas fa-burst"></i></a>{{/if}}
                {{#if item.system.healing}}<a class="healing-roll" title="Roll Healing Dice"><i class="fas fa-sparkles"></i></a>{{/if}}
                <span>{{{item.system.description.enriched}}}</span>
                
            </li>
            {{/each}}
        </ol>

    </div>

    <div class="statbox">{{!-- Right Column --}}
        {{#if weapons}}
        <h4>{{localize "WW.Attacks"}}</h4>
        <div class="mt-1">
            <ol class="described-list">
                {{#each weapons as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <a class="rollable item-roll" title="Roll Attack">{{item.name}}</a>
                    <a class="item-edit" title="Edit Weapon"><i class="fas fa-edit"></i></a>
                    {{#if item.system.description.value}}<a class="item-scroll" title="Send to Chat"><i class="far fa-scroll"></i></a>{{/if}}
                    <a class="damage-roll" title="Roll Damage Dice"><i class="fas fa-burst"></i></a>
                    {{#if item.system.properties.reload}}<input class="checkbox-reloaded" type="checkbox" name="item.system.reloaded" title="Weapon realoded?" {{checked item.system.reloaded}}/>{{/if}}
                    
                    {{#if item.system.propertiesList}}({{item.system.propertiesList}}) {{/if}}

                    {{item.system.attributeLabel}}
                    {{#if item.system.boons}} {{localize "WW.Boons.With"}} {{item.system.boons}} 
                        {{#if (lt item.system.boons -1)}}{{localize "WW.Boons.Banes"}}
                            {{else if (lt item.system.boons 0)}}{{localize "WW.Boons.Bane"}}
                            {{else if (gt item.system.boons 1)}}{{localize "WW.Boons.Boons"}}
                            {{else}}{{localize "WW.Boons.Boon"}}
                        {{/if}}
                    {{/if}}

                    ({{item.system.damage}})

                    {{#if item.system.attackRider.value}}{{{item.system.attackRider.enriched}}}{{/if}}
                </li>
                {{/each}}
            </ol>
        </div>
        {{/if}}

        {{#if actions}}
        <h4 class="mt-2">{{localize "WW.Actions"}}</h4>
        <ol class="described-list">
            {{#each actions as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                {{#if item.system.attribute}}<a class="rollable item-roll" title="Roll Action">{{item.name}}</a>
                    {{else}}<label>{{item.name}}</label>{{/if}}
                <a class="item-edit" title="Edit Action"><i class="fas fa-edit"></i></a>
                {{#if item.system.description.value}}<a class="item-scroll" title="Send to Chat"><i class="far fa-scroll"></i></a>{{/if}}
                {{#if item.system.damage}}<a class="damage-roll" title="Roll Damage Dice"><i class="fas fa-burst"></i></a>{{/if}}
                {{#if item.system.healing}}<a class="healing-roll" title="Roll Healing Dice"><i class="fas fa-sparkles"></i></a>{{/if}}
                {{#if item.uses}}
                    <span class="pip-box">
                        {{#each item.uses as |pip id|}}
                        <a class="item-pip" title="{{#if (eq pip "far")}}Spend use/casting/token{{else}}Recover use/casting/token{{/if}}"><i
                                class="{{pip}} fa-circle"></i></a>
                        {{/each}}
                    </span>
                {{/if}}
                <span>{{{item.system.description.enriched}}}</span>
                
            </li>
            {{/each}}
        </ol>
        {{/if}}

        {{#if reactions}}
        <h4 class="mt-2">{{localize "WW.Reactions"}}</h4>
        <ol class="described-list">
            {{#each reactions as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                {{#if item.system.attribute}}<a class="rollable item-roll" title="Roll Reaction">{{item.name}}</a>
                    {{else}}<label>{{item.name}}</label>{{/if}}
                <a class="item-edit" title="Edit Reaction"><i class="fas fa-edit"></i></a>
                {{#if item.system.description.value}}<a class="item-scroll" title="Send to Chat"><i class="far fa-scroll"></i></a>{{/if}}
                {{#if item.system.damage}}<a class="damage-roll" title="Roll Damage Dice"><i class="fas fa-burst"></i></a>{{/if}}
                {{#if item.system.healing}}<a class="healing-roll" title="Roll Healing Dice"><i class="fas fa-sparkles"></i></a>{{/if}}
                <span>{{{item.system.description.enriched}}}</span>
            </li>
            {{/each}}
        </ol>
        {{/if}}

        {{#if end}}
        <h4 class="mt-2">{{localize "WW.Ends"}}</h4>
        <ol class="described-list">
            {{#each end as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                {{#if item.system.attribute}}<a class="rollable item-roll" title="Roll End of Round Effect">{{item.name}}</a>
                    {{else}}<label>{{item.name}}</label>{{/if}}
                <a class="item-edit" title="Edit End of Round Effect"><i class="fas fa-edit"></i></a>
                {{#if item.system.description.value}}<a class="item-scroll" title="Send to Chat"><i class="far fa-scroll"></i></a>{{/if}}
                {{#if item.system.damage}}<a class="damage-roll" title="Roll Damage Dice"><i class="fas fa-burst"></i></a>{{/if}}
                {{#if item.system.healing}}<a class="healing-roll" title="Roll Healing Dice"><i class="fas fa-sparkles"></i></a>{{/if}}
                <span>{{{item.system.description.enriched}}}</span>
            </li>
            {{/each}}
        </ol>
        {{/if}}

        {{#if fury}}
        <ol class="described-list">
            {{#each fury as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                <h5 class="fury-header">
                    {{#if item.system.attribute}}<a class="rollable item-roll" title="Roll Fury">{{item.name}}</a>
                        {{else}}<label>{{item.name}}</label>{{/if}}
                    <a class="item-edit" title="Edit Fury"><i class="fas fa-edit"></i></a>
                    {{#if item.system.description.value}}<a class="item-scroll" title="Send to Chat"><i class="far fa-scroll"></i></a>{{/if}}
                    {{#if item.uses}}
                    <span class="pip-box">
                        {{#each item.uses as |pip id|}}
                        <a class="item-pip" title="{{#if (eq pip "far")}}Spend fury token{{else}}Recover fury token{{/if}}"><i
                                class="{{pip}} fa-circle"></i></a>
                        {{/each}}
                    </span>
                {{/if}}
                </h5>

                <span>{{{item.system.description.enriched}}}</span>
            </li>
            {{/each}}
        </ol>
        {{/if}}

    </div>
</div>