<div class="resources grid-2">

    <div class="statbox">{{!-- Left Column --}}
        <span class="statbox-superheader">
            <h3 class="statbox-header flex-group-left"><span>{{localize "WW.Stats"}}</span>
                <span class="statbox-level">{{localize "WW.Level"}} {{system.stats.level}} {{#if system.stats.solitary}}({{localize "WW.Solitary"}}){{/if}}</span>
            </h3>

            {{!-- Type --}}
            <h4 class="mb-0">
                <label>{{localize "WW.Type"}}</label>
                <span>{{system.details.type}}</span>
            </h4>
        </span>

        <div class="hl">
            <div class="stat flex-row flex-wrap">{{!-- Defense, Health, Damage --}}
                <div class="nowrap">
                    <label>{{localize "WW.Defense.Title"}}</label>
                    {{system.stats.defense.total}}{{#if system.stats.defense.details}}
                    ({{system.stats.defense.details}}){{/if}}
                </div>

                <div class="nowrap">
                    <label>{{localize "WW.Health.Title"}}</label>
                    {{system.stats.health.current}}
                </div>

                <div class="nowrap">
                    <label>{{localize "WW.Damage.Title"}}</label>
                    
                    <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}" min="0"
                        data-dtype="Number" />

                    <i class="health-indicator fas {{#if incapacitated}}fa-octagon-xmark{{else if injured}}fa-droplet{{/if}}" title="
                        {{#if incapacitated}}{{localize "WW.Health.Incapacitated"}}
                        {{else}}{{localize "WW.Health.Injured"}}{{/if}}">
                    </i>
                </div>
            </div>

            <div class="stat mt-1">{{!-- Attributes 1 --}}

                <label class="resource-label">{{localize "WW.Strength"}}</label>
                <a class="attribute-mod rollable" data-label="Strength" title="Roll Strength">
                    {{system.attributes.str.value}} 
                    {{#if system.attributes.str.value}}
                     ({{numberFormat system.attributes.str.mod decimals=0 sign=true}})
                    {{else}}—{{/if}}
                </a>

                <label class="ml-1" class="resource-label">{{localize "WW.Agility"}}</label>
                <a class="attribute-mod rollable" data-label="Agility" title="Roll Agility">
                    {{system.attributes.agi.value}}
                    {{#if system.attributes.agi.value}}
                     ({{numberFormat system.attributes.agi.mod decimals=0 sign=true}})
                    {{else}}—{{/if}}
                </a>

            </div>
            <div class="stat">{{!-- Attributes 2 --}}

                <label class="resource-label">{{localize "WW.Intellect"}}</label>
                <a class="attribute-mod rollable" data-label="Intellect" title="Roll Intellect">
                    {{system.attributes.int.value}}
                    {{#if system.attributes.int.value}}
                     ({{numberFormat system.attributes.int.mod decimals=0 sign=true}})
                    {{else}}—{{/if}}
                </a>

                <label class="ml-1" class="resource-label">{{localize "WW.Will"}}</label>
                <a class="attribute-mod rollable" data-label="Will" title="Roll Will">
                    {{system.attributes.wil.value}}
                    {{#if system.attributes.wil.value}}
                     ({{numberFormat system.attributes.wil.mod decimals=0 sign=true}})
                    {{else}}—{{/if}}
                </a>

            </div>
        </div>

        <span class="talents-section">
            <h4>{{localize "WW.Talents"}}</h4>
            <div class="mt-1">{{!-- Auras --}}
                <ol class="described-list">
                    {{#each auras as |item id|}}

                    {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
                    
                    {{/each}}
                </ol>
            </div>

            {{!-- Senses --}}
            {{#if system.details.senses}}<div class="stat">
                <label class="resource-label">{{localize
                    "WW.Senses"}}</label>
                {{system.details.senses}}
            </div>{{/if}}

            {{!-- Languages --}}
            {{#if system.details.languages}}<div class="stat">
                <label class="" class="resource-label">{{localize
                    "WW.Languages"}}</label>
                {{system.details.languages}}
            </div>{{/if}}

            {{!-- Immune --}}
            {{#if system.details.immune}}<div class="stat">
                <label class="mb-1" class="resource-label">{{localize "WW.Immune"}}</label>
                {{system.details.immune}}
            </div>{{/if}}

            <div class="stat mb-1 mt-1">{{!-- Size, Speed --}}
                <label class="resource-label">{{localize "WW.Size"}}</label>
                {{system.stats.size}}

                <label class="ml-1" class="resource-label">{{localize "WW.Speed.Title"}}</label>

                <a title="{{localize "WW.Speed.Raw"}}: {{system.stats.speed.raw}}">{{system.stats.speed.value}}</a>
                
                {{#if system.stats.speed.special}} ({{system.stats.speed.special}}){{/if}}
            </div>

            <ol class="described-list">{{!-- Talents --}}
                {{#each talents as |item id|}}

                {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
                
                {{/each}}
            </ol>
        </span>

    </div>

    <div class="statbox">{{!-- Right Column --}}
        {{#if weapons}}
        <h4>{{localize "WW.Attack.Plural"}}</h4>
        <div class="mt-1 attacks-list">
            <ol class="described-list">
                {{#each weapons as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <a class="rollable item-roll" title="Roll Attack">{{item.name}}</a>
                    <a class="item-edit" title="Edit Weapon"><i class="fas fa-edit"></i></a>

                    {{#if item.system.description.value}}<a class="item-scroll" title="Send to Chat"><i class="far fa-scroll"></i></a>{{/if}}

                    {{!-- Toggle Reloaded --}}
                    {{#if item.system.properties.reload}}
                        <a class="item-toggle-reloaded" data-item-id="{{item._id}}" 
                            title="{{#if item.system.reloaded}}{{localize "WW.Weapon.Fire"}}{{else}}{{localize "WW.Weapon.Reload"}}{{/if}}">
                            <i class="fas {{#if item.system.reloaded}}fa-hexagon-check{{else}}fa-arrows-rotate{{/if}}"></i></a>
                    {{/if}}
                    
                    <a class="damage-roll" title="Roll Damage Dice"><i class="fas fa-burst"></i></a>
                    
                    {{#if item.system.propertiesList}}({{item.system.propertiesList}}) {{/if}}

                    {{item.system.attributeLabel}}
                    {{#if item.system.boons}} {{localize "WW.Boons.With"}} {{item.system.boons}} 
                        {{#if (lt item.system.boons -1)}}{{localize "WW.Boons.Banes"}}
                            {{else if (lt item.system.boons 0)}}{{localize "WW.Boons.Bane"}}
                            {{else if (gt item.system.boons 1)}}{{localize "WW.Boons.Boons"}}
                            {{else}}{{localize "WW.Boons.Boon"}}
                        {{/if}}
                    {{/if}}

                    ({{#if item.system.damage}}{{item.system.damage}}{{else}}0{{/if}})

                    {{#if item.system.attackRider.value}}{{{item.system.attackRider.enriched}}}{{/if}}
                </li>
                {{/each}}
            </ol>
        </div>
        {{/if}}

        {{#if actions}}
        <h4 class="mt-2">{{localize "WW.Actions"}}</h4>
        <ol class="described-list actions-list">
            {{#each actions as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
            
            {{/each}}
        </ol>
        {{/if}}

        {{#if reactions}}
        <h4 class="mt-2">{{localize "WW.Reactions"}}</h4>
        <ol class="described-list">
            {{#each reactions as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
            
            {{/each}}
        </ol>
        {{/if}}

        {{#if end}}
        <h4 class="mt-2">{{localize "WW.Ends"}}</h4>
        <ol class="described-list">
            {{#each end as |item id|}}

            {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
            
            {{/each}}
        </ol>
        {{/if}}

        {{#if fury}}
        <ol class="described-list fury-list">
            {{#each fury as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                <h5 class="fury-header">
                    {{#if item.system.attribute}}<a class="rollable item-roll" title="Roll Fury">{{item.name}}</a>
                        {{else}}<label>{{item.name}}</label>{{/if}}
                    <a class="item-edit" title="Edit Fury"><i class="fas fa-edit"></i></a>
                    {{#if item.system.description.value}}<a class="item-scroll" title="Send to Chat"><i class="far fa-scroll"></i></a>{{/if}}
                    {{#if item.uses}}
                    <span class="pip-box float-right">
                        {{#each item.uses as |pip id|}}
                        <a class="item-pip" title="{{#if (eq pip "far fa-circle")}}{{localize "WW.Item.Uses.FurySpend"}}
                            {{else}}{{localize "WW.Item.Uses.FuryRecover"}}{{/if}}">
                        <i class="{{pip}} fa-circle"></i></a>
                        {{/each}}
                    </span>
                {{/if}}
                </h5>

                <span>{{{item.system.description.enriched}}}</span>
            </li>
            {{/each}}
        </ol>
        {{/if}}

    </div>
</div>