<div class="stats grid grid-2col">

    <div class="details-col flex-group-center">{{!-- Left Column --}}
        <h2>{{localize "WW.Stats"}}</h2>
        <div class="flex-row stat-inline">{{!-- Level, Type --}}
            <label for="system.stats.level.value" class="resource-label">{{localize "WW.Level"}}</label>
            <input type="number" name="system.stats.level.value" value="{{system.stats.level.value}}" min="1"
                data-dtype="Number" />

            <label for="system.details.type.value" class="resource-label ml-2">{{localize "WW.Type"}}</label>
            <input type="text" name="system.details.type.value" value="{{system.details.type.value}}"
                data-dtype="String" />
        </div>

        <div class="mb-2">
            <div class="mt-2 flex-row stat-inline flex-group-left">{{!-- Defense --}}
                <label for="system.stats.defense.total" class="resource-label">{{localize "WW.Defense"}}</label>
                <input class="mr-1" type="number" name="system.stats.defense.total"
                    value="{{system.stats.defense.total}}" min="0" data-dtype="Number" />
                <input type="text" name="system.stats.defense.details" value="{{system.stats.defense.details}}"
                    data-dtype="String" placeholder="{{localize "WW.DefenseDetails"}}" />
            </div>
            <div class="flex-row stat-inline flex-group-left">{{!-- Damage / Health --}}
                <label for="system.stats.health.total" class="resource-label">{{localize "WW.Damage"}} / {{localize
                    "WW.Health.Title"}}</label>
                <div class="flex-row flex-group-center">
                    <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}" min="0"
                        data-dtype="Number" />
                    <span class="mx-1">/</span>
                    <input type="number" name="system.stats.health.total" value="{{system.stats.health.total}}" min="0"
                        data-dtype="Number" />
                </div>
            </div>

            <div class="mt-1 flex-row stat-inline flex-group-left">{{!-- Attributes 1 --}}
                <label for="str" class="resource-label">{{localize "WW.Strength"}}</label>
                <input class="mr-1" type="number" name="system.attributes.str.value"
                    value="{{system.attributes.str.value}}" min="0" data-dtype="Number" /> <a
                    class="attribute-mod rollable" data-label="Strength" title="Roll Strength">{{numberFormat
                    system.attributes.str.mod decimals=0 sign=true}}</a>

                <label class="ml-1" for="agi" class="resource-label">{{localize "WW.Agility"}}</label>
                <input class="mr-1" type="number" name="system.attributes.agi.value"
                    value="{{system.attributes.agi.value}}" min="0" data-dtype="Number" /> <a
                    class="attribute-mod rollable" data-label="Agility" title="Roll Agility">{{numberFormat
                    system.attributes.agi.mod decimals=0 sign=true}}</a>

            </div>
            <div class="mt-1 flex-row stat-inline flex-group-left">{{!-- Attributes 2 --}}
                <label for="int" class="resource-label">{{localize "WW.Intellect"}}</label>
                <input class="mr-1" type="number" name="system.attributes.int.value"
                    value="{{system.attributes.int.value}}" min="0" data-dtype="Number" /> <a
                    class="attribute-mod rollable" data-label="Intellect" title="Roll Intellect">{{numberFormat
                    system.attributes.int.mod decimals=0 sign=true}}</a>

                <label class="ml-1" for="wil" class="resource-label">{{localize "WW.Will"}}</label>
                <input class="mr-1" type="number" name="system.attributes.wil.value"
                    value="{{system.attributes.wil.value}}" min="0" data-dtype="Number" /> <a
                    class="attribute-mod rollable" data-label="Will" title="Roll Will">{{numberFormat
                    system.attributes.wil.mod decimals=0 sign=true}}</a>
            </div>
        </div>

        <h2>{{localize "WW.Talents"}}</h2>

        <ol class="items-list">{{!-- Auras --}}
            <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize "WW.Name"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="Trait or Talent" data-subtype="aura"><i
                            class="fas fa-plus"></i> Add aura</a>
                </div>
            </li>
            {{#each auras as |item id|}}
            <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                <label class="item-name">{{item.name}}</label>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>

        <div class="mt-2 flex-row stat-inline flex-group-left">{{!-- Senses --}}
            <label for="system.details.senses.value" class="resource-label">{{localize "WW.Senses"}}</label>
            <input type="text" name="system.details.senses.value" value="{{system.details.senses.value}}"
                data-dtype="String" />
        </div>
        <div class="flex-row stat-inline flex-group-left">{{!-- Languages --}}
            <label for="system.details.languages.value" class="resource-label">{{localize "WW.Languages"}}</label>
            <input type="text" name="system.details.languages.value" value="{{system.details.languages.value}}"
                data-dtype="String" placeholder="{{localize "WW.LanguagesPH"}}" />
        </div>
        <div class="flex-row stat-inline flex-group-left">{{!-- Immune --}}
            <label for="system.details.immune.value" class="resource-label">{{localize "WW.Immune"}}</label>
            <input type="text" name="system.details.immune.value" value="{{system.details.immune.value}}"
                data-dtype="String" placeholder="{{localize "WW.ImmunePH"}}" />
        </div>

        <div class="mt-1 flex-row stat-inline flex-group-left">{{!-- Size, Speed --}}
            <label for="system.stats.size.value" class="resource-label">{{localize "WW.Size"}}</label>
            <input type="number" name="system.stats.size.value" value="{{system.stats.size.value}}" data-dtype="Number"
                placeholder="#" />

            <label for="system.stats.speed.value" class="resource-label ml-2">{{localize "WW.Speed"}}</label>
            <input class="mr-1" type="number" name="system.stats.speed.value" value="{{system.stats.speed.value}}"
                data-dtype="Number" min="0" / placeholder="#">
            <input type="text" name="system.stats.speed.special" value="{{system.stats.speed.special}}"
                data-dtype="String" placeholder="{{localize "WW.SpeedPH"}}" title="{{localize "WW.SpeedTip"}}" />
        </div>

    </div>

    <div class="details-col flex-group-center">{{!-- Right Column --}}

        <ol class="items-list">{{!-- Talents --}}
            <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize "WW.Name"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="Trait or Talent" data-subtype="trait"><i
                            class="fas fa-plus"></i> Add trait or talent</a>
                </div>
            </li>
            {{#each talents as |item id|}}
            <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                <label class="item-name">{{item.name}}</label>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>

        <ol class="items-list">{{!-- Weapons --}}
            <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize "WW.Name"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="Equipment" data-subtype="weapon"><i
                            class="fas fa-plus"></i> Add weapon</a>
                </div>
            </li>
            {{#each weapons as |item id|}}
            <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                <label class="item-name">{{item.name}}</label>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>

        <ol class="items-list">{{!-- Actions --}}
            <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize "WW.Name"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="Trait or Talent" data-subtype="action"><i
                            class="fas fa-plus"></i> Add action</a>
                </div>
            </li>
            {{#each actions as |item id|}}
            <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                <label class="item-name">{{item.name}}</label>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>

        <ol class="items-list">{{!-- Reactions --}}
            <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize "WW.Name"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="Trait or Talent" data-subtype="reaction"><i
                            class="fas fa-plus"></i> Add reaction</a>
                </div>
            </li>
            {{#each reactions as |item id|}}
            <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                <label class="item-name">{{item.name}}</label>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>

        <ol class="items-list">{{!-- End of Round Effects --}}
            <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize "WW.Name"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="Trait or Talent" data-subtype="end"><i
                            class="fas fa-plus"></i> Add end of round effect</a>
                </div>
            </li>
            {{#each end as |item id|}}
            <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                <label class="item-name">{{item.name}}</label>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>