<div class="flexrow">

    {{!-- Statbox --}}
    <div class="statbox">
        
        <h4 class="statbox-header flex-group-left">
                
            {{!-- Descriptor(s) --}}
            <span class="list-entries mb-0">
                
                {{#each system.details.descriptors as |detail id|}}
                <span class="list-entry">
                
                    <a class="array-button" data-action="edit" data-array="details.descriptors" data-entry-id="{{id}}"
                        data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        <a class="array-button" data-action="edit" data-array="details.descriptors" data-entry-id="{{id}}"
                            data-tooltip="WW.Detail.Descriptor.Edit"><i class="fas fa-edit"></i></a>
                
                        <a class="array-button" data-action="remove" data-array="details.descriptors" data-entry-id="{{id}}"
                            data-tooltip="WW.Detail.Descriptor.Remove"><i class="fas fa-trash"></i></a>
                    </span>{{#unless @last}},{{/unless}}

                </span>
                {{/each}}
                
                {{#unless system.details.descriptors.length}}<span>{{localize "WW.Detail.Descriptor.None"}}</span>{{/unless}}
                
                <a class="array-button" data-action="add" data-array="details.descriptors" data-loc="Descriptor"
                    data-tooltip="WW.Detail.Descriptor.Add"><i class="fas fa-circle-plus"></i></a>

            </span>

            {{!-- Difficulty --}}
            <span class="statbox-difficulty">{{localize "WW.Stats.Difficulty"}}
                
                <select name="system.stats.difficulty">
                    {{selectOptions difficulties selected=system.stats.difficulty}}
                </select>

            </span>
        </h4>

        <div class="statbox-section">

            {{!-- Defense, Health, Damage --}}
            <div class="stat-inline flex-wrap flex-children">

                {{!-- Defense --}}
                <div class="nowrap">
                    <label>{{localize "WW.Defense.Label"}}:</label>

                    <div class="input-wrap">
                        <input type="number" name="system.stats.defense.total" value="{{system.stats.defense.total}}" min="0"
                            data-dtype="Number" />
                        
                        <div class="input-overlay">{{system.stats.defense.total}}</div>
                    </div>

                    <div class="flex nogap">
                        {{#if system.stats.defense.details}}<span>(</span>{{/if}}

                        <div class="input-wrap def-details{{#unless system.stats.defense.details}} empty{{/unless}}">
                            <input class="stat-edit" type="text"
                                name="system.stats.defense.details" value="{{system.stats.defense.details}}" data-dtype="String"
                                placeholder="{{localize "WW.Defense.Details"}}" data-tooltip="WW.Defense.Details" />
                            
                            <div class="input-overlay visible-overlay">{{system.stats.defense.details}}</div>
                        </div>

                        {{#if system.stats.defense.details}}<span>)</span>{{/if}}
                    </div>
                    
                </div>

                {{!-- Health --}}
                <div class="nowrap">
                    <label>{{localize "WW.Health.Label"}}:</label>

                    <div class="input-wrap">
                        <input type="number" name="system.stats.health.current" value="{{system.stats.health.current}}" min="0" data-dtype="Number"
                            data-tooltip="{{{healthTooltip}}}"/>

                        <div class="input-overlay">{{system.stats.health.current}}</div>

                    </div>

                    <span class="stat-edit">
                        <label>{{localize "WW.Stats.Normal"}}:</label>
                    
                        <div class="input-wrap">
                            <input type="number" name="system.stats.health.normal" value="{{system.stats.health.normal}}" min="0" />

                            <div class="input-overlay">{{system.stats.health.normal}}</div>
                        </div>

                    </span>
                    
                </div>

                {{!-- Damage --}}
                <div class="nowrap">
                    <label>{{localize "WW.Damage.Label"}}:</label>

                    <div class="input-wrap">
                        <input type="number" name="system.stats.damage.value" value="{{system.stats.damage.value}}" min="0"
                            data-dtype="Number" />
                        
                        <div class="input-overlay">{{system.stats.damage.value}}</div>
                    </div>

                    <i class="health-indicator fas {{#if incapacitated}}fa-octagon-xmark{{else if injured}}fa-droplet{{/if}}" data-tooltip="
                        {{#if incapacitated}}{{localize "WW.Health.Incapacitated"}}
                        {{else}}{{localize "WW.Health.Injured"}}{{/if}}">
                    </i>
                </div>
            </div>

            {{!-- Attributes 1 --}}
            <div class="mt-1 stat-inline">

                {{!-- Strength --}}
                <label><a class="item-button" data-action="attribute-roll" data-key="str" data-tooltip="WW.Roll.Strength">{{localize "WW.Attributes.Strength"}}:</a></label>

                <div class="input-wrap">
                    <input type="number" name="system.attributes.str.value"
                        value="{{system.attributes.str.value}}" min="0" placeholder="—" data-dtype="Number" />

                    <div class="input-overlay">{{system.attributes.str.value}}</div>
                </div>
                    
                {{#if system.attributes.str.value}}
                <a class="attribute-mod item-button" data-action="attribute-roll" data-key="str" data-tooltip="WW.Roll.Agility">
                    ({{numberFormat system.attributes.str.mod decimals=0 sign=true}})
                </a>
                {{/if}}
                
                {{!-- Agility --}}
                <label class="ml-1"><a class="item-button" data-action="attribute-roll" data-key="agi" data-tooltip="WW.Roll.Agility">{{localize "WW.Attributes.Agility"}}:</a></label>

                <div class="input-wrap">
                    <input type="number" name="system.attributes.agi.value"
                        value="{{system.attributes.agi.value}}" min="0" placeholder="—" data-dtype="Number" /> 

                    <div class="input-overlay">{{system.attributes.agi.value}}</div>
                </div>
                
                {{#if system.attributes.agi.value}}
                <a class="attribute-mod item-button" data-action="attribute-roll" data-key="agi" data-tooltip="WW.Roll.Agility">
                    ({{numberFormat system.attributes.agi.mod decimals=0 sign=true}})
                </a>
                {{/if}}

            </div>

            {{!-- Attributes 2 --}}
            <div class="mt-1 stat-inline">

                {{!-- Intellect --}}
                <label><a class="item-button" data-action="attribute-roll" data-key="int" data-tooltip="WW.Roll.Intellect">{{localize "WW.Attributes.Intellect"}}:</a></label>
                
                <div class="input-wrap">
                    <input type="number" name="system.attributes.int.value"
                        value="{{system.attributes.int.value}}" min="0" placeholder="—" data-dtype="Number" /> 

                    <div class="input-overlay">{{system.attributes.int.value}}</div>
                </div>
                
                {{#if system.attributes.int.value}}
                <a class="attribute-mod item-button" data-action="attribute-roll" data-key="int" data-tooltip="WW.Roll.Intellect">
                    ({{numberFormat system.attributes.int.mod decimals=0 sign=true}})
                </a>
                {{/if}}
                
                {{!-- Will --}}
                <label class="ml-1"><a class="item-button" data-action="attribute-roll" data-key="wil" data-tooltip="WW.Roll.Will">{{localize "WW.Attributes.Will"}}:</a></label>

                <div class="input-wrap">
                    <input type="number" name="system.attributes.wil.value"
                        value="{{system.attributes.wil.value}}" min="0" placeholder="—" data-dtype="Number" /> 

                    <div class="input-overlay">{{system.attributes.wil.value}}</div>
                </div>
                
                {{#if system.attributes.wil.value}}
                <a class="attribute-mod item-button" data-action="attribute-roll" data-key="wil" data-tooltip="WW.Roll.Will">
                    ({{numberFormat system.attributes.wil.mod decimals=0 sign=true}})
                </a>
                {{/if}}

            </div>

            {{!-- Size, Speed --}}
            <div class="stat-inline list-entries">

                {{!-- Size --}}
                <label>{{localize "WW.Stats.Size"}}:</label>

                {{#if isV12}}
                <select name="system.stats.size">
                    {{selectOptions sizes selected=system.stats.size valueAttr="key" labelAttr="label"}}
                </select>
                {{else}}
                <select name="system.stats.size">
                    {{selectOptions sizes selected=system.stats.size nameAttr="key" labelAttr="label"}}
                </select>
                {{/if}}

                {{!-- Speed --}}
                <label class="ml-1">{{localize "WW.Stats.Speed"}}:</label>

                <span>{{system.stats.speed.current}}</span>

                <span class="stat-edit">
                    <label>{{localize "WW.Stats.Normal"}}:</label>
                    
                    <div class="input-wrap">
                        <input type="number" name="system.stats.speed.normal" value="{{system.stats.speed.normal}}" min="0" />

                        <div class="input-overlay">{{system.stats.speed.normal}}</div>
                    </div>

                </span>
                
                {{!-- Movement Traits --}}
                {{#each system.details.movementTraits as |detail id|}}<span class="list-entry">
                    {{#if @first}}({{/if}}<a class="array-button" data-action="edit" data-array="details.movementTraits" data-entry-id="{{id}}"
                        data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        
                        <a class="array-button" data-action="edit" data-array="details.movementTraits" data-entry-id="{{id}}"
                            data-tooltip="WW.Movement.Edit"><i class="fas fa-edit"></i></a>
                        
                        <a class="array-button" data-action="remove" data-array="details.movementTraits" data-entry-id="{{id}}"
                            data-tooltip="WW.Movement.Remove"><i class="fas fa-trash"></i></a>
                    </span>{{#unless @last}},{{/unless}}{{#if @last}}){{/if}}
                </span>
                {{/each}}

                <a class="array-button" data-action="add" data-array="details.movementTraits" data-loc="Movement"
                    data-tooltip="WW.Movement.Add"><i class="fas fa-circle-plus"></i></a>

            </div>
            
        </div>

        <div class="statbox-section talents-section">

            {{!-- Languages --}}
            <div class="stat-inline list-entries">
                
                <label>{{localize "WW.Detail.Language.Label"}}:</label>
                
                {{#each system.details.languages as |detail id|}}
                <span class="list-entry">
                
                    <a class="array-button" data-action="edit" data-array="details.languages" data-entry-id="{{id}}"
                        data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        
                        <a class="array-button" data-action="edit" data-array="details.languages" data-entry-id="{{id}}"
                            data-tooltip="WW.Detail.Language.Edit"><i class="fas fa-edit"></i></a>
                
                        <a class="array-button" data-action="remove" data-array="details.languages" data-entry-id="{{id}}"
                            data-tooltip="WW.Detail.Language.Remove"><i class="fas fa-trash"></i></a>
                    </span>{{#unless @last}},{{/unless}}
                </span>
                {{/each}}
                
                {{#unless system.details.languages.length}}<span>—</span>{{/unless}}
                
                <a class="array-button" data-action="add" data-array="details.languages" data-loc="Language"
                    data-tooltip="WW.Detail.Language.Add"><i class="fas fa-circle-plus"></i></a>

            </div>

            {{!-- Senses --}}
            <div class="stat-inline list-entries">
                <label>{{localize "WW.Detail.Sense.Label"}}:</label>

                {{#each system.details.senses as |detail id|}}
                <span class="list-entry">
                
                    <a class="array-button" data-action="edit" data-array="details.senses" data-entry-id="{{id}}"
                        data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        <a class="array-button" data-action="edit" data-array="details.senses" data-entry-id="{{id}}"
                            data-tooltip="WW.Detail.Sense.Edit"><i class="fas fa-edit"></i></a>
                
                        <a class="array-button" data-action="remove" data-array="details.senses" data-entry-id="{{id}}"
                            data-tooltip="WW.Detail.Sense.Remove"><i class="fas fa-trash"></i></a>
                    </span>{{#unless @last}},{{/unless}}

                </span>
                {{/each}}
                
                {{#unless system.details.senses.length}}<span>—</span>{{/unless}}
                
                <a class="array-button" data-action="add" data-array="details.senses" data-loc="Sense"
                    data-tooltip="WW.Detail.Sense.Add"><i class="fas fa-circle-plus"></i></a>

            </div>

            {{!-- Immune --}}
            <div class="stat-inline list-entries">

                <label>{{localize "WW.Detail.Immune.Label"}}:</label>

                {{#each system.details.immune as |detail id|}}
                <span class="list-entry">
                    
                    <a class="array-button" data-action="edit" data-array="details.immune" data-entry-id="{{id}}"
                        data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        <a class="array-button" data-action="edit" data-array="details.immune" data-entry-id="{{id}}"
                            data-tooltip="WW.Detail.Immune.Edit"><i class="fas fa-edit"></i></a>
                            
                        <a class="array-button" data-action="remove" data-array="details.immune" data-entry-id="{{id}}"
                            data-tooltip="WW.Detail.Immune.Remove"><i class="fas fa-trash"></i></a>
                    </span>{{#unless @last}},{{/unless}}

                </span>
                {{/each}}

                {{#unless system.details.immune.length}}<span>—</span>{{/unless}}

                <a class="array-button" data-action="add" data-array="details.immune" data-loc="Immune"
                    data-tooltip="WW.Detail.Immune.Add"><i class="fas fa-circle-plus"></i></a>        

            </div>

            {{!-- Traits or Talents --}}
            <fieldset class="attacks-list">

                <legend>
                    {{localize "WW.Talents.Traits"}}
                    <a class="item-create" data-tooltip="WW.Item.Add.Trait" data-type="Trait or Talent" data-subtype="trait"><i class="fas fa-plus-circle"></i></a>
                </legend>

                <ol class="item-list described-list">
                    {{#each talents as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>

            </fieldset>

        </div>

    </div>

    {{!-- Right Column --}}
    <div class="statbox">
        
        <div class="statbox-section">
            <h6>{{localize "WW.Talents.Actions"}}</h6>

            {{!-- Attacks --}}
            <fieldset class="attacks-list">

                <legend>
                    {{localize "WW.Attack.Plural"}}
                    <a class="item-create" data-tooltip="WW.Item.Add.Weapon" data-type="Equipment" data-subtype="weapon"><i class="fas fa-plus-circle"></i></a>
                </legend>
            
                <ol class="item-list described-list">
                    
                    {{#each weapons as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-weapon.hbs" item=item id=id}}
                    {{/each}}
                </ol>
            
            </fieldset>
            
            {{!-- Special Actions --}}
            <fieldset class="actions-list">

                <legend>
                    {{localize "WW.Talents.SpecialActions"}}
                    <a class="item-create" data-tooltip="WW.Item.Add.Trait" data-type="Trait or Talent" data-subtype="action"><i class="fas fa-plus-circle"></i></a>
                </legend>
            
                <ol class="item-list described-list">
                    {{#each actions as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>

            </fieldset>

        </div>

        <div class="statbox-section">

            <h6>{{localize "WW.Talents.Reactions"}}<a class="item-create ml-auto" data-tooltip="WW.Item.Add.Trait" data-type="Trait or Talent" data-subtype="reaction"><i
                class="fas fa-plus"></i></a></h6>
            
            <ol class="item-list described-list">
                {{#each reactions as |item id|}}
                    {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
                {{/each}}
            </ol>

        </div>
        
        <div class="statbox-section">

            <h6>{{localize "WW.Talents.Ends"}}<a class="item-create ml-auto" data-tooltip="WW.Item.Add.Trait" data-type="Trait or Talent" data-subtype="end"><i
                class="fas fa-plus"></i></a></h6>
            
            <ol class="item-list described-list">
                {{#each end as |item id|}}
                    {{> "systems/weirdwizard/templates/actors/parts/NPC-summary-item.hbs" item=item id=id}}
                {{/each}}
            </ol>

        </div>

    </div>
</div>