<li class="item" data-item-id="{{item._id}}">

    <h5 class="fury-header">

        <span class="buttons">

            {{!-- Title --}}
            {{#if item.needTargets}}<label class="item-button" data-action="targeted-use" data-item-id="{{item._id}}" 
                title="{{localize "WW.Targeting.FuryTargeted"}}">{{item.name}}</label>
            {{else if item.isActivity}}<label class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                title="{{localize "WW.Targeting.FuryUntargeted"}}">{{item.name}}</label>
            {{else}}<label>{{item.name}}</label>{{/if}}

            {{!-- Use Buttons --}}
            {{#if item.isActivity}}

                {{#if item.needTargets}}
                <a class="item-button" data-action="targeted-use" data-item-id="{{item._id}}"
                    title="{{localize "WW.Targeting.FuryTargeted"}}">
                <i class="fas fa-bullseye"></i></a>
                {{/if}}

                <a class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
                    title="{{localize "WW.Targeting.FuryUntargeted"}}">
                <i class="fas fa-bolt"></i></a>

            {{/if}}

            {{!-- Send to Chat Scroll --}}
            {{#if item.system.description.value}}
            <a class="item-button" data-action="item-scroll" data-item-id="{{item._id}}" title="{{localize "WW.Item.Send"}}"><i
                class="far fa-scroll"></i></a>
            {{/if}}

            {{!-- Edit Button --}}
            <a class="item-button" data-action="item-edit" data-item-id="{{item._id}}"
                title="{{localize "WW.Item.Edit.Attack"}}">
            <i class="fas fa-edit"></i></a>

            {{!-- Delete Button --}}
            <a class="item-button" data-action="item-delete" data-item-id="{{item._id}}"
                title="{{localize "WW.Item.Delete.Title"}}">
            <i class="fas fa-trash"></i></a>

            {{!-- Uses Pips --}}
            {{#if item.uses}}
            <span class="pip-box float-right">
                {{#each item.uses as |pip id|}}
                <a class="item-pip" data-item-id="{{../item._id}}"
                    title="{{#if (eq pip " far fa-circle")}}{{localize "WW.Item.Uses.FurySpend"}}
                        {{else}}{{localize "WW.Item.Uses.FuryRecover"}}{{/if}}">
                    <i class="{{pip}} fa-circle"></i></a>
                {{/each}}
            </span>
        </span>
        {{/if}}
    </h5>

    <span>{{{item.system.description.enriched}}}</span>
</li>