<li class="item" data-item-id="{{item._id}}">

    {{!-- Title --}}
    <label class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
        data-tooltip='{{#if item.system.description.value}}{{{item.system.description.enriched}}}{{/if}}<hr>
            <p>{{localize "WW.Item.Perform.Left"}}</p>
            <p>{{localize "WW.Item.Perform.Shift"}}</p>
            <p>{{localize "WW.Item.Perform.Ctrl"}}</p>
            <p>{{localize "WW.Item.Perform.Alt"}}</p>
            <p>{{localize "WW.Item.Perform.Right"}}</p>'>{{item.name}}</label>
    
    {{#if (or item.hasPassiveEffects item.uses)}}
    <span class="buttons">

        {{!-- Toggle Effects --}}
        {{#if item.hasPassiveEffects}}
            <a class="item-button" data-action="item-toggle-effects" data-item-id="{{item._id}}"
                data-tooltip="{{#if item.system.active}}{{localize "WW.Item.DisableEffects"}}{{else}}{{localize "WW.Item.EnableEffects"}}{{/if}}">
                <i class="fas {{#if item.system.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
        {{/if}}

        {{!-- Uses Pips --}}
        {{#if item.uses}}
        <span class="pip-box">
            {{#each item.uses as |pip id|}}
                <a class="item-pip" data-item-id="{{../item._id}}"
                    data-tooltip="{{#if (eq pip "far fa-circle")}}
                        {{#if (eq ../item.system.subtype "action")}}{{localize "WW.Item.Uses.ActionSpend"}}
                        {{else if (eq ../item.system.subtype "reaction")}}{{localize "WW.Item.Uses.ActionSpend"}}
                        {{else if (eq ../item.system.subtype "fury")}}{{localize "WW.Item.Uses.FurySpend"}}
                        {{else}}{{localize "WW.Item.Uses.TalentSpend"}}{{/if}}
                    {{else}}
                        {{#if (eq ../item.system.subtype "action")}}{{localize "WW.Item.Uses.ActionRecover"}}
                        {{else if (eq ../item.system.subtype "reaction")}}{{localize "WW.Item.Uses.ActionRecover"}}
                        {{else if (eq ../item.system.subtype "fury")}}{{localize "WW.Item.Uses.FuryRecover"}}
                        {{else}}{{localize "WW.Item.Uses.TalentRecover"}}{{/if}}
                    {{/if}}">
                <i class="{{pip}}"></i></a>
            {{/each}}
        </span>
        {{/if}}

    </span>
    {{/if}}
    
</li>