<div class="resources grid grid-2col">

    <div class="statbox">{{!-- Left Column --}}
        <h3 class="statbox-header">{{localize "WW.Stats"}}</h3>
        <div class="hl2">{{!-- Level, Type --}}
            <label for="level" class="resource-label">{{localize "WW.Level"}}</label>
            {{system.stats.level.value}}

            <label class="ml-2" for="type" class="resource-label">{{localize "WW.Type"}}</label>
            {{system.details.type.value}}
        </div>

        <div class="hl">
            <div class="stat">{{!-- Defense, Health, Damage --}}
                <label for="defense" class="resource-label">{{localize "WW.Defense"}}</label>
                {{system.stats.defense.total}}{{#if system.stats.defense.details}}
                ({{system.stats.defense.details}}){{/if}}

                <label class="ml-1" for="health" class="resource-label">{{localize "WW.Health.Title"}}</label>
                {{system.stats.health.total}}

                <label class="ml-1" for="damage" class="resource-label">{{localize "WW.Damage"}}</label>
                {{system.stats.damage.value}}
            </div>

            <div class="stat mt-1">{{!-- Attributes 1 --}}
                <label for="str" class="resource-label">{{localize "WW.Strength"}}</label>
                <a class="attribute-mod rollable" data-label="Strength"
                    title="Roll Strength">{{system.attributes.str.value}} ({{numberFormat system.attributes.str.mod
                    decimals=0 sign=true}})</a>

                <label class="ml-1" for="agi" class="resource-label">{{localize "WW.Agility"}}</label>
                <a class="attribute-mod rollable" data-label="Agility"
                    title="Roll Agility">{{system.attributes.agi.value}} ({{numberFormat system.attributes.agi.mod
                    decimals=0 sign=true}})</a>
            </div>
            <div class="stat">{{!-- Attributes 2 --}}
                <label for="int" class="resource-label">{{localize "WW.Intellect"}}</label>
                <a class="attribute-mod rollable" data-label="Intellect"
                    title="Roll Intellect">{{system.attributes.int.value}} ({{numberFormat system.attributes.int.mod
                    decimals=0 sign=true}})</a>

                <label class="ml-1" for="wil" class="resource-label">{{localize "WW.Will"}}</label>
                <a class="attribute-mod rollable" data-label="Will" title="Roll Will">{{system.attributes.wil.value}}
                    ({{numberFormat system.attributes.wil.mod decimals=0 sign=true}})</a>

            </div>
        </div>

        <h4>{{localize "WW.Talents"}}</h4>
        <div class="mt-1">{{!-- Auras --}}
            <ol class="described-list">
                {{#each auras as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <a class="rollable item-roll" title="Roll Aura">{{item.name}}</a>
                    <a class="item-edit" title="Edit Aura">({{localize "WW.Aura"}} {{item.system.range}})
                        {{item.system.description.value}}</a>
                </li>
                {{/each}}
            </ol>
        </div>

        <div class="stat">{{!-- Senses --}}
            {{#if system.details.senses.value}}<label for="senses" class="resource-label">{{localize
                "WW.Senses"}}</label>
            {{system.details.senses.value}}{{/if}}
        </div>
        <div class="stat mt-1">{{!-- Languages --}}
            {{#if system.details.languages.value}}<label class="" for="languages" class="resource-label">{{localize
                "WW.Languages"}}</label>
            {{system.details.languages.value}}{{/if}}
        </div>

        {{#if system.details.immune.value}}<div class="stat mt-1">{{!-- Immune --}}
            <label class="mb-1" for="immune" class="resource-label">{{localize "WW.Immune"}}</label>
            {{system.details.immune.value}}
        </div>{{/if}}

        <div class="stat mb-1 mt-1">{{!-- Size, Speed --}}
            <label for="size" class="resource-label">{{localize "WW.Size"}}</label>
            {{system.stats.size.value}}

            <label class="ml-1" for="speed" class="resource-label">{{localize "WW.Speed"}}</label>
            {{system.stats.speed.value}}
            {{#if system.stats.speed.special}} ({{system.stats.speed.special}}){{/if}}
        </div>

        <ol class="described-list">{{!-- Talents --}}
            {{#each talents as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                <a class="rollable item-roll" title="Roll Talent">{{item.name}}</a> <a class="item-edit"
                    title="Edit Talent">{{item.system.description.value}}</a>
            </li>
            {{/each}}
        </ol>

    </div>

    <div class="statbox">{{!-- Right Column --}}
        {{#if weapons}}
        <h4>{{localize "WW.Attacks"}}</h4>
        <div class="mt-1">
            <ol class="described-list">
                {{#each weapons as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <a class="rollable item-roll" title="Roll Attack">{{item.name}}</a> <a class="item-edit"
                        title="Edit Weapon">{{#if item.system.properties}}({{item.system.properties}})
                        {{/if}}{{item.system.attribute}}
                        {{#if item.system.boons}} {{localize "WW.Boons.With"}} {{item.system.boons}} {{#if (lt
                        item.system.boons 0)}}{{localize "WW.Boons.Banes"}}{{else}}{{localize
                        "WW.Boons.Boons"}}{{/if}}{{/if}}
                        ({{item.system.damage}})</a>
                </li>
                {{/each}}
            </ol>
        </div>
        {{/if}}

        {{#if actions}}
        <h4 class="mt-2">{{localize "WW.Actions"}}</h4>
        <ol class="described-list">
            {{#each actions as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                <a class="rollable item-roll" title="Roll Action">{{item.name}}</a> <a class="item-edit"
                    title="Edit Action">{{item.system.description.value}}</a>
            </li>
            {{/each}}
        </ol>
        {{/if}}

        {{#if reactions}}
        <h4 class="mt-2">{{localize "WW.Reactions"}}</h4>
        <ol class="described-list">
            {{#each reactions as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                <a class="rollable item-roll" title="Roll Reaction">{{item.name}}</a> <a class="item-edit"
                    title="Edit Reaction">{{item.system.description.value}}</a>
            </li>
            {{/each}}
        </ol>
        {{/if}}

        {{#if end}}
        <h4 class="mt-2">{{localize "WW.EndOfTheRound"}}</h4>
        <ol class="described-list">
            {{#each end as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                <a class="rollable item-roll" title="Roll End of Round Effect">{{item.name}}</a> <a class="item-edit"
                    title="Edit End of Round Effect">{{item.system.description.value}}</a>
            </li>
            {{/each}}
        </ol>
        {{/if}}

    </div>
</div>