<li class="item" data-item-id="{{item._id}}">

    {{!-- Title --}}
    <label class="item-button" data-action="untargeted-use" data-item-id="{{item._id}}"
        data-tooltip="{{{item.tooltip}}}">{{item.name}}</label>
    
    <span class="buttons">

        {{!-- Toggle Effects --}}
        {{#if item.hasPassiveEffects}}
            <a class="item-button" data-action="item-toggle-effects" data-item-id="{{item._id}}"
                data-tooltip="{{#if item.system.active}}{{localize "WW.Item.DisableEffects"}}{{else}}{{localize "WW.Item.EnableEffects"}}{{/if}}">
                <i class="fas {{#if item.system.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
        {{/if}}
        
        {{!-- Uses Pips --}}
        {{#if item.uses}}
        <span class="pip-box">
            {{#each item.uses as |pip id|}}
                <a class="item-pip" data-item-id="{{../item._id}}"
                    data-tooltip="{{#if (eq pip "far fa-circle")}}
                        {{#if (or (eq ../item.system.subtype "action") (eq ../item.system.subtype "reaction"))}}{{localize "WW.Item.Uses.ActionSpend"}}
                        {{else}}{{localize "WW.Item.Uses.TalentSpend"}}{{/if}}
                    {{else}}
                        {{#if (or (eq ../item.system.subtype "action") (eq ../item.system.subtype "reaction"))}}{{localize "WW.Item.Uses.ActionRecover"}}
                        {{else}}{{localize "WW.Item.Uses.TalentRecover"}}{{/if}}
                    {{/if}}">
                <i class="{{pip}}"></i></a>
            {{/each}}
        </span>
        {{/if}}

        {{!-- Delete Button --}}
        <a class="item-button" data-action="item-delete" data-item-id="{{item._id}}" data-tooltip="WW.Item.Delete.Activity"><i class="fas fa-trash"></i></a>

    </span>
    
</li>