<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="summary">
    
    {{!-- Paths --}}
    <h5 class="descriptors stat-inline list-entries">

        {{!-- Novice Path --}}
        <div class="list-entry">

            <a data-tooltip="{{charOptions.novice.system.description.enriched}}">{{charOptions.novice.name}}</a>{{#if
            charOptions.novice}}<span class="buttons">

                <a class="item-button" data-action="itemEdit" data-item-id="{{charOptions.novice._id}}"
                    data-tooltip="WW.Item.Edit.NovicePath"><i class="fas fa-edit"></i></a>

                <a class="item-button" data-action="itemRemove" data-item-id="{{charOptions.novice._id}}"
                    data-tooltip="WW.Item.Delete.NovicePath"><i class="fas fa-trash"></i></a>

            </span>{{/if}}{{#unless charOptions.novice}}<span>—</span>

            {{!-- Create Button --}}
            <a class="item-control item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.NovicePath" data-type="Path" data-tier="novice">{{localize "WW.CharOptions.NovicePath"}}
                <i class="fas fa-circle-plus"></i></a>
            {{/unless}}{{#if (gte system.stats.level 3)}} ● {{/if}}
        </div>

        {{!-- Expert Path --}}
        {{#if (gte system.stats.level 3)}}
        <div class="list-entry">

            <a data-tooltip="{{charOptions.expert.system.description.enriched}}">{{charOptions.expert.name}}</a>{{#if
            charOptions.expert}}<span class="buttons">

                <a class="item-button" data-action="itemEdit" data-item-id="{{charOptions.expert._id}}"
                    data-tooltip="WW.Item.Edit.ExpertPath"><i class="fas fa-edit"></i></a>

                <a class="item-button" data-action="itemRemove" data-item-id="{{charOptions.expert._id}}"
                    data-tooltip="WW.Item.Delete.ExpertPath"><i class="fas fa-trash"></i></a>

            </span>{{/if}}{{#unless charOptions.expert}}<span>—</span>

            {{!-- Create Button --}}
            <a class="item-control item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.ExpertPath" data-type="Path" data-tier="expert">{{localize "WW.CharOptions.ExpertPath"}}
                <i class="fas fa-circle-plus"></i></a>
            {{/unless}}{{#if (gte system.stats.level 7)}} ● {{/if}}
        </div>
        {{/if}}

        {{!-- Master Path --}}
        {{#if (gte system.stats.level 7)}}
        <div class="list-entry">

            <a data-tooltip="{{charOptions.master.system.description.enriched}}">{{charOptions.master.name}}</a>{{#if
            charOptions.master}}<span class="buttons">

                <a class="item-button" data-action="itemEdit" data-item-id="{{charOptions.master._id}}"
                    data-tooltip="WW.Item.Edit.MasterPath"><i class="fas fa-edit"></i></a>

                <a class="item-button" data-action="itemRemove" data-item-id="{{charOptions.master._id}}"
                    data-tooltip="WW.Item.Delete.MasterPath"><i class="fas fa-trash"></i></a>

            </span>{{/if}}

            {{#unless charOptions.master}}<span>—</span>

            {{!-- Create Button --}}
            <a class="item-control item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.MasterPath" data-type="Path" data-tier="master">{{localize "WW.CharOptions.MasterPath"}}
                <i class="fas fa-circle-plus"></i></a>
            {{/unless}}

        </div>
        {{/if}}

    </h5>
    
    {{!-- Summary --}}
    <div class="summary auto-grid-2">

        {{!-- Left Column --}}
        <div class="statbox">

            <h4 class="statbox-header">
                
                {{!-- Ancestry, Descriptors --}}
                <div class="list-entries statbox-ancestry">
                    
                    {{!-- Ancestry --}}
                    <div class="list-entry">
                        <a data-tooltip="{{charOptions.ancestry.system.description.enriched}}">{{charOptions.ancestry.name}}</a>{{#if charOptions.ancestry}}<span class="buttons">
                        
                        <a class="item-button" data-action="itemEdit" data-item-id="{{charOptions.ancestry._id}}"
                            data-tooltip="WW.Item.Edit.Ancestry"><i class="fas fa-edit"></i></a>
                        
                        <a class="item-button" data-action="itemRemove" data-item-id="{{charOptions.ancestry._id}}"
                            data-tooltip="WW.Item.Delete.Ancestry"><i class="fas fa-trash"></i></a>
                        
                        </span>{{/if}}{{#unless charOptions.ancestry}}<span>{{localize "WW.CharOptions.NoAncestry"}}</span>
                        
                        {{!-- Create Button --}}
                        <a class="item-control item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.Ancestry" data-type="Ancestry"><i
                            class="fas fa-circle-plus"></i></a>
                        {{/unless}}

                    </div>

                    {{!-- Descriptors --}}
                    {{#each system.details.descriptors as |detail id|}}
                    <span class="list-entry">
                    
                        {{#if @first}}({{/if}}<a class="array-button" data-action="entryEdit" data-array="details.descriptors" data-entry-id="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-array="details.descriptors" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Descriptor.Edit"><i class="fas fa-edit"></i></a>
                    
                            <a class="array-button" data-action="entryRemove" data-array="details.descriptors" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Descriptor.Remove"><i class="fas fa-trash"></i></a>
                        </span>{{#unless @last}},{{/unless}}{{#if @last}}){{/if}}

                    </span>
                    {{/each}}
                    
                    {{#unless system.details.descriptors.length}}<span class="hover-only">({{localize "WW.Detail.Descriptor.Label"}})</span>{{/unless}}
                    
                    <a class="array-button" data-action="entryCreate" data-array="details.descriptors" data-loc="Descriptor"
                        data-tooltip="WW.Detail.Descriptor.Create"><i class="fas fa-circle-plus"></i></a>
                    
                </div>

            </h4>

            <div class="statbox-section stats">

                {{!-- Size, Speed --}}
                <div class="stat-inline list-entries">

                    {{!-- Size --}}
                    <label>{{localize "WW.Stats.Size"}}:</label>
                    <a data-tooltip="{{{sizeTooltip}}}">{{system.stats.size}}</a>
                    
                    {{!-- Speed --}}
                    <label class="ml-1">{{localize "WW.Stats.Speed"}}:</label>

                    <a class="mr-1" data-tooltip="{{{speedTooltip}}}">{{system.stats.speed.current}}</a>
                    
                    {{!-- Movement Traits --}}
                    {{#each system.details.movementTraits as |detail id|}}<span class="list-entry">
                        {{#if @first}}({{/if}}<a class="array-button" data-action="entryEdit" data-array="details.movementTraits" data-entry-id="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-array="details.movementTraits" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Movement.Edit"><i class="fas fa-edit"></i></a>
                            
                            <a class="array-button" data-action="entryRemove" data-array="details.movementTraits" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Movement.Remove"><i class="fas fa-trash"></i></a>
                        </span>{{#unless @last}},{{/unless}}{{#if @last}}){{/if}}
                    </span>
                    {{/each}}

                    <a class="array-button" data-action="entryCreate" data-array="details.movementTraits" data-loc="Movement"
                        data-tooltip="WW.Detail.Movement.Create"><i class="fas fa-circle-plus"></i></a>

                </div>

                {{!-- Languages --}}
                <div class="stat-inline list-entries">
                    
                    <label>{{localize "WW.Detail.Language.Label"}}:</label>
                    
                    {{#each system.details.languages as |detail id|}}
                    <span class="list-entry">
                    
                        <a class="array-button" data-action="entryEdit" data-array="details.languages" data-entry-id="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-array="details.languages" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Language.Edit"><i class="fas fa-edit"></i></a>
                    
                            <a class="array-button" data-action="entryRemove" data-array="details.languages" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Language.Remove"><i class="fas fa-trash"></i></a>
                        </span>{{#unless @last}},{{/unless}}
                    </span>
                    {{/each}}
                    
                    {{#unless system.details.languages.length}}<span>—</span>{{/unless}}
                    
                    <a class="array-button" data-action="entryCreate" data-array="details.languages" data-loc="Language"
                        data-tooltip="WW.Detail.Language.Create"><i class="fas fa-circle-plus"></i></a>

                </div>

                {{!-- Senses --}}
                <div class="stat-inline list-entries">
                    <label>{{localize "WW.Detail.Sense.Label"}}:</label>

                    {{#each system.details.senses as |detail id|}}
                    <span class="list-entry">
                    
                        <a class="array-button" data-action="entryEdit" data-array="details.senses" data-entry-id="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-array="details.senses" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Sense.Edit"><i class="fas fa-edit"></i></a>
                    
                            <a class="array-button" data-action="entryRemove" data-array="details.senses" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Sense.Remove"><i class="fas fa-trash"></i></a>
                        </span>{{#unless @last}},{{/unless}}

                    </span>
                    {{/each}}
                    
                    {{#unless system.details.senses.length}}<span>—</span>{{/unless}}
                    
                    <a class="array-button" data-action="entryCreate" data-array="details.senses" data-loc="Sense"
                        data-tooltip="WW.Detail.Sense.Create"><i class="fas fa-circle-plus"></i></a>

                </div>

                {{!-- Immune --}}
                <div class="stat-inline list-entries">

                    <label>{{localize "WW.Detail.Immune.Label"}}:</label>

                    {{#each system.details.immune as |detail id|}}
                    <span class="list-entry">
                        
                        <a class="array-button" data-action="entryEdit" data-array="details.immune" data-entry-id="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-array="details.immune" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Immune.Edit"><i class="fas fa-edit"></i></a>
                                
                            <a class="array-button" data-action="entryRemove" data-array="details.immune" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Immune.Remove"><i class="fas fa-trash"></i></a>
                        </span>{{#unless @last}},{{/unless}}

                    </span>
                    {{/each}}

                    {{#unless system.details.immune.length}}<span>—</span>{{/unless}}

                    <a class="array-button" data-action="entryCreate" data-array="details.immune" data-loc="Immune"
                        data-tooltip="WW.Detail.Immune.Create"><i class="fas fa-circle-plus"></i></a>        

                </div>

                {{!-- Professions --}}
                <div class="stat-inline list-entries">
                    <label>{{localize "WW.CharOptions.Professions"}}:</label>    

                    {{#each charOptions.professions as |item id|}}
                    <span class="list-entry">
                        
                        <a data-tooltip="<p>{{localize "WW.Profession.Category"}}: {{localize item.system.categoryLoc}}</p><br/><p>{{item.system.description.enriched}}</p>">{{item.name}}</a><span class="buttons">
                            {{#if item.system.description.value}}
                            {{!-- Send to Chat Scroll --}}
                            <a class="item-button" data-action="itemSend" data-item-id="{{item._id}}" data-tooltip="WW.Item.Send"><i
                                class="far fa-scroll"></i></a>
                            {{/if}}

                            {{!-- Edit Button --}}
                            <a class="item-button" data-action="itemEdit" data-item-id="{{item._id}}" data-tooltip="{{concat "WW.Item.Edit." item.type}}"><i class="fas fa-edit"></i></a>

                            {{!-- Delete Button --}}
                            <a class="item-button" data-action="itemRemove" data-item-id="{{item._id}}" data-tooltip="{{concat "WW.Item.Delete." item.type}}"><i class="fas fa-trash"></i></a>
                            
                        </span>{{#unless @last}},{{/unless}}
                        
                    </span>
                    {{/each}}

                    {{#unless charOptions.professions.length}}<span>—</span>{{/unless}}
                        
                    {{!-- Create Button --}}
                    <a class="item-control item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.Profession" data-type="Profession"><i
                        class="fas fa-circle-plus"></i></a>
                    
                </div>
                
            </div>

            <h4>{{localize "WW.Attack.Plural"}}</h4>
            
            <div class="statbox-section attacks">

                {{!-- Bonus Damage --}}
                {{#if system.stats.bonusdamage}}
                <div class="stat">
                    <label class="" for="bonusdamage" class="resource-label">{{localize "WW.Damage.Bonus"}}:</label>
                    +{{system.stats.bonusdamage}}d6
                </div>
                {{/if}}

                {{!-- Weapons List --}}
                <div>
                    <ol class="described-list">
                        {{#each weapons as |item id|}}
                            {{> "systems/weirdwizard/templates/actors/tabs/character-summary-weapon.hbs" item=item id=id}}
                        {{/each}}
                    </ol>
                </div>
            </div>

        </div>

        {{!-- Right Column --}}
        <div class="statbox">

            {{!-- Talents --}}
            <h4>{{localize "WW.Talents.Label"}}</h4>

            <div class="statbox-section talents">

                <ol class="compact-list stat">
                    {{#each talents as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/character-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>

                {{!-- Actions --}}
                {{#if actions}}
                <h6>{{localize "WW.Talents.Actions"}}</h6>

                <ol class="compact-list stat">
                    {{#each actions as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/character-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>
                {{/if}}

                {{!-- Reactions --}}
                {{#if reactions}}
                <h6>{{localize "WW.Talents.Reactions"}}</h6>

                <ol class="compact-list stat">
                    {{#each reactions as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/character-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>
                {{/if}}
            </div>

            {{!-- Spells Section --}}
            {{#if (or system.details.traditions spells.length)}}
            <h4>{{localize "WW.Spells.Label"}}</h4>

            <div class="statbox-section spells">

                {{!-- Traditions --}}
                <div class="stat-inline mb-1 list-entries">

                    <label>{{localize "WW.Detail.Tradition.Label"}}:</label>

                    {{#each system.details.traditions as |detail id|}}
                    <span class="list-entry">
                        
                    <a class="array-button" data-action="entryEdit" data-array="details.traditions" data-entry-id="{{id}}"
                        data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                        <a class="array-button" data-action="entryEdit" data-array="details.traditions" data-entry-id="{{id}}"
                            data-tooltip="WW.Detail.Tradition.Edit"><i class="fas fa-edit"></i></a>
                        
                        <a class="array-button" data-action="entryRemove" data-array="details.traditions" data-entry-id="{{id}}"
                            data-tooltip="WW.Detail.Tradition.Remove"><i class="fas fa-trash"></i></a>

                        </span>{{#unless @last}},{{/unless}}
                    </span>
                    {{/each}}
                        
                    {{#unless system.details.traditions.length}}<span>—</span>{{/unless}}
                    <a class="array-button" data-action="entryCreate" data-array="details.traditions" data-loc="Tradition"
                        data-tooltip="WW.Detail.Tradition.Create"><i class="fas fa-circle-plus"></i></a>            
                    
                </div>

                {{!-- Spells List --}}
                <ol class="compact-list stat">
                    {{#each spells as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/character-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>
                

            </div>
            {{/if}}
            
        </div>

    </div>

</section>