<section class="tab equipment {{tab.cssClass}}" data-group="primary" data-tab="equipment">
    {{!-- Weapons --}}
    <h2>{{localize "WW.Equipment.Weapons"}}</h2>
    <div>
        <ol class="item-list weapons-list">
            <li class="item flexrow items-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize "WW.Item.Name"}}</div>
                <div class="item-fixed">{{localize "WW.Damage.Label"}}</div>
                <div class="item-fixed">{{localize "WW.Weapon.Grip.Label"}}</div>
                <div class="item-traits">{{localize "WW.Weapon.Traits.Label"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.Weapon" data-type="Equipment" data-subtype="weapon"><i
                        class="fas fa-plus"></i> {{localize "WW.Item.Create.Label"}}</a>
                </div>
            </li>

            {{#each weapons as |item id|}}
            <li class="item draggable flexrow flex-group-left" data-item-id="{{item._id}}">
                {{!-- Icon --}}
                <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24" /></div>

                <div class="item-name">
                    {{!-- Title --}}
                    <label class="item-button" data-action="itemLabelClick" data-item-id="{{item._id}}"
                        data-tooltip="{{{item.tooltip}}}">{{item.name}}</label>

                    <span class="buttons">
                        
                        {{!-- Toggle Reloaded --}}
                        {{#if item.system.disadvantages.reload}}
                        <a class="item-button" data-action="item-toggle-reloaded" data-item-id="{{item._id}}"
                            data-tooltip="{{#if item.system.reloaded}}{{localize "WW.Weapon.Fire"}}{{else}}{{localize "WW.Weapon.Reload"}}{{/if}}">
                        <i class="fas {{#if item.system.reloaded}}fa-hexagon-check{{else}}fa-arrows-rotate{{/if}}"></i></a>
                        {{/if}}
                        
                    </span>

                </div>
                
                <div class="item-fixed"><a>{{item.system.damage}}</a></div>
                <div class="item-fixed">{{localize item.system.grip}}</div>
                <div class="item-traits">{{item.system.traitsList}}</div>

                <div class="item-controls">
                    {{!-- Scroll Button --}}
                    {{#if item.system.description.value}}
                        <a class="item-button" data-action="itemScroll" data-item-id="{{item._id}}"
                            data-tooltip="{{localize "WW.Item.Send"}}">
                        <i class="far fa-scroll"></i></a>
                    {{/if}}

                    {{!-- Edit Button --}}
                    <a class="item-button" data-action="itemEdit" data-item-id="{{item._id}}"
                        data-tooltip="WW.Item.Edit.Weapon">
                    <i class="fas fa-edit"></i></a>

                    {{!-- Delete Button --}}
                    <a class="item-button" data-action="itemRemove" data-item-id="{{item._id}}" data-tooltip="WW.Item.Delete.Weapon"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>

    </div>

    {{!-- Equipment Header --}}
    <h2 class="equipment-header">{{localize "WW.Equipment.Label"}}
        
        {{!-- Coins --}}
        <div class="coins">
            <label for="system.currency">{{localize "WW.Equipment.Coins"}}:</label>

            <ol class="coins-list hl flex-children">

                <li>
                    <div class="input-wrap">
                        <input type="number" name="system.currency.gp" value="{{system.currency.gp}}" min="0"
                        data-dtype="Number" />

                        <div class="input-overlay">{{system.currency.gp}}</div>
                    </div>

                    <i class="fas fa-coins gold" data-tooltip="{{localize "WW.Equipment.GP"}}"></i>
                </li>

                <li>
                    <div class="input-wrap">
                        <input type="number" name="system.currency.sp" value="{{system.currency.sp}}" min="0"
                            data-dtype="Number" />

                        <div class="input-overlay">{{system.currency.sp}}</div>
                    </div>

                    <i class="fas fa-coins silver" data-tooltip="{{localize "WW.Equipment.SP"}}"></i>
                </li>

                <li>
                    <div class="input-wrap">
                        <input type="number" name="system.currency.cp" value="{{system.currency.cp}}" min="0"
                            data-dtype="Number" />

                        <div class="input-overlay">{{system.currency.cp}}</div>
                    </div>
                        
                    <i class="fas fa-coins copper" data-tooltip="{{localize "WW.Equipment.CP"}}"></i>
                </li>

            </ol>
        </div>

        {{!-- Carrying Limit --}}
        <div class="carrying-limit nowrap">
            <label>{{localize "WW.Equipment.CarryingLimit"}}:</label>
            <span class="hl" {{#if (gt totalWeight system.attributes.str.value)}}class="over-warning"
                {{/if}}>{{totalWeight}} / {{system.attributes.str.value}}</span>
        </div>

    </h2>

    {{!-- Equipment Table --}}
    <div>
        <ol class="item-list equipment-list">
            <li class="item flexrow items-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize "WW.Item.Name"}}</div>
                <div class="item-uses">{{localize "WW.Equipment.Uses"}}</div>
                <div class="item-weight">{{localize "WW.Equipment.Weight"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" data-action="itemCreate"  data-tooltip="WW.Item.Create.Equipment" data-type="Equipment" data-subtype="generic"><i class="fas fa-plus"></i> {{localize "WW.Item.Create.Label"}}</a>
                </div>
            </li>

            {{#each equipment as |item id|}}
            <li class="item draggable flexrow{{#if (eq item.system.subtype 'container')}} container collapsed{{/if}}" data-item-id="{{item._id}}">
                {{!-- Icon --}}
                <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24" /></div>

                <div class="item-name">
                    {{!-- Title --}}
                    <div>
                        <label class="item-button" data-action="itemLabelClick" data-item-id="{{item._id}}"
                            data-tooltip="{{{item.tooltip}}}">{{#if (gt item.system.quantity 1)}}{{item.system.quantity}} {{/if}}{{item.name}}</label>

                        <span class="buttons">

                            {{!-- Toggle Effects --}}
                            {{#if item.hasPassiveEffects}}
                                <a class="item-button" data-action="itemToggleEffects" data-item-id="{{item._id}}"
                                    data-tooltip="{{#if item.system.active}}{{localize "WW.Item.DisableEffects"}}{{else}}{{localize "WW.Item.EnableEffects"}}{{/if}}">
                                    <i class="fas {{#if item.system.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
                            {{/if}}

                            {{!-- Container Collapse --}}
                            {{#if (eq item.system.subtype 'container')}}
                            <a class="item-collapse" data-action="containerCollapse" data-item-id="{{item._id}}" data-tooltip="WW.Container.Expand">
                                <i class="fas fa-square-caret-up"></i>
                            </a>
                            {{/if}}

                        </span>
                    </div>

                    {{!-- Container Held item list --}}
                    {{#if item.filled}}<div class="held-list">{{item.heldList}}</div>{{/if}}
                    
                </div>

                {{!-- Uses/Charges/Capacity Column --}}
                <div>
                    {{!-- Uses Pips --}}
                    {{#if item.uses}}
                    <div class="pip-box">
                        {{#each item.uses as |pip id|}}
                        <a class="item-pip" data-item-id="{{item._id}}"
                            data-tooltip="{{#if (eq pip "far fa-circle")}}{{localize "WW.Item.Uses.EquipmentSpend"}}{{else}}{{localize "WW.Item.Uses.EquipmentRecover"}}{{/if}}">
                        <i class="{{pip}}"></i></a>
                        {{/each}}
                    </div>
                    {{/if}}

                    {{!-- Container Capacity --}}
                    {{#if (eq item.system.subtype 'container')}}
                    <div class="item-holding" data-action="containerCollapse" data-tooltip="{{item.containerTooltip}}">
                        <span {{#if (gt item.filled item.system.capacity)}}class="over-warning"{{/if}}>{{item.filled}}/{{item.system.capacity}}</span>
                        <i class="far fa-toolbox"></i>
                    </div>
                    {{/if}}
                </div>

                {{!-- Weight Column --}}
                <div class="item-weight">{{item.system.weight}}</div>

                {{!-- Item Controls Column --}}
                <div class="item-controls">

                    {{!-- Scroll Button --}}
                    {{#if item.system.description.value}}
                        <a class="item-button" data-action="itemScroll" data-item-id="{{item._id}}"
                            data-tooltip="{{localize "WW.Item.Send"}}">
                        <i class="far fa-scroll"></i></a>
                    {{/if}}

                    {{!-- Edit Button --}}
                    <a class="item-button" data-action="itemEdit" data-item-id="{{item._id}}"
                        data-tooltip="WW.Item.Edit.Equipment">
                    <i class="fas fa-edit"></i></a>

                    {{!-- Delete Button --}}
                    <a class="item-button" data-action="itemRemove" data-item-id="{{item._id}}" data-tooltip="WW.Item.Delete.Equipment"><i class="fas fa-trash"></i></a>
                    
                </div>

            </li>
            
            {{!-- Container Held Item List --}}
            {{#if item.filled}}
            <ol class="item-list container-content" data-container-id="{{item._id}}">
                {{#each item.heldItems as |heldItem heldId|}}
                <li class="item draggable flexrow" data-item-id="{{heldItem._id}}">

                    {{!-- Icon --}}
                    <div class="item-image"><img src="{{heldItem.img}}" data-tooltip="{{heldItem.name}}" width="24" height="24" /></div>

                    <div class="item-name">
                        {{!-- Title --}}
                        <div>
                            <label class="item-button" data-action="itemLabelClick" data-item-id="{{heldItem._id}}"
                                data-tooltip="{{{heldItem.tooltip}}}">{{#if (gt heldItem.system.quantity 1)}}{{heldItem.system.quantity}} {{/if}}{{heldItem.name}}</label>
                            
                            <span class="buttons">

                                {{!-- Toggle Effects --}}
                                {{#if heldItem.hasPassiveEffects}}
                                    <a class="item-button" data-action="itemToggleEffects" data-item-id="{{heldItem._id}}"
                                        data-tooltip="{{#if heldItem.system.active}}{{localize "WW.Item.DisableEffects"}}{{else}}{{localize "WW.Item.EnableEffects"}}{{/if}}">
                                        <i class="fas {{#if heldItem.system.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
                                {{/if}}

                            </span>
                        </div>
                        
                    </div>

                    {{!-- Uses Pips --}}
                    <div>
                        {{#if heldItem.uses}}
                        <span class="pip-box">
                            {{#each heldItem.uses as |pip id|}}
                            <a class="item-pip" data-item-id="{{heldItem._id}}"
                                data-tooltip="{{#if (eq pip "far fa-circle")}}{{localize "WW.Item.Uses.EquipmentSpend"}}{{else}}{{localize "WW.Item.Uses.EquipmentRecover"}}{{/if}}">
                            <i class="{{pip}}"></i></a>
                            {{/each}}
                        </span>
                        {{/if}}
                    </div>

                    {{!-- Weight --}}
                    <div class="item-weight">{{heldItem.system.weight}}</div>

                    <div class="item-controls">

                        {{!-- Scroll Button --}}
                        {{#if heldItem.system.description.value}}
                            <a class="item-button" data-action="itemScroll" data-item-id="{{heldItem._id}}"
                                data-tooltip="{{localize "WW.Item.Send"}}">
                            <i class="far fa-scroll"></i></a>
                        {{/if}}

                        {{!-- Edit Button --}}
                        <a class="item-button" data-action="itemEdit" data-item-id="{{heldItem._id}}"
                            data-tooltip="WW.Item.Edit.Equipment">
                        <i class="fas fa-edit"></i></a>

                        {{!-- Delete Button --}}
                        <a class="item-button" data-action="itemRemove" data-item-id="{{heldItem._id}}" data-tooltip="WW.Item.Delete.Equipment"><i class="fas fa-trash"></i></a>
                        
                    </div>
                </li>
                {{/each}}
            </ol>
            {{/if}}

            {{/each}}
        </ol>
    </div>

</section>