<section class="tab spells {{tab.cssClass}}" data-group="primary" data-tab="spells">
    
    {{!-- Traditions --}}
    <div class="stat-inline mb-2 list-entries">

        <label>{{localize "WW.Detail.Tradition.Label"}}:</label>

        {{#each system.details.traditions as |detail id|}}
        <span class="list-entry draggable">
                    
        <a data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
            <a class="array-button" data-action="entryEdit" data-array="details.traditions" data-entry-id="{{id}}"
                data-tooltip="WW.Detail.Tradition.Edit"><i class="fas fa-edit"></i></a>
                    
            <a class="array-button" data-action="entryRemove" data-array="details.traditions" data-entry-id="{{id}}"
                data-tooltip="WW.Detail.Tradition.Remove"><i class="fas fa-trash"></i></a>

            </span>{{#unless @last}},{{/unless}}
        </span>
        {{/each}}
                    
        {{#unless system.details.traditions.length}}<span>—</span>{{/unless}}
        <a class="array-button" data-action="entryCreate" data-array="details.traditions" data-loc="Traditions"
            data-tooltip="WW.Detail.Tradition.Create"><i class="fas fa-circle-plus"></i></a>            
                
    </div>

    <ol class="item-list">

        {{!-- Header --}}
        <li class="item flexrow items-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize "WW.Item.Name"}}</div>
            <div>{{localize "WW.Spell.Castings"}}</div>
            <div>{{localize "WW.Item.Tier"}}</div>
            <div>{{localize "WW.Spell.Tradition"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.Spell" data-type="Spell"><i class="fas fa-plus"></i> {{localize "WW.Item.Create.Label"}}</a>
            </div>
        </li>

        {{#each spells as |item id|}}
        <li class="item draggable flexrow" data-item-id="{{item._id}}">

            {{!-- Icon --}}
            <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24" /></div>

            <div class="item-name">
                
                {{!-- Title --}}
                <label class="item-button" data-action="itemLabelClick" data-item-id="{{item._id}}"
                    data-tooltip="{{{item.tooltip}}}">{{item.name}}</label>

                <span class="buttons">

                    {{!-- Toggle Effects --}}
                    {{#if item.hasPassiveEffects}}
                        <a class="item-button" data-action="itemToggleEffects" data-item-id="{{item._id}}"
                            data-tooltip="{{#if item.system.active}}{{localize "WW.Item.DisableEffects"}}{{else}}{{localize "WW.Item.EnableEffects"}}{{/if}}">
                            <i class="fas {{#if item.system.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
                    {{/if}}

                </span>

            </div>

            {{!-- Uses Pips --}}
            <div>
                {{#if item.uses}}
                <span class="pip-box">
                    {{#each item.uses as |pip id|}}
                    <a class="item-pip" data-item-id="{{item._id}}"
                        data-tooltip="{{#if (eq pip "far fa-circle")}}{{localize "WW.Item.Uses.SpellSpend"}}{{else}}{{localize "WW.Item.Uses.SpellRecover"}}{{/if}}">
                    <i class="{{pip}}"></i></a>
                    {{/each}}
                </span>
                {{/if}}
            </div>

            <div>{{item.system.tier}}</div>
            <div>{{item.system.tradition}}</div>

            <div class="item-controls">

                {{!-- Scroll Button --}}
                {{#if item.system.description.value}}
                    <a class="item-button" data-action="itemScroll" data-item-id="{{item._id}}"
                        data-tooltip="{{localize "WW.Item.Scroll"}}">
                    <i class="far fa-scroll"></i></a>
                {{/if}}

                {{!-- Edit Button --}}
                <a class="item-button" data-action="itemEdit" data-item-id="{{item._id}}"
                    data-tooltip="WW.Item.Edit.Spell">
                <i class="fas fa-edit"></i></a>

                {{!-- Delete Button --}}
                <a class="item-button" data-action="itemRemove" data-item-id="{{item._id}}" data-tooltip="WW.Item.Delete.Spell"><i class="fas fa-trash"></i></a>

            </div>
        </li>
        {{/each}}
    </ol>

</section>