<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="summary">
    
    {{!-- Paths --}}
    <h5 class="descriptors stat-inline list-entries">

        {{!-- Novice Path --}}
        <div class="list-entry">
            <a data-action="journalView" data-page-uuid="{{charOptions.novice.uuid}}">{{charOptions.novice.name}}</a>

            {{#if charOptions.novice}}
            <span class="buttons">
                <a class="item-button" data-action="journalRemove" data-page-uuid="{{charOptions.novice.uuid}}" data-option-type="novice"
                    data-tooltip="WW.Item.Delete.NovicePath"><i class="fas fa-trash"></i>
                </a>
            </span>
            {{/if}}{{#unless charOptions.novice}}<span>—</span>{{/unless}}{{#if (gte system.stats.level 3)}} ● {{/if}}

        </div>

        {{!-- Expert Path --}}
        {{#if (gte system.stats.level 3)}}
        <div class="list-entry">

            <a data-tooltip="{{charOptions.expert.system.description.enriched}}">{{charOptions.expert.name}}</a>
            {{#if charOptions.expert}}<span class="buttons">
                <a class="item-button" data-action="journalRemove" data-page-uuid="{{charOptions.expert.uuid}}" data-option-type="expert"
                    data-tooltip="WW.Item.Delete.ExpertPath"><i class="fas fa-trash"></i>
                </a>
            </span>{{/if}}{{#unless charOptions.expert}}<span>—</span>{{/unless}}{{#if (gte system.stats.level 7)}} ● {{/if}}
            
        </div>
        {{/if}}

        {{!-- Master Path --}}
        {{#if (gte system.stats.level 7)}}
        <div class="list-entry">

            <a data-tooltip="{{charOptions.master.system.description.enriched}}">{{charOptions.master.name}}</a>
            {{#if charOptions.master}}<span class="buttons">
                <a class="item-button" data-action="journalRemove" data-page-uuid="{{charOptions.master.uuid}}" data-option-type="master"
                    data-tooltip="WW.Item.Delete.MasterPath"><i class="fas fa-trash"></i>
                </a>
            </span>{{/if}}{{#unless charOptions.master}}<span>—</span>{{/unless}}

        </div>
        {{/if}}

        {{!-- Help Button --}}
        {{#if editMode}}
        <a class="help-button" data-action="journalHelp" data-tooltip="WW.System.Documentation"><i class="fas fa-circle-question"></i></a>
        {{/if}}

    </h5>
    
    {{!-- Summary --}}
    <div class="summary auto-grid-2">

        {{!-- Left Column --}}
        <div class="statbox">

            <h4 class="statbox-header">
                
                {{!-- Ancestry, Descriptors --}}
                <div class="list-entries statbox-ancestry">
                    
                    {{!-- Ancestry --}}
                    <div class="list-entry">
                        <a data-action="journalView" data-page-uuid="{{charOptions.ancestry.uuid}}">{{charOptions.ancestry.name}}</a>

                        {{#if charOptions.ancestry}}
                        <span class="buttons">
                            <a class="item-button" data-action="journalRemove" data-page-uuid="{{charOptions.ancestry.uuid}}" data-option-type="ancestry"
                                data-tooltip="WW.Item.Delete.NovicePath"><i class="fas fa-trash"></i>
                            </a>
                        </span>
                        {{/if}}{{#unless charOptions.ancestry}}<span>—</span>{{/unless}}{{#if (gte system.stats.level 3)}} ● {{/if}}

                    </div>

                    {{!-- Descriptors --}}
                    {{#each system.details.descriptors as |detail id|}}
                    <span class="list-entry">
                    
                        {{#if @first}}({{/if}}<a class="array-button" data-action="entryEdit" data-array="details.descriptors" data-entry-id="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-array="details.descriptors" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Descriptor.Edit"><i class="fas fa-edit"></i></a>
                    
                            <a class="array-button" data-action="entryRemove" data-array="details.descriptors" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Descriptor.Remove"><i class="fas fa-trash"></i></a>
                        </span>{{#unless @last}},{{/unless}}{{#if @last}}){{/if}}

                    </span>
                    {{/each}}
                    
                    {{#unless system.details.descriptors.length}}<span class="hover-only">({{localize "WW.Detail.Descriptor.Label"}})</span>{{/unless}}
                    
                    <a class="array-button" data-action="entryCreate" data-array="details.descriptors" data-loc="Descriptor"
                        data-tooltip="WW.Detail.Descriptor.Create"><i class="fas fa-circle-plus"></i></a>
                    
                </div>

            </h4>

            <div class="statbox-section stats">

                {{!-- Size, Speed --}}
                <div class="stat-inline list-entries">

                    {{!-- Size --}}
                    <label>{{localize "WW.Stats.Size"}}:</label>
                    <a data-tooltip="{{{sizeTooltip}}}">{{system.stats.size}}</a>
                    
                    {{!-- Speed --}}
                    <label class="ml-1">{{localize "WW.Stats.Speed"}}:</label>

                    <a class="mr-1" data-tooltip="{{{speedTooltip}}}">{{system.stats.speed.current}}</a>
                    
                    {{!-- Movement Traits --}}
                    {{#each system.details.movementTraits as |detail id|}}<span class="list-entry">
                        {{#if @first}}({{/if}}<a class="array-button" data-action="entryEdit" data-array="details.movementTraits" data-entry-id="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-array="details.movementTraits" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Movement.Edit"><i class="fas fa-edit"></i></a>
                            
                            <a class="array-button" data-action="entryRemove" data-array="details.movementTraits" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Movement.Remove"><i class="fas fa-trash"></i></a>
                        </span>{{#unless @last}},{{/unless}}{{#if @last}}){{/if}}
                    </span>
                    {{/each}}

                    <a class="array-button" data-action="entryCreate" data-array="details.movementTraits" data-loc="Movement"
                        data-tooltip="WW.Detail.Movement.Create"><i class="fas fa-circle-plus"></i></a>

                </div>

                {{!-- Languages --}}
                <div class="stat-inline list-entries">
                    
                    <label>{{localize "WW.Detail.Language.Label"}}:</label>
                    
                    {{#each system.details.languages as |detail id|}}
                    <span class="list-entry">
                    
                        <a class="array-button" data-action="entryEdit" data-array="details.languages" data-entry-id="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-array="details.languages" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Language.Edit"><i class="fas fa-edit"></i></a>
                    
                            <a class="array-button" data-action="entryRemove" data-array="details.languages" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Language.Remove"><i class="fas fa-trash"></i></a>
                        </span>{{#unless @last}},{{/unless}}
                    </span>
                    {{/each}}
                    
                    {{#unless system.details.languages.length}}<span>—</span>{{/unless}}
                    
                    <a class="array-button" data-action="entryCreate" data-array="details.languages" data-loc="Language"
                        data-tooltip="WW.Detail.Language.Create"><i class="fas fa-circle-plus"></i></a>

                </div>

                {{!-- Senses --}}
                <div class="stat-inline list-entries">
                    <label>{{localize "WW.Detail.Sense.Label"}}:</label>

                    {{#each system.details.senses as |detail id|}}
                    <span class="list-entry">
                    
                        <a class="array-button" data-action="entryEdit" data-array="details.senses" data-entry-id="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-array="details.senses" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Sense.Edit"><i class="fas fa-edit"></i></a>
                    
                            <a class="array-button" data-action="entryRemove" data-array="details.senses" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Sense.Remove"><i class="fas fa-trash"></i></a>
                        </span>{{#unless @last}},{{/unless}}

                    </span>
                    {{/each}}
                    
                    {{#unless system.details.senses.length}}<span>—</span>{{/unless}}
                    
                    <a class="array-button" data-action="entryCreate" data-array="details.senses" data-loc="Sense"
                        data-tooltip="WW.Detail.Sense.Create"><i class="fas fa-circle-plus"></i></a>

                </div>

                {{!-- Immune --}}
                <div class="stat-inline list-entries">

                    <label>{{localize "WW.Detail.Immune.Label"}}:</label>

                    {{#each system.details.immune as |detail id|}}
                    <span class="list-entry">
                        
                        <a class="array-button" data-action="entryEdit" data-array="details.immune" data-entry-id="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-array="details.immune" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Immune.Edit"><i class="fas fa-edit"></i></a>
                                
                            <a class="array-button" data-action="entryRemove" data-array="details.immune" data-entry-id="{{id}}"
                                data-tooltip="WW.Detail.Immune.Remove"><i class="fas fa-trash"></i></a>
                        </span>{{#unless @last}},{{/unless}}

                    </span>
                    {{/each}}

                    {{#unless system.details.immune.length}}<span>—</span>{{/unless}}

                    <a class="array-button" data-action="entryCreate" data-array="details.immune" data-loc="Immune"
                        data-tooltip="WW.Detail.Immune.Create"><i class="fas fa-circle-plus"></i></a>        

                </div>

                {{!-- Professions --}}
                <div class="stat-inline list-entries">

                    <label>{{localize "WW.CharOptions.Professions"}}:</label>    
                    
                    {{#each charOptions.professions as |profession id|}}
                    <span class="list-entry draggable">
                        <a data-action="journalView" data-page-uuid="{{profession.uuid}}" data-option-type="professions"
                            data-tooltip="{{profession.desc}}">{{profession.name}}
                        </a>
                        
                        <span class="buttons">
                            <a class="array-button" data-action="journalRemove" data-page-uuid="{{profession.uuid}}" data-option-type="professions"
                                data-tooltip="WW.Profession.Remove"><i class="fas fa-trash"></i>
                            </a>
                        </span>{{#unless @last}},{{/unless}}

                    </span>
                    {{/each}}
                        
                    {{#unless charOptions.professions.length}}<span>—</span>{{/unless}}
                        
                    {{#if editMode}}
                    <a class="help-button" data-action="journalHelp" data-tooltip="WW.System.Documentation"><i class="fas fa-circle-question"></i></a>
                    {{/if}}
                    
                </div>
                
            </div>

            <h4>{{localize "WW.Attack.Plural"}}</h4>
            
            <div class="statbox-section attacks">

                {{!-- Bonus Damage --}}
                {{#if system.stats.bonusdamage}}
                <div class="stat">
                    <label class="" for="bonusdamage" class="resource-label">{{localize "WW.Damage.Bonus"}}:</label>
                    +{{system.stats.bonusdamage}}d6
                </div>
                {{/if}}

                {{!-- Weapons List --}}
                <div>
                    <ol class="described-list">
                        {{#each weapons as |item id|}}
                            {{> "systems/weirdwizard/templates/actors/tabs/character-summary-weapon.hbs" item=item id=id}}
                        {{/each}}
                    </ol>
                </div>
            </div>

        </div>

        {{!-- Right Column --}}
        <div class="statbox">

            {{!-- Talents --}}
            <h4>{{localize "WW.Talents.Label"}}</h4>

            <div class="statbox-section talents">

                <ol class="compact-list stat">
                    {{#each talents as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/character-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>

                {{!-- Actions --}}
                {{#if actions}}
                <h6>{{localize "WW.Talents.Actions"}}</h6>

                <ol class="compact-list stat">
                    {{#each actions as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/character-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>
                {{/if}}

                {{!-- Reactions --}}
                {{#if reactions}}
                <h6>{{localize "WW.Talents.Reactions"}}</h6>

                <ol class="compact-list stat">
                    {{#each reactions as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/character-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>
                {{/if}}
            </div>

            {{!-- Spells Section --}}
            {{#if (or system.details.traditions spells.length)}}
            <h4>{{localize "WW.Spells.Label"}}</h4>

            <div class="statbox-section spells">

                {{!-- Traditions --}}
                <div class="stat-inline mb-1 list-entries">

                    <label>{{localize "WW.Tradition.Label"}}:</label>

                    {{#each charOptions.traditions as |tradition id|}}
                    <span class="list-entry draggable">
                        <a data-action="journalView" data-page-uuid="{{tradition.uuid}}" data-option-type="traditions"
                            data-tooltip="{{tradition.desc}}">{{tradition.name}}
                        </a>
                        
                        <span class="buttons">
                            <a class="array-button" data-action="journalRemove" data-page-uuid="{{tradition.uuid}}" data-option-type="traditions"
                                data-tooltip="WW.Tradition.Remove"><i class="fas fa-trash"></i>
                            </a>
                        </span>{{#unless @last}},{{/unless}}

                    </span>
                    {{/each}}
                        
                    {{#unless charOptions.traditions.length}}<span>—</span>{{/unless}}
                    
                </div>

                {{!-- Spells List --}}
                <ol class="compact-list stat">
                    {{#each spells as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/character-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>
                

            </div>
            {{/if}}
            
        </div>

    </div>

</section>