<section class="tab spells {{tab.cssClass}}" data-group="primary" data-tab="spells">

    {{!-- Traditions --}}
    <ol class="stat-inline mb-2 list-entries">

        <label>{{localize "WW.Tradition.Label"}}:</label>
        
        {{#each charOptions.traditions as |tradition id|}}
            <li class="list-entry draggable">
                <a data-action="journalView" data-page-uuid="{{tradition.uuid}}" data-tooltip="{{tradition.desc}}"><img src="{{tradition.src}}" />{{tradition.name}}</a>
                
                <span class="buttons">
                    <a class="array-button" data-action="journalRemove" data-page-uuid="{{tradition.uuid}}" data-option-type="traditions"
                        data-tooltip="WW.Tradition.Remove"><i class="fa-solid fa-trash"></i>
                    </a>
                </span>

            </li>
        {{else}}
            <span>—</span>
        {{/each}}

        {{!-- Legacy Traditions --}}
        {{#if listEntries.traditions.length}}
        <ol class="stat-inline list-entries">(
            <label>Legacy, Delete:</label>
        
            {{#each listEntries.traditions as |entry|}}
                {{> "systems/weirdwizard/templates/actors/tabs/list-entry.hbs" entry=entry entryKey=entry.key listKey="traditions" loc="Tradition"}}
            {{/each}}
        
        )</ol>
        {{/if}}
    </ol>

    {{!-- Spells Table --}}
    <ol class="item-list">

        {{!-- Header --}}
        <li class="item flexrow items-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize "WW.Item.Name"}}</div>
            <div>{{localize "WW.Spell.Castings"}}</div>
            <div>{{localize "WW.Item.Tier"}}</div>
            <div>{{localize "WW.Spell.Tradition"}}</div>
            <div class="item-controls">
                <a class="item-control item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.Spell" data-type="spell"><i class="fa-solid fa-plus"></i> {{localize "WW.Item.Create.Label"}}</a>
            </div>
        </li>
        
        {{#each spells as |item id|}}
        <li class="item draggable flexrow" data-item-id="{{item._id}}">

            {{!-- Icon --}}
            <div class="item-image"><img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24" /></div>

            <div class="item-name">
                
                {{!-- Title --}}
                <label class="item-button" data-action="itemLabelClick" data-item-id="{{item._id}}"
                    data-tooltip="{{item.tooltip}}">{{item.name}}</label>

                <span class="buttons">

                    {{!-- Toggle Effects --}}
                    {{#if item.hasPassiveEffects}}
                        <a class="item-button" data-action="itemToggleEffects" data-item-id="{{item._id}}"
                            data-tooltip="{{#if item.system.active}}{{localize "WW.Item.DisableEffects"}}{{else}}{{localize "WW.Item.EnableEffects"}}{{/if}}">
                            <i class="fa-solid {{#if item.system.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></a>
                    {{/if}}

                </span>

            </div>

            {{!-- Uses Pips --}}
            <div class="item-uses">
                {{#if item.uses}}
                <div class="pip-box">
                    {{#each item.uses as |pip id|}}
                    <a class="item-pip" data-action="itemUpdateUses" data-item-id="{{item._id}}"
                        data-tooltip="{{#if (eq pip "fa-regular fa-circle")}}{{localize "WW.Item.Uses.EquipmentSpend"}}
                        {{else}}{{localize "WW.Item.Uses.EquipmentRecover" }}{{/if}}">
                    <i class="{{pip}}"></i></a>
                    {{/each}}
                </div>
                {{/if}}
            </div>

            <div>{{localize (lookup @root.tiers item.system.tier)}}</div>
            <div>{{item.system.tradition}}</div>

            <div class="item-controls">

                {{!-- Scroll Button --}}
                {{#if item.system.description.value}}
                    <a class="item-button" data-action="itemScroll" data-item-id="{{item._id}}"
                        data-tooltip="{{localize "WW.Item.Send"}}">
                    <i class="fa-regular fa-scroll"></i></a>
                {{/if}}

                {{!-- Edit Button --}}
                <a class="item-button" data-action="itemEdit" data-item-id="{{item._id}}"
                    data-tooltip="WW.Item.Edit.Spell">
                <i class="fa-solid fa-edit"></i></a>

                {{!-- Remove Button --}}
                <a class="item-button" data-action="itemRemove" data-item-id="{{item._id}}" data-tooltip="WW.Item.Remove.Spell"><i class="fa-solid fa-trash"></i></a>

            </div>
        </li>
        {{/each}}
    </ol>

</section>