<section class="tab {{tab.cssClass}} details" data-group="primary" data-tab="details">
    
    <div class="auto-grid-2">
        {{!-- Left Column --}}
        <div class="flexcol">
            
            {{!-- Appearance --}}
            {{#if (or editMode system.details.appearance.value)}}
            <div>
                <h2>{{localize "WW.Actor.Appearance"}}</h2>
                {{#if editMode}}
                <prose-mirror name="system.details.appearance.value" data-document-uuid="{{actor.uuid}}" value="{{actor.system.details.appearance.value}}"
                    toggled=true collaborate=true compact=true owner={{owner}} editable={{editable}}>
                    {{{enrichedDetails.appearance}}}
                </prose-mirror>
                {{else if system.details.appearance.value}}
                {{{enrichedDetails.appearance}}}
                {{else}}—{{/if}}
            </div>
            {{/if}}
            
            {{!-- Background --}}
            <div>
                <h2>{{localize "WW.Actor.Background"}}</h2>
                {{#if editMode}}
                <prose-mirror name="system.details.background.value" data-document-uuid="{{actor.uuid}}" value="{{actor.system.details.background.value}}"
                    toggled=true collaborate=true compact=true owner={{owner}} editable={{editable}}>
                    {{{enrichedDetails.background}}}
                </prose-mirror>
                {{else if system.details.background.value}}
                {{{enrichedDetails.background}}}
                {{else}}—{{/if}}
            </div>
            
        </div>

        {{!-- Right Column --}}
        <div class="flexcol">

            {{!-- Identity --}}
            <div>
                <h2>{{localize "WW.Actor.Identity"}}</h2>
                {{#if (or editMode system.details.personality.value system.details.beliefs.value)}}
                {{!-- Personality --}}
                <h3 class="detail-label">{{localize "WW.Actor.Personality"}}</h3>
                {{#if editMode}}
                <prose-mirror name="system.details.personality.value" data-document-uuid="{{actor.uuid}}" value="{{actor.system.details.personality.value}}"
                    toggled=true collaborate=true compact=true owner={{owner}} editable={{editable}}>
                    {{{enrichedDetails.personality}}}
                </prose-mirror>
                {{else if system.details.personality.value}}
                {{{enrichedDetails.personality}}}
                {{else}}—{{/if}}

                {{!-- Beliefs --}}
                <h3 class="detail-label">{{localize "WW.Actor.Beliefs"}}</h3>
                {{#if editMode}}
                <prose-mirror name="system.details.beliefs.value" data-document-uuid="{{actor.uuid}}" value="{{actor.system.details.beliefs.value}}"
                    toggled=true collaborate=true compact=true owner={{owner}} editable={{editable}}>
                    {{{enrichedDetails.beliefs}}}
                </prose-mirror>
                {{else if system.details.beliefs.value}}
                {{{enrichedDetails.beliefs}}}
                {{else}}—{{/if}}

                {{else}}
                —
                {{/if}}
            </div>
            
            {{!-- Notes --}}
            <div>
                <h2>{{localize "WW.Actor.Notes"}}</h2>
                {{#if editMode}}
                <prose-mirror name="system.details.notes.value" data-document-uuid="{{actor.uuid}}" value="{{actor.system.details.notes.value}}"
                    toggled=true collaborate=true compact=true owner={{owner}} editable={{editable}}>
                    {{{enrichedDetails.notes}}}
                </prose-mirror>
                {{else if system.details.notes.value}}
                {{{enrichedDetails.notes}}}
                {{else}}—{{/if}}
            </div>
            
        </div>
    </div>
    
</section>