<section class="tab effects {{tab.cssClass}}" data-group="primary" data-tab="effects">

  {{!-- Afflictions List --}}
  <div class="afflictions stat mb-2">
    <label>{{localize "WW.Affliction.Label"}}:</label>

    {{#each afflictions as |affliction id|}}
    <span class="affliction" data-tooltip="{{affliction.description}}"><img class="icon" src="{{affliction.img}}"> {{localize affliction.name}}</span>
    {{/each}}

    <a data-action="afflictionsMenu"><i class="fas {{#if afflictions.length}}fa-edit{{else}}fa-circle-plus{{/if}}"></i></a>

  </div>

  {{!-- All Effects --}}
  <div class="effects-wrapper">

    {{!-- Applied Effects --}}
    {{#each appliedEffects as |section sid|}}
    {{#if (ne section.type 'inactive')}}
    <ol class="item-list effects-list {{section.type}}-effects">

      {{!-- Header Row --}}
      <li class="item items-header flexrow" data-effect-type="{{section.type}}">
        <div class="item-image"></div>
        <div class="item-name">{{localize section.name}}</div>
        {{#if section.showDuration}}<div class="effect-duration">Duration</div>{{/if}}
        {{#if section.showSource}}<div class="effect-source">Source</div>{{/if}}
        
        <div class="item-controls effect-controls flexrow"></div>
      </li>
      
      {{!-- Effect Rows --}}
      {{#each section.effects as |effect|}}
      <li class="item effect flexrow {{#if (eq effect.parent.id @root.actor.id)}}draggable{{/if}}" data-effect-id="{{effect.id}}">
        
        <div class="item-image">
          <img src="{{effect.img}}" width="24" height="24" />
        </div>

        <div class="item-name" data-tooltip="{{effect.tooltip}}"><label>{{effect.name}}</label></div>
        
        {{#if section.showDuration}}<div class="effect-duration">{{system.duration.formatted}}</div>{{/if}}

        {{#if section.showSource}}<div class="effect-source">{{{effect.sourceCard}}}</div>{{/if}}
      
        <div class="item-controls effect-controls flexrow">
          {{#if (or (eq effect.parent.type 'Character') (eq effect.parent.type 'NPC'))}}

          {{#if (ne section.type 'temporary')}}
          <a class="effect-control" data-action="effectToggle" data-effect-id="{{effect.id}}" data-tooltip="WW.Effect.Toggle">
            <i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
          </a>
          {{/if}}
      
          <a class="effect-control" data-action="effectEdit" data-effect-id="{{effect.id}}" data-tooltip="WW.Effect.Edit">
            <i class="fas fa-edit"></i>
          </a>

          <a class="effect-control" data-action="effectRemove" data-effect-id="{{effect.id}}" data-tooltip="WW.Effect.Delete">
            <i class="fas fa-trash"></i>
          </a>

          {{/if}}
        </div>
        
      </li>
      {{/each}}
    </ol>
    {{/if}}
    {{/each}}

    {{!-- Inactive Effects --}}
    {{#each effects as |section sid|}}
    {{#if (eq section.type 'inactive')}}
    <ol class="item-list effects-list {{section.type}}-effects">

      {{!-- Header Row --}}
      <li class="item items-header flexrow" data-effect-type="{{section.type}}">
        <div class="item-image"></div>
        <div class="item-name">{{localize section.name}}</div>
        {{#if section.showDuration}}<div class="effect-duration">Duration</div>{{/if}}
        
        <div class="item-controls effect-controls flexrow">
          {{#if section.showCreate}}
          <a class="effect-control" data-action="effectCreate" data-type="{{section.type}}" data-tooltip="WW.Effect.Create">
            <i class="fas fa-plus"></i> {{localize "WW.Item.Create.Label"}}
          </a>
          {{/if}}
        </div>
      </li>
      
      {{!-- Effect Rows --}}
      {{#each section.effects as |effect|}}
      <li class="item effect flexrow {{#if (eq effect.parent.id @root.actor.id)}}draggable{{/if}}" data-effect-id="{{effect.id}}">

        <div class="item-image">
          <img src="{{effect.img}}" width="24" height="24" />
        </div>

        <div class="item-name" data-tooltip="{{effect.tooltip}}"><label>{{effect.name}}</label></div>
        
        {{#if section.showDuration}}<div class="effect-duration">{{system.duration.formatted}}</div>{{/if}}
      
        <div class="item-controls effect-controls flexrow">
          {{#if (or (eq effect.parent.type 'Character') (eq effect.parent.type 'NPC'))}}

          {{#if (ne section.type 'temporary')}}
          <a class="effect-control" data-action="effectToggle" data-effect-id="{{effect.id}}" data-tooltip="WW.Effect.Toggle">
            <i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
          </a>
          {{/if}}
      
          <a class="effect-control" data-action="effectEdit" data-effect-id="{{effect.id}}" data-tooltip="WW.Effect.Edit">
            <i class="fas fa-edit"></i>
          </a>

          <a class="effect-control" data-action="effectRemove" data-effect-id="{{effect.id}}" data-tooltip="WW.Effect.Delete">
            <i class="fas fa-trash"></i>
          </a>

          {{/if}}
        </div>
        
      </li>
      {{/each}}
    </ol>
    {{/if}}
    {{/each}}
    
  </div>

</section>