{{!-- Description Tab --}}
<section class="tab description {{tab.cssClass}}" data-group="primary" data-tab="description">
    {{#if (or folder editMode)}}
    {{!-- Folder Name / Creature Group --}}
    {{#if folder}}
    <div class="folder-info">
        <h2>
            {{#if folder.name}}{{folder.name}}{{else}}{{localize "WW.Actor.Folder.Unnamed"}}{{/if}}</h2>

        {{!-- Folder / Creature Group Description --}}
        <div>{{#if folder.flags.weirdwizard.description}}{{{folder.flags.weirdwizard.description}}}{{else}}{{localize "WW.Actor.Folder.NoDescription"}}{{/if}}</div>

        <button class="edit-folder" data-action="folderEdit"><i class="fa-solid fa-edit"></i></button>
    </div>
    {{else}}
    {{localize "WW.Actor.Folder.None"}}
    {{/if}}

    <h4 class="pointed-right mt-2">{{actor.name}}</h4>
    {{/if}}

    {{#if editMode}}
    <prose-mirror name="system.description.value" data-document-u-u-i-d="{{actor.uuid}}"
        value="{{actor.system.description.value}}" toggled=true collaborate=true compact=true owner={{owner}}
        editable={{editable}}>
        {{{actor.system.description.enriched}}}
    </prose-mirror>
    {{else}}
    {{{actor.system.description.enriched}}}
    {{/if}}

</section>