<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="summary">

    {{!-- Descriptor(s) --}}
    <h5 class="descriptors flex-group-left list-entries">

        {{#each system.details.descriptors as |detail id|}}
        <span class="list-entry">

            <a class="array-button" data-action="entryEdit" data-list-key="descriptors" data-entry-key="{{id}}"
                data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                <a class="array-button" data-action="entryEdit" data-list-key="descriptors" data-entry-key="{{id}}"
                    data-tooltip="WW.ListEntry.Descriptor.Edit"><i class="fa-solid fa-edit"></i></a>

                <a class="array-button" data-action="entryRemove" data-list-key="descriptors" data-entry-key="{{id}}"
                    data-tooltip="WW.ListEntry.Descriptor.Remove"><i class="fa-solid fa-trash"></i></a>
            </span>data-entry-key=

        </span>
        {{/each}}

        {{#unless system.details.descriptors.length}}<span>{{localize "WW.ListEntry.Descriptor.None"}}</span>{{/unless}}

        <a class="array-button" data-action="entryCreate" data-list-key="descriptors" data-loc="Descriptor"
            data-tooltip="WW.ListEntry.Descriptor.Create"><i class="fa-solid fa-circle-plus"></i></a>

        <a class="array-button" data-action="entrySettings" data-list-key="descriptors"
            data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>
    </h5>

    {{!-- Statbox Sections --}}
    <div class="statbox-sections flexrow">

        {{!-- Statbox: Left Column --}}
        <div class="statbox">

            {{!-- Edit Mode Stats --}}
            {{#if editMode}}
            <div class="statbox-section">

                {{!-- Defense, Health --}}
                <div class="stat-inline flex-wrap flex-children">

                    {{!-- Defense --}}
                    <div class="defense-line">
                        <label>{{localize "WW.Defense.NaturalNPC"}}:</label>
                        
                        {{!-- Natural Defense --}}
                        <div class="input-wrap">
                            <input type="number" name="system.stats.defense.natural" value="{{system.stats.defense.natural}}" min="0"
                                data-dtype="Number" {{~#if defenseDisabled}}data-tooltip="WW.Defense.NaturalDisabled" disabled{{/if}} />
                            
                            <div class="input-overlay">{{system.stats.defense.natural}}</div>
                        </div>
                        
                    </div>

                    {{!-- Health --}}
                    <div class="nowrap">
                        
                        <label>{{localize "WW.Health.NormalNPC"}}:</label>
                        
                        <div class="input-wrap">
                            <input type="number" name="system.stats.health.normal" value="{{system.stats.health.normal}}" min="0" />

                            <div class="input-overlay">{{system.stats.health.normal}}</div>
                        </div>
                        
                    </div>
                    
                </div>

                {{!-- Equipment --}}
                <div class="stat equipment-list">
                        
                    <label>{{localize "WW.Equipment.Label"}}:</label>
                    {{#each equipment as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/npc-summary-item.hbs" item=item id=id}}
                    {{/each}}

                    {{#unless equipment.length}}<span>—</span>{{/unless}}

                    <a class="item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.Equipment" data-type="Equipment" data-subtype="generic"><i class="fa-solid fa-plus-circle"></i></a>

                </div>

                {{!-- Attributes 1 --}}
                <div class="mt-1 stat-inline">

                    {{!-- Strength --}}
                    <label><a class="item-button" data-action="attributeRoll" data-key="str" data-tooltip="WW.Roll.Strength">{{localize "WW.Attributes.Strength"}}:</a></label>

                    <div class="input-wrap">
                        <input type="number" name="system.attributes.str.value"
                            value="{{system.attributes.str.value}}" min="0" placeholder="—" data-dtype="Number" />

                        <div class="input-overlay">{{system.attributes.str.value}}</div>
                    </div>
                        
                    {{#if system.attributes.str.value}}
                    <a class="attribute-mod item-button" data-action="attributeRoll" data-key="str" data-tooltip="WW.Roll.Agility">
                        ({{numberFormat system.attributes.str.mod decimals=0 sign=true}})
                    </a>
                    {{/if}}
                    
                    {{!-- Agility --}}
                    <label class="ml-1"><a class="item-button" data-action="attributeRoll" data-key="agi" data-tooltip="WW.Roll.Agility">{{localize "WW.Attributes.Agility"}}:</a></label>

                    <div class="input-wrap">
                        <input type="number" name="system.attributes.agi.value"
                            value="{{system.attributes.agi.value}}" min="0" placeholder="—" data-dtype="Number" /> 

                        <div class="input-overlay">{{system.attributes.agi.value}}</div>
                    </div>
                    
                    {{#if system.attributes.agi.value}}
                    <a class="attribute-mod item-button" data-action="attributeRoll" data-key="agi" data-tooltip="WW.Roll.Agility">
                        ({{numberFormat system.attributes.agi.mod decimals=0 sign=true}})
                    </a>
                    {{/if}}

                </div>

                {{!-- Attributes 2 --}}
                <div class="stat-inline">

                    {{!-- Intellect --}}
                    <label><a class="item-button" data-action="attributeRoll" data-key="int" data-tooltip="WW.Roll.Intellect">{{localize "WW.Attributes.Intellect"}}:</a></label>
                    
                    <div class="input-wrap">
                        <input type="number" name="system.attributes.int.value"
                            value="{{system.attributes.int.value}}" min="0" placeholder="—" data-dtype="Number" /> 

                        <div class="input-overlay">{{system.attributes.int.value}}</div>
                    </div>
                    
                    {{#if system.attributes.int.value}}
                    <a class="attribute-mod item-button" data-action="attributeRoll" data-key="int" data-tooltip="WW.Roll.Intellect">
                        ({{numberFormat system.attributes.int.mod decimals=0 sign=true}})
                    </a>
                    {{/if}}
                    
                    {{!-- Will --}}
                    <label class="ml-1"><a class="item-button" data-action="attributeRoll" data-key="wil" data-tooltip="WW.Roll.Will">{{localize "WW.Attributes.Will"}}:</a></label>

                    <div class="input-wrap">
                        <input type="number" name="system.attributes.wil.value"
                            value="{{system.attributes.wil.value}}" min="0" placeholder="—" data-dtype="Number" /> 

                        <div class="input-overlay">{{system.attributes.wil.value}}</div>
                    </div>
                    
                    {{#if system.attributes.wil.value}}
                    <a class="attribute-mod item-button" data-action="attributeRoll" data-key="wil" data-tooltip="WW.Roll.Will">
                        ({{numberFormat system.attributes.wil.mod decimals=0 sign=true}})
                    </a>
                    {{/if}}

                </div>

                {{!-- Size, Speed --}}
                <ol class="mt-1 stat-inline list-entries">

                    {{!-- Size --}}
                    <label>{{localize "WW.Stats.Size"}}:</label>

                    {{#if isV12}}
                    <select name="system.stats.size">
                        {{selectOptions sizes selected=system.stats.size valueAttr="key" labelAttr="label"}}
                    </select>
                    {{else}}
                    <select name="system.stats.size">
                        {{selectOptions sizes selected=system.stats.size valueAttr="key" labelAttr="label"}}
                    </select>
                    {{/if}}

                    {{!-- Speed --}}
                    <label class="ml-1">{{localize "WW.Stats.NormalSpeed"}}:</label>
                        
                    <div class="input-wrap">
                        <input type="number" name="system.stats.speed.normal" value="{{system.stats.speed.normal}}" min="0" />

                        <div class="input-overlay">{{system.stats.speed.normal}}</div>
                    </div>
                    
                    {{!-- Movement Traits --}}
                    {{#each system.details.movementTraits as |detail id|}}<span class="list-entry">
                        <a class="array-button" data-action="entryEdit" data-list-key="movementTraits" data-entry-key="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            
                            <a class="array-button" data-action="entryEdit" data-list-key="movementTraits" data-entry-key="{{id}}"
                                data-tooltip="WW.ListEntry.MovementTrait.Edit"><i class="fa-solid fa-edit"></i></a>
                            
                            <a class="array-button" data-action="entryRemove" data-list-key="movementTraits" data-entry-key="{{id}}"
                                data-tooltip="WW.ListEntry.MovementTrait.Remove"><i class="fa-solid fa-trash"></i></a>
                        </span>
                    </span>
                    {{/each}}

                    <a class="array-button" data-action="entryCreate" data-list-key="movementTraits" data-loc="MovementTrait"
                        data-tooltip="WW.ListEntry.MovementTrait.Create"><i class="fa-solid fa-circle-plus"></i></a>

                    <a class="array-button" data-action="entrySettings" data-list-key="movementTraits"
                        data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>
                    
                </ol>
                
            </div>
            {{/if}}
            
            {{!-- Traits and Talents --}}
            <div class="statbox-section talents-section">

                {{!-- Header --}}
                <h6>
                    <img src="systems/weirdwizard/assets/icons/skills.svg"/>
                    <span>{{localize "WW.Talents.Traits"}}</span>

                    <span class="add-buttons">

                        <a class="item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.Trait" data-type="Trait or Talent" data-subtype="trait">
                            {{localize "WW.Talents.Traits"}}
                            <i class="fa-solid fa-plus-circle"></i>
                        </a>

                        <a class="item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.Equipment" data-type="Equipment" data-subtype="generic">
                            {{localize "WW.Equipment.Label"}}
                            <i class="fa-solid fa-plus-circle"></i>
                        </a>

                    </span>
                    
                </h6>
                
                {{!-- Languages --}}
                <div class="stat-inline list-entries">
                    
                    <label>{{localize "WW.ListEntry.Language.Label"}}:</label>
                    
                    {{#each system.details.languages as |detail id|}}
                    <span class="list-entry">
                    
                        <a class="array-button" data-action="entryEdit" data-list-key="languages" data-entry-key="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            
                            <a class="array-button" data-action="entryEdit" data-list-key="languages" data-entry-key="{{id}}"
                                data-tooltip="WW.ListEntry.Language.Edit"><i class="fa-solid fa-edit"></i></a>
                    
                            <a class="array-button" data-action="entryRemove" data-list-key="languages" data-entry-key="{{id}}"
                                data-tooltip="WW.ListEntry.Language.Remove"><i class="fa-solid fa-trash"></i></a>
                        </span>data-entry-key=
                    </span>
                    {{/each}}
                    
                    {{#unless system.details.languages.length}}<span>—</span>{{/unless}}
                    
                    <a class="array-button" data-action="entryCreate" data-list-key="languages" data-loc="Language"
                        data-tooltip="WW.ListEntry.Language.Create"><i class="fa-solid fa-circle-plus"></i></a>

                    <a class="array-button" data-action="entrySettings" data-list-key="languages"
                        data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>
                </div>

                {{!-- Senses --}}
                {{#if editMode}}
                <div class="stat-inline list-entries">
                    <label>{{localize "WW.ListEntry.Sense.Label"}}:</label>

                    {{#each system.details.senses as |detail id|}}
                    <span class="list-entry">
                    
                        <a class="array-button" data-action="entryEdit" data-list-key="senses" data-entry-key="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-list-key="senses" data-entry-key="{{id}}"
                                data-tooltip="WW.ListEntry.Sense.Edit"><i class="fa-solid fa-edit"></i></a>
                    
                            <a class="array-button" data-action="entryRemove" data-list-key="senses" data-entry-key="{{id}}"
                                data-tooltip="WW.ListEntry.Sense.Remove"><i class="fa-solid fa-trash"></i></a>
                        </span>data-entry-key=

                    </span>
                    {{/each}}
                    
                    {{#unless system.details.senses.length}}<span>—</span>{{/unless}}
                    
                    <a class="array-button" data-action="entryCreate" data-list-key="senses" data-loc="Sense"
                        data-tooltip="WW.ListEntry.Sense.Create"><i class="fa-solid fa-circle-plus"></i></a>

                    <a class="array-button" data-action="entrySettings" data-list-key="senses"
                        data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>
                </div>
                {{/if}}

                {{!-- Immune --}}
                <div class="stat-inline list-entries">

                    <label>{{localize "WW.ListEntry.Immunity.Label"}}:</label>

                    {{#each system.details.immunities as |detail id|}}
                    <span class="list-entry">
                        
                        <a class="array-button" data-action="entryEdit" data-list-key="immunities" data-entry-key="{{id}}"
                            data-tooltip="{{detail.desc}}">{{detail.name}}</a><span class="buttons">
                            <a class="array-button" data-action="entryEdit" data-list-key="immunities" data-entry-key="{{id}}"
                                data-tooltip="WW.ListEntry.Immunity.Edit"><i class="fa-solid fa-edit"></i></a>
                                
                            <a class="array-button" data-action="entryRemove" data-list-key="immunities" data-entry-key="{{id}}"
                                data-tooltip="WW.ListEntry.Immunity.Remove"><i class="fa-solid fa-trash"></i></a>
                        </span>data-entry-key=

                    </span>
                    {{/each}}

                    {{#unless system.details.immunities.length}}<span>—</span>{{/unless}}

                    <a class="array-button" data-action="entryCreate" data-list-key="immunities" data-loc="Immunity"
                        data-tooltip="WW.ListEntry.Immunity.Create"><i class="fa-solid fa-circle-plus"></i></a>        

                    <a class="array-button" data-action="entrySettings" data-list-key="immunities"
                        data-tooltip="WW.Settings.Entry.DisplayList"><i class="fa-solid fa-list"></i></a>
                </div>

                {{!-- Traits or Talents --}}
                <ol class="described-list">
                    {{#each talents as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/npc-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>

                {{!-- Equipment --}}
                {{#if (and equipment.length (not editMode))}}
                <div class="stat equipment-list">
                        
                    <label>{{localize "WW.Equipment.Label"}}:</label>
                    
                    {{#each equipment as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/npc-summary-item.hbs" item=item id=id}}
                    {{/each}}

                    {{#unless equipment.length}}<span>—</span>{{/unless}}

                </div>
                {{/if}}

            </div>

        </div>

        {{!-- Statbox: Right Column --}}
        <div class="statbox">
            
            {{!-- Actions Section --}}
            {{#if (or editMode weapons.length actions.length)}}
            <div class="statbox-section actions">
                
                {{!-- Actions Header --}}
                <h6>
                    <img src="systems/weirdwizard/assets/icons/actions.svg"/>

                    <span>{{localize "WW.Talents.Actions"}}</span>
                        
                    <span class="add-buttons">
                            
                        <a class="item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.Weapon" data-type="Equipment" data-subtype="weapon" data-grip="Natural">
                            {{localize "WW.Attack.Plural"}}
                            <i class="fa-solid fa-plus-circle"></i>
                        </a>

                        <a class="item-create" data-action="itemCreate" data-tooltip="WW.Item.Create.Trait" data-type="Trait or Talent" data-subtype="action">
                            {{localize "WW.Talents.SpecialActions"}}
                            <i class="fa-solid fa-plus-circle"></i>
                        </a>

                    </span>

                </h6>

                {{!-- Attacks --}}
                <ol class="described-list attacks-list">
                    {{#each weapons as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/npc-summary-weapon.hbs" item=item id=id}}
                    {{/each}}
                </ol>
                
                {{!-- Special Actions --}}
                <ol class="described-list actions-list">
                    {{#each actions as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/npc-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>

                {{!-- Spells --}}
                <ol class="described-list spells-list">
                    {{#each spells as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/npc-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>

            </div>
            {{/if}}
            
            {{!-- Reactions Section --}}
            {{#if (or editMode reactions.length)}}
            <div class="statbox-section reactions">

                <h6>
                    <img src="systems/weirdwizard/assets/icons/reactions.svg"/>
                    <span>{{localize "WW.Talents.Reactions"}}</span>
                    <a class="item-create ml-auto" data-action="itemCreate" data-type="Trait or Talent" data-subtype="reaction"
                        data-tooltip="WW.Item.Create.Trait"><i class="fa-solid fa-plus"></i>
                    </a>
                </h6>
                
                <ol class="described-list">
                    {{#each reactions as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/npc-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>

            </div>
            {{/if}}
            
            {{!-- End of Round Section --}}
            {{#if (or editMode end.length)}}
            <div class="statbox-section ends">

                <h6>
                    <img src="systems/weirdwizard/assets/icons/duration.svg"/>
                    <span>{{localize "WW.Talents.Ends"}}</span>
                    <a class="item-create ml-auto" data-action="itemCreate" data-type="Trait or Talent" data-subtype="end"
                        data-tooltip="WW.Item.Create.Trait"><i class="fa-solid fa-plus"></i>
                    </a>
                </h6>
                
                <ol class="described-list">
                    {{#each end as |item id|}}
                        {{> "systems/weirdwizard/templates/actors/tabs/npc-summary-item.hbs" item=item id=id}}
                    {{/each}}
                </ol>

            </div>
            {{/if}}

        </div>

    </div>

</section>